Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Always decode last failure (#2870)
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

POC of query tabs
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

Move to own query-tabs component
  src/lib/pages/query-tabs.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

Initial setup of query palette
  src/lib/components/command-palette/index.svelte
  src/lib/components/query-palette/index.svelte
  src/lib/pages/query-tabs.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Check if call stack is string before rendering in code-block
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-call-stack.svelte
Owners: @temporalio/frontend-engineering

Check if call stack is string before rendering in code-block (#2871)
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-call-stack.svelte
Owners: @temporalio/frontend-engineering

cr feedback
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/custom-extensions.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add hidden edit btn and default route prop
  src/lib/pages/nexus-endpoint.svelte
Owners: @temporalio/frontend-engineering

Fix prop name
  src/lib/pages/nexus-endpoint.svelte
Owners: @temporalio/frontend-engineering

update besed on feedback
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/utilities/decode-local-activity.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Edit query ui
  src/lib/components/command-palette/modal.svelte
  src/lib/components/query-palette/index.svelte
  src/lib/components/query-palette/saved-query/editing.svelte
  src/lib/components/query-palette/saved-query/index.svelte
  src/lib/components/query-palette/search-attribute-filter/filter-list.svelte
  src/lib/components/query-palette/search-attribute-filter/filter.svelte
  src/lib/components/query-palette/search-attribute-filter/menu.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/holocene/tab-buttons/tab-button.svelte
  src/lib/pages/query-tabs.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/saved-queries.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

move back to workflowEvent
  src/lib/utilities/decode-local-activity.ts
Owners: @stevekinney, @Alex-Tideman

try to fix types
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Add ui tracking data elements
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/chip.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/holocene/split-button.svelte
  src/lib/holocene/tab-buttons/tab-button.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/holocene/toggle-switch.svelte
Owners: @rossedfort

Fix double toggle
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Add radio tracking
  src/lib/holocene/radio-input/radio-input.svelte
Owners: @rossedfort

Use the label if it exists then copyButtonLabel
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Much better
  src/lib/components/query-palette/index.svelte
  src/lib/components/query-palette/saved-query/editing.svelte
  src/lib/components/query-palette/search-attribute-filter/attribute-list.svelte
  src/lib/components/query-palette/search-attribute-filter/filter.svelte
  src/lib/components/query-palette/search-attribute-filter/menu.svelte
Owners: @rossedfort

Bump markdown lib
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Bump base version
  server/Dockerfile
Owners: @temporalio/frontend-engineering

Bump sveltekit
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Markdown and base image upgrade (#2875)
  server/Dockerfile
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Make sticky
  src/lib/components/query-palette/index.svelte
  src/lib/components/query-palette/search-attribute-filter/attribute-list.svelte
  src/lib/components/query-palette/search-attribute-filter/filter.svelte
Owners: @rossedfort

Use alert for schedule error
  src/lib/components/schedule/schedule-error.svelte
Owners: @rossedfort

Lets update button to do better tracking for the components composed with button
  src/lib/holocene/button.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/split-button.svelte
  src/lib/holocene/toggle-switch.svelte
Owners: @rossedfort

Use alert for schedule error (#2877)
  src/lib/components/schedule/schedule-error.svelte
Owners: @rossedfort

feat(ui): add smooth chevron rotation animation to menu button
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

Do some things, svelte5
  src/lib/components/command-palette/index.svelte
  src/lib/components/command-palette/modal.svelte
  src/lib/components/query-palette/index.svelte
  src/lib/components/query-palette/search-attribute-filter/filter-list.svelte
  src/lib/holocene/chip.svelte
  src/lib/pages/query-tabs.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

feat(export): include namespace tags in workflow data export
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/utilities/export-workflows.ts
  src/routes/(app)/namespaces/[namespace]/archival/_archival-table.svelte
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Change fn to string prop and remove hidden prop
  src/lib/pages/nexus-endpoint.svelte
Owners: @temporalio/frontend-engineering

feat(combobox): add ghost variant and clickable chevron
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

refactor(menu-button): use rotation instead of icon switching for chevron
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

Fix optional
  src/lib/pages/nexus-endpoint.svelte
Owners: @temporalio/frontend-engineering

Fix up the modal with tags, get everything in a prety good state for the query command. next do query stack
  src/lib/components/query-palette/index.svelte
  src/lib/components/query-palette/saved-query/editing.svelte
  src/lib/components/query-palette/saved-query/index.svelte
  src/lib/components/query-palette/search-attribute-filter/attribute-list.svelte
  src/lib/components/query-palette/search-attribute-filter/boolean-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/conditional-menu.svelte
  src/lib/components/query-palette/search-attribute-filter/datetime-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/duration-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/filter-list.svelte
  src/lib/components/query-palette/search-attribute-filter/filter.svelte
  src/lib/components/query-palette/search-attribute-filter/list-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/number-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/status-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/text-filter.svelte
  src/lib/holocene/chip.svelte
  src/lib/holocene/tab-buttons/tab-buttons.svelte
  src/lib/pages/query-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix hover bg
  src/lib/components/query-palette/search-attribute-filter/filter-list.svelte
Owners: @rossedfort

Make the stack better
  src/lib/pages/query-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

Fix some styles, fix remove filter
  src/lib/components/query-palette/index.svelte
  src/lib/components/query-palette/search-attribute-filter/attribute-list.svelte
  src/lib/components/query-palette/search-attribute-filter/filter-list.svelte
  src/lib/pages/query-stack.svelte
  src/lib/pages/query-tabs.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

add class to drawer content
  src/lib/holocene/drawer-content.svelte
Owners: @rossedfort

fix link
  src/lib/holocene/icon/svg/link.svelte
Owners: @rossedfort

Tone down the modal backdrop
  src/lib/components/query-palette/index.svelte
Owners: @rossedfort

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
