Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Remove type import
  src/theme/utilities.ts
Owners: @temporalio/frontend-engineering

Fix type
  src/theme/utilities.ts
Owners: @temporalio/frontend-engineering

Add subtle background and base text color
  src/app.css
  src/lib/holocene/empty-state.svelte
  src/theme/index.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Revert "Add subtle background and base text color"
  src/app.css
  src/lib/holocene/empty-state.svelte
  src/theme/index.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Remove media query for dark mode (for now)
  src/theme/index.ts
Owners: @temporalio/frontend-engineering

Add initial set of CSS classes (#1844)
  src/lib/holocene/accordion.svelte
  src/theme/colors.ts
  src/theme/index.ts
  src/theme/types.d.ts
  src/theme/utilities.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Change primary color to slate-950, add JSON pane
  pnpm-lock.yaml
  src/lib/components/lines-and-dots/event-details.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/utilities/format-camel-case.ts
  src/theme/colors.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Refactor select-namespace page
  src/routes/(app)/select-namespace/+page.svelte
Owners: @temporalio/frontend-engineering

Minifiy logo, inherit color
  src/lib/holocene/logo.svelte
Owners: @rossedfort

Add currentColor as a supported color
  src/theme/colors.ts
Owners: @temporalio/frontend-engineering

Add additional transition properties, inverse surface
  src/theme/index.ts
Owners: @temporalio/frontend-engineering

Simplify nav-container and nav-row
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/nav-row.svelte
Owners: @rossedfort

Simplify side-nav
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-row.svelte
Owners: @rossedfort

Remove externalLink prop
  src/lib/holocene/navigation/nav-row.svelte
Owners: @rossedfort

Refactor virtual list
  src/routes/(app)/select-namespace/+page.svelte
Owners: @temporalio/frontend-engineering

Update +page.svelte
  src/routes/(app)/select-namespace/+page.svelte
Owners: @temporalio/frontend-engineering

WIP add drawer content
  src/lib/components/lines-and-dots/event-details.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/input-and-result-row.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Upgrade to Svelte4
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

migration to SvelteKit 2
  package.json
  pnpm-lock.yaml
  src/routes/(app)/+layout.ts
  src/routes/(app)/+page.ts
  src/routes/(app)/import/+page.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/+page.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/+page.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+page.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/compact/+page.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/feed/+page.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/json/+page.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/stack-trace/+page.ts
  src/routes/(login)/+layout.ts
  tsconfig.json
Owners: @temporalio/frontend-engineering

Update @types/node and caniuse-lite
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

update sveltekit and vite to fix vulnerabilities
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Get rid of `dark` class
  src/lib/components/event/event-summary-table.svelte
Owners: @rossedfort

Make dark selector more specific, tweak colors
  src/theme/index.ts
Owners: @temporalio/frontend-engineering

Use inverse surface on table headings
  src/lib/holocene/table/table.svelte
Owners: @rossedfort

Use CSS grid for navigation
  src/lib/holocene/logo.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/nav-row.svelte
  src/lib/holocene/navigation/nav-tooltip.svelte
  src/lib/holocene/tooltip.svelte
Owners: @rossedfort

Rename files
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

In a good spot with the three panes
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/event-row-details.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/input-and-result-payloads.ts
  src/lib/components/lines-and-dots/input-and-result-row.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
  src/lib/components/side-nav.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix active
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Adjust borders for side and top navigation
  src/lib/components/top-nav.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/theme/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Adjust event history classes (#1847)
  src/lib/components/event/event-summary-table.svelte
  src/lib/holocene/table/table.svelte
  src/theme/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Refactor select-namespace page (#1845)
  src/routes/(app)/select-namespace/+page.svelte
Owners: @temporalio/frontend-engineering

Add badge color, add support for dark mode
  src/lib/components/event/event-detail-pills.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/pill.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/holocene/badge.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/theme/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Use tailwind-merge to merge class names
  src/lib/holocene/accordion.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/radio-input/radio-group.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/tab/tab-list.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/holocene/tooltip.svelte
Owners: @rossedfort

Update link.svelte
  src/lib/holocene/link.svelte
Owners: @rossedfort

Update snapshots
  src/lib/holocene/__snapshots__/button.test.ts.snap
Owners: @rossedfort

Make event groups work
  package.json
  pnpm-lock.yaml
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/event-details-header.svelte
  src/lib/components/lines-and-dots/event-details.svelte
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/group-row.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Animate batch operations
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/batch-operation.svelte
  src/lib/holocene/icon/svg/layers-1.svelte
  src/lib/holocene/icon/svg/layers-2.svelte
  src/lib/holocene/icon/svg/layers-3.svelte
Owners: @rossedfort

Update icon.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Owners: @rossedfort

Trim all the slashes
  src/lib/utilities/trim-trailing-slash.ts
Owners: @stevekinney, @Alex-Tideman

Add trailing-slash utility and use on codec server endpoint (#1843)
  src/lib/components/data-encoder-settings.svelte
  src/lib/utilities/trim-trailing-slash.test.ts
  src/lib/utilities/trim-trailing-slash.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
