Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

fix padding
  src/lib/holocene/split-button.svelte
Owners: @rossedfort

Update Badges and the count Badge component for dark mode support (#1919)
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/badge.stories.svelte
  src/lib/holocene/badge.svelte
Owners: @rossedfort

make padding conditional
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/split-button.svelte
Owners: @rossedfort

Clear overlapPolicy on modal close
  src/lib/pages/schedule-view.svelte
Owners: @temporalio/frontend-engineering

add darkmode colors
  src/lib/vendor/codemirror/theme.ts
Owners: @temporalio/frontend-engineering

Ross saves Grace's PR
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/split-button.svelte
Owners: @rossedfort

Audit Split Button (#1926)
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/split-button.svelte
Owners: @rossedfort

add darkmode colors (#1927)
  src/lib/vendor/codemirror/theme.ts
Owners: @temporalio/frontend-engineering

Update gradient to match designs
  src/lib/holocene/skeleton/index.svelte
Owners: @rossedfort

Remove skeleton bespoke styles
  src/lib/holocene/skeleton/table.svelte
Owners: @rossedfort

Remove table.skeleton styling
  src/lib/holocene/table/table.svelte
Owners: @rossedfort

Add design changes and surface-table variable
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Add dark mode border changes
  src/lib/holocene/table/table.svelte
Owners: @rossedfort

Add dark mode border variables
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Prettier
  .vscode/temporal-ui.code-snippets
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/table/table.svelte
  src/lib/models/event-groups/get-group-name.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/schedule-comment-formatting.ts
  src/lib/utilities/task-queue-compatibility.ts
Owners: @stevekinney, @rossedfort, @Alex-Tideman

Send timestamps as RFC 3339
  src/lib/pages/schedule-view.svelte
  src/lib/services/schedule-service.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix theme
  src/lib/vendor/codemirror/theme.ts
Owners: @temporalio/frontend-engineering

Incorporate dark mode
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/nav-row.svelte
  src/lib/layouts/workflow-header-v2.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-metadata.svelte
  src/lib/theme/plugin.ts
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix text on timeline row
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Owners: @rossedfort

Add .svelte kit to exclude test array
  vitest.config.ts
Owners: @temporalio/frontend-engineering

Add exclude .svelte-kit to vitest config
  vitest.config.ts
Owners: @temporalio/frontend-engineering

Prettier update
  .vscode/temporal-ui.code-snippets
  pnpm-lock.yaml
  src/lib/components/event/event-summary-row.svelte
  src/lib/models/event-groups/get-group-name.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/schedule-comment-formatting.ts
  src/lib/utilities/task-queue-compatibility.ts
Owners: @stevekinney, @temporalio/frontend-engineering, @rossedfort, @Alex-Tideman

Add timeline axis
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/timeline-axis-labels.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

update tab colors for dark mode
  src/lib/holocene/tab/tab.svelte
Owners: @rossedfort

Fix paginated table surface
  src/lib/holocene/link.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

add panel color
  src/lib/holocene/tab/tab-panel.svelte
  src/lib/holocene/tab/tab.svelte
Owners: @rossedfort

Add style changes for dark mode chips
  src/lib/holocene/chip.svelte
Owners: @rossedfort

change border color on dark
  src/lib/holocene/card.svelte
Owners: @rossedfort

update dark boarder color
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Update chip input for darkmode
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

change border color on dark (#1930)
  src/lib/holocene/card.svelte
Owners: @rossedfort

update dark boarder color (#1931)
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Add util to getUTCOffset based on timeFormat
  src/lib/stores/time-format.test.ts
  src/lib/stores/time-format.ts
Owners: @stevekinney, @Alex-Tideman

Display timeline based on selected timezone
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
Owners: @rossedfort

add subtle border on dark
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
Owners: @rossedfort

Fix build script fail on importing named CommonJS module
  src/lib/stores/time-format.ts
Owners: @stevekinney, @Alex-Tideman

Remove duplicate style
  src/lib/holocene/chip.svelte
Owners: @rossedfort

update icon button for darkmode
  src/lib/holocene/icon-button.svelte
Owners: @rossedfort

add subtle border on dark (#1934)
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
Owners: @rossedfort

update icon button bg color and borders
  src/lib/holocene/icon-button.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering
