Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Bump proto
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Bump API to v1.57.0 (#3016)
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

chore: bump version to 2.43.3
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add identity to workflow actions
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/services/workflow-service.ts
  src/lib/types/index.ts
  src/lib/utilities/core-context.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add identity to activity actions
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/components/activity/activity-pause-confirmation-modal.svelte
  src/lib/components/activity/activity-reset-confirmation-modal.svelte
  src/lib/components/activity/activity-unpause-confirmation-modal.svelte
  src/lib/services/workflow-activities-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Update placeholder
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/core-context.ts
  src/lib/utilities/workflow-actions.test.ts
  src/lib/utilities/workflow-actions.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add run Id when fetching initial values for workflow start
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/start-workflow-button.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/route-for.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

chore(server): optimize Docker builds with .dockerignore and improved Dockerfile (#3014)
  server/.dockerignore
  server/Dockerfile
Owners: @temporalio/frontend-engineering

Add new ENVIRONMENT_NAME env var to set for unique color of left nav
  server/config/docker.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/services/settings-service.ts
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
  src/lib/types/index.ts
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Change to bottomActions snippet
  src/lib/components/side-nav.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add run Id when fetching initial values for workflow start (#3019)
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/start-workflow-button.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/route-for.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix bottom nav
  server/config/development.yaml
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/theme/variables.ts
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Remove enviroment name from developmet.yaml
  server/config/development.yaml
Owners: @temporalio/frontend-engineering

Make namespaceList optional with default
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

add ability for users to chose between 3 timestamp formats
  src/lib/components/batch-operations/details.svelte
  src/lib/components/batch-operations/table.svelte
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-details.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/format-event-attributes.ts
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Allow list of valid environment names
  src/lib/utilities/environment-name.ts
  src/routes/(app)/+layout.svelte
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

clean up abbreviated format
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix formatDate api
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add route for archived event history
  src/lib/components/command-palette/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.ts
  src/routes/(app)/namespaces/[namespace]/archival/_archival-table.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix(auth): address PR review feedback for token refresh
  src/lib/utilities/auth-refresh.ts
  src/lib/utilities/request-from-api.ts
  utilities/oidc-server/support/configuration.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

add tests
  src/lib/utilities/format-date.test.ts
Owners: @stevekinney, @Alex-Tideman

Cleanup unused page data, add unit test
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add pagetitle
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.svelte
Owners: @temporalio/frontend-engineering

Fix type
  src/lib/utilities/route-for.ts
Owners: @stevekinney, @Alex-Tideman

Fix pagedata type
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.svelte
Owners: @temporalio/frontend-engineering

re-refactor formatDate API
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

clean up
  src/lib/components/event/event-card.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

fix timestamp in timezone select
  src/lib/components/timezone-select.svelte
Owners: @rossedfort

Add route for archived event history (#3023)
  src/lib/components/command-palette/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.ts
  src/routes/(app)/namespaces/[namespace]/archival/_archival-table.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add base path to render endpoint
  src/lib/holocene/markdown-editor/preview.svelte
Owners: @rossedfort

Replace use of deprecated base with resolve from /paths
  src/lib/svelte-mocks/app/paths.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add deprecate to pluralize.
  src/lib/utilities/pluralize.ts
Owners: @stevekinney, @Alex-Tideman

Move ziggy png under src/lib/vendor and import it
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/user-menu.svelte
  src/lib/vendor/ziggy-full-face.png
Owners: @rossedfort, @temporalio/frontend-engineering

Move ziggy png under src/lib/vendor and import it (#3025)
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/user-menu.svelte
  src/lib/vendor/ziggy-full-face.png
Owners: @rossedfort, @temporalio/frontend-engineering

Add base path to home logo link
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Fix custom public path for render endpoint (#3024)
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/svelte-mocks/app/paths.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

use Intl.DateTimeFormat for i18n of date strings
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix search attribute filter tests
  src/lib/utilities/query/search-attribute-filter.test.ts
Owners: @stevekinney, @Alex-Tideman

fix tests and mobile styles
  src/lib/components/timezone-select.svelte
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

remove h12
  src/lib/utilities/format-date.ts
Owners: @stevekinney, @Alex-Tideman
