Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Update styles for dm menu button
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

Update src/lib/holocene/table/paginated-table.svelte
  src/lib/holocene/table/paginated-table.svelte
Owners: @rossedfort

Fix linting
  src/lib/holocene/table/paginated-table.svelte
Owners: @rossedfort

Add darkmode hover states to copy or filter buttons
  src/lib/holocene/filter-or-copy-buttons.svelte
Owners: @rossedfort

Update bulk action style button for darkmode
  src/lib/holocene/table/bulk-action-button.svelte
Owners: @rossedfort

Add noDivWrapper to Combobox icon
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Update text to be inverse on hover for dm
  src/lib/holocene/table/bulk-action-button.svelte
Owners: @rossedfort

Add noDivWrapper to Combobox icon (#1967)
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

OAUTH Additional claims
  go.work
  go.work.sum
  server/config/development.yaml
  server/docker/config-template.yaml
  server/go.sum
  server/server/auth/oidc.go
  server/server/auth/oidc_test.go
  server/server/config/config.go
  server/server/route/auth.go
Owners: @temporalio/frontend-engineering

Remove icon changes
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
  src/lib/holocene/accordion.stories.svelte
  src/lib/holocene/alert.stories.svelte
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/empty-state.stories.svelte
  src/lib/holocene/icon-button.stories.svelte
  src/lib/holocene/icon/icon-names.ts
  src/lib/holocene/icon/icon.stories.svelte
  src/lib/holocene/icon/icon.svelte
  src/lib/holocene/icon/icon.test.ts
  src/lib/holocene/icon/index.ts
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/types.ts
  src/lib/holocene/input/input.stories.svelte
  src/lib/holocene/input/number-input.stories.svelte
  src/lib/holocene/link.stories.svelte
  src/lib/holocene/select/select.stories.svelte
  src/lib/holocene/split-button.stories.svelte
  src/lib/holocene/toggle-button/toggle-button.stories.svelte
  src/lib/holocene/tooltip.stories.svelte
Owners: @rossedfort

fix auth for settings requests
  src/lib/utilities/request-from-api.ts
  src/routes/(app)/+layout.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

only show scroll to bottom when there is event history, fix lines on active box on event details
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/holocene/scroll-to-container.svelte
Owners: @rossedfort

only show scroll to bottom when there is event history, fix lines on active box on event details (#1971)
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/holocene/scroll-to-container.svelte
Owners: @rossedfort

Test on tag package
  package.json
Owners: @temporalio/frontend-engineering

Revert version upgrade
  package.json
Owners: @temporalio/frontend-engineering

Debounce refetch of workflow
  src/lib/layouts/workflow-run-layout.svelte
Owners: @temporalio/frontend-engineering

Add half second debounce to workflow refetch, only fetch child workflows onMount of details
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove script and update readme to old instructions
  package.json
  scripts/generate-icon-types.ts
  src/lib/holocene/icon/icon.story.md
Owners: @temporalio/frontend-engineering, @rossedfort

Update src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/select/simple-select.svelte
Owners: @rossedfort

Update src/lib/holocene/select/filter-select.svelte
  src/lib/holocene/select/filter-select.svelte
Owners: @rossedfort

Revert dynamic icon paths (#1970)
  package.json
  scripts/generate-icon-types.ts
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
  src/lib/holocene/accordion.stories.svelte
  src/lib/holocene/alert.stories.svelte
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/empty-state.stories.svelte
  src/lib/holocene/icon-button.stories.svelte
  src/lib/holocene/icon/icon-names.ts
  src/lib/holocene/icon/icon.stories.svelte
  src/lib/holocene/icon/icon.story.md
  src/lib/holocene/icon/icon.svelte
  src/lib/holocene/icon/icon.test.ts
  src/lib/holocene/icon/index.ts
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/types.ts
  src/lib/holocene/input/input.stories.svelte
  src/lib/holocene/input/number-input.stories.svelte
  src/lib/holocene/link.stories.svelte
  src/lib/holocene/select/select.stories.svelte
  src/lib/holocene/split-button.stories.svelte
  src/lib/holocene/toggle-button/toggle-button.stories.svelte
  src/lib/holocene/tooltip.stories.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Set readOnly prop if staticHeight
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Prevent overfetching of workflow executions (#1972)
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update src/lib/holocene/checkbox.svelte
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Update src/lib/holocene/checkbox.svelte
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

2.25.0
  package.json
Owners: @temporalio/frontend-engineering

Update components on archival page to support dark mode
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/holocene/select/filter-select.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_filter-input.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

remove text color from pagination moved to filter select
  src/lib/holocene/pagination.svelte
  src/lib/holocene/select/filter-select.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

2.25.0 (#1974)
  package.json
Owners: @temporalio/frontend-engineering

confirm that we need new icons
  src/lib/holocene/icon/svg/sun.svelte
Owners: @rossedfort

Stop propagation of on click event on Menu component
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Abort fetch and clear history if runId change to handle link navigation, event group styling updates, add opacity on non-primary (last clicked) event groups.
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/pending-detail-row.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Abort fetch and clear history if runId change to handle link navigation, event group styling updates, add opacity on non-primary (last clicked) event groups. (#1977)
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/pending-detail-row.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

2.25.1
  package.json
Owners: @temporalio/frontend-engineering

2.25.1 (#1978)
  package.json
Owners: @temporalio/frontend-engineering

run format
  src/lib/holocene/navigation/nav-container.svelte
Owners: @rossedfort

format
  src/lib/holocene/select/simple-select.svelte
Owners: @rossedfort

OAUTH Additional claims
  server/docker/README.md
  server/docker/config-template.yaml
Owners: @temporalio/frontend-engineering

Throttle refresh of workflow to 5 seconds, better clearing logic on switching sort and labs mode
  package.json
  pnpm-lock.yaml
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/events-service.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Throttle refresh of workflow to 5 seconds, better clearing logic on switching sort and labs mode (#1979)
  package.json
  pnpm-lock.yaml
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/events-service.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
