Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Add check to support Cloud (#2824)
  src/lib/utilities/activity-commands-enabled.ts
Owners: @stevekinney, @Alex-Tideman

Update PayloadDecoder to svelte 5 syntax and make decodePayloads reactive
  src/lib/components/event/payload-decoder.svelte
Owners: @rossedfort

Update PayloadDecoder to use snippets
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/pages/workflow-metadata.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

rm consols
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Owners: @temporalio/frontend-engineering

Decode Failures if custom FailureConverter configured (#2822)
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

Update PayloadDecoder in PendingActivityCard
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

Revert to onMount and add events length check to workflow json navigator
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/pages/workflow-history-json.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix initial load of JSON view not rendering event (#2825)
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/pages/workflow-history-json.svelte
  src/lib/pages/workflow-metadata.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add archived workflows api with api-pagination table
  src/lib/services/workflow-service.ts
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.ts
  src/routes/(app)/namespaces/[namespace]/archival/_archival-table.svelte
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Finish paginated table for archived workflows
  src/routes/(app)/namespaces/[namespace]/archival/_archival-table.svelte
Owners: @temporalio/frontend-engineering

Add manual query string for archived
  src/lib/stores/configurable-table-columns.ts
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.ts
  src/routes/(app)/namespaces/[namespace]/archival/_archival-table.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_filter-input.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_workflow-filters.svelte
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Don't set workflowError
  src/lib/services/workflow-service.ts
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Svelte5
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
Owners: @temporalio/frontend-engineering

Add pagination to Archived Workflows (#2828)
  src/lib/services/workflow-service.ts
  src/lib/stores/configurable-table-columns.ts
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.ts
  src/routes/(app)/namespaces/[namespace]/archival/_archival-table.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_filter-input.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_workflow-filters.svelte
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

refactor paginated table to use Table component
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/skeleton/table.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/table.stories.svelte
  src/lib/holocene/table/table.story.md
  src/lib/holocene/table/table.svelte
  src/routes/(app)/namespaces/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

refactor skeleton table to use a bordered prop now that table has one
  src/lib/holocene/skeleton/table.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

remove "split" variant from table and paginated table, it's unused from what I can tell
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/table.svelte
Owners: @rossedfort

rm split
  src/lib/holocene/table/paginated-table/paginated.svelte
Owners: @rossedfort

Fix responsiveness on filter search actions
  src/lib/components/search-attribute-filter/index.svelte
Owners: @rossedfort

Add link to target task queue, add check for task queue status, add Nexus handler column
  src/lib/components/worker-table.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/nexus-endpoint.svelte
  src/lib/services/pollers-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

remove simple table variant
  src/lib/holocene/table/table.stories.svelte
  src/lib/holocene/table/table.story.md
  src/lib/holocene/table/table.svelte
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix responsiveness on filter search actions (#2831)
  src/lib/components/search-attribute-filter/index.svelte
Owners: @rossedfort

remove variant
  src/lib/holocene/skeleton/table.svelte
Owners: @rossedfort

make paginated table props extend html table element attributes
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

DT-3150 - refactor paginated table to use `<Table />` component (#2830)
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/skeleton/table.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/holocene/table/table.stories.svelte
  src/lib/holocene/table/table.story.md
  src/lib/holocene/table/table.svelte
  src/routes/(app)/namespaces/+page.svelte
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Move out to utility and add unit tests
  src/lib/services/pollers-service.ts
  src/lib/types/index.ts
  src/lib/utilities/reduce-poller-types.test.ts
  src/lib/utilities/reduce-poller-types.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Update nav UI
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Move chevron and add text in side nav
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Delete all the old deprecated worker versioning v2 code
  src/app.d.ts
  src/fixtures/task-queue-rules.json
  src/lib/components/worker-compatibility.svelte
  src/lib/components/worker-rules.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow-versioning-header.svelte
  src/lib/components/workflow/workflow-compatibility-error.svelte
  src/lib/pages/task-queue-versioning.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/runes/workflow-versions.svelte.ts
  src/lib/runes/workflow-versions.test.ts
  src/lib/services/pollers-service.ts
  src/lib/stores/workflow-run.ts
  src/lib/utilities/task-queue-compatibility.test.ts
  src/lib/utilities/task-queue-compatibility.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Remove dup types
  src/lib/services/pollers-service.ts
  src/lib/utilities/reduce-poller-types.ts
Owners: @stevekinney, @Alex-Tideman

Reorder side nav links
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering

Fix DataEncodingSettings for mobile
  src/lib/components/data-encoder-settings.svelte
Owners: @rossedfort

update event display, fix markdown, make summary and details and current details reach bottom when event not displayed
  src/lib/components/workflow/metadata/metadata-events.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/markdown.reset.css
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

quick tweak to view height
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Owners: @temporalio/frontend-engineering

Link to target Task Queue, show if any active workers, add Nexus Handler column (#2832)
  src/app.d.ts
  src/fixtures/task-queue-rules.json
  src/lib/components/worker-compatibility.svelte
  src/lib/components/worker-rules.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow-versioning-header.svelte
  src/lib/components/workflow/workflow-compatibility-error.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/task-queue-versioning.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/runes/workflow-versions.svelte.ts
  src/lib/runes/workflow-versions.test.ts
  src/lib/services/pollers-service.ts
  src/lib/stores/workflow-run.ts
  src/lib/types/index.ts
  src/lib/utilities/reduce-poller-types.test.ts
  src/lib/utilities/reduce-poller-types.ts
  src/lib/utilities/task-queue-compatibility.test.ts
  src/lib/utilities/task-queue-compatibility.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Move feedback to bottom of nav
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering

fix errors caused by runes mode/legacy mismatch
  src/lib/components/event/payload-decoder.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/memo/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/search-attributes/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove all table-fixed and remove unused table components
  src/lib/components/batch-operations/table.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table.svelte
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/components/workflow/workflows-summary-table.svelte
  src/lib/pages/workflow-nexus-links.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

fix some table styles
  src/lib/components/batch-operations/table.svelte
  src/lib/components/poller-icon.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table.svelte
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/components/workflow/workflows-summary-table.svelte
  src/lib/holocene/table/table.svelte
  src/lib/pages/workflow-nexus-links.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

DT-3163: Add tag icon to Holocene icon set
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/tag.svelte
Owners: @rossedfort
