Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Add preload back
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Fix darkmode image swap
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Remove select-none
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Remove select-none (#2818)
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Claude does some things
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Remove quotes from date value and add tests
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Remove quotes from date value and add tests (#2819)
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Update column order and add links
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/workflow-nexus-links.svelte
Owners: @temporalio/frontend-engineering

Add email identity using auth user to pause
  src/lib/pages/schedule-view.svelte
Owners: @temporalio/frontend-engineering

Add identity to trigger and backfill
  src/lib/pages/schedule-view.svelte
Owners: @temporalio/frontend-engineering

add optional identity field to schedule params
  src/lib/services/schedule-service.ts
Owners: @stevekinney, @Alex-Tideman

add more identity params
  src/lib/services/schedule-service.ts
Owners: @stevekinney, @Alex-Tideman

Add both images to preload
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Remove handler event in inbound table
  src/lib/pages/workflow-nexus-links.svelte
Owners: @temporalio/frontend-engineering

Remove console.log
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

Use event history for inbound links
  src/lib/i18n/locales/en/nexus.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-nexus-links.svelte
  src/lib/runes/inbound-nexus-links.svelte.ts
  src/lib/types/events.ts
Owners: @temporalio/frontend-engineering

Use more specific attributes for nexus scheduled events
  src/lib/pages/workflow-nexus-links.svelte
Owners: @temporalio/frontend-engineering

Remove inspect, add try/catch for links, fix nexus active icon logic to be more precise
  src/lib/pages/workflow-history-event.svelte
  src/lib/runes/inbound-nexus-links.svelte.ts
  src/lib/utilities/get-workflow-relationships.ts
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Nexus Links tab (#2821)
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/nexus.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/pages/workflow-history-event.svelte
  src/lib/pages/workflow-nexus-links.svelte
  src/lib/runes/inbound-nexus-links.svelte.ts
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/get-workflow-relationships.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/nexus-links/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

DT-3070: Update codec adapter to use existing settings service
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
Owners: @rossedfort

refactor: simplify form config interfaces and call adapter callbacks directly
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/codec-server-form.mdx
  src/lib/components/codec-server-form/codec-server-form.stories.svelte
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/default-adapter.svelte.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.mdx
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/types.ts
Owners: @rossedfort

DT-3070: Add codec server form component
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/codec-server-form-skeleton.svelte
  src/lib/components/codec-server-form/codec-server-form.mdx
  src/lib/components/codec-server-form/codec-server-form.stories.svelte
  src/lib/components/codec-server-form/codec-server-form.svelte
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/codec-server-form/types.ts
Owners: @rossedfort

refactor: move retry logic into ApiError component
  src/lib/components/api-error.svelte
  src/lib/components/codec-server-form/codec-server-form.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
Owners: @rossedfort

refactor: extract reusable FormMessage and TaintedBadge components
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/codec-server-form.mdx
  src/lib/components/form-message.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/tainted-badge.svelte
Owners: @rossedfort

refactor: improve form components and add i18n support
  CLAUDE.md
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/form-message.svelte
  src/lib/components/form/message.svelte
  src/lib/components/form/tainted-badge.svelte
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/tainted-badge.svelte
  src/lib/i18n/locales/en/codec-server.ts
  src/lib/i18n/locales/en/index.ts
Owners: @temporalio/frontend-engineering, @rossedfort

address comments
  src/lib/components/api-error.svelte
  src/lib/components/codec-server-form/codec-server-form.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/i18n/locales/en/codec-server.ts
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

DT-3070: Update codec adapter for cluster-level configuration
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
  src/lib/components/codec-server-form/codec-server-form.mdx
Owners: @rossedfort

remove unused codec adapter and custom class stories
  src/lib/components/codec-server-form/codec-server-form.stories.svelte
Owners: @rossedfort

refactor: make adapter callbacks async
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/codec-server-form/types.ts
  src/lib/components/search-attributes-form/config.svelte.ts
Owners: @rossedfort

refactor: use nullish coalescing operator over logical OR
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
Owners: @rossedfort

fix: only send custom fields when section is visible
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/config.svelte.ts
Owners: @rossedfort

fix: use proper Holocene Link component and improve translation templating
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/i18n/locales/en/codec-server.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add check for encodedAttributes and decode them if they exist. Key off of attempt number to get latest failure
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

Remove inspect
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

Remove key
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

DT-3070: Add codec server form component (#2797)
  CLAUDE.md
  src/lib/components/api-error.svelte
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/codec-server-form-skeleton.svelte
  src/lib/components/codec-server-form/codec-server-form.mdx
  src/lib/components/codec-server-form/codec-server-form.stories.svelte
  src/lib/components/codec-server-form/codec-server-form.svelte
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/codec-server-form/types.ts
  src/lib/components/form/message.svelte
  src/lib/components/form/tainted-badge.svelte
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/default-adapter.svelte.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.mdx
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/components/search-attributes-form/types.ts
  src/lib/i18n/locales/en/codec-server.ts
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/index.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Move identity userAuth to service file and remove changes in schedule-view
  src/lib/pages/schedule-view.svelte
  src/lib/services/schedule-service.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add Identity to schedule edit/pause/unpause (#2820)
  src/lib/services/schedule-service.ts
Owners: @stevekinney, @Alex-Tideman

Fix dark mode image swap on table empty state (#2817)
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Add check to support Cloud
  src/lib/utilities/activity-commands-enabled.ts
Owners: @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
