Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

style: format auth-testing skill doc with prettier
  .claude/skills/auth-testing/SKILL.md
Owners: @temporalio/frontend-engineering

Nexus more caller timeouts
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/types/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add buildings and cube icons for navigation updates
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/buildings.svelte
  src/lib/holocene/icon/svg/cube.svelte
  src/lib/holocene/icon/svg/identities-icon.svelte
Owners: @rossedfort

Add conditional rendering for Cloud vs Self-Hosted navigation
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Fix slot/snippet conflict in navigation components
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Refactor navigation into CloudNavBar and OSSNavBar components
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
Owners: @rossedfort

Remove cube icon as it is a duplicate of namespace icon
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/cube.svelte
Owners: @rossedfort

Fix svg scale issue
  src/lib/holocene/icon/svg/folders.svelte
Owners: @rossedfort

too large
  src/lib/holocene/icon/svg/folders.svelte
Owners: @rossedfort

Fix folder icon weirdness
  src/lib/holocene/icon/svg/folders.svelte
Owners: @rossedfort

standalone activity details
  src/lib/components/activity-execution-form/form.svelte
  src/lib/components/activity-execution-form/types.ts
  src/lib/components/activity-execution/activity-execution-header.svelte
  src/lib/components/activity-execution/activity-execution-input-and-outcome.svelte
  src/lib/components/activity-execution/activity-execution-status.svelte
  src/lib/components/activity-execution/details/activity-execution-attempts-detail.svelte
  src/lib/components/activity-execution/details/activity-execution-detail.svelte
  src/lib/components/activity-execution/details/activity-execution-snippet-detail.svelte
  src/lib/components/activity-execution/details/activity-execution-timestamp-detail.svelte
  src/lib/components/activity-execution/details/index.ts
  src/lib/components/detail-list/detail-list-label.svelte
  src/lib/components/detail-list/detail-list-text-value.svelte
  src/lib/components/detail-list/detail-list-timestamp-value.svelte
  src/lib/components/detail-list/index.ts
  src/lib/components/retry-policy-input.svelte
  src/lib/components/user-metadata.svelte
  src/lib/components/worker-table.svelte
  src/lib/layouts/activity-execution-layout.svelte
  src/lib/pages/activity-execution-details.svelte
  src/lib/pages/activity-execution-metadata.svelte
  src/lib/pages/activity-execution-search-attributes.svelte
  src/lib/pages/activity-execution-workers.svelte
  src/lib/pages/start-activity-execution.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/runes/workflow-versions.svelte.ts
  src/lib/services/standalone-activities.ts
  src/lib/types/activity-execution.ts
  src/lib/utilities/activity-execution-poller.svelte.ts
  src/lib/utilities/is.test.ts
  src/lib/utilities/is.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+page.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/details/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/metadata/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/workers/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Bump svelte dependencies
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Bump svelte dependencies (#3097)
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

decode and refactor
  src/lib/components/activity-execution-form/form.svelte
  src/lib/components/activity-execution/activity-execution-input-and-outcome.svelte
  src/lib/components/activity-execution/details/activity-execution-attempts-detail.svelte
  src/lib/components/activity-execution/details/activity-execution-detail.svelte
  src/lib/components/activity-execution/details/activity-execution-snippet-detail.svelte
  src/lib/components/activity-execution/details/activity-execution-timestamp-detail.svelte
  src/lib/components/user-metadata.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/pages/activity-execution-details.svelte
  src/lib/pages/activity-execution-metadata.svelte
  src/lib/pages/activity-execution-search-attributes.svelte
  src/lib/pages/workflow-user-metadata.svelte
  src/lib/services/standalone-activities.ts
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

clean up
  src/lib/components/activity-execution/activity-execution-header.svelte
  src/lib/components/activity-execution/details/activity-execution-attempts-detail.svelte
  src/lib/components/activity-execution/details/activity-execution-detail.svelte
  src/lib/components/activity-execution/details/activity-execution-snippet-detail.svelte
  src/lib/components/activity-execution/details/activity-execution-timestamp-detail.svelte
  src/lib/components/activity-execution/details/index.ts
  src/lib/layouts/activity-execution-layout.svelte
  src/lib/pages/activity-execution-details.svelte
  src/lib/types/activity-execution.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/details/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Use CountSchedules for counting schedules
  src/lib/services/workflow-counts.ts
  src/lib/types/api.ts
  src/lib/types/workflows.ts
  src/lib/utilities/route-for-api.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

feat(ui-server): add forward of static headers from env
  README.md
  server/cmd/server/main.go
  server/config/development.yaml
  server/config/docker.yaml
  server/server/config/config.go
  server/server/headers/headers.go
  server/server/headers/headers_test.go
Owners: @temporalio/frontend-engineering

Fix icon name, unused conditions removal
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/collapse.svelte
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
Owners: @rossedfort

clean up
  src/lib/components/activity-execution-form/form.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/activity-execution-details.svelte
  src/lib/pages/activity-execution-workers.svelte
  src/lib/runes/workflow-versions.test.ts
  src/lib/services/standalone-activities.ts
  src/lib/services/workflow-service.ts
  src/lib/types/activity-execution.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/workers/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

add page titles
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/details/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/metadata/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/workers/+page.svelte
Owners: @temporalio/frontend-engineering

add default param
  src/lib/runes/workflow-versions.svelte.ts
Owners: @temporalio/frontend-engineering

remove pause, update and reset buttons
  src/lib/pages/activity-execution-details.svelte
Owners: @temporalio/frontend-engineering

fix pnpm lock
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

add error state
  src/lib/utilities/activity-execution-poller.svelte.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+layout.svelte
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

increase toast duration
  src/lib/components/activity-execution-form/form.svelte
Owners: @rossedfort

Add hour format selection to timezone component
  src/lib/components/timezone-select.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

add tests
  src/lib/stores/time-format.test.ts
  src/lib/utilities/format-date.test.ts
Owners: @stevekinney, @Alex-Tideman

add iso option to timestamp formats, add tests
  src/lib/components/timezone-select.svelte
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

fix iso format check
  src/lib/utilities/format-date.ts
Owners: @stevekinney, @Alex-Tideman

refactor layout in workflows-with-new-search.svelte so long date formats didn't push away refresh button
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

fix: ensure formatUTCOffset returns an empty string for undefined offset
  src/lib/utilities/format-date.ts
Owners: @stevekinney, @Alex-Tideman

fix: handle undefined query in workflows-with-new-search component
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

fix: relative
  src/lib/utilities/format-date.ts
Owners: @stevekinney, @Alex-Tideman

improve scrolling
  src/lib/components/timezone-select.svelte
Owners: @rossedfort

DT-3526 describe standalone activity (#3099)
  pnpm-lock.yaml
  src/lib/components/activity-execution-form/form.svelte
  src/lib/components/activity-execution-form/types.ts
  src/lib/components/activity-execution/activity-execution-header.svelte
  src/lib/components/activity-execution/activity-execution-input-and-outcome.svelte
  src/lib/components/activity-execution/activity-execution-status.svelte
  src/lib/components/detail-list/detail-list-label.svelte
  src/lib/components/detail-list/detail-list-text-value.svelte
  src/lib/components/detail-list/detail-list-timestamp-value.svelte
  src/lib/components/detail-list/index.ts
  src/lib/components/retry-policy-input.svelte
  src/lib/components/user-metadata.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/layouts/activity-execution-layout.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/activity-execution-details.svelte
  src/lib/pages/activity-execution-metadata.svelte
  src/lib/pages/activity-execution-search-attributes.svelte
  src/lib/pages/activity-execution-workers.svelte
  src/lib/pages/start-activity-execution.svelte
  src/lib/pages/workflow-user-metadata.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/runes/workflow-versions.svelte.ts
  src/lib/runes/workflow-versions.test.ts
  src/lib/services/standalone-activities.ts
  src/lib/types/activity-execution.ts
  src/lib/utilities/activity-execution-poller.svelte.ts
  src/lib/utilities/is.test.ts
  src/lib/utilities/is.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+page.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/details/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/metadata/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/workers/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Upgrade to svelte5
  .gitignore
  src/lib/components/activity/activities-summary-configurable-table.svelte
  src/lib/components/activity/activities-summary-configurable-table/batch-actions.svelte
  src/lib/components/activity/activities-summary-configurable-table/table-empty-state.svelte
  src/lib/components/activity/activities-summary-configurable-table/table-header-cell.svelte
  src/lib/components/activity/activities-summary-configurable-table/table-header-row.svelte
  src/lib/components/activity/activities-summary-configurable-table/table-row.svelte
  src/lib/components/activity/activity-count-refresh.svelte
  src/lib/components/activity/client-actions/batch-operation-confirmation-form.svelte
  src/lib/components/activity/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/activity/filter-bar/manual-query.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/pages/activities-with-search.svelte
  src/lib/pages/saved-activity-views.svelte
  src/lib/services/standalone-activities.ts
  src/lib/stores/nav-open.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Don't allow onclick on button until we migrate it to Svelte5
  src/lib/components/activity/activities-summary-configurable-table.svelte
  src/lib/components/activity/activities-summary-configurable-table/batch-actions.svelte
  src/lib/holocene/button.svelte
Owners: @rossedfort

Remove batch functionality
  .sisyphus/plans/list-activities-ui.md
  src/lib/components/activity/activities-summary-configurable-table.svelte
  src/lib/components/activity/activities-summary-configurable-table/batch-actions.svelte
  src/lib/components/activity/activities-summary-configurable-table/table-header-row.svelte
  src/lib/components/activity/activities-summary-configurable-table/table-row.svelte
  src/lib/components/activity/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/activity/client-actions/batch-operation-confirmation-form.svelte
  src/lib/components/activity/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/pages/activities-with-search.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Fix up some table stuff
  src/lib/components/activity/activities-summary-configurable-table/table-header-row.svelte
  src/lib/components/activity/activities-summary-configurable-table/table-row.svelte
Owners: @rossedfort

Add filterable/copiable cells
  src/lib/components/activity/activities-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/activity/activities-summary-configurable-table/table-body-cell.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
