Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

DT-3592 - scroll to top on page change in paginated tables (#3220)
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
Owners: @rossedfort

Remove system.enableNexus dynamic config flag (#3221)
  utilities/temporal-server.ts
Owners: @temporalio/frontend-engineering

Routing, page, and component updates
  src/lib/components/task-queue/worker-insights.svelte
  src/lib/components/workers/workers-table/workers-table-cell.svelte
  src/lib/components/workers/workers-table/workers-table-with-search.svelte
  src/lib/layouts/workers-layout.svelte
  src/lib/pages/deployment.svelte
  src/lib/pages/task-queue.svelte
  src/lib/pages/worker-details.svelte
  src/lib/pages/workers.svelte
  src/lib/services/worker-service.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/task-queues/[queue]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.ts
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+page.ts
  src/routes/(app)/namespaces/[namespace]/workers/deployments/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workers/deployments/[deployment]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix: align user cookie lifetime with session expiry boundary
  server/config/docker.yaml
  server/server/auth/auth.go
  server/server/auth/auth_test.go
  server/server/route/auth.go
Owners: @temporalio/frontend-engineering

fix: derive refresh cookie lifetime from JWT exp or provider config
  server/config/docker.yaml
  server/config/with-auth.yaml
  server/server/auth/auth.go
  server/server/auth/auth_test.go
  server/server/auth/jwt_test.go
  server/server/config/config.go
  server/server/route/auth.go
Owners: @temporalio/frontend-engineering

test: consolidate refresh cookie MaxAge tests into single table-driven test
  server/server/auth/auth_test.go
Owners: @temporalio/frontend-engineering

docs: document refreshTokenDuration and Docker env vars in AUTHENTICATION.md
  AUTHENTICATION.md
Owners: @temporalio/frontend-engineering

add WorkflowTaskStarted event type to valid reset points and remove unused type
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/types/events.ts
  src/lib/utilities/is-event-type.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

add WorkflowTaskStarted event type to valid reset points and remove unused type (#3224)
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/types/events.ts
  src/lib/utilities/is-event-type.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

chore: remove serverless workers design doc from git
  .figma/serverless-workers/README.md
Owners: @temporalio/frontend-engineering

Task failures count improvements (#3216)
  src/lib/components/workflow/workflow-count-refresh.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/pages/saved-query-views.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-counts.ts
  src/lib/stores/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Make line breaks in JSON strings visual only (#3219)
  src/lib/vendor/codemirror/custom-extensions.test.ts
  src/lib/vendor/codemirror/custom-extensions.ts
Owners: @temporalio/frontend-engineering

fix: auth header forwaring
  server/server/server.go
Owners: @temporalio/frontend-engineering

fix: extracted header forwarding as function
  server/server/server.go
Owners: @temporalio/frontend-engineering

test: testing header forwarding
  server/server/server_test.go
Owners: @temporalio/frontend-engineering

UI and accesibility updates
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/standalone-activities/standalone-activities-disabled.svelte
  src/lib/components/task-queue/worker-totals.svelte
  src/lib/components/workers/worker-info.svelte
  src/lib/components/workers/worker-status.svelte
  src/lib/components/workers/workers-table/task-queue-workers-table.svelte
  src/lib/components/workers/workers-table/worker-heartbeats-sdk-alert.svelte
  src/lib/components/workers/workers-table/workers-table-cell.svelte
  src/lib/components/workers/workers-table/workers-table-row.svelte
  src/lib/components/workers/workers-table/workers-table.svelte
  src/lib/holocene/icon/svg/workers.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/layouts/workers-layout.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/standalone-activity-workers.svelte
  src/lib/pages/worker-details.svelte
  src/lib/pages/workers.svelte
  src/lib/services/worker-service.ts
  src/lib/stores/events.ts
  src/lib/stores/search-attributes.ts
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Hide/show alerts
  src/lib/components/workers/no-workers-polling-alert.svelte
  src/lib/components/workers/worker-heartbeats-disabled.svelte
  src/lib/components/workers/workers-table/workers-table.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/standalone-activity-workers.svelte
  src/lib/pages/task-queue.svelte
  src/lib/pages/workers.svelte
  src/lib/utilities/is-running-with-no-workers.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

feat: add feature flag system with localStorage persistence
  src/lib/components/local-feature-flag.svelte
  src/lib/stores/feature-flags.test.ts
  src/lib/stores/feature-flags.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Potential fix for cookie weirdness consolidate to a provider so we have single points of access
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-history/get-event-attributes.test.ts
  src/lib/models/event-history/index.ts
  src/lib/models/event-history/to-event-history.test.ts
  src/lib/models/pending-activities/index.ts
  src/lib/models/pending-activities/to-decoded-pending-activities.test.ts
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/data-encoder.ts
  src/lib/services/query-service.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/data-encoder.test.ts
  src/lib/stores/data-encoder.ts
  src/lib/types/events.ts
  src/lib/utilities/decode-local-activity.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/export-history.ts
  src/lib/utilities/request-from-api.test.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/token-provider.ts
  src/routes/(app)/+layout.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman, @GiantRobots

feat: replace LocalFeatureFlag with CapabilityGuard
  src/lib/components/capability-guard.svelte
  src/lib/components/local-feature-flag.svelte
  src/lib/stores/capability-enablement.ts
  src/lib/types/index.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Fix strict errors
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/shared-search-attribute-filter/filter-list.svelte
  src/lib/components/shared-search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/shared-search-attribute-filter/status-filter-chip.svelte
  src/lib/components/workers/worker-info.svelte
  src/lib/components/workers/workers-table/workers-table-cell.svelte
  src/lib/components/workers/workers-table/workers-table-row.svelte
  src/lib/components/workers/workers-table/workers-table.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/models/worker-status.ts
  src/lib/pages/deployments.svelte
  src/lib/pages/standalone-activity-workers.svelte
  src/lib/services/worker-service.ts
  src/lib/utilities/get-sdk-version.ts
  src/lib/utilities/screaming-enums.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

refactor: simplify feature-flags to a thin localStorage layer
  src/lib/stores/capability-enablement.ts
  src/lib/stores/feature-flags.test.ts
  src/lib/stores/feature-flags.ts
Owners: @stevekinney, @Alex-Tideman

Add comma separators to history size bytes in workflow summary and details
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/workflow-summary.svelte
Owners: @rossedfort

refactor: rename serverlessWorkers to serverlessDeployments
  src/lib/stores/capability-enablement.ts
  src/lib/stores/feature-flags.test.ts
  src/lib/types/index.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add underline, arrow, and subtitle href structure
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
Owners: @rossedfort

Fix subtitle text size
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Fix type errors:
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Allow accessToken to throw to allow it to stop execution and prevent weirdness in control flow. (#3222)
  .node-version
  .nvmrc
  src/lib/utilities/request-from-api.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix routes when switching Namespaces
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering

Fix type errors in nav container.
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Small fixes
  src/lib/components/workers/worker-details/skeleton.svelte
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/components/workers/workers-table/task-queue-workers-table.svelte
  src/lib/components/workers/workers-table/workers-table-row.svelte
  src/lib/components/workers/workers-table/workers-table.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/worker-details.svelte
  src/lib/pages/workers.svelte
  src/lib/utilities/get-sdk-version.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add new icons
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/action.svelte
  src/lib/holocene/icon/svg/house.svelte
  src/lib/holocene/icon/svg/overview.svelte
  src/lib/holocene/icon/svg/slash-forward.svelte
  src/lib/holocene/icon/svg/support.svelte
  src/lib/holocene/icon/svg/usage.svelte
  src/lib/holocene/icon/svg/workflows.svelte
Owners: @rossedfort

Add useFallback prop for workers tables
  src/lib/pages/standalone-activity-workers.svelte
  src/lib/pages/task-queue.svelte
  src/lib/pages/worker-details.svelte
  src/routes/(app)/namespaces/[namespace]/task-queues/[queue]/+page.svelte
Owners: @temporalio/frontend-engineering

refactor(workflow): remove minimizeEventView store
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/stores/event-view.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove minimzed from event-type-filter
  src/lib/components/lines-and-dots/event-type-filter.svelte
Owners: @rossedfort

Remove minimized prop
  src/lib/layouts/workflow-timeline-layout.svelte
Owners: @temporalio/frontend-engineering

refactor: inline withLocalFallback for clarity
  src/lib/stores/capability-enablement.ts
Owners: @stevekinney, @Alex-Tideman

refactor(workflow): remove minimizeEventView store (#3182)
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/stores/event-view.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

feat: add serverless worker CRUD files from prototype
  src/lib/components/workers/delete-worker-modal.svelte
  src/lib/components/workers/serverless-worker-detail-skeleton.svelte
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-edit-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-setup-guide.svelte
  src/lib/components/workers/serverless-worker-form/shared.ts
  src/lib/components/workers/serverless-worker-status.svelte
  src/lib/components/workers/serverless-worker-table-row.svelte
  src/lib/pages/serverless-worker-create.svelte
  src/lib/pages/serverless-worker-detail.svelte
  src/lib/pages/serverless-worker-edit.svelte
  src/lib/services/serverless-worker-service.ts
  src/lib/types/serverless-workers.ts
  src/routes/(app)/namespaces/[namespace]/serverless-workers/[id]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/serverless-workers/[id]/edit/+page.svelte
  src/routes/(app)/namespaces/[namespace]/serverless-workers/create/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

feat: add serverless worker types and i18n strings
  src/lib/i18n/locales/en/workers.ts
  src/lib/types/index.ts
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
