Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

rm console logs
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/layouts/workflow-run-layout.svelte
  tests/integration/disable-write-actions.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

DT-3070: Add codec server form component
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/codec-server-form-skeleton.svelte
  src/lib/components/codec-server-form/codec-server-form.mdx
  src/lib/components/codec-server-form/codec-server-form.stories.svelte
  src/lib/components/codec-server-form/codec-server-form.svelte
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/codec-server-form/types.ts
Owners: @rossedfort

rm inspect
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

rm unused mock data
  tests/test-utilities/mocks/workflow.ts
Owners: @temporalio/frontend-engineering

DT-3070: Update codec adapter to use existing settings service
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
Owners: @rossedfort

DT-3070: Update codec adapter for cluster-level configuration
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
  src/lib/components/codec-server-form/codec-server-form.mdx
Owners: @rossedfort

add typing to overrideTheme
  src/lib/holocene/monaco/markdown.svelte
Owners: @rossedfort

center divs
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
Owners: @rossedfort

refactor: extract reusable FormMessage and TaintedBadge components
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/codec-server-form.mdx
  src/lib/components/form-message.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/tainted-badge.svelte
Owners: @rossedfort

Small UI fixes
  server/server/config/config.go
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

remove target prop
  src/lib/holocene/drawer.svelte
Owners: @rossedfort

Add preventDefault
  src/lib/components/activity/activity-options-update-drawer.svelte
Owners: @rossedfort

Add toast notification for update error
  src/lib/components/activity/activity-options-update-drawer.svelte
Owners: @rossedfort

Fix types to strings, only show retried stripes on completed activities.
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
Owners: @rossedfort

Fix all the shady types
  src/lib/components/activity/activity-options-update-drawer.svelte
Owners: @rossedfort

Fix compact logic, better opacity
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
Owners: @rossedfort

Better hasPendingActivity logic
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Fix heartbeat label, remove accordion
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

Add accordion if over 20 pending activities, remove accordion from nexus failures, make retry line thinner
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/pages/workflow-pending-activities.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Disable activity commands if not running
  src/lib/components/activity/activity-commands.svelte
Owners: @rossedfort

Add isRunning check to show activity commands
  src/lib/components/activity/activity-commands.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

add metadata-tab to translate
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

refactor: improve form components and add i18n support
  CLAUDE.md
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/form-message.svelte
  src/lib/components/form/message.svelte
  src/lib/components/form/tainted-badge.svelte
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/tainted-badge.svelte
  src/lib/i18n/locales/en/codec-server.ts
  src/lib/i18n/locales/en/index.ts
Owners: @temporalio/frontend-engineering, @rossedfort

fix: use proper Holocene Link component and improve translation templating
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/i18n/locales/en/codec-server.ts
Owners: @rossedfort, @temporalio/frontend-engineering

remove unused codec adapter and custom class stories
  src/lib/components/codec-server-form/codec-server-form.stories.svelte
Owners: @rossedfort

Reset values on close of update drawer
  src/lib/components/activity/activity-commands.svelte
Owners: @rossedfort

fix: only send custom fields when section is visible
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/config.svelte.ts
Owners: @rossedfort

chore: bump version to 2.39.0
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Send release tag ref instead of main SHA in dispatch
  .github/workflows/release-published.yml
Owners: @stevekinney

Check for localActivity if compact mode
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Remove empty table image
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Send release tag ref instead of main SHA in dispatch (#2799)
  .github/workflows/release-published.yml
Owners: @stevekinney

Use derived state and not store for isActive
  src/lib/holocene/pill-container/pill.svelte
Owners: @rossedfort

add markdown override-theme to go
  server/server/route/ui.go
  src/lib/components/event/event-summary-row.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Check for localActivity if compact mode (#2800)
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

refactor: use nullish coalescing operator over logical OR
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
Owners: @rossedfort

Use derived state and not store for isActive (#2802)
  src/lib/holocene/pill-container/pill.svelte
Owners: @rossedfort

Add if block to empty image, remove borders
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

refactor: move retry logic into ApiError component
  src/lib/components/api-error.svelte
  src/lib/components/codec-server-form/codec-server-form.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
Owners: @rossedfort

Add check for quotes after midConditional
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Owners: @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
