Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

add formatJSON utility
  src/lib/utilities/format-json.ts
Owners: @stevekinney, @Alex-Tideman

add maximizable component
  src/lib/holocene/maximizable/button.svelte
  src/lib/holocene/maximizable/index.ts
  src/lib/holocene/maximizable/maximizable.svelte
Owners: @rossedfort

tweak code-block stories
  src/lib/holocene/code-block.stories.svelte
Owners: @rossedfort

improve formatJson, fix bug rerturning undefined
  src/lib/utilities/format-json.ts
Owners: @stevekinney, @Alex-Tideman

use svelte:window instead of addEventListener
  src/lib/holocene/maximizable/maximizable.svelte
Owners: @rossedfort

tune types for CodeBlock
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

apply to stories
  src/lib/holocene/code-block.stories.svelte
Owners: @rossedfort

convert code-block to svelte5 and refactor
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/custom-extensions.ts
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

handle tabbing away from maximized code block
  src/lib/holocene/maximizable/maximizable.svelte
Owners: @rossedfort

export prop types for storybook
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

clean up maximize button
  src/lib/holocene/maximizable/button.svelte
  src/lib/holocene/maximizable/maximizable.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

match existing types for copyable prop
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

fix accessibility error: scroller must be focusable
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/custom-extensions.ts
Owners: @rossedfort, @temporalio/frontend-engineering

increase z-index of maximized element
  src/lib/holocene/maximizable/maximizable.svelte
Owners: @rossedfort

code tweaks from PR
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

remove or extract ternaries
  src/lib/holocene/maximizable/button.svelte
  src/lib/holocene/maximizable/maximizable.svelte
Owners: @rossedfort

make reactive, allow controlled use
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

update payload-input to use codeblock onChange callback
  src/lib/components/payload-input.svelte
Owners: @rossedfort

rename onChange to onchange and pass string instead of event
  src/lib/components/payload-input.svelte
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

make maximized bindable
  src/lib/holocene/code-block.svelte
  src/lib/holocene/maximizable/maximizable.svelte
Owners: @rossedfort

update codeblock to use onChange callback instead of raising change event
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

feat: internationalize search attributes form
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/default-adapter.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form-skeleton.svelte
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/i18n/locales/en/index.ts
  src/lib/i18n/locales/en/search-attributes.ts
Owners: @rossedfort, @temporalio/frontend-engineering

fix: standardize font sizes in search attributes form
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
Owners: @rossedfort

tidy
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

feat: add dirty state indicator to save button
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
Owners: @rossedfort

Add col-[1] class to tooltip
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Add col-[1] class to tooltip (#2794)
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

DT-2971-change-codeblock-expand-to-maximize (#2771)
  src/lib/components/payload-input.svelte
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/maximizable/button.svelte
  src/lib/holocene/maximizable/index.ts
  src/lib/holocene/maximizable/maximizable.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/format-json.ts
  src/lib/vendor/codemirror/custom-extensions.ts
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

refactor: simplify search attributes adapter pattern
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/default-adapter.svelte.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.mdx
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/components/search-attributes-form/types.ts
  src/routes/(app)/namespaces/[namespace]/search-attributes/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

refactor: simplify stories to use object adapter pattern
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
Owners: @rossedfort

fix: update storybook imports in mdx file
  src/lib/components/search-attributes-form/search-attributes-form.mdx
Owners: @rossedfort

Fix isCloud check
  src/lib/stores/advanced-visibility.ts
  src/lib/utilities/activity-commands-enabled.ts
Owners: @stevekinney, @Alex-Tideman

Show the related activity events on hover/click in timeline (#2790)
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Owners: @rossedfort, @temporalio/frontend-engineering

docs: update storybook documentation for new adapter pattern
  src/lib/components/search-attributes-form/search-attributes-form.mdx
Owners: @rossedfort

More pending activity fixes
  server/go.sum
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

docs: fix formatting in search attributes documentation
  src/lib/components/search-attributes-form/search-attributes-form.mdx
Owners: @rossedfort

Skip coreUser test for now
  src/lib/utilities/activity-commands-enabled.test.ts
  src/lib/utilities/activity-commands-enabled.ts
Owners: @stevekinney, @Alex-Tideman

DT-3069: Add search attributes form component with adapter pattern (#2793)
  .storybook/main.ts
  CLAUDE.md
  README.md
  package.json
  pnpm-lock.yaml
  src/lib/components/api-error.svelte
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/default-adapter.svelte.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form-skeleton.svelte
  src/lib/components/search-attributes-form/search-attributes-form.mdx
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/components/search-attributes-form/types.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/i18n/locales/en/search-attributes.ts
  src/lib/utilities/api-error-handler.ts
  src/routes/(app)/namespaces/[namespace]/search-attributes/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Move flex fixes for pending cards
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
Owners: @rossedfort

add tests
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/monaco/markdown.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-run-layout.svelte
  src/markdown.reset.css
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
  src/routes/(app)/render/+server.ts
  tests/integration/workflow-metadata.spec.ts
  tests/test-utilities/mocks/workflow.ts
Owners: @rossedfort, @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
