Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Set toggle button height
  src/lib/components/event/event-summary.svelte
Owners: @rossedfort

Add title
  src/lib/holocene/expandable/button.svelte
Owners: @rossedfort

2.36.3
  package.json
Owners: @temporalio/frontend-engineering

add icons and fix some dark styles for quickstart guide
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/apple.svelte
  src/lib/holocene/icon/svg/circle-check.svelte
  src/lib/holocene/icon/svg/circle-question.svelte
  src/lib/holocene/icon/svg/linux.svelte
  src/lib/holocene/icon/svg/microsoft.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/holocene/radio-input/types.ts
  src/lib/holocene/select/select.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/textarea.svelte
  src/lib/theme/plugin.ts
  src/lib/types/global.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Better blur, fix sticky top for sm
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Add tab buttons, fix z-index of sticky headers so it doesn't trump the nav dropdown, fix dark mode sticky nav opacity color
  src/lib/components/event/event-summary.svelte
  src/lib/holocene/tab-buttons/tab-button.stories.svelte
  src/lib/holocene/tab-buttons/tab-button.svelte
  src/lib/holocene/tab-buttons/tab-buttons.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add tooltip
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Full Height Timeline and Event History (#2589)
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/event-status-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/expandable/button.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/compact.svelte
  src/lib/holocene/icon/svg/expand.svelte
  src/lib/holocene/icon/svg/feed.svelte
  src/lib/holocene/icon/svg/json.svelte
  src/lib/holocene/icon/svg/minimize.svelte
  src/lib/holocene/tab-buttons/tab-button.stories.svelte
  src/lib/holocene/tab-buttons/tab-button.svelte
  src/lib/holocene/tab-buttons/tab-buttons.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/stores/event-view.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

add icons and fix some dark styles for quickstart guide (#2599)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/apple.svelte
  src/lib/holocene/icon/svg/circle-check.svelte
  src/lib/holocene/icon/svg/circle-question.svelte
  src/lib/holocene/icon/svg/linux.svelte
  src/lib/holocene/icon/svg/microsoft.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/holocene/radio-input/types.ts
  src/lib/holocene/select/select.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/textarea.svelte
  src/lib/theme/plugin.ts
  src/lib/types/global.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Allow query path on disableWriteActions
  server/go.mod
  server/server/route/api.go
  src/routes/(app)/namespaces/[namespace]/workflows/start-workflow/+page.ts
Owners: @temporalio/frontend-engineering

Allow query path on disableWriteActions (#2601)
  server/go.mod
  server/server/route/api.go
  src/routes/(app)/namespaces/[namespace]/workflows/start-workflow/+page.ts
Owners: @temporalio/frontend-engineering

Add tick to afterUpdate
  src/lib/components/search-attribute-filter/index.svelte
Owners: @rossedfort

Fix focusing for list filter
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @stevekinney, @Alex-Tideman

Fix null filter
  src/lib/components/search-attribute-filter/conditional-menu.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
Owners: @rossedfort

Quick filter search fixes (#2603)
  src/lib/components/search-attribute-filter/conditional-menu.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

add second copy button
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
Owners: @rossedfort

2.36.4
  package.json
Owners: @temporalio/frontend-engineering

add valid/error state to Select
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

fix a11y
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

add story
  src/lib/holocene/select/select.stories.svelte
Owners: @rossedfort

fix story
  src/lib/holocene/select/select.stories.svelte
Owners: @rossedfort

DT-2821 - add invalid/error state to Select (#2606)
  src/lib/holocene/select/select.stories.svelte
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

2.36.5
  package.json
Owners: @temporalio/frontend-engineering

rm from advanced search
  src/lib/components/workflow/workflow-advanced-search.svelte
Owners: @rossedfort

add tooltip
  server/go.mod
  src/lib/components/search-attribute-filter/index.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Fix styling
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Copy query (#2604)
  server/go.mod
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Use space-black, not black
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Use space-black, not black (#2611)
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Fix tsconfig warnings, use svelte config for those valeus
  svelte.config.js
  tsconfig.json
Owners: @temporalio/frontend-engineering

Update Textarea max length story
  src/lib/holocene/textarea.stories.svelte
  src/lib/holocene/textarea.svelte
Owners: @rossedfort

Add maxLength prop to ChipInput
  src/lib/holocene/input/chip-input.stories.svelte
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

Add all sdk versions and logos
  server/go.mod
  src/lib/components/lines-and-dots/sdk-logo.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/utilities/get-sdk-version.test.ts
  src/lib/utilities/get-sdk-version.ts
  src/lib/vendor/sdk-logos/dot-net-logo.png
  src/lib/vendor/sdk-logos/go-logo.png
  src/lib/vendor/sdk-logos/java-logo.png
  src/lib/vendor/sdk-logos/php-logo.png
  src/lib/vendor/sdk-logos/python-logo.png
  src/lib/vendor/sdk-logos/ruby-logo.png
  src/lib/vendor/sdk-logos/rust-logo.png
  src/lib/vendor/sdk-logos/ts-logo.png
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Keep input inline with chips
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

Remove toolchain
  server/go.mod
Owners: @temporalio/frontend-engineering

Rearrange logo
  src/lib/components/lines-and-dots/sdk-logo.svelte
Owners: @rossedfort

use typescript
  src/lib/components/lines-and-dots/sdk-logo.svelte
Owners: @rossedfort

Remove dash and font-mono
  src/lib/components/lines-and-dots/sdk-logo.svelte
Owners: @rossedfort

add support for resetting workflows with pending children
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

attempt to add in the workflow search attr to schedule create
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/types/schedule.ts
Owners: @rossedfort, @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
