Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Set day as max unit in formatDate and getDuration (#2978)
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/format-time.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Allow custom keyword SAs to be quick filterable (#2980)
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
Owners: @rossedfort

Account for units less than a day in formatDate
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
Owners: @stevekinney, @Alex-Tideman

fix tests
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/data-encoder-settings.svelte
  src/lib/holocene/modal.svelte
  tests/integration/data-encoder.desktop.spec.ts
  tests/integration/data-encoder.mobile.spec.ts
  tests/pages/data-encoder-settings.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Account for units less than a day in formatDate (#2982)
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
Owners: @stevekinney, @Alex-Tideman

refactor tests to use page object model
  tests/integration/data-encoder.desktop.spec.ts
  tests/integration/data-encoder.mobile.spec.ts
  tests/pages/data-encoder-settings.ts
Owners: @temporalio/frontend-engineering

Hide timeout if 0s
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Hide timeout if 0s (#2983)
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

remove padding from workflow skeleton loader
  src/lib/holocene/skeleton/workflow.svelte
Owners: @rossedfort

feat(search-attributes): add disableTypeForExisting prop
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
Owners: @rossedfort

Fix button variant type
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
Owners: @rossedfort

Fix select position type
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

Remove quotes from duration placeholder
  src/lib/i18n/locales/en/workflows.ts
Owners: @temporalio/frontend-engineering

refactor(search-attributes): extract attribute row to child component
  src/lib/components/search-attributes-form/search-attribute-row.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
Owners: @rossedfort

feat(search-attributes): add disableTypeForExisting prop (#2984)
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/search-attributes-form/search-attribute-row.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
Owners: @rossedfort

Fix holocene component prop types (#2985)
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add purple for bg
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
Owners: @rossedfort

Remove handleFocusOut on maximize
  src/lib/holocene/maximizable/maximizable.svelte
Owners: @rossedfort

Fix loading tests
  src/lib/holocene/loading.svelte
  tests/integration/schedules-create.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Use only deployment.createTime for Deployed At column
  src/lib/components/deployments/deployment-table-row.svelte
Owners: @rossedfort

Fix if statement check to allow click/select text
  src/lib/holocene/maximizable/maximizable.svelte
Owners: @rossedfort

allow selection in code block
  src/lib/holocene/code-block.svelte
  src/lib/holocene/maximizable/maximizable.svelte
Owners: @rossedfort

Add code-block diff
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/payloads-decoder.ts
  src/lib/components/workflow/workflow-comparison-view.svelte
  src/lib/holocene/code-block-compare.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-simple-history.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add theme select to user dropdown menu
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/dark-mode-menu.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/user-menu.svelte
  src/lib/i18n/locales/en/common.ts
  static/ziggy-full-face.png
Owners: @rossedfort, @temporalio/frontend-engineering

fix tests and clean up some nav stuff
  src/lib/components/dark-mode-menu.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/toggle-button/toggle-buttons.svelte
  src/lib/holocene/user-menu.svelte
  tests/integration/dark-mode.desktop.spec.ts
  tests/integration/dark-mode.mobile.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Bump API version
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  src/lib/types/index.ts
Owners: @temporalio/frontend-engineering

Fix isWorkflowTaskFailure and add namespace capabilities check
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/saved-query-views.svelte
  src/lib/services/workflow-counts.ts
  src/lib/stores/saved-queries.ts
  src/lib/utilities/get-namespace-capabilities.ts
  src/lib/utilities/get-namespace.test.ts
  src/lib/utilities/get-namespace.ts
  src/lib/utilities/task-failure-workflows.ts
  src/lib/utilities/workflow-task-failures.test.ts
  src/lib/utilities/workflow-task-failures.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Move input/result to top of card
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Set explicit permissions for GitHub Actions workflows
  .github/workflows/chromatic.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/playwright.yml
  .github/workflows/test.yml
  .github/workflows/trigger-downstream-updates.yml
Owners: @stevekinney

Fix pending activities
  src/lib/components/activity/activity-commands.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

Fix handleFocusOut on maximize to allow highlighting text to copy (#2986)
  src/lib/holocene/maximizable/maximizable.svelte
Owners: @rossedfort

add activity options to pending activity card
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/types/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

i18n
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/i18n/locales/en/activities.ts
Owners: @rossedfort, @temporalio/frontend-engineering

format duration
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

Update query button badge and count styling
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/exclamation-octagon.svelte
  src/lib/holocene/icon/svg/happy-lappy.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/saved-query-views.svelte
  src/lib/stores/saved-queries.ts
  src/lib/vendor/no-workflow-task-failures_light.svg
  src/lib/vendor/no-workflows_light.svg
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update task failure count when query is selected or workflows refreshed
  src/lib/pages/saved-query-views.svelte
Owners: @temporalio/frontend-engineering

truncate runid and add tooltip
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Owners: @rossedfort

fix(search-attributes): use $derived for reactive props pattern
  src/lib/components/search-attributes-form/search-attribute-row.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
Owners: @rossedfort

Lighter purple
  src/lib/components/event/event-details-full.svelte
Owners: @rossedfort

fix styling
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
