Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

MVP of electron. Needs some performance tweaks and to add links to each node
  src/lib/components/workflow/workflow-atom.svelte
  src/lib/components/workflow/workflow-electron.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/holocene/zoom-svg.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add icons, clean up
  src/lib/components/workflow/workflow-atom.svelte
  src/lib/components/workflow/workflow-electron.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/target.svelte
  src/lib/holocene/zoom-svg.svelte
  src/lib/layouts/workflow-header.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove commented out code
  src/lib/models/workflow-execution.ts
  src/lib/services/workflow-service.ts
  src/lib/types/workflows.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Update snapshots
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Owners: @stevekinney, @Alex-Tideman

Update go to 1.22.6 (#2334)
  .gitignore
  go.work
  go.work.sum
  server/go.mod
Owners: @temporalio/frontend-engineering

Update Combobox Label spacing to match Select
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Update Label spacing on Holocene components to match Select and Input
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/holocene/textarea.svelte
Owners: @rossedfort

Update Label spacing on custom components
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/pages/start-workflow.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove preview codeblock, add error for invalid json
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Remove console
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Translate
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Remove Start Workflow input preview, add error alert for invalid input (#2338)
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Move event type filters into a multiselect dropdown
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/pages/workflow-history-json.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Set smaller width on mobile
  src/lib/components/lines-and-dots/event-type-filter.svelte
Owners: @rossedfort

Add some padding to json view and don't include status filter
  src/lib/components/event/event-summary.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
Owners: @rossedfort

Update snapshots
  src/lib/models/event-history/get-event-categorization.test.ts
Owners: @stevekinney, @Alex-Tideman

Fix weird flex row on xl screen size
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

Update Label spacing (#2336)
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/holocene/textarea.svelte
Owners: @rossedfort

Add env var to disable workflow count refresh (#2312)
  server/config/development.yaml
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/services/settings-service.ts
  src/lib/stores/workflows.ts
  src/lib/types/index.ts
  tests/test-utilities/mocks/settings.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Remove unused code
  src/lib/components/lines-and-dots/event-type-filter.svelte
Owners: @rossedfort

Remove camelcase
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Fix typo
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Event Type multiselect dropdown with All/None options (#2339)
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/pages/workflow-history-json.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

2.31.0
  package.json
Owners: @temporalio/frontend-engineering

Remove unnecessary coerced Boolean
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering

Pluralize Namespaces badge for Nexus endpoints
  src/lib/pages/nexus-endpoints.svelte
Owners: @temporalio/frontend-engineering

Fix action slot on Accordion component
  src/lib/holocene/accordion/accordion.stories.svelte
  src/lib/holocene/accordion/accordion.svelte
Owners: @rossedfort

Ignore a11y test on Accordion with action
  .storybook/test-runner.ts
  src/lib/holocene/accordion/accordion.stories.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Small UI fixes (#2345)
  .storybook/test-runner.ts
  src/lib/holocene/accordion/accordion.stories.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

2.31.1
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to v2.31.0
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.31.0 (#2347)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Use go 1.23.0
  server/Dockerfile
  server/go.mod
Owners: @temporalio/frontend-engineering

Use go 1.23.0 (#2348)
  server/Dockerfile
  server/go.mod
Owners: @temporalio/frontend-engineering

WIP scroll to event
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/stores/pagination.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Use 1.23
  server/go.mod
Owners: @temporalio/frontend-engineering

Use 1.23 (#2349)
  server/go.mod
Owners: @temporalio/frontend-engineering

Add scrolling to event id
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/stores/pagination.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Remove unused data-eventids
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Add type guard and unit tests
  src/lib/stores/pagination.test.ts
  src/lib/stores/pagination.ts
Owners: @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
