Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Update chip-input.svelte
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

Fix UTC date on Schedule Backfill (#2082)
  src/lib/pages/schedule-view.svelte
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update chip-input.svelte (#2084)
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

Use semantic colors on Toast component
  src/lib/holocene/toast.svelte
  src/lib/holocene/toaster.stories.svelte
  src/lib/theme/plugin.ts
  src/lib/types/holocene.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update holocene.ts
  src/lib/types/holocene.ts
Owners: @temporalio/frontend-engineering

Remove unused icon prop in Button
  src/lib/holocene/button.svelte
Owners: @rossedfort

Update Github Action Dependencies
  .github/actions/checkout-and-setup/action.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-package.yml
  .github/workflows/test.yml
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

Update icon-button.svelte
  src/lib/holocene/icon-button.svelte
Owners: @rossedfort

Add stories for search; fix outline
  src/lib/components/search.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Improve the search box
  package.json
  pnpm-lock.yaml
  src/lib/components/search.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add additional story
  src/lib/components/search.stories.svelte
  src/lib/holocene/input/input.stories.svelte
Owners: @rossedfort

Add support for test IDs
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Fix outline around search input; add stories (#2087)
  package.json
  pnpm-lock.yaml
  src/lib/components/search.stories.svelte
  src/lib/components/search.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/input/input.stories.svelte
  src/lib/holocene/input/input.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Fix accessibility violations for the date picker
  src/lib/holocene/calendar.svelte
  src/lib/holocene/date-picker.svelte
Owners: @rossedfort

Add i18n for date picker
  src/lib/holocene/date-picker.svelte
  src/lib/i18n/locales/en/date-picker.ts
  src/lib/i18n/locales/en/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix accessibility violations for the date picker (#2088)
  src/lib/holocene/calendar.svelte
  src/lib/holocene/date-picker.svelte
  src/lib/i18n/locales/en/date-picker.ts
  src/lib/i18n/locales/en/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Remove unused round prop in MenuButton
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

Remove unnecessary Button story
  src/lib/holocene/button.stories.svelte
Owners: @rossedfort

Remove unnecessary button props (#2089)
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

Use onError instead of handleError to correctly swallow rules api if not implemented
  src/lib/services/pollers-service.ts
Owners: @stevekinney, @Alex-Tideman

Use onError instead of handleError to correctly swallow rules api if not implemented (#2090)
  src/lib/services/pollers-service.ts
Owners: @stevekinney, @Alex-Tideman

2.27.1
  package.json
Owners: @temporalio/frontend-engineering

Use semantic colors on Toast component (#2085)
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/toast.svelte
  src/lib/holocene/toaster.stories.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

2.27.1 (#2091)
  package.json
Owners: @temporalio/frontend-engineering

Remove unnecessary classes on Label
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Remove hoverable prop from Checkbox
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/checkbox.stories.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/holocene-components.json
Owners: @rossedfort

Use parent bg for border on hover
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Don't show hover state when disabled
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Remove transparent bg in night mode
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Remove unnecessary bg
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Bump to alpine 3.19.1 for base docker images
  server/Dockerfile
Owners: @temporalio/frontend-engineering

Remove double encoding
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
Owners: @stevekinney, @Alex-Tideman

Remove hoverable prop from Checkbox (#2092)
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/checkbox.stories.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/holocene-components.json
Owners: @rossedfort

Remove transparent bg on Combobox (#2093)
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Remove double encoding (#2096)
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
Owners: @stevekinney, @Alex-Tideman

Refactor versioning apis and UIs
  src/lib/components/worker-table.svelte
  src/lib/components/workers-list.svelte
  src/lib/components/workflow-versioning-header.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/task-queue-workers.svelte
  src/lib/pages/task-queue.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/services/pollers-service.ts
  src/lib/stores/workflow-run.ts
  src/routes/(app)/namespaces/[namespace]/task-queues/[queue]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add useVersioning prop, add compatible error
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/components/workflow/workflow-compatibility-error.svelte
  src/lib/pages/task-queue-workers.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add key to force update on labelCtx change
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

Bump to .7 for base docker images
  server/Dockerfile
Owners: @temporalio/frontend-engineering

Fix alignment for navigation button
  src/lib/holocene/navigation/navigation-button.svelte
Owners: @rossedfort
