Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Bump sveltekit (#2876)
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Remove unused prop
  src/lib/pages/nexus-endpoint.svelte
Owners: @temporalio/frontend-engineering

Add hidden edit btn and default route prop (#2872)
  src/lib/pages/nexus-endpoint.svelte
Owners: @temporalio/frontend-engineering

feat(ui): make top nav padding configurable and improve combobox ghost variant
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

refactor(top-nav): organize classes for better readability
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

DT-3233 - add more language support to codeblock (#2868)
  package.json
  pnpm-lock.yaml
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/drawer-content.svelte
  src/lib/holocene/icon/svg/link.svelte
  src/lib/vendor/codemirror/custom-extensions.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Update to secondary text in menu item description
  src/lib/holocene/menu/menu-item.svelte
Owners: @rossedfort

Update to text secondary for start workflow markdown description
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Use opacity instead of subtle text on nav buttons
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Remove subtle text (#2881)
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/pages/start-workflow.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Move edit query button
  src/lib/components/query-palette/index.svelte
  src/lib/components/query-palette/search-attribute-filter/attribute-list.svelte
  src/lib/components/query-palette/search-attribute-filter/boolean-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/conditional-menu.svelte
  src/lib/components/query-palette/search-attribute-filter/datetime-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/duration-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/filter-list.svelte
  src/lib/components/query-palette/search-attribute-filter/filter.svelte
  src/lib/components/query-palette/search-attribute-filter/list-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/number-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/status-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/text-filter.svelte
  src/lib/pages/query-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

refactor(ui): improve TypeScript types and class handling
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Finish svelte5 migration of filters
  src/lib/components/query-palette/search-attribute-filter/attribute-list.svelte
  src/lib/components/query-palette/search-attribute-filter/duration-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/filter.svelte
  src/lib/components/query-palette/search-attribute-filter/list-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/number-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/status-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/text-filter.svelte
Owners: @rossedfort

add a slot in the workflow list page header for additional actions
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

add styles to slot wrapper
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

got back to iterableEvent
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/utilities/decode-local-activity.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

fix group type
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

fix typing
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Restyle query list
  src/lib/components/query-palette/index.svelte
  src/lib/components/query-palette/search-attribute-filter/attribute-list.svelte
  src/lib/components/query-palette/search-attribute-filter/filter-list.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/pages/query-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

improve drawer animation
  src/lib/holocene/drawer.stories.svelte
  src/lib/holocene/drawer.svelte
Owners: @rossedfort

Better styles and words
  src/lib/components/query-palette/search-attribute-filter/filter-list.svelte
  src/lib/pages/query-stack.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

DT-3205 - add a slot for additional actions in the header of the workflow list page (#2882)
  src/lib/holocene/drawer.stories.svelte
  src/lib/holocene/drawer.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix types
  src/lib/components/query-palette/search-attribute-filter/filter-list.svelte
Owners: @rossedfort

More fixes
  src/lib/components/query-palette/index.svelte
  src/lib/components/query-palette/saved-query/index.svelte
  src/lib/components/query-palette/search-attribute-filter/attribute-list.svelte
  src/lib/components/query-palette/search-attribute-filter/filter-list.svelte
  src/lib/pages/query-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Final styling touches and add custom label in attribute list
  src/lib/components/query-palette/search-attribute-filter/attribute-list.svelte
  src/lib/components/query-palette/search-attribute-filter/filter.svelte
  src/lib/pages/query-stack.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove props, add button
  src/lib/components/command-palette/index.svelte
  src/lib/holocene/button.svelte
Owners: @rossedfort

Make queries per namespace
  src/lib/components/query-palette/index.svelte
  src/lib/components/query-palette/saved-query/index.svelte
  src/lib/components/query-palette/search-attribute-filter/filter-list.svelte
  src/lib/components/query-palette/search-attribute-filter/status-filter.svelte
  src/lib/pages/query-stack.svelte
  src/lib/stores/saved-queries.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

feat(combobox): add ghost variant and clickable chevron (#2880)
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

Add shareable link
  src/lib/components/query-palette/index.svelte
  src/lib/pages/query-stack.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Better flex
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

Remove query tabs
  src/lib/pages/query-tabs.svelte
Owners: @temporalio/frontend-engineering

Fix all the types
  src/lib/components/command-palette/index.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add disabled to button
  src/lib/components/query-palette/search-attribute-filter/list-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/number-filter.svelte
  src/lib/components/query-palette/search-attribute-filter/text-filter.svelte
Owners: @rossedfort

Working openapi-fetch client
  package.json
  pnpm-lock.yaml
  src/lib/services/batch-service.ts
  src/lib/services/workflow-counts.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/api/fetch.ts
  src/lib/utilities/api/temporalio.d.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Make lint happy
  src/lib/services/batch-service.ts
Owners: @stevekinney, @Alex-Tideman

Add data-track-container to accordion for container tracking magix
  src/lib/holocene/accordion/accordion.svelte
Owners: @rossedfort

Add ui tracking data elements (#2874)
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/chip.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/split-button.svelte
  src/lib/holocene/tab-buttons/tab-button.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/holocene/toggle-switch.svelte
Owners: @rossedfort

update error message
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

fix link so it actually works
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

DT-3161: Add menu button class to select
  src/lib/holocene/select/select.svelte
Owners: @rossedfort
