Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

fix some workflow detail translations
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

make responsive
  src/lib/components/detail-list/detail-list-column.svelte
  src/lib/components/detail-list/detail-list-label.svelte
  src/lib/components/detail-list/detail-list-value.svelte
  src/lib/components/detail-list/detail-list.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

add more gap in WorkflowHeader
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

fix truncation with tooltip using min-width 0
  src/lib/components/detail-list/detail-list-text-value.svelte
Owners: @rossedfort

Update signal count on id
  src/lib/models/event-history/get-event-billable-actions.ts
Owners: @stevekinney, @Alex-Tideman

more tweaks to sdk logo
  src/lib/components/lines-and-dots/sdk-logo.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

make columns stack at xl rather than lg
  src/lib/components/detail-list/detail-list-column.svelte
Owners: @rossedfort

update workflow details row count now that SDK is in last column
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Svelte5 updates, cleanup. Need new API to convert deployment stuff
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/pages/deployment.svelte
  src/lib/stores/search-attributes.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Svelte5
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

Add search-attributes tab, memo tab, user metadata tab
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/memo/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

update workflow-details to svelte5
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

remove mono style from detail list labels
  src/lib/components/detail-list/detail-list-label.svelte
Owners: @rossedfort

fix decodeLocalActivity function to use codec
  src/lib/components/event/event-summary-row.svelte
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

fix latestRunId from page.params
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Update font size and spacing on radio input
  src/lib/holocene/radio-input/radio-group.svelte
  src/lib/holocene/radio-input/radio-input.svelte
Owners: @rossedfort

change onMount to effect
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

[DT-2881] info alignment (#2741)
  src/lib/components/detail-list/detail-list-column.svelte
  src/lib/components/detail-list/detail-list-label.svelte
  src/lib/components/detail-list/detail-list-link-value.svelte
  src/lib/components/detail-list/detail-list-text-value.svelte
  src/lib/components/detail-list/detail-list-value.svelte
  src/lib/components/detail-list/detail-list.svelte
  src/lib/components/detail-list/index.ts
  src/lib/components/lines-and-dots/sdk-logo.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/layouts/workflow-header.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

add user-group icon
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/user-group.svelte
Owners: @rossedfort

Update font size and spacing on radio input (#2760)
  src/lib/holocene/radio-input/radio-group.svelte
  src/lib/holocene/radio-input/radio-input.svelte
Owners: @rossedfort

feat: Update release version
  .github/workflows/release-published.yml
  server/server/version/version.go
Owners: @stevekinney, @temporalio/frontend-engineering

feat(docs): add version management details
  README.md
Owners: @temporalio/frontend-engineering

chore: update release-published workflow to update version variable
  .github/workflows/release-published.yml
  server/server/version/version.go
Owners: @stevekinney, @temporalio/frontend-engineering

add user-group icon (#2761)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/user-group.svelte
Owners: @rossedfort

Update deploys SAs to be filter/copyable, add Build Ids everywhere. Add new types
  server/go.mod
  server/go.sum
  src/lib/components/deployments/deployment-status.svelte
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/models/workflow-filters.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/types/deployments.ts
  src/lib/utilities/get-deployment-build-id.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Expose variant type in data attribute
  src/lib/holocene/button.svelte
Owners: @rossedfort

Expose variant type in data attribute (#2763)
  src/lib/holocene/button.svelte
Owners: @rossedfort

add feedback
  src/lib/holocene/accordion/accordion-group.svelte
  src/lib/holocene/accordion/accordion.stories.svelte
  src/lib/holocene/accordion/accordion.svelte
Owners: @rossedfort

feat: add version management workflows
  .github/WORKFLOWS.md
  .github/workflows/release-draft.yml
  .github/workflows/release-published.yml
  .github/workflows/version-bump.yml
  README.md
  RELEASE_STRATEGY.md
  package.json
  scripts/validate-versions.sh
Owners: @stevekinney, @temporalio/frontend-engineering

Fix columns and headers to not have status as column
  src/lib/components/deployments/deployment-status.svelte
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix table widths, link to task queue show since current/ramping
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/worker-table.svelte
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

feat(workflows): refactor release workflows to use custom actions
  .claude/settings.local.json
  .github/actions/analyze-version-bump-type/action.yml
  .github/actions/build-and-package/action.yml
  .github/actions/calculate-version-bump/action.yml
  .github/actions/update-version-files/action.yml
  .github/actions/update-version-from-release/action.yml
  .github/actions/validate-published-release/action.yml
  .github/actions/validate-release-readiness/action.yml
  .github/actions/validate-version-sync/action.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-published.yml
  .github/workflows/version-bump.yml
  scripts/validate-versions.sh
Owners: @temporalio/frontend-engineering, @stevekinney

Remove console.log, add unit tests for version
  src/lib/pages/deployment.svelte
  src/lib/utilities/get-deployment-build-id.test.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Set width and text-right on link column
  src/lib/components/deployments/deployment-table-row.svelte
Owners: @rossedfort

chore(docs): update GitHub workflows documentation
  .github/WORKFLOWS.md
  README.md
  RELEASE_STRATEGY.md
Owners: @stevekinney, @temporalio/frontend-engineering

Add latest deployment build id and svelte5
  src/lib/components/deployments/deployment-status.svelte
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/pages/deployments.svelte
  src/lib/types/deployments.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Use correct translation for ramping version
  src/lib/components/deployments/version-table-row.svelte
Owners: @rossedfort

Remove comment
  src/lib/pages/deployments.svelte
Owners: @temporalio/frontend-engineering

lint
  .github/actions/analyze-version-bump-type/action.yml
  .github/actions/build-and-package/action.yml
  .github/actions/calculate-version-bump/action.yml
  .github/actions/update-version-files/action.yml
  .github/actions/update-version-from-release/action.yml
  .github/actions/validate-published-release/action.yml
  .github/actions/validate-release-readiness/action.yml
  .github/actions/validate-version-sync/action.yml
  .github/workflows/release-published.yml
  .github/workflows/version-bump.yml
  PR_DESCRIPTION.md
Owners: @stevekinney, @temporalio/frontend-engineering

ignore claude
  .claude/settings.local.json
  .gitignore
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
