Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Add initial tooltip to badge (#2310)
  src/lib/pages/workflow-pending-activities.svelte
Owners: @temporalio/frontend-engineering

Add active styling for nav item
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Fix workflow counts and reactive selectedId
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/workflow-counts.svelte
Owners: @rossedfort

Add isActive check for nav links
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add != operator to conditional menu defaults
  src/lib/components/search-attribute-filter/conditional-menu.svelte
Owners: @rossedfort

Fix event group link logic
  src/lib/components/event/event-summary-row.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/utilities/get-failed-or-pending.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add != operator to conditional menu defaults (#2320)
  src/lib/components/search-attribute-filter/conditional-menu.svelte
Owners: @rossedfort

Allow slots to override text content
  src/lib/holocene/tooltip.stories.svelte
  src/lib/holocene/tooltip.svelte
Owners: @rossedfort

Fix workflow counts and reactive selectedId (#2319)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/utilities/get-failed-or-pending.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Allow slots to override text content (#2321)
  src/lib/holocene/tooltip.stories.svelte
  src/lib/holocene/tooltip.svelte
Owners: @rossedfort

2.30.7
  package.json
Owners: @temporalio/frontend-engineering

Check if status exists
  src/lib/components/workflow/workflow-counts.svelte
Owners: @rossedfort

Remove allow empty
  src/lib/components/workflow/workflow-counts.svelte
Owners: @rossedfort

Don't allow multiple status filters of the same value (#2325)
  src/lib/components/workflow/workflow-counts.svelte
Owners: @rossedfort

Account for if isActive is undefined
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Nexus text changes
  src/lib/i18n/locales/en/nexus.ts
Owners: @temporalio/frontend-engineering

Nexus text changes (#2326)
  src/lib/i18n/locales/en/nexus.ts
Owners: @temporalio/frontend-engineering

Accordion component updates (#2316)
  src/lib/components/data-encoder-settings.svelte
  src/lib/components/schedule/schedule-advanced-settings.svelte
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/holocene/accordion/accordion-group.svelte
  src/lib/holocene/accordion/accordion.stories.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/card.svelte
Owners: @rossedfort

Highlight active link in nav bar (#2324)
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Use AccordionGroup to show all possible failures
  src/lib/components/lines-and-dots/workflow-error-stack-trace.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/types/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Dont use red text
  src/lib/components/lines-and-dots/workflow-error-stack-trace.svelte
Owners: @rossedfort

Move source to accordion
  src/lib/components/lines-and-dots/workflow-error-stack-trace.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
Owners: @rossedfort

Add pending task component and move into accordion group
  server/go.mod
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Add workflow electron
  src/lib/components/workflow/workflow-electron.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/models/workflow-execution.ts
  src/lib/services/workflow-service.ts
  src/lib/types/workflows.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Fixes from Laura's review
  server/go.mod
  src/lib/holocene/accordion/accordion.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add http api port and async update flag (#2314)
  utilities/temporal-server.ts
Owners: @temporalio/frontend-engineering

Show all possible failures for WorkflowTaskError (#2328)
  src/lib/components/lines-and-dots/workflow-error-stack-trace.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/types/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add border
  src/lib/components/workflow/workflow-electron.svelte
Owners: @rossedfort

Remove child workflow timeline from row
  src/lib/components/event/event-details-full.svelte
Owners: @rossedfort

Remove child workflow timeline from row (#2330)
  src/lib/components/event/event-details-full.svelte
Owners: @rossedfort

2.30.8
  package.json
Owners: @temporalio/frontend-engineering

Add new responsive styles to input on api pagination
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

Fix weird
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

WIP: filter
  go.work
  server/go.mod
  src/lib/components/lines-and-dots/event-type-filter.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Update go to 1.23
  go.work
  server/go.mod
Owners: @temporalio/frontend-engineering

Use 1.22.6
  server/go.mod
Owners: @temporalio/frontend-engineering

Remove work files
  go.work
  go.work.sum
Owners: @temporalio/frontend-engineering

Add go.work to gitignore
  .gitignore
Owners: @temporalio/frontend-engineering

Fix the go things
  .gitignore
  go.work
  go.work.sum
  server/go.mod
  src/lib/components/lines-and-dots/event-type-filter.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add w-full sm:w-1/2 to input
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort
