Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

fix: address security vulnerabilities in dependencies (#3056)
  .github/actions/setup-node/action.yml
  .tool-versions
  package.json
  pnpm-lock.yaml
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/utilities/event-link-href.ts
  src/lib/utilities/pending-activities.ts
  temporal/codec-server.ts
  tests/integration/workflow-actions.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/test-utilities/mocks/batch-operations.ts
  tests/test-utilities/mocks/cluster.ts
  tests/test-utilities/mocks/event-history.ts
  tests/test-utilities/mocks/namespace.ts
  tests/test-utilities/mocks/namespaces.ts
  tests/test-utilities/mocks/query.ts
  tests/test-utilities/mocks/schedules.ts
  tests/test-utilities/mocks/search-attributes.ts
  tests/test-utilities/mocks/system-info.ts
  tests/test-utilities/mocks/task-queues.ts
  tests/test-utilities/mocks/workflow.ts
  tests/test-utilities/mocks/workflows-count.ts
  tests/test-utilities/mocks/workflows.ts
  utilities/ui-server.ts
Owners: @stevekinney, @temporalio/frontend-engineering, @rossedfort, @Alex-Tideman

add feedback from Ross
  src/lib/pages/nexus-edit-endpoint.svelte
  src/routes/(app)/nexus/+page.svelte
Owners: @temporalio/frontend-engineering

update page to state
  src/routes/(app)/nexus/+page.svelte
Owners: @temporalio/frontend-engineering

chore: bump version to 2.44.0
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Bump to 22.14
  .github/actions/setup-node/action.yml
Owners: @stevekinney

remove old syntax
  src/routes/(app)/nexus/+page.svelte
Owners: @temporalio/frontend-engineering

use queryparams for initial form values
  src/lib/components/standalone-activity-form/form.svelte
  src/lib/components/standalone-activity-form/types.ts
  src/lib/holocene/duration-input/duration-input.svelte
  src/lib/services/standalone-activities.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add util to get adjusted timeformat
  src/lib/stores/time-format.test.ts
  src/lib/stores/time-format.ts
Owners: @stevekinney, @Alex-Tideman

Fix strict errors
  src/lib/components/timezone-select.svelte
  src/lib/stores/time-format.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Use calculatePosition for auto positioning
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Update position on scroll and resize
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

DO NOT MERGE: test menu
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

Performance improvements
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Fix type errors
  src/lib/components/event/event-card.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
Owners: @rossedfort

fix inconsistent styling issues
  src/lib/holocene/table/table.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/routes/(app)/nexus/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

unbreak all of the other tables
  src/lib/holocene/table/table.svelte
  src/lib/pages/nexus-endpoints.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

fix TypeScript warnings for body.spec null checks
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering

fix TypeScript warning for endpoint possibly undefined
  src/routes/(app)/nexus/[id]/edit/+page.svelte
Owners: @temporalio/frontend-engineering

first attempt to fix types
  src/routes/(app)/nexus/[id]/+page.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering

use table for nexus registry (#3064)
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/services/nexus-service.ts
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Hard code render path instead of using publicPath
  server/server/route/ui.go
  server/server/server.go
Owners: @temporalio/frontend-engineering

add server icon (#3071)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/server.svelte
Owners: @rossedfort

clean up
  server/go.mod
  server/go.sum
  src/lib/components/standalone-activity-form/form.svelte
  src/lib/services/standalone-activities.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

add page components
  src/lib/pages/activity-execution-details.svelte
  src/lib/pages/activity-executions.svelte
  src/lib/pages/start-activity-execution.svelte
  src/routes/(app)/namespaces/[namespace]/activities/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/start/+page.svelte
Owners: @temporalio/frontend-engineering

Fix CSS template in render route
  server/server/route/ui.go
Owners: @temporalio/frontend-engineering

Fix current details style
  src/lib/components/workflow/metadata/workflow-current-details.svelte
Owners: @rossedfort

Fix strict errors
  src/lib/components/workflow/metadata/workflow-current-details.svelte
Owners: @rossedfort

Add color styles to event history rows, add hover color on timeline spans, refactor to svelte5
  src/lib/components/event/event-styles.ts
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix type and remove unused classes
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
Owners: @rossedfort

Fix strict errors
  src/lib/components/lines-and-dots/constants.ts
  src/lib/utilities/pending-activities.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Fix type
  src/lib/components/lines-and-dots/constants.ts
Owners: @rossedfort

Add svelte-5 migration skill and migrate badge and chip
  skills/svelte-migrate/SKILL.md
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/holocene/badge.svelte
  src/lib/holocene/chip.stories.svelte
  src/lib/holocene/chip.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/chip-input.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Remove skills directory
  skills/svelte-migrate/SKILL.md
Owners: @temporalio/frontend-engineering

Add svelte-migrate skill
  .claude/skills/svelte-migrate/SKILL.md
  .gitignore
Owners: @temporalio/frontend-engineering

Fix story type check
  src/lib/holocene/badge.stories.svelte
  src/lib/holocene/chip.stories.svelte
Owners: @rossedfort

Event type colors in Event History, Timeline row hover (#3077)
  src/lib/components/event/event-styles.ts
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/pending-activities.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

add integration tests
  src/lib/components/standalone-activity-form/form.svelte
  src/lib/holocene/card.svelte
  tests/integration/start-standalone-activity.desktop.spec.ts
  tests/pages/start-standalone-activity.ts
Owners: @rossedfort, @temporalio/frontend-engineering

DT-3531 - start standalone activity (#3074)
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/standalone-activity-form/form.svelte
  src/lib/components/standalone-activity-form/types.ts
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/holocene/card.svelte
  src/lib/holocene/duration-input/duration-input.mdx
  src/lib/holocene/duration-input/duration-input.stories.svelte
  src/lib/holocene/duration-input/duration-input.svelte
  src/lib/holocene/icon/svg/activity.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/tab-buttons/tab-button.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/models/payload-encoding.ts
  src/lib/pages/activity-execution-details.svelte
  src/lib/pages/activity-executions.svelte
  src/lib/pages/start-activity-execution.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/standalone-activities.ts
  src/lib/services/workflow-service.ts
  src/lib/types/api.ts
  src/lib/types/index.ts
  src/lib/types/schedule.ts
  src/lib/utilities/encode-payload.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/start/+page.svelte
  tests/integration/start-standalone-activity.desktop.spec.ts
  tests/pages/start-standalone-activity.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Update skill
  .claude/skills/svelte-migrate/SKILL.md
Owners: @temporalio/frontend-engineering

Fix numbering
  .claude/skills/svelte-migrate/SKILL.md
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
