Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @feedmeapples, @robholland, @stevekinney

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                   @temporalio/frontend-engineering
/src/lib/holocene/  @rossedfort
/server/						@feedmeapples @robholland
*.go							  @feedmeapples @robholland
/src/lib/models     @stevekinney
/src/lib/services   @stevekinney
/src/lib/utilities  @stevekinney
/src/lib/stores     @stevekinney

Swap dataCy for testId in Holocene components
  src/lib/components/banner/banner-temporal-version.svelte
  src/lib/components/banner/banner-ui-version.svelte
  src/lib/components/banner/banner.svelte
  src/lib/components/dropdown-menu.svelte
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/filters/date-time-format.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/advanced-filter/custom-button.svelte
  src/lib/components/workflow/dropdown-filter/workflow-id.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/dropdown-filter/workflow-type.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/components/workflow/workflows-summary-table-with-filters.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/primitives/menu/menu-button.svelte
  src/lib/holocene/primitives/menu/menu-item.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/tab.svelte
  src/lib/holocene/table/bulk-action-button.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/pages/workflow-stack-trace.svelte
  src/routes/(login)/login/+page.svelte
  src/routes/(login)/signin/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Format files
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/models/event-history/get-event-classification.ts
  src/lib/models/event-history/simplify-attributes.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/is-event-type.ts
  src/lib/utilities/is.ts
  src/lib/utilities/omit.ts
Owners: @stevekinney

Remove `any` types from decode-payload.ts
  src/lib/utilities/decode-payload.ts
Owners: @stevekinney

Check to see if we're working with an array of payloads
  src/lib/services/query-service.ts
Owners: @stevekinney

Add payload type
  src/events.d.ts
  src/lib/services/data-converter.ts
  src/lib/services/data-encoder.ts
Owners: @temporalio/frontend-engineering, @stevekinney

Narrow type on isObject
  src/lib/utilities/is.ts
Owners: @stevekinney

prettier agian
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/models/event-history/get-event-classification.ts
  src/lib/models/event-history/simplify-attributes.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/is-event-type.ts
  src/lib/utilities/is.ts
  src/lib/utilities/omit.ts
Owners: @stevekinney
