Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

2.25.2
  package.json
Owners: @temporalio/frontend-engineering

2.25.2 (#1980)
  package.json
Owners: @temporalio/frontend-engineering

Remove unnecessary stroke from Icon
  src/lib/holocene/filter-or-copy-buttons.svelte
Owners: @rossedfort

remove unused components
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/nav-row.svelte
Owners: @rossedfort

update tab underline color (#1960)
  src/lib/holocene/tab/tab.svelte
Owners: @rossedfort

OAUTH Additional claims
  server/server/auth/oidc.go
Owners: @temporalio/frontend-engineering

fix auth for settings requests (#1973)
  src/lib/utilities/request-from-api.ts
  src/routes/(app)/+layout.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

add new icons
  src/lib/holocene/icon/svg/moon.svelte
  src/lib/holocene/icon/svg/sun.svelte
Owners: @rossedfort

Update version to v2.26.0
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Audit radio input (#1966)
  src/lib/holocene/radio-input/radio-input.stories.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Stop propagation of on click event on Menu component (#1976)
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Remove unnecessary stroke from Icon (#1981)
  src/lib/holocene/filter-or-copy-buttons.svelte
Owners: @rossedfort

update panel colors
  src/lib/components/panel.svelte
Owners: @rossedfort

Update version to v2.26.0 (#1982)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

fix classname for table-header in menu button
  src/lib/components/lines-and-dots/event-sort-filter.svelte
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

support oidc implicit flow
  package.json
  pnpm-lock.yaml
  server/config/development.yaml
  server/docker/README.md
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/auth.go
  server/server/config/config.go
  server/server/route/auth.go
  src/lib/components/top-nav.svelte
  src/lib/services/settings-service.ts
  src/lib/stores/auth-user.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/is-authorized.test.ts
  src/lib/utilities/is-authorized.ts
  src/lib/utilities/request-from-api.test.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Use attributes.activityId to associate pending activity to group
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/models/event-groups/index.ts
  src/lib/utilities/pending-activities.test.ts
  src/lib/utilities/pending-activities.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Clean up unnecessary pending activity code
  src/lib/components/lines-and-dots/constants.ts
  src/lib/utilities/pending-activities.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add utility to get associated pending activity using activityId and not event id (#1985)
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/models/event-groups/index.ts
  src/lib/utilities/pending-activities.test.ts
  src/lib/utilities/pending-activities.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Show tooltip of relative/local time on workflow start/end times
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/components/workflow/workflow-summary.svelte
Owners: @rossedfort

Show tooltip of relative/local time on workflow start/end times (#1986)
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/components/workflow/workflow-summary.svelte
Owners: @rossedfort

2.25.3
  package.json
Owners: @temporalio/frontend-engineering

2.25.3 (#1988)
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to 2.26.1
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to 2.26.1 (#1989)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Don't allow pointer events on hidden labels
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Don't allow pointer events on hidden labels (#1990)
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Audit various event summary row states
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Revert some changes
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/table/table.svelte
Owners: @rossedfort

Audit bulk action button
  src/lib/holocene/table/bulk-action-button.svelte
Owners: @rossedfort

Revert unnecessary hover changes
  src/lib/holocene/table/paginated-table.svelte
Owners: @rossedfort

Add dark mode styles to API pagination table (#1958)
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/table/bulk-action-button.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/holocene/table/table.svelte
Owners: @rossedfort

move error styling inside of panel styles
  src/lib/components/panel.svelte
Owners: @rossedfort

Update src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

change varient back to primary
  src/lib/components/lines-and-dots/event-sort-filter.svelte
Owners: @rossedfort

Update src/lib/holocene/pagination.svelte
  src/lib/holocene/pagination.svelte
Owners: @rossedfort

Update src/lib/theme/plugin.ts
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Update src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/select/simple-select.svelte
Owners: @rossedfort

Update src/lib/holocene/select/filter-select.svelte
  src/lib/holocene/select/filter-select.svelte
Owners: @rossedfort

update border to single px
  src/lib/holocene/select/simple-select.svelte
Owners: @rossedfort

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
