Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

fix(deployment-status): change tooltip position to topLeft
  src/lib/components/deployments/deployment-status.svelte
Owners: @rossedfort

remove padding
  src/lib/pages/deployment.svelte
Owners: @temporalio/frontend-engineering

add disabled state for standalone activities (#3122)
  src/lib/components/activity-execution/standalone-activities-disabled.svelte
  src/lib/components/activity-execution/standalone-activities-guard.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/types/index.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

design scrub
  src/lib/components/activity-execution/activity-execution-header.svelte
  src/lib/components/activity-execution/activity-execution-input-and-outcome.svelte
  src/lib/components/activity-execution/activity-execution-status.svelte
  src/lib/pages/activity-execution-details.svelte
  src/lib/services/standalone-activities.ts
  src/lib/utilities/activity-execution-poller.svelte.ts
  src/lib/utilities/route-for.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use a named function in effect
  src/lib/holocene/portal/portal.svelte
Owners: @rossedfort

[DT-3580] Add tooltips to worker deployment version status badges (#3119)
  src/lib/components/deployments/deployment-status.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/pages/deployment.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

fix i18n
  src/lib/components/activity-execution-form/form.svelte
  src/lib/components/activity-execution/activity-execution-actions.svelte
  src/lib/components/activity-execution/cancel-confirmation-modal.svelte
  src/lib/components/activity-execution/standalone-activities-disabled.svelte
  src/lib/components/activity-execution/terminate-confirmation-modal.svelte
  src/lib/components/activity/activities-summary-configurable-table.svelte
  src/lib/components/activity/activities-summary-configurable-table/table-empty-state.svelte
  src/lib/components/activity/start-activity-button.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/i18n/locales/en/standalone-activities.ts
  src/lib/layouts/activity-execution-layout.svelte
  src/lib/pages/activities-with-search.svelte
  src/lib/pages/saved-activity-views.svelte
  src/lib/pages/start-activity-execution.svelte
  src/lib/services/standalone-activities.ts
  src/lib/stores/saved-queries.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/start/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix poller
  src/lib/services/standalone-activities.ts
  src/lib/utilities/standalone-activity-poller.svelte.ts
Owners: @stevekinney, @Alex-Tideman

fix test
  src/lib/runes/workflow-versions.test.ts
Owners: @temporalio/frontend-engineering

fix test
  tests/integration/start-standalone-activity.spec.ts
  tests/test-utilities/mocks/namespace.ts
Owners: @temporalio/frontend-engineering

Add Portal component (#3107)
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/portal/portal-action.ts
  src/lib/holocene/portal/portal.stories.svelte
  src/lib/holocene/portal/portal.svelte
  src/lib/holocene/portal/portal.test.ts
  src/lib/holocene/portal/position-calculator.ts
  src/lib/holocene/portal/types.ts
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

Bump eslint and move to eslint.config file
  .eslintrc.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

feat(deployments): make build ID and deployment name copyable and filterable (#3121)
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Fix stylelint error for theme()
  .stylelintrc
Owners: @temporalio/frontend-engineering

Fix svelte/no-navigation-without-resolve
  src/lib/stores/schedules.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/update-query-parameters.ts
Owners: @stevekinney, @Alex-Tideman

Fix remaining errors
  eslint.config.js
  src/lib/components/side-nav.svelte
  src/lib/stores/configurable-table-columns.ts
  src/lib/utilities/omit.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Fix is defined but never used warnings
  dangerfile.ts
  scripts/count-strict-errors.ts
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/components/payload-input.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/task-queue-status.svelte
  src/lib/holocene/file-input.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/runes/inbound-nexus-links.svelte.ts
  src/lib/runes/workflow-versions.svelte.ts
  src/lib/services/events-service.ts
  src/lib/services/namespaces-service.ts
  src/lib/services/query-service.ts
  src/lib/services/workflow-counts.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/persist-store.ts
  src/lib/utilities/atob.ts
  src/lib/utilities/export-history.ts
  src/lib/utilities/get-workflow-relationships.ts
  src/lib/utilities/parse-with-big-int.ts
  src/lib/utilities/to-time-difference.ts
  src/routes/(app)/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Fix use of page.waitForSelector()
  tests/accessibility/empty-states.accessibility.spec.ts
  tests/accessibility/with-schedules.accessibility.spec.ts
  tests/accessibility/with-workflows.accessibility.spec.ts
  tests/integration/saved-query-views.spec.ts
  tests/integration/workflow-bulk-actions.spec.ts
  tests/integration/workflows-count.spec.ts
Owners: @temporalio/frontend-engineering

add alert for when no workers
  src/lib/components/standalone-activities/start-standalone-activity-form/form.svelte
  src/lib/layouts/standalone-activity-layout.svelte
  src/lib/pages/standalone-activity-workers.svelte
  src/lib/services/pollers-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Refactor portal to use attach
  src/lib/holocene/portal/portal.svelte
Owners: @rossedfort

Refactor to use on in portal
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/portal/portal.svelte
Owners: @rossedfort

Refactor to use on in outside-click
  src/lib/holocene/outside-click.ts
Owners: @rossedfort

add legacy fallback
  src/lib/services/workflow-counts.ts
  src/lib/utilities/handle-error.ts
Owners: @stevekinney, @Alex-Tideman

Fix icon sizing for real
  src/lib/holocene/icon/svg/collapse.svelte
Owners: @rossedfort

Remove double logo and import
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Fix folders icon sizing
  src/lib/holocene/icon/svg/folders.svelte
Owners: @rossedfort

Fix key icon sizing
  src/lib/holocene/icon/svg/key.svelte
Owners: @rossedfort

404 standalone activities for now
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/+layout.ts
  tests/integration/start-standalone-activity.spec.ts
Owners: @temporalio/frontend-engineering

Fix sizing on identities and key icons
  src/lib/holocene/icon/svg/identities.svelte
  src/lib/holocene/icon/svg/key.svelte
Owners: @rossedfort

nav padding
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Add isPaused to WorkflowExecution
  src/lib/components/workflow-actions.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/models/workflow-execution.ts
  src/lib/models/workflow-status.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Refetch workflow on pause and unpause
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/components/activity/activity-pause-confirmation-modal.svelte
  src/lib/components/activity/activity-reset-confirmation-modal.svelte
  src/lib/components/activity/activity-unpause-confirmation-modal.svelte
  src/lib/components/data-encoder-settings.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/pause-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/unpause-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/workflow-actions.ts
  src/lib/pages/workflow-call-stack.svelte
  src/lib/services/events-service.ts
  src/lib/stores/events.ts
  src/lib/stores/workflow-run.ts
  src/lib/utilities/workflow-actions.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Disable update when paused and disable pause when delayed
  src/lib/components/workflow-actions.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

refetch activity after terminate and cancel
  src/lib/components/standalone-activities/activity-actions.svelte
  src/lib/utilities/standalone-activity-poller.svelte.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

add search attributes for filters
  src/lib/pages/standalone-activities.svelte
Owners: @temporalio/frontend-engineering

fix duration input dark mode
  src/lib/holocene/duration-input/duration-input.svelte
Owners: @rossedfort

add fallback values for activity header
  src/lib/components/detail-list/detail-list-timestamp-value.svelte
  src/lib/components/standalone-activities/activity-header.svelte
Owners: @rossedfort

feat: add long-term caching for immutable assets
  src/hooks.server.test.ts
  src/hooks.server.ts
Owners: @temporalio/frontend-engineering

remove postscss
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-body-cell.svelte
Owners: @rossedfort

add storybook test case for code block scrolling
  src/lib/holocene/code-block.stories.svelte
Owners: @rossedfort
