Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

first attempt at empty state
  src/lib/holocene/empty-state.svelte
Owners: @rossedfort

update alert
  src/lib/holocene/alert.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update groupDisplay tests and include Local Activity
  src/lib/models/event-groups/group-events.test.ts
Owners: @stevekinney, @Alex-Tideman

Make codeblocks in 2 column grid, fix details height, clean up and refactor
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/text-link.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/stores/active-events.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

update story book to what user might actually see
  src/lib/holocene/input/number-input.stories.svelte
Owners: @rossedfort

update number input
  src/lib/holocene/input/number-input.svelte
Owners: @rossedfort

update unit colors
  src/lib/holocene/input/number-input.svelte
Owners: @rossedfort

More refactoring
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/stores/active-events.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Better spacing for details
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Better codeblock heights
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
Owners: @rossedfort

first attempt at empty state (#1950)
  src/lib/holocene/empty-state.svelte
Owners: @rossedfort

Audit alert (#1951)
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/alert.stories.svelte
  src/lib/holocene/alert.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

add check box colors
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

add Alex's changes to nav styles
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/nav-row.svelte
Owners: @rossedfort

fix colors on alert component
  src/lib/holocene/alert.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

fix colors on alert component (#1953)
  src/lib/holocene/alert.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add icon to Text, add title to details with status and duration
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/end-time-interval.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix gradient on skeleton loader for light mode
  src/lib/holocene/skeleton/index.svelte
Owners: @rossedfort

Fix gradient on skeleton loader for light mode (#1954)
  src/lib/holocene/skeleton/index.svelte
Owners: @rossedfort

Set border even when not checked or on hover
  src/lib/holocene/radio-input/radio-input.svelte
Owners: @rossedfort

More cleanup on history graph row
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/stores/active-events.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Set border even when not checked or on hover (#1955)
  src/lib/holocene/radio-input/radio-input.svelte
Owners: @rossedfort

Virtualize history rows by index, make history width responsive
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Use eventTypeView for view
  src/lib/components/lines-and-dots/constants.ts
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/types/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Clean up styles for date picker for dark and light mode
  src/lib/holocene/calendar.svelte
Owners: @rossedfort

Add unit tests for textPosition
  src/lib/components/lines-and-dots/constants.test.ts
Owners: @rossedfort

add batch reset
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-operation-confirmation-form.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/table/bulk-action-button.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/i18n/translate.svelte
  src/lib/i18n/translate.ts
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/batch-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

clean up
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-operation-confirmation-form.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
Owners: @rossedfort

fix incorrect placeholder
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
Owners: @rossedfort

Add tokens to highlight rule and clean up unused vars
  src/lib/holocene/calendar.svelte
Owners: @rossedfort

Fix border and dark mode bg color on date picker
  src/lib/holocene/date-picker.svelte
Owners: @rossedfort

fix tests
  src/lib/i18n/translate.test.ts
  tests/integration/workflow-bulk-actions.spec.ts
Owners: @temporalio/frontend-engineering

Get scroll working almost. Need to fix scolling up after jump to bottom
  pnpm-lock.yaml
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/stores/active-events.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Reset startIndex to 0, fix rerendering of timeline when group updates
  src/lib/components/lines-and-dots/constants.test.ts
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/stores/active-events.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add status to details row
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
Owners: @rossedfort

4 col grid for codeblock attributes
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
Owners: @rossedfort

Better colors
  src/lib/components/lines-and-dots/constants.ts
Owners: @rossedfort

Add html for the details text for responsiveness
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/models/event-groups/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix status update
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
Owners: @rossedfort

Initial styling to paginated table
  src/lib/holocene/table/paginated-table.svelte
Owners: @rossedfort
