Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Update from freeze to auto refresh
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Migrate to svelte 5
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Remove postcss and use twMerge
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Fix strict errors
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

fix(auth): prevent breaking changes in token validation and error handling
  server/server/auth/auth.go
  server/server/auth/auth_test.go
  server/server/route/ui.go
  src/lib/utilities/handle-error.test.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/request-from-api.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix(auth): fix nil deref in SetUser, harden refresh endpoint security
  server/server/auth/auth.go
  server/server/route/auth.go
Owners: @temporalio/frontend-engineering

fix(auth): clear session_start on logout, remove dead routeForSsoRedirect
  server/server/route/auth.go
  src/lib/utilities/route-for.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

chore: stop tracking .claude/settings.local.json
  .claude/settings.local.json
Owners: @temporalio/frontend-engineering

chore: remove planning docs from repo, moved to local docs/
  ARCHITECTURE_REFACTOR_TODO.md
  AUTHENTICATION.md
  SECURITY_REFACTOR_PLAN.md
  TESTING_TOKEN_REFRESH.md
Owners: @temporalio/frontend-engineering

fix(auth): restore dynamic refresh token cookie lifetime
  REVIEW_SUMMARY.md
  server/server/auth/auth.go
Owners: @temporalio/frontend-engineering

fix: prevent 'No Workers Running' flash during workflow load (#3131)
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/stores/workflow-run.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Auto refresh UI update (#3137)
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

chore: bump version to 2.45.1
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add logo back
  src/lib/holocene/navigation/oss-nav-bar.svelte
Owners: @rossedfort

Fix font and logo
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
Owners: @rossedfort

Add logo back (#3142)
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Fix indentation and conditionally render logo
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Fix logo in Cloud
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Fix logo in Cloud (#3144)
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

chore: bump version to 2.45.2
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

fix(nav): restore cloud navigation width and version positioning
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

fix(nav): use min-h-full to properly position version at bottom
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

refactor(nav): restructure cloud-nav-bar to fix version positioning
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

fix(nav): add conditional rendering for subtitle to prevent empty h2
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

docs: add skill for local UI package testing in cloud-ui
  .claude/skills/install-local-ui-in-cloud.md
Owners: @temporalio/frontend-engineering

docs: emphasize cloud-ui changes are local-only and should not be committed
  .claude/skills/install-local-ui-in-cloud.md
Owners: @temporalio/frontend-engineering

fix(nav): remove self-start from collapse button
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

fix(nav): remove px-2 padding from cloud nav header
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

fix(nav): restore cloud navigation width and version positioning (#3147)
  .claude/skills/install-local-ui-in-cloud.md
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Refactor to use on from svelte/events (#3126)
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/outside-click.ts
  src/lib/holocene/portal/portal.svelte
Owners: @rossedfort

Fix subtitle size and padding on proj nav
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

feat(workflow): split Event History into Timeline and Event History tabs
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/utilities/event-filter-params.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/timeline/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

refactor(routing): add archival support to routeForTimeline
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/utilities/route-for.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

feat(workflow): update navigation links to land on Timeline tab
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/live-child-workflows-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-nexus-links.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

test: update workflow-event-history tests for split tabs
  tests/integration/workflow-event-history.spec.ts
Owners: @temporalio/frontend-engineering

feat(workflow): add InputAndResults back to Timeline and Event History tabs
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  tests/integration/workflow-event-history.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

refactor(workflow-history): replace type assertion with type guard
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

refactor(workflow-history): improve Event History layout spacing
  .serena/project.yml
  src/lib/components/event/event-summary-table.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

format
  .serena/project.yml
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Switch conditional to twMerge conditional
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
