Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Wire up create/edit/delete services
  src/lib/i18n/locales/en/nexus.ts
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/pages/nexus-form.svelte
  src/lib/pages/nexus-view.svelte
  src/lib/services/nexus-service.ts
  src/lib/types/api.ts
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add my to preview
  src/lib/holocene/markdown.svelte
Owners: @rossedfort

Add load functions to fetch nexus data, refactor to form
  go.work.sum
  server/go.mod
  server/go.sum
  src/lib/holocene/ghost-card.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-form.svelte
  src/lib/services/nexus-service.ts
  src/lib/types/api.ts
  src/lib/types/nexus.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/+page.ts
  src/routes/(app)/nexus/[id]/+layout.ts
  src/routes/(app)/nexus/[id]/+page.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

WIP: empty state nexus
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/services/nexus-service.ts
  src/lib/vendor/andromeda.png
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/+page.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

PNPM i
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Empty state for Nexus
  src/lib/pages/nexus-empty-state.svelte
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/+page.ts
Owners: @temporalio/frontend-engineering

Fix more types, add namespace list, fix navItem guard, WIP on search of endpoints
  src/lib/components/side-nav.svelte
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/nexus-form.svelte
  src/lib/types/index.ts
  src/lib/types/nexus.ts
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add consolelog
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering

Use ?json param to display raw event history json
  src/lib/layouts/workflow-run-layout.svelte
Owners: @temporalio/frontend-engineering

Show raw json of workflow, pollers and event history
  src/lib/layouts/workflow-run-layout.svelte
Owners: @temporalio/frontend-engineering

Get descending event history in labs mode
  src/lib/components/event/event-summary.svelte
  src/lib/stores/events.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add nexusGuard
  src/lib/components/nexus-guard.svelte
  src/lib/components/side-nav.svelte
  src/lib/stores/capability-enablement.ts
  src/routes/(app)/nexus/+layout.svelte
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add guard, fix layouts, dont set descriptions for now
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/nexus-form.svelte
  src/lib/services/nexus-service.ts
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/+page.ts
  src/routes/(app)/nexus/[id]/+layout.ts
  src/routes/(app)/nexus/[id]/+page.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update compatibility badge colors
  src/lib/holocene/compatibility-badge.svelte
Owners: @rossedfort

Add copy button and support bigInt
  src/lib/layouts/workflow-run-layout.svelte
Owners: @temporalio/frontend-engineering

Update badge colors
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/workflow-status.svelte
  src/lib/holocene/badge.svelte
Owners: @rossedfort

Remove unused get-row-display utils
  src/lib/utilities/get-row-display.ts
Owners: @stevekinney, @Alex-Tideman

Use translation, better var name, break-words
  src/lib/layouts/workflow-run-layout.svelte
Owners: @temporalio/frontend-engineering

Print raw json (#2171)
  src/lib/layouts/workflow-run-layout.svelte
Owners: @temporalio/frontend-engineering

Bump api version, add isCloud, disable name, add MultiSelect with IsOSSGuard
  go.work.sum
  package.json
  server/go.mod
  server/go.sum
  src/lib/holocene/markdown.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add fire hydrant icon
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/fire-hydrant.svelte
Owners: @rossedfort

Keep nav gradient in dark and light mode for Cloud
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Bump api to v1.35.0 for nexus
  go.work.sum
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Add PillContainer component (#2168)
  src/lib/components/event/event-detail-pills.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/pill.svelte
  src/lib/holocene/pill-container/pill-container.stories.svelte
  src/lib/holocene/pill-container/pill-container.svelte
  src/lib/holocene/pill-container/pill.svelte
Owners: @rossedfort

UI updates for Cloud (#2173)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/fire-hydrant.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Update badge colors (#2172)
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/workflow-status.svelte
  src/lib/holocene/badge.svelte
  src/lib/holocene/compatibility-badge.svelte
  src/lib/utilities/get-row-display.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Remove api/v1 prefix and set new API route groups
  pnpm-lock.yaml
  server/server/csrf/skipper_test.go
  server/server/route/api.go
  src/lib/services/batch-service.test.ts
  src/lib/services/namespaces-service.test.ts
  src/lib/services/workflow-service.test.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
  tests/accessibility/empty-states.accessibility.spec.ts
  tests/accessibility/network-requests/empty-states.har
  tests/accessibility/network-requests/with-schedules.har
  tests/accessibility/network-requests/with-workflows.har
  tests/accessibility/with-schedules.accessibility.spec.ts
  tests/accessibility/with-workflows.accessibility.spec.ts
  tests/test-utilities/mocks/batch-operations.ts
  tests/test-utilities/mocks/cluster.ts
  tests/test-utilities/mocks/event-history.ts
  tests/test-utilities/mocks/namespace.ts
  tests/test-utilities/mocks/namespaces.ts
  tests/test-utilities/mocks/query.ts
  tests/test-utilities/mocks/schedules.ts
  tests/test-utilities/mocks/search-attributes.ts
  tests/test-utilities/mocks/settings.ts
  tests/test-utilities/mocks/system-info.ts
  tests/test-utilities/mocks/task-queues.ts
  tests/test-utilities/mocks/workflow.ts
  tests/test-utilities/mocks/workflows-count.ts
  tests/test-utilities/mocks/workflows.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use single gRPC connection
  server/server/api/handler.go
  server/server/route/api.go
Owners: @temporalio/frontend-engineering

Fix cluster api mock routes
  tests/integration/storageState.json
  tests/test-utilities/mocks/namespace.ts
  tests/test-utilities/mocks/namespaces.ts
  tests/test-utilities/mocks/search-attributes.ts
Owners: @temporalio/frontend-engineering

Update @grpc/grpc-js in package.json
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

2.27.11
  package.json
Owners: @temporalio/frontend-engineering

Update fire extinguisher icon
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/fire-extinguisher.svelte
  src/lib/holocene/icon/svg/fire-hydrant.svelte
Owners: @rossedfort

bump version in package.json to v2.27.11 (#2175)
  package.json
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/fire-extinguisher.svelte
  src/lib/holocene/icon/svg/fire-hydrant.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Fix boolean check
  src/lib/utilities/workflow-create-disabled.ts
Owners: @stevekinney, @Alex-Tideman

Add if statement to workflow-actions
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

Fix workflow start disabled check (#2176)
  src/lib/components/workflow-actions.svelte
  src/lib/utilities/workflow-create-disabled.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

2.27.12
  package.json
Owners: @temporalio/frontend-engineering

2.27.12 (#2177)
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to v2.28.0
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Use blue-300 for running
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/workflow-status.svelte
Owners: @rossedfort
