Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Remove ternary and use and instead for active class
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/day-of-week-picker.svelte
  src/lib/holocene/month-picker.svelte
Owners: @rossedfort

Delete snapshot tests
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/table-body-cell.test.ts
  src/lib/components/workflow/workflows-summary-configurable-table/tests/table-header-cell.test.ts
Owners: @rossedfort

Kebab case colors
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/calendar.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/toggle-switch.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/theme/colors.ts
  src/lib/theme/variables.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Keep Button border as 2px on focus
  src/lib/holocene/button.svelte
Owners: @rossedfort

Add caret-danger to plugin
  src/lib/holocene/input/input.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add HideLogs environment variable
  server/docker/config-template.yaml
  server/server/config/config.go
Owners: @temporalio/frontend-engineering

Add local-temporal command
  .env.local-temporal
  README.md
  package.json
  plugins/vite-plugin-ui-server.ts
Owners: @temporalio/frontend-engineering

Update github actions to use github app token. Attemp 1
  .github/workflows/bump-package-version.yml
  .github/workflows/publish-package.yml
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

2.27.6
  package.json
Owners: @temporalio/frontend-engineering

2.27.6 (#2122)
  package.json
Owners: @temporalio/frontend-engineering

Add href prop to combobox for link button
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/external-link.svelte
Owners: @rossedfort

Update side nav focus styles
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update heart beat indicator color
  src/lib/components/heart-beat-indicator.svelte
Owners: @rossedfort

Subtle border, better path, disable link if no namespace
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon/svg/external-link.svelte
Owners: @rossedfort

Add local-temporal command (#2120)
  .env.local-temporal
  README.md
  package.json
  plugins/vite-plugin-ui-server.ts
Owners: @temporalio/frontend-engineering

Update SideNavigation component (#2124)
  src/lib/components/heart-beat-indicator.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add timezoneName to schedule spec with default of UTC
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update version.go to v2.27.2
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.27.2 (#2126)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Use translate for timezones
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedules-table-row.svelte
Owners: @rossedfort

Link to namespace in Namespace sticky nav (#2123)
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/external-link.svelte
Owners: @rossedfort

Set input on edit
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/stores/schedules.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add onDecode prop
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
Owners: @rossedfort

add filtering to api pagination
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

WIP: Vertical compact. Figuring out expanding groups
  src/lib/components/lines-and-dots/svg/vertical-compact-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix expanded heights, positioning
  src/lib/components/lines-and-dots/svg/vertical-compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/vertical-compact-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix css classes
  src/lib/components/workflow/start-workflow-input-upload.svelte
Owners: @rossedfort

add docs to side nav
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/i18n/locales/en/common.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

add docs to side nav (#2131)
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/i18n/locales/en/common.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update running color
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/workflow-status.svelte
Owners: @rossedfort

Update scheduled color
  src/lib/components/workflow-status.svelte
Owners: @rossedfort

Update completed and open color
  src/lib/components/workflow-status.svelte
Owners: @rossedfort

Update new and initiated color
  src/lib/components/workflow-status.svelte
Owners: @rossedfort

add filtering to api pagination (#2130)
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

missed PR feedback
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

fix workflow reset button disabled logic
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

move docs link
  src/lib/components/side-nav.svelte
Owners: @rossedfort

use cloud guard
  src/lib/components/side-nav.svelte
Owners: @rossedfort

DT-2179 - fix wf reset button & other fixes (#2133)
  src/lib/components/side-nav.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

Add timezoneName to schedule spec with default of UTC (#2127)
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/stores/schedules.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
