Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Fix and always show expand icon (#2953)
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
Owners: @rossedfort

Show workflow error alert for workflow task timed out events (#2947)
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/i18n/locales/en/typed-errors.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/types/workflows.ts
  src/lib/utilities/get-workflow-task-failed-event.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

SVG loading
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/holocene/loading.stories.svelte
  src/lib/holocene/loading.svelte
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/vendor/Temporal_Logo_Animation.mp4
  src/lib/vendor/Temporal_Logo_Animation.webm
Owners: @rossedfort, @temporalio/frontend-engineering

fix: remove unused temporal_auth imports and clean up Dockerfile
  CLEAN_IMPLEMENTATION_SUMMARY.md
  server/server/auth/auth.go
  src/lib/stores/auth-user.ts
  src/lib/utilities/permissions.ts
  src/lib/utilities/workflow-terminate-enabled.ts
  static/version.js
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add randomUUID polyfill (#2952)
  src/hooks.client.ts
Owners: @temporalio/frontend-engineering

Use reset confirmation modal on resetting event
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/is-event-type.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

style number input to match input
  src/lib/holocene/input/number-input.svelte
Owners: @rossedfort

refactor(forms): migrate search attributes and codec server forms to functional pattern
  src/lib/components/api-error.svelte
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/codec-server-form-skeleton.svelte
  src/lib/components/codec-server-form/codec-server-form.mdx
  src/lib/components/codec-server-form/codec-server-form.stories.svelte
  src/lib/components/codec-server-form/codec-server-form.svelte
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/form/form-error.svelte
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/default-adapter.svelte.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.mdx
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/utilities/api-error-handler.ts
  src/routes/(app)/namespaces/[namespace]/codec-server/+page.svelte
  src/routes/(app)/namespaces/[namespace]/search-attributes/+page.svelte
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

feat: add configurable props to codec server and search attributes forms
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/codec-server-form.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/routes/(app)/namespaces/[namespace]/codec-server/+page.svelte
  src/routes/(app)/namespaces/[namespace]/search-attributes/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

feat: add default reset behavior for cancel button
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
Owners: @rossedfort

feat(codec-server-form): add title and description to form card
  src/lib/components/codec-server-form/codec-server-form-content.svelte
Owners: @rossedfort

fix: make codec server URL optional
  src/lib/components/codec-server-form/codec-server-form-content.svelte
Owners: @rossedfort

refactor(forms): migrate search attributes and codec server forms to functional pattern (#2919)
  src/lib/components/api-error.svelte
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/codec-server-form-skeleton.svelte
  src/lib/components/codec-server-form/codec-server-form.mdx
  src/lib/components/codec-server-form/codec-server-form.stories.svelte
  src/lib/components/codec-server-form/codec-server-form.svelte
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/form/form-error.svelte
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/default-adapter.svelte.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.mdx
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/utilities/api-error-handler.ts
  src/routes/(app)/namespaces/[namespace]/search-attributes/+page.svelte
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

More layout changes, get it working for demo
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/workflow-comparison-view.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-comparison-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

style number input to match input (#2960)
  src/lib/holocene/input/number-input.svelte
Owners: @rossedfort

Add catchup window under advanced settings on schedule details
  src/lib/components/schedule/schedule-advanced-settings.svelte
  src/lib/i18n/locales/en/schedules.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add additional policies under advanced settings on schedule details
  src/lib/components/schedule/schedule-advanced-settings.svelte
  src/lib/i18n/locales/en/schedules.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add w-full to menu
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Use workflowExecutionStarted eventTime if before workflow executionTime
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Remove unnecessary dup time
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Add taskFailure icon to Running, fix the initial fetch, handoff-able
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/saved-query-views.svelte
  src/lib/services/workflow-counts.ts
  src/lib/stores/saved-queries.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/task-failure-workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

TLS Setup for temporal.
  tls/01-init-temporal.sh
  tls/README.md
  tls/certs/ca.crt
  tls/certs/ca.key
  tls/certs/ca.srl
  tls/certs/client.crt
  tls/certs/client.csr
  tls/certs/client.ext
  tls/certs/client.key
  tls/certs/server.crt
  tls/certs/server.csr
  tls/certs/server.ext
  tls/certs/server.key
  tls/config/config-template.yaml
  tls/config/docker-minimal.yaml
  tls/config/docker.yaml
  tls/config/dynamicconfig/development-sql.yaml
  tls/config/temporal-server-config-simple.yaml
  tls/config/temporal-server-config.yaml
  tls/docker-compose-server-tls-proper.yaml
  tls/docker-compose-simple.yaml
  tls/setup-temporal-tls.sh
  tls/test-server-tls.sh
Owners: @temporalio/frontend-engineering

Add README for Temporal TLS setup instructions
  tls/Readme.md
Owners: @temporalio/frontend-engineering

Try some refresh logic
  server/server/auth/auth.go
  server/server/route/auth.go
  src/lib/utilities/auth-refresh.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Better naming
  src/lib/utilities/request-from-api.ts
Owners: @stevekinney, @Alex-Tideman

Add support for massive json folding
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Small items array
  src/lib/holocene/code-block.stories.svelte
Owners: @rossedfort

Fix story to not max out
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Remove comment
  src/lib/holocene/code-block.stories.svelte
Owners: @rossedfort

Allow folding of JSON on very large JSON trees (#2967)
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Show all structured calendars or intervals in schedule spec
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

add unique attributes to event details components
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Use WorkflowExecutionStarted eventTime if before workflow executionTime (#2963)
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Add w-full to menu (#2962)
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Show all structured calendars or intervals in schedule spec (#2968)
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Show false for policies
  src/lib/components/schedule/schedule-advanced-settings.svelte
Owners: @rossedfort

Add catchup window to schedule details (#2961)
  src/lib/components/schedule/schedule-advanced-settings.svelte
  src/lib/i18n/locales/en/schedules.ts
Owners: @rossedfort, @temporalio/frontend-engineering

add unique attributes to event details components (#2969)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

feat(oidc-server): implement OIDC provider server with CLI script
  .env.with-auth
  package.json
  plugins/vite-plugin-oidc-server.ts
  plugins/vite-plugin-temporal-server.ts
  plugins/vite-plugin-ui-server.ts
  pnpm-lock.yaml
  scripts/start-oidc-server.ts
  server/config/with-auth.yaml
  server/server/route/auth.go
  temporalio-ui-2.37.0.tgz
  utilities/oidc-server/README.md
  utilities/oidc-server/config.ts
  utilities/oidc-server/index.ts
  utilities/oidc-server/routes/express.ts
  utilities/oidc-server/server.test.ts
  utilities/oidc-server/server.ts
  utilities/oidc-server/support/account.ts
  utilities/oidc-server/support/configuration.ts
  utilities/oidc-server/test-server.ts
  utilities/oidc-server/views/_layout.ejs
  utilities/oidc-server/views/interaction.ejs
  utilities/oidc-server/views/login.ejs
  utilities/ui-server.ts
  vite.config.ts
  vitest.config.ts
Owners: @temporalio/frontend-engineering

feat(auth): implement OAuth2 token refresh with JWT validation
  .editorconfig
  .tool-versions
  TESTING_TOKEN_REFRESH.md
  pnpm-lock.yaml
  server/config/with-auth.yaml
  server/go.mod
  server/go.sum
  server/server/auth/auth.go
  server/server/route/auth.go
  src/lib/utilities/auth-refresh.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for.ts
  utilities/oidc-server/routes/express.ts
  utilities/oidc-server/server.test.ts
  utilities/oidc-server/support/configuration.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
