Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Update Banner component
  src/lib/holocene/banner/banner.svelte
Owners: @rossedfort

Show codec server error in banner
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/top-nav.svelte
Owners: @rossedfort

Update existing Banner
  src/lib/holocene/banner/banner.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Show error banner or settings banner
  src/lib/components/top-nav.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Make code block input selectable and move styles so that outer div isn't visible but is reactive
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Revert changes
  src/lib/holocene/code-block.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Make outline less weird
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Test
  src/lib/holocene/code-block.svelte
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Update src/lib/holocene/api-pagination.svelte
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

Codec Server error banner (#2394)
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/banner/banner.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove logic for WorkflowUpdate to find corresponding initial event, add Nexus operation events to failed/timedout/canceled
  src/lib/models/event-groups/create-event-group.test.ts
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/get-event-in-group.ts
  src/lib/models/event-groups/get-group-name.ts
  src/lib/models/event-groups/index.ts
Owners: @stevekinney, @Alex-Tideman

Add edit button for input value and encoding
  src/lib/components/payload-input.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
Owners: @rossedfort

Remove logic for WorkflowUpdate to find corresponding initial event, add Nexus operation events to failed/timedout/canceled (#2397)
  src/lib/models/event-groups/create-event-group.test.ts
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/get-event-in-group.ts
  src/lib/models/event-groups/get-group-name.ts
  src/lib/models/event-groups/index.ts
Owners: @stevekinney, @Alex-Tideman

2.32.1
  package.json
Owners: @temporalio/frontend-engineering

Create CodecServerErrorBanner component
  src/lib/components/codec-server-error-banner.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix loading state to not flash, set delay to 2 seconds
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Fix loading state to not flash, set delay to 2 seconds (#2400)
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Make workflow action menu smaller on small screens
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

Make workflow action menu smaller on small screens (#2401)
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

Add toast instead of redirect on start workflow with link to workflow
  src/lib/holocene/toaster.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/types/holocene.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Create CodecServerErrorBanner component (#2399)
  src/lib/components/codec-server-error-banner.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Keep error alert
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Add new responsive styles to input on api pagination (#2333)
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

Add toast instead of redirect on Start Workflow with link to workflow (#2402)
  src/lib/holocene/toaster.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/types/holocene.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

2.32.2
  package.json
Owners: @temporalio/frontend-engineering

Don't omit header attribute on event details (#2371)
  src/lib/utilities/format-event-attributes.test.ts
  src/lib/utilities/format-event-attributes.ts
Owners: @stevekinney, @Alex-Tideman

Don't use translation for default schedule column names
  src/lib/stores/configurable-table-columns.ts
Owners: @stevekinney, @Alex-Tideman

Don't use translation for default schedule column names (#2404)
  src/lib/stores/configurable-table-columns.ts
Owners: @stevekinney, @Alex-Tideman

Remove electron stuff
  src/lib/components/workflow/workflow-atom.svelte
  src/lib/components/workflow/workflow-electron.svelte
Owners: @rossedfort

Move file input to same line as data
  src/lib/components/payload-input.svelte
Owners: @rossedfort

Add FileInput story
  src/lib/holocene/file-input.stories.svelte
Owners: @rossedfort

Encode header fields if they exist on schedule edit
  src/lib/stores/schedules.ts
Owners: @stevekinney, @Alex-Tideman

Add try catch for header fields encoding
  src/lib/stores/schedules.ts
Owners: @stevekinney, @Alex-Tideman

Encode header fields if they exist on schedule edit (#2405)
  src/lib/stores/schedules.ts
Owners: @stevekinney, @Alex-Tideman

2.32.3
  package.json
Owners: @temporalio/frontend-engineering

Refactor PayloadInput to separate encoding
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/payload-input.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/start-workflow.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add Query Args input
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-query.svelte
  src/lib/services/query-service.ts
  src/lib/utilities/encode-payload.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix SimpleSelect props
  src/lib/holocene/select/filter-select.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/i18n/locales/en/common.ts
  src/routes/(app)/namespaces/[namespace]/archival/_workflow-filters.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove unused toggleLabel prop in Combobox
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/pages/nexus-form.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Use attempt versus retry
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Owners: @rossedfort
