Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Use filter icon and Show Filters text
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Workflow Filter Options (#2546)
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/index.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/orderable-list.svelte
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/namespace-url-pattern.ts
  tests/e2e/workflows-summary-table-configuration.spec.ts
  tests/integration/workflow-bulk-actions.spec.ts
  tests/integration/workflows-count.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add custom --color-surface-code-block
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
  src/lib/vendor/codemirror/theme.ts
Owners: @temporalio/frontend-engineering

Fix event details row code block
  src/lib/components/event/event-details-row.svelte
Owners: @rossedfort

Add Schedules cron string description (#2549)
  src/lib/components/event/event-details-row.svelte
  src/lib/components/schedule/schedule-day-of-month-view.svelte
  src/lib/components/schedule/schedule-day-of-week-view.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/schedule/schedules-time-view.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix responsiveness of cron string example
  src/lib/components/schedule/schedules-calendar-view.svelte
Owners: @rossedfort

Fix responsiveness of cron string example (#2552)
  src/lib/components/schedule/schedules-calendar-view.svelte
Owners: @rossedfort

Update version.go to v2.35.0
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Finish deployment and deployment version pages
  src/lib/components/deployments/deployment-details.svelte
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/components/deployments/task-queue-table-row.svelte
  src/lib/components/deployments/version-details.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/pages/deployment-version.svelte
  src/lib/pages/deployments.svelte
  src/lib/services/deployments-service.ts
  src/lib/types/api.ts
  src/lib/types/deployments.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/version/[version]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update version.go to v2.35.0 (#2553)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add trending icon
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/trending.svelte
  src/lib/pages/deployment-version.svelte
  src/lib/services/deployments-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix connection icon
  src/lib/holocene/icon/svg/connection.svelte
Owners: @rossedfort

Fix connection icon (#2554)
  src/lib/holocene/icon/svg/connection.svelte
Owners: @rossedfort

2.34.12
  package.json
Owners: @temporalio/frontend-engineering

Account for cloud namespace names
  src/lib/utilities/namespace-url-pattern.ts
Owners: @stevekinney, @Alex-Tideman

Account for cloud namespace names (#2557)
  src/lib/utilities/namespace-url-pattern.ts
Owners: @stevekinney, @Alex-Tideman

2.34.13
  package.json
Owners: @temporalio/frontend-engineering

Check for potentially null endpoint in trimTrailingSlash
  src/lib/components/data-encoder-settings.svelte
  src/lib/stores/data-encoder-config.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Check for potentially null endpoint in trimTrailingSlash (#2559)
  src/lib/components/data-encoder-settings.svelte
  src/lib/stores/data-encoder-config.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Finish deployment and deployment version pages
  src/lib/components/deployments/deployment-details.svelte
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/components/deployments/task-queue-table-row.svelte
  src/lib/components/deployments/version-details.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/pages/deployment-version.svelte
  src/lib/pages/deployments.svelte
  src/lib/services/deployments-service.ts
  src/lib/types/api.ts
  src/lib/types/deployments.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/version/[version]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

More setup, add individual deployment page. WIP
  src/lib/components/deployments/deployment-details.svelte
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/services/deployments-service.ts
  src/lib/types/api.ts
  src/lib/types/deployments.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add trending icon
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/trending.svelte
  src/lib/pages/deployment-version.svelte
  src/lib/services/deployments-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Bump api version, add new page for deployments. WIP
  server/go.mod
  server/go.sum
  src/lib/pages/deployments.svelte
  src/lib/types/deployments.ts
  src/routes/(app)/deployments/+page.svelte
Owners: @temporalio/frontend-engineering

Only query workflow metadata for running workflows
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/stores/workflow-run.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove space
  src/lib/pages/workflow-call-stack.svelte
Owners: @temporalio/frontend-engineering

Add query details button if running
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/holocene/accordion/accordion-light.svelte
Owners: @rossedfort

Use update details
  src/lib/components/workflow/metadata/workflow-current-details.svelte
Owners: @rossedfort

Translate
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add css to go renderer, always show Current Details accordion
  server/server/route/ui.go
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add bi-di link to timeline info
  server/go.mod
  server/go.sum
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Refactor based on updates, set no current details in api call, remove button, better padding
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/query-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Switch to text-secondary instead of text-subtle
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
Owners: @rossedfort

Only query workflow metadata for running workflows (#2560)
  server/server/route/ui.go
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/query-service.ts
  src/lib/stores/workflow-run.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Consistent styles for link
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
Owners: @rossedfort

use maxlength instead
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Fix pending activities empty state check
  src/lib/pages/workflow-pending-activities.svelte
Owners: @temporalio/frontend-engineering

Add bi-directional links to Timeline info (#2561)
  server/go.mod
  server/go.sum
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/pages/workflow-pending-activities.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

2.35.0
  package.json
Owners: @temporalio/frontend-engineering

Set empty current details on error as well to prevent overfetching
  src/lib/services/query-service.ts
Owners: @stevekinney, @Alex-Tideman

Set empty current details on error as well to prevent overfetching (#2564)
  src/lib/services/query-service.ts
Owners: @stevekinney, @Alex-Tideman
