Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Spell github correctly
  playwright.config.ts
Owners: @temporalio/frontend-engineering

Try again
  playwright.config.ts
Owners: @temporalio/frontend-engineering

Try more workers?
  playwright.config.ts
Owners: @temporalio/frontend-engineering

Try a new port
  playwright.config.ts
Owners: @temporalio/frontend-engineering

Only html reporter
  playwright.config.ts
Owners: @temporalio/frontend-engineering

Add back storageState
  playwright.config.ts
  tests/e2e/storageState.json
  tests/integration/storageState.json
Owners: @temporalio/frontend-engineering

Try a timeout on the webserver
  playwright.config.ts
Owners: @temporalio/frontend-engineering

Markdown Render - Nexus Description (#2258)
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/lib/holocene/markdown.svelte
  src/lib/holocene/monaco/editor.svelte
  src/lib/holocene/monaco/index.ts
  src/lib/holocene/monaco/markdown.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-form.svelte
  src/lib/utilities/render-markdown.ts
  src/markdown.reset.css
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.ts
  src/routes/(app)/render/+server.ts
  tests/integration/storageState.json
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

2.29.0
  package.json
Owners: @temporalio/frontend-engineering

Ability to pass regex to form from create/edit
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

Ability to pass regex to form from create/edit (#2264)
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

do you fix tests?
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Pass helptext to form
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

Update translations
  src/lib/i18n/locales/en/nexus.ts
Owners: @temporalio/frontend-engineering

Pass helpText prop to Nexus Form (#2265)
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

2.29.1
  package.json
Owners: @temporalio/frontend-engineering

export PaginatedRequest type and adjust styles
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/pages/schedules.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

POC of workflow metadata
  server/go.mod
  src/lib/holocene/monaco/editor-with-preview.svelte
  src/lib/holocene/monaco/markdown.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/layouts/workflow-story.svelte
  src/lib/models/workflow-execution.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/types/workflows.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/story/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Remove unnecessary styles
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
Owners: @rossedfort

Update message props and use slot fallback
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/pages/schedules.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add API PaginatedTable component (#2261)
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/schedule/schedules-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/pages/schedules.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remimagining it
  server/go.mod
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
  src/lib/holocene/table/table.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Get the Timeline dark/light mode
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
Owners: @rossedfort

Better margin
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

2.29.2
  package.json
Owners: @temporalio/frontend-engineering

Cleanup
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/end-time-interval.svelte
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/table/table.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/models/workflow-execution.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/format-event-attributes.ts
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add tag
  package.json
Owners: @temporalio/frontend-engineering

Improve UX: Forbidden requests should not redirect to login page (#2270)
  src/lib/utilities/handle-error.ts
Owners: @stevekinney, @Alex-Tideman

Add bg to expanded row, add thin class to keep rows same height
  package.json
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Clean up types
  src/lib/components/event/event-details-full.svelte
  src/lib/components/lines-and-dots/svg/compact-flag-posts.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical.svelte
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/graph-widget.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Make schedules table headers configurable
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/index.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/orderable-list.svelte
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/configurable-table-columns.test.ts
  src/lib/stores/configurable-table-columns.ts
  src/lib/stores/workflow-table-columns.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add back schedule name search input
  src/lib/pages/schedules.svelte
Owners: @temporalio/frontend-engineering

Fix responsiveness
  src/lib/pages/schedules.svelte
Owners: @temporalio/frontend-engineering

Only add starts with option to TextFilter if attribute is a Keyword
  src/lib/components/search-attribute-filter/text-filter.svelte
Owners: @rossedfort

Fix empty state
  src/lib/pages/schedules.svelte
Owners: @temporalio/frontend-engineering

update testId
  tests/e2e/workflows-summary-table-configuration.spec.ts
Owners: @temporalio/frontend-engineering

Add onError callback
  src/lib/pages/schedules.svelte
  src/lib/services/schedule-service.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

remove expand when slot is empty (#2242)
  src/lib/holocene/accordion.stories.svelte
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Make timeline axis sticky, move to paginationTable, better borders
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Get the graph in the fixed table. Expanded cell needs to be wider
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/holocene/table/paginated-table.svelte
Owners: @rossedfort
