Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Use flex-col-reverse for links, add disable to NavigationItem
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Add hidden prop for nexus
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering

Update go.mod to use go 1.20
  server/go.mod
Owners: @temporalio/frontend-engineering

Fix divider now that it's reversed
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering

Update go.mod to use go 1.20 (#2202)
  server/go.mod
Owners: @temporalio/frontend-engineering

Use astronaut icon for user
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/main-content-container.svelte
Owners: @rossedfort

Fix padding
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

Remove unused classes
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

Comment out new routes
  server/server/route/api.go
Owners: @temporalio/frontend-engineering

Comment out new routes (#2204)
  server/server/route/api.go
Owners: @temporalio/frontend-engineering

use uuid and not temporal package
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

use uuid and not temporal package (#2205)
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Update version.go to v2.29.1
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.29.1 (#2206)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Remove drop-shadow
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

Mobile Nav (#2197)
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/data-encoder-settings.svelte
  src/lib/components/data-encoder-status.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/components/side-nav.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/holocene/scroll-to-bottom.svelte
  src/lib/holocene/scroll-to-container.svelte
  src/lib/holocene/scroll-to-top.svelte
  src/lib/i18n/locales/en/data-encoder.ts
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/import-events-view.svelte
  src/lib/pages/import-events.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/theme/colors.ts
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
  tests/integration/data-encoder.spec.ts
  tests/integration/workflow-navigation.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add nexus typed errors, add separate lists of target and caller namespaces, add editDisabled check
  src/lib/i18n/locales/en/typed-errors.ts
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/nexus-form.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering

Fix divider order in SideNav
  src/lib/components/side-nav.svelte
Owners: @rossedfort

Nexus Bug Bash UI updates (#2207)
  src/lib/components/side-nav.svelte
  src/lib/i18n/locales/en/typed-errors.ts
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/nexus-form.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

New Nexus icon
  src/lib/holocene/icon/svg/nexus.svelte
Owners: @rossedfort

New Nexus icon (#2208)
  src/lib/holocene/icon/svg/nexus.svelte
Owners: @rossedfort

2.28.3
  package.json
Owners: @temporalio/frontend-engineering

add new components for promo nav item
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/dollar-badge.svelte
  src/lib/holocene/navigation/navigation-badge.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

add new components for promo nav item (#2210)
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/dollar-badge.svelte
  src/lib/holocene/navigation/navigation-badge.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

2.28.4
  package.json
Owners: @temporalio/frontend-engineering

feat(i18n): Add Chinese language pack support
  src/lib/i18n/locales/index.ts
  src/lib/i18n/locales/zh/batch.ts
  src/lib/i18n/locales/zh/common.ts
  src/lib/i18n/locales/zh/data-encoder.ts
  src/lib/i18n/locales/zh/date-picker.ts
  src/lib/i18n/locales/zh/events.ts
  src/lib/i18n/locales/zh/index.ts
  src/lib/i18n/locales/zh/namespaces.ts
  src/lib/i18n/locales/zh/nexus.ts
  src/lib/i18n/locales/zh/schedules.ts
  src/lib/i18n/locales/zh/typed-errors.ts
  src/lib/i18n/locales/zh/workers.ts
  src/lib/i18n/locales/zh/workflows.ts
Owners: @temporalio/frontend-engineering

Update codemirror to get bug fixes
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Update codemirror to get bug fixes (#2213)
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Fix padding and margin for action slot in Combobox
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Refactor to one div
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Fix hover background on Namespace selector (#2214)
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Display Local Activity, move Close button to right
  server/go.mod
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/models/event-groups/get-group-name.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Dont update go.mod
  server/go.mod
Owners: @temporalio/frontend-engineering

New nexus icon
  src/lib/holocene/icon/svg/nexus.svelte
Owners: @rossedfort

New nexus icon (#2216)
  src/lib/holocene/icon/svg/nexus.svelte
Owners: @rossedfort

2.28.5
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to v2.29.2
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.29.2 (#2218)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add WorkflowProperties event and group with Marker and SAUpsert into new Other group
  src/lib/components/lines-and-dots/constants.ts
  src/lib/i18n/locales/en/events.ts
  src/lib/models/event-history/__snapshots__/get-event-categorization.test.ts.snap
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/stores/filters.ts
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/utilities/is-event-type.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add WorkflowProperties event and group with Marker and SAUpsert into new Other group (#2219)
  src/lib/components/lines-and-dots/constants.ts
  src/lib/i18n/locales/en/events.ts
  src/lib/models/event-history/__snapshots__/get-event-categorization.test.ts.snap
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/stores/filters.ts
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/utilities/is-event-type.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
