Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

WIP: vertical
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph-vertical-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical.svelte
Owners: @rossedfort

Vertical compact looking better
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph-vertical-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical.svelte
Owners: @rossedfort

use order names
  src/lib/i18n/locales/en/events.ts
Owners: @temporalio/frontend-engineering

Refactor encoding and decoding to use same token logic and add unit tests (#2237)
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
Owners: @stevekinney, @Alex-Tideman, @GiantRobots

Posts with flag
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/compact-flag-posts.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/flag.svelte
  src/lib/holocene/sine-wave.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Set editable in codemirror EditorView
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Bump @codemirror/view version for readOnly bug patch
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

update range colors
  src/lib/holocene/input/range-input.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix editable CodeBlock (#2239)
  package.json
  pnpm-lock.yaml
  src/lib/holocene/code-block.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

update range colors (#2240)
  src/lib/holocene/input/range-input.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add search attributes to create schedule UI
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input.svelte
  src/lib/components/workflow/start-workflow-search-attributes.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedules-create.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/index.ts
  src/lib/types/schedule.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add search attributes to edit schedule UI
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/workflow/search-attribute-input.svelte
  src/lib/pages/schedule-edit.svelte
  src/lib/stores/schedules.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix search attribute inputs based on search attribute type
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/components/workflow/search-attribute-input/number-input.svelte
  src/lib/components/workflow/search-attribute-input/text-input.svelte
  src/lib/stores/search-attributes.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add search attributes to schedule view UI
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

remove expand when slot is empty
  server/go.mod
  server/go.sum
  src/lib/holocene/accordion.stories.svelte
  src/lib/holocene/accordion.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

put div in test
  src/lib/holocene/accordion.stories.svelte
Owners: @rossedfort

Update server/go.mod
  server/go.mod
Owners: @temporalio/frontend-engineering

move if statement
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Dispatch ChangeSet instead of creating new EditorState on resetView in CodeBlock
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Dispatch ChangeSet instead of creating new EditorState on resetView in CodeBlock (#2243)
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Add fixed text styles for heading elements and use apply
  .vscode/settings.json
  src/app.css
Owners: @stevekinney, @temporalio/frontend-engineering

Add body text style classes to base
  src/app.css
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Move text styles to separate plugin
  src/app.css
  src/lib/theme/plugin.ts
  src/lib/theme/preset.ts
  tailwind.config.ts
Owners: @temporalio/frontend-engineering

2.28.9
  package.json
Owners: @temporalio/frontend-engineering

change min text color
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Remove sine wave
  src/lib/holocene/sine-wave.svelte
Owners: @rossedfort

Search icon, placeholder text for custom placeholder.
  server/go.sum
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoints.svelte
Owners: @temporalio/frontend-engineering

change min text color (#2245)
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Add prop for hint and regex
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

Remove unnecessary defaults
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
Owners: @temporalio/frontend-engineering

Nexus Help Text and various UI updates (#2247)
  server/go.sum
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

add card alertnative
  src/lib/holocene/accordion.stories.svelte
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

add back in slot?
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Don't show error when menu is open in Combobox
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Remove unnecessary surface-information class
  src/lib/holocene/input/range-input.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Small UI fixes (#2248)
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/range-input.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

2.28.10
  package.json
Owners: @temporalio/frontend-engineering

Add Authorization-Extras if authUser idToken exists
  src/lib/services/data-encoder.ts
Owners: @Alex-Tideman, @GiantRobots

Update base images (#2226)
  server/Dockerfile
Owners: @temporalio/frontend-engineering

Add more testid's so it's easy to select items when testing.
  src/lib/holocene/select/option.svelte
  src/lib/holocene/select/select.svelte
Owners: @rossedfort
