Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

2.35.1
  package.json
Owners: @temporalio/frontend-engineering

Add conditional check for pending children
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

Add conditional check for pending children (#2566)
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

cap L
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Remove transition:slide in accordion light
  src/lib/holocene/accordion/accordion-light.svelte
Owners: @rossedfort

Remove transition:slide in accordion light (#2567)
  src/lib/holocene/accordion/accordion-light.svelte
Owners: @rossedfort

2.35.2
  package.json
Owners: @temporalio/frontend-engineering

Add eventId to timeline, remove goto
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
Owners: @rossedfort

fix/remove imports
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/calendar.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/pill-container/pill.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/services/workflow-counts.ts
  vitest-setup.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

fix/remove imports (#2569)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/calendar.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/pill-container/pill.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/services/workflow-counts.ts
  vitest-setup.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

2.35.3
  package.json
Owners: @temporalio/frontend-engineering

Add lineBreakReplacer extention
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Add lineBreakReplacer extention (#2571)
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

2.35.4
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to v2.35.1
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.35.1 (#2573)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add multiple callbacks, how UpdateOptions attributes
  src/lib/components/event/event-details-full.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-callbacks.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/types/events.ts
  src/lib/utilities/is-event-type.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add multiple callbacks and options attributes
  src/lib/components/event/event-details-full.svelte
Owners: @rossedfort

Format
  src/lib/utilities/is-event-type.ts
Owners: @stevekinney, @Alex-Tideman

Remove unused isCheck
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/types/events.ts
  src/lib/utilities/is-event-type.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Warn on ts-ignore
  .eslintrc.cjs
  src/lib/utilities/is-event-type.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update snapshots
  src/lib/models/event-history/get-event-categorization.test.ts
Owners: @stevekinney, @Alex-Tideman

Return real data
  src/lib/components/deployments/deployment-details.svelte
  src/lib/pages/deployment.svelte
  src/lib/services/deployments-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix type and remove warn
  .eslintrc.cjs
  src/lib/utilities/is-event-type.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Show multiple callbacks and WorkflowExecutionUpdateOptions attributes (#2574)
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-callbacks.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/utilities/is-event-type.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use has
  src/lib/stores/pagination.test.ts
  src/lib/stores/pagination.ts
Owners: @stevekinney, @Alex-Tideman

Add hashField prop
  src/lib/components/event/event-summary-table.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
Owners: @rossedfort

Add scroll to Event ID for links to Events (#2541)
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/stores/pagination.test.ts
  src/lib/stores/pagination.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/to-url.test.ts
  src/lib/utilities/to-url.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add Deployment columns to workflow list, add drained/inactive icons, add deployment details in workflow header
  src/lib/components/deployments/deployment-status.svelte
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/components/deployments/task-queue-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/drained.svelte
  src/lib/holocene/icon/svg/heartbeat.svelte
  src/lib/holocene/icon/svg/inactive.svelte
  src/lib/holocene/icon/svg/trending-down.svelte
  src/lib/holocene/icon/svg/trending-up.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/models/workflow-execution.ts
  src/lib/pages/deployment-version.svelte
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/services/deployments-service.ts
  src/lib/stores/configurable-table-columns.ts
  src/lib/types/deployments.ts
  src/lib/types/workflows.ts
  src/lib/utilities/route-for-api.ts
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/version/[version]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove search for now, better colors, add deployment column
  src/lib/components/deployments/deployment-status.svelte
  src/lib/components/worker-table.svelte
  src/lib/pages/deployments.svelte
  src/lib/pages/task-queue.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove deployment details
  src/lib/components/deployments/deployment-details.svelte
Owners: @rossedfort

Update snapshots
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Owners: @stevekinney, @Alex-Tideman

Update src/lib/pages/deployments.svelte
  src/lib/pages/deployments.svelte
Owners: @temporalio/frontend-engineering

Update src/lib/pages/deployments.svelte
  src/lib/pages/deployments.svelte
Owners: @temporalio/frontend-engineering

Update src/lib/components/deployments/version-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
Owners: @rossedfort

Update src/lib/utilities/route-for.ts
  src/lib/utilities/route-for.ts
Owners: @stevekinney, @Alex-Tideman

Update src/lib/components/deployments/version-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
Owners: @rossedfort

Fix route
  src/lib/utilities/route-for.ts
Owners: @stevekinney, @Alex-Tideman

Add back versioning tab for v2 versioning
  src/lib/pages/task-queue.svelte
Owners: @temporalio/frontend-engineering

Add link for versioning docs
  src/lib/pages/deployments.svelte
Owners: @temporalio/frontend-engineering
