Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

format
  src/lib/holocene/select/filter-select.svelte
Owners: @rossedfort

stopping point
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Move labels above values, better styles, better calculations for widths/heights, responsive single/double column grid
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Move labels above values, better styles, better calculations for widths/heights, responsive single/double column grid (#1991)
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

remove bg color from table header button
  src/lib/holocene/button.svelte
Owners: @rossedfort

Use existing bg color
  src/lib/holocene/date-picker.svelte
Owners: @rossedfort

Update calendar with new colors and support dark mode
  src/lib/holocene/calendar.svelte
Owners: @rossedfort

update codec bg and border
  src/lib/components/data-encoder-settings.svelte
Owners: @rossedfort

update panel colors (#1983)
  src/lib/components/panel.svelte
Owners: @rossedfort

Audit pagination (#1962)
  src/lib/holocene/select/filter-select.svelte
  src/lib/holocene/select/simple-select.svelte
Owners: @rossedfort

Fix table-header class in menu-button component (#1984)
  src/lib/holocene/button.svelte
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

Update Date Picker component for dark mode support (#1956)
  src/lib/holocene/calendar.svelte
  src/lib/holocene/date-picker.svelte
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Update components on archival page to support dark mode (#1975)
  src/lib/components/workflow/workflows-summary-row.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_filter-input.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

2.25.4
  package.json
Owners: @temporalio/frontend-engineering

Make history graph visual width dynamic based
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
Owners: @rossedfort

If no history (loading) use maxWidth
  src/lib/components/lines-and-dots/constants.ts
Owners: @rossedfort

Make history graph visual width dynamic based with max of canvasWidth / 4 (#1994)
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
Owners: @rossedfort

2.25.4 (#1993)
  package.json
Owners: @temporalio/frontend-engineering

Update src/lib/holocene/copyable/button.svelte
  src/lib/holocene/copyable/button.svelte
Owners: @rossedfort

add env variable
  .env
Owners: @temporalio/frontend-engineering

update pill colors
  .env
  src/lib/components/pill.svelte
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Add back active style to Button
  src/lib/holocene/button.svelte
Owners: @rossedfort

Update days of the week
  src/lib/holocene/day-of-week-picker.svelte
Owners: @rossedfort

Update days of the month
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/month-picker.svelte
Owners: @rossedfort

Update src/lib/components/pill.svelte
  src/lib/components/pill.svelte
Owners: @rossedfort

Update src/lib/components/pill.svelte
  src/lib/components/pill.svelte
Owners: @rossedfort

Update src/lib/components/pill.svelte
  src/lib/components/pill.svelte
Owners: @rossedfort

Update src/lib/components/pill.svelte
  src/lib/components/pill.svelte
Owners: @rossedfort

Update src/lib/components/side-nav.svelte
  src/lib/components/side-nav.svelte
Owners: @rossedfort

add import
  src/lib/components/side-nav.svelte
Owners: @rossedfort

try to fix styles
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

update copyable button (#1963)
  src/lib/holocene/code-block.svelte
  src/lib/holocene/copyable/button.svelte
Owners: @rossedfort

Update icons
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/activity.svelte
  src/lib/holocene/icon/svg/feather.svelte
  src/lib/holocene/icon/svg/marker.svelte
  src/lib/holocene/icon/svg/relationship.svelte
  src/lib/holocene/icon/svg/retention.svelte
  src/lib/holocene/icon/svg/signal.svelte
  src/lib/holocene/icon/svg/terminal.svelte
  src/lib/holocene/icon/svg/update.svelte
  src/lib/holocene/icon/svg/workflow.svelte
  src/lib/models/event-groups/create-event-group.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

update tool tip color
  src/lib/holocene/tooltip.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Darkmode/pills (#1995)
  src/lib/components/pill.svelte
Owners: @rossedfort

Audit days of week and month (#1996)
  src/lib/holocene/button.svelte
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/day-of-week-picker.svelte
  src/lib/holocene/month-picker.svelte
Owners: @rossedfort

update codec bg and border (#1992)
  src/lib/components/data-encoder-settings.svelte
  src/lib/holocene/tooltip.svelte
Owners: @rossedfort

Darkmode toggle (#1961)
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/moon.svelte
  src/lib/holocene/icon/svg/sun.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add min and max height to EditorView
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Update CodeBlock components to use maxHeight
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/pending-activities.svelte
Owners: @rossedfort
