Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Remove borders, more table stuff
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Event Card
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/pending-activity/workflow-pending-activity.svelte
Owners: @rossedfort

feat(workflows): add repository dispatch triggers for ui-server
  .github/workflows/release-draft.yml
  .github/workflows/release-published.yml
Owners: @stevekinney

refactor(workflows): replace checkout-and-setup with setup-node
  .github/workflows/chromatic.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/playwright.yml
  .github/workflows/release-draft.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/test.yml
Owners: @stevekinney

feat(ci): update workflows for release management
  .github/actions/docker-push/action.yaml
  .github/actions/setup-node/action.yml
  .github/release-drafter.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish-package.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-published.yml
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

feat(workflows): update token handling for dispatch events
  .github/actions/docker-push/action.yaml
  .github/release-drafter.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-published.yml
Owners: @stevekinney

update workflows
  .github/workflows/release-draft.yml
  .github/workflows/release-published.yml
Owners: @stevekinney

Change from 350 to 250
  src/lib/holocene/table/paginated-table/api-paginated.svelte
Owners: @rossedfort

API Pagination for Workflows List (#2708)
  src/lib/components/workflow/workflow-count-refresh.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/holocene-components.json
  src/lib/holocene/progress-bar.stories.svelte
  src/lib/holocene/progress-bar.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/capability-enablement.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/export-workflows.ts
  src/lib/utilities/stores/with-loading.ts
  tests/integration/workflow-bulk-actions.spec.ts
  tests/integration/workflows-count.spec.ts
  tests/test-utilities/mocks/system-info.ts
  tests/test-utilities/mocks/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

rm apply, switch to runes mode
  src/lib/holocene/card.svelte
Owners: @rossedfort

switch to className
  src/lib/holocene/card.svelte
Owners: @rossedfort

Table changes
  src/lib/components/event/event-card.svelte
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/progress-bar.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/table.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add Zod as a dependency
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Refactor `is` and add test coverage
  src/lib/utilities/is.test.ts
  src/lib/utilities/is.ts
Owners: @stevekinney, @Alex-Tideman

Merge `isFunction` into `is`
  src/lib/utilities/is-function.test.ts
  src/lib/utilities/is-function.ts
Owners: @stevekinney, @Alex-Tideman

Replace is-function.ts imports
  src/lib/stores/persist-store.ts
  src/lib/utilities/paginated.ts
  src/lib/utilities/request-from-api.ts
Owners: @stevekinney, @Alex-Tideman

Refactor is-email and add tests
  src/lib/utilities/is-email.test.ts
  src/lib/utilities/is-email.ts
Owners: @stevekinney, @Alex-Tideman

Refactor `has` and add tests
  src/lib/utilities/has.test.ts
  src/lib/utilities/has.ts
Owners: @stevekinney, @Alex-Tideman

Refactor is-pending-activity and add tests
  src/lib/utilities/is-pending-activity.test.ts
  src/lib/utilities/is-pending-activity.ts
Owners: @stevekinney, @Alex-Tideman

WIP
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflow-query.svelte
Owners: @temporalio/frontend-engineering

Use pull_request_target
  .github/workflows/chromatic.yml
Owners: @stevekinney

migrate card to svelte 5 (#2716)
  src/lib/holocene/card.svelte
Owners: @rossedfort

Use pull_request_target (#2718)
  .github/workflows/chromatic.yml
Owners: @stevekinney

Remove Refetch button
  src/lib/pages/workflow-call-stack.svelte
Owners: @temporalio/frontend-engineering

update accordion files
  src/lib/holocene/accordion/accordion-group.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/accordion/accordion.svelte
Owners: @rossedfort

Remove unused pin logic
  src/lib/components/workflow/configurable-table-headers-drawer/orderable-list.svelte
  src/lib/holocene/holocene-components.json
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.stories.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/stores/configurable-table-columns.test.ts
  src/lib/stores/configurable-table-columns.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

add type interface to storybook test
  src/lib/holocene/accordion/accordion.stories.svelte
Owners: @rossedfort

Add some more config fields.
  server/config/docker.yaml
Owners: @temporalio/frontend-engineering

Re-remove the dockerize config template.
  server/docker/config-template.yaml
Owners: @temporalio/frontend-engineering

Add support for config templating. (#2485)
  server/Dockerfile
  server/config/docker.yaml
  server/docker/README.md
  server/docker/config-template.yaml
  server/docker/start-ui-server.sh
  server/go.mod
  server/go.sum
  server/plugins/fs_config_provider/loader.go
Owners: @temporalio/frontend-engineering

feat(ci): update workflows for release management (#2702)
  .github/actions/setup-node/action.yml
  .github/release-drafter.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/chromatic.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-package.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-published.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/test.yml
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

Update release drafter config
  .github/release-drafter.yml
Owners: @stevekinney

Update release drafter config (#2722)
  .github/release-drafter.yml
Owners: @stevekinney

update workflow details
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/holocene/accordion/accordion-light.svelte
Owners: @rossedfort

Use timeFormat
  src/lib/pages/workflow-call-stack.svelte
Owners: @temporalio/frontend-engineering

Sort query list and remove Refetch button on Call Stack (#2719)
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflow-query.svelte
Owners: @temporalio/frontend-engineering

update workflow current details
  src/lib/components/workflow/metadata/workflow-current-details.svelte
Owners: @rossedfort

Remove old Parent Workflow ID check
  src/lib/stores/configurable-table-columns.ts
Owners: @stevekinney, @Alex-Tideman

Remove additional filter
  src/lib/stores/configurable-table-columns.ts
Owners: @stevekinney, @Alex-Tideman

add useDarkModePreference store, make existing useDarkMode derived
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
Owners: @stevekinney, @Alex-Tideman
