Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Delete all unused tables
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/live-child-workflows-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/scheduler-table.svelte
Owners: @rossedfort

Delete breadcrumbs
  src/lib/holocene/breadcrumbs.svelte
Owners: @rossedfort

Use justify-end to move links to far right
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
Owners: @rossedfort

Fix sm screen layout
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
Owners: @rossedfort

Make visual a little shorter at 240px, hide times if small screen
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
Owners: @rossedfort

Add maxHeight prop to API PaginatedTable
  src/lib/holocene/table/paginated-table/api-paginated.svelte
Owners: @rossedfort

Add dash and min-w for end time, py-1
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
Owners: @rossedfort

Fix root node click and accessibility issues
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
Owners: @rossedfort

Bump maxZoomOut for a lot of children
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
Owners: @rossedfort

Use tailwind classes for border to fix dark mode on arrows (#2488)
  src/lib/components/workflow/workflow-json-navigator.svelte
Owners: @rossedfort

Add husky back
  .husky/pre-commit
Owners: @stevekinney

Fix packages
  .vscode/temporal-ui.code-snippets
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/error.svelte
  src/lib/holocene/holocene-components.json
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/models/event-groups/get-group-name.ts
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/active-events.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/lib/utilities/task-queue-compatibility.ts
  src/routes/(app)/nexus/+page.ts
  vitest-setup.ts
Owners: @stevekinney, @temporalio/frontend-engineering, @rossedfort, @Alex-Tideman

One last type to fix
  src/lib/holocene/icon/icon.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Ignore error-boundary for now
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Add back old tables in case api not supported or if we wanna go labs mode route
  pnpm-lock.yaml
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/live-child-workflows-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflow-relationships-old.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/services/workflow-service.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Small Holocene updates (#2486)
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/circle-check-filled.svelte
  src/lib/holocene/icon/svg/inverted-checkmark.svelte
  src/lib/holocene/icon/svg/xmark-filled.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
Owners: @rossedfort

2.33.10
  package.json
Owners: @temporalio/frontend-engineering

Small style updates based on feedback, better responsive padding
  src/lib/components/workflow/relationships/continue-as-new-node.svelte
  src/lib/components/workflow/relationships/continue-as-new-tree.svelte
  src/lib/components/workflow/relationships/schedule-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
  src/lib/components/workflow/workflow-relationships-old.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Better count placement
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
Owners: @rossedfort

Workflow Relationship Tree (#2487)
  pnpm-lock.yaml
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/relationships/continue-as-new-node.svelte
  src/lib/components/workflow/relationships/continue-as-new-tree.svelte
  src/lib/components/workflow/relationships/schedule-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
  src/lib/components/workflow/workflow-relationships-old.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/target.svelte
  src/lib/holocene/zoom-svg.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/workflow-execution.ts
  src/lib/services/workflow-service.ts
  src/lib/theme/plugin.ts
  src/lib/types/workflows.ts
  src/lib/utilities/decode-payload.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/relationships/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

2.34.0
  package.json
Owners: @temporalio/frontend-engineering

Update margin and text color in Accordion
  src/lib/holocene/accordion/accordion.svelte
Owners: @rossedfort

Remove padding in ToggleSwitch
  src/lib/holocene/toggle-switch.svelte
Owners: @rossedfort

Small holocene updates (#2492)
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/toggle-switch.svelte
Owners: @rossedfort

Add update page and path. WIP
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-update.svelte
  src/lib/services/workflow-service.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/update/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Wire up update call
  src/lib/pages/workflow-update.svelte
  src/lib/services/workflow-service.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove description slot, fix summary slot styling and make icon clickable
  src/lib/holocene/accordion/accordion.svelte
Owners: @rossedfort

Update existing Accordion with summary slot
  src/lib/components/lines-and-dots/workflow-error-stack-trace.svelte
Owners: @rossedfort

Add story with summary slot
  src/lib/holocene/accordion/accordion.stories.svelte
Owners: @rossedfort

Use update modal
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/holocene/modal.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Make button full width and remove hover state
  src/lib/holocene/accordion/accordion.svelte
Owners: @rossedfort

Use modal submit button
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-update.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update playwright
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Update storybook
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Better node builder for relationships
  src/lib/services/workflow-service.ts
Owners: @stevekinney, @Alex-Tideman

fix: re-add extra row cell when write actions are disabled
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
Owners: @rossedfort

fix: handle disable write actions in create workflow
  src/lib/utilities/workflow-create-disabled.ts
Owners: @stevekinney, @Alex-Tideman

Better node builder for relationships (#2495)
  src/lib/services/workflow-service.ts
Owners: @stevekinney, @Alex-Tideman

Add back relationship badge count in tab
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

Update playwright
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
