Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Add data-testids, get all saved-query specs passing
  src/lib/components/dark-mode-menu.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/filter-bar/index.svelte
  src/lib/components/workflow/filter-bar/manual-query.svelte
  src/lib/components/workflow/filter-bar/search-attribute-menu.svelte
  src/lib/components/workflow/filter-bar/view-modal.svelte
  src/lib/pages/saved-query-views.svelte
  src/lib/stores/saved-queries.ts
  tests/integration/dark-mode.desktop.spec.ts
  tests/integration/filter-bar.spec.ts
  tests/integration/saved-query-views.spec.ts
  tests/integration/workflow-bulk-actions.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

More tests for search attributes
  src/lib/components/workflow/filter-bar/search-attribute-menu.svelte
  src/lib/components/workflow/filter-bar/status-dropdown-filter-chip.svelte
  tests/integration/saved-query-views.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

fix(security): remediate command injection vulnerabilities in GitHub Actions
  .github/workflows/trigger-downstream-updates.yml
  .github/workflows/version-bump.yml
Owners: @stevekinney

fix(security): remediate command injection vulnerabilities in GitHub Actions (#2932)
  .github/workflows/trigger-downstream-updates.yml
  .github/workflows/version-bump.yml
Owners: @stevekinney

Add tracking to saved query buttons
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/pages/saved-query-views.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add system vs user in data-track-name
  src/lib/pages/saved-query-views.svelte
Owners: @temporalio/frontend-engineering

Remove command palette placement, keep file for later
  src/lib/components/top-nav.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Cleanup
  src/lib/holocene/tab-buttons/tab-button.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix mobile test selector
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Owners: @temporalio/frontend-engineering

Move delete to edit modal view with new footer slot. move count to secondary label
  src/lib/components/workflow/filter-bar/delete-view-modal.svelte
  src/lib/components/workflow/filter-bar/edit-view-modal.svelte
  src/lib/components/workflow/filter-bar/view-modal.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/saved-query-views.svelte
  src/lib/stores/saved-queries.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix styles of No Views
  src/lib/pages/saved-query-views.svelte
Owners: @temporalio/frontend-engineering

Add use:portal to Menu component
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Update more tests
  tests/integration/saved-query-views.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Owners: @temporalio/frontend-engineering

Bug fixes, add save button
  src/lib/components/workflow/filter-bar/status-dropdown-filter-chip.svelte
  src/lib/components/workflow/filter-bar/view-modal.svelte
  src/lib/pages/saved-query-views.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix tests
  tests/integration/saved-query-views.spec.ts
Owners: @temporalio/frontend-engineering

Fix filter issues
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/textarea.svelte
  src/lib/utilities/query/to-list-workflow-filters.ts
  tests/test-utilities/mocks/search-attributes.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add touched state to not show error if not touched
  src/lib/components/workflow/filter-bar/view-modal.svelte
Owners: @rossedfort

Update unit tests
  src/lib/utilities/query/to-list-workflow-filters.test.ts
Owners: @stevekinney, @Alex-Tideman

add type
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/payload-input.svelte
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/pages/start-workflow.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

add more types
  src/lib/stores/toaster.ts
Owners: @stevekinney, @Alex-Tideman

fix tests to worf with crypto uuid
  vitest-setup.ts
Owners: @temporalio/frontend-engineering

Fix refresh rate
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/refresh-rate.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix refresh counts logic and make backoff less agressive
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/stores/api-pagination.ts
  src/lib/utilities/refresh-rate.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Update resfresh rate tests
  src/lib/utilities/refresh-rate.test.ts
Owners: @stevekinney, @Alex-Tideman

Fixes from PR comments
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/filter-bar/manual-query.svelte
  src/lib/components/workflow/filter-bar/search.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/tab-buttons/tab-buttons.svelte
Owners: @rossedfort

Remove unused store
  src/lib/holocene/tooltip.svelte
  src/lib/stores/workflows.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add text-brand back to chip filter value
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

Update src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
Owners: @rossedfort

Update src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
Owners: @rossedfort

Update src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
Owners: @rossedfort

Update src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
Owners: @rossedfort

Update src/lib/pages/start-workflow.svelte
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Update src/lib/stores/toaster.ts
  src/lib/stores/toaster.ts
Owners: @stevekinney, @Alex-Tideman

Use props to prevent malformed URI on download modal
  src/lib/components/workflow-raw-history-link.svelte
  src/lib/components/workflow/download-event-history-modal.svelte
Owners: @rossedfort

Add try catch around decodeForSvelte
  src/lib/stores/events.ts
Owners: @stevekinney, @Alex-Tideman

Remove error
  src/lib/stores/events.ts
Owners: @stevekinney, @Alex-Tideman

Add try/catch at decodeSvelte functions, add unit test
  src/lib/stores/events.ts
  src/lib/utilities/encode-uri.test.ts
  src/lib/utilities/encode-uri.ts
Owners: @stevekinney, @Alex-Tideman

add aria-hidden prop to tooltip
  src/lib/holocene/tooltip.svelte
Owners: @rossedfort

Add try catch around decodeForSvelte on bad params (#2934)
  src/lib/utilities/encode-uri.test.ts
  src/lib/utilities/encode-uri.ts
Owners: @stevekinney, @Alex-Tideman

Save as New View
  src/lib/components/workflow/filter-bar/view-modal.svelte
Owners: @rossedfort
