Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

feat: add raw JSON history download endpoint (#2623)
  server/go.mod
  server/go.sum
  server/server/api/rawhistory.go
  server/server/api/rawhistory_test.go
  server/server/route/api.go
  src/lib/components/workflow-raw-history-link.svelte
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/services/events-service.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history.json/+page.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Add back state transitions to workflow details (#2627)
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Add events/type route to redirect to events/:id if it finds it
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/events/type/[type]/+page.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove hash, better responsive buttons
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/pages/workflow-history-event.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add disabled states for buttons
  src/lib/pages/workflow-history-event.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/events/type/[type]/+page.ts
Owners: @temporalio/frontend-engineering

Latest upgrades
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Fix svelte check errors
  src/lib/holocene/code-block.svelte
  src/lib/holocene/expandable/button.svelte
  src/lib/holocene/tab-buttons/tab-button.svelte
Owners: @rossedfort

Move buttons, remove slot
  src/lib/components/event/event-summary-table.svelte
  src/lib/pages/workflow-history-event.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove evet-groups page since it's unused, custom table for log
  src/lib/pages/workflow-history-event.svelte
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/event-groups/[id]/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add page title
  src/lib/pages/workflow-history-event.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/events/[id]/+page.svelte
Owners: @temporalio/frontend-engineering

Update test
  tests/integration/workflow-event-history.spec.ts
Owners: @temporalio/frontend-engineering

Link to /history/events/:id for Event Log (#2629)
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/event-groups/[id]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/events/[id]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/events/type/[type]/+page.ts
  tests/integration/workflow-event-history.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

feat: integrate Temporal HTTP client for search attributes
  src/lib/services/search-attributes-service.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/screaming-enums.ts
  src/lib/utilities/temporal-client.ts
  src/routes/(app)/namespaces/[namespace]/+layout.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Only show state transitions if OSS
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Fix formatting
  src/lib/components/event/event-summary.svelte
Owners: @rossedfort

Only show state transitions if OSS (#2631)
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

feat: add HTTP API environment and update Temporal client
  .env.http-api
  package.json
  src/lib/services/search-attributes-service.ts
  src/lib/utilities/temporal-client.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

2.36.8
  package.json
Owners: @temporalio/frontend-engineering

Remove events/type route and use first event
  src/lib/components/event/event-link.svelte
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/events/type/[type]/+page.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Remove events/type route and use first event (#2633)
  src/lib/components/event/event-link.svelte
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/events/type/[type]/+page.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

change query params to be reactive
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

styling tweaks
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-search-attributes-inputs.svelte
Owners: @rossedfort

Add min-h-screen to fix scroll gap on nav
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

change element type to button
  src/lib/holocene/tab/tab.svelte
Owners: @rossedfort

change element type to button (#2635)
  src/lib/holocene/tab/tab.svelte
Owners: @rossedfort

Update chips from values
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

Update chips from values (#2637)
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

2.36.9
  package.json
Owners: @temporalio/frontend-engineering

Remove key
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Remove scrollTo
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

2.36.10
  package.json
Owners: @temporalio/frontend-engineering

Remove #key block for Input on Start Workflow (#2639)
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

move bg color of header out of custom class
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

move bg color of header out of custom class (#2642)
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

2.36.11
  package.json
Owners: @temporalio/frontend-engineering

Add min-h-screen to fix scroll gap on nav (#2636)
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

fix things I broke
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedule-view.svelte
Owners: @temporalio/frontend-engineering

Fetch direct workflows. WIP
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Make event timestamp copyable
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

update lockfile
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering
