Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

feat(workspaces/schemas): add workspace and schema generation scripts
  .tool-versions
  packages/schemas/.eslintignore
  packages/schemas/.eslintrc.cjs
  packages/schemas/.gitignore
  packages/schemas/.npmrc
  packages/schemas/.prettierignore
  packages/schemas/.prettierrc
  packages/schemas/LICENSE
  packages/schemas/README.md
  packages/schemas/bun.lock
  packages/schemas/package.json
  packages/schemas/scripts/generate-schema/index.ts
  packages/schemas/scripts/generate-types/index.ts
  packages/schemas/scripts/lib/prettier.ts
  packages/schemas/tsconfig.json
  pnpm-workspace.yaml
Owners: @temporalio/frontend-engineering

feat(workspaces): add schemas and update dependencies
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

feat(schemas): Add README for the schemas package
  packages/schemas/README.md
Owners: @temporalio/frontend-engineering

refactor(search-attributes): poc generated schema usage
  packages/schemas/README.md
  src/lib/services/search-attributes-service.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/map-entries.ts
  src/lib/utilities/screaming-enums.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

feat(search-attributes): improve error handling and naming
  src/lib/services/search-attributes-service.ts
Owners: @stevekinney, @Alex-Tideman

Make event timestamp copyable (#2647)
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Update version.go to v2.36.2
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.36.2 (#2649)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Remove unused page, refactor expand logic to be a prop and remove unused expandAll prop
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

2.36.12
  package.json
Owners: @temporalio/frontend-engineering

Remove unused page, refactor expand logic to be a prop and remove unused expandAll prop (#2651)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update version.go to v2.36.3
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.36.3 (#2654)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Fix showGraph var
  src/lib/components/event/event-summary-table.svelte
Owners: @rossedfort

Fix showGraph var (#2657)
  src/lib/components/event/event-summary-table.svelte
Owners: @rossedfort

2.36.13
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to v2.36.4
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.36.4 (#2659)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

WIP: build direct nodes
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

proposal doc
  MIGRATION_PROPOSAL.md
Owners: @temporalio/frontend-engineering

feat(docs): update migration proposal with repo relationships
  MIGRATION_PROPOSAL.md
Owners: @temporalio/frontend-engineering

another flow diagram update
  MIGRATION_PROPOSAL.md
Owners: @temporalio/frontend-engineering

feat(schemas): add build script and improve exports
  package.json
  packages/schemas/.prettierrc
  packages/schemas/README.md
  packages/schemas/build.ts
  packages/schemas/package.json
  packages/schemas/scripts/generate-schema/index.ts
  packages/schemas/scripts/generate-types/index.ts
  packages/schemas/scripts/lib/prettier.ts
  packages/schemas/src/index.ts
Owners: @temporalio/frontend-engineering

feat(schemas): add generate scripts for schemas and locales
  package.json
  packages/schemas/README.md
Owners: @temporalio/frontend-engineering

feat: add schema publishing workflow and update scripts
  .github/workflows/publish-package.yml
  package.json
  packages/schemas/package.json
Owners: @stevekinney, @temporalio/frontend-engineering

Add schedule/next/previous/first to viz
  src/lib/components/workflow/relationships/continue-as-new-node.svelte
  src/lib/components/workflow/relationships/continue-as-new-tree.svelte
  src/lib/components/workflow/relationships/schedule-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

WIP
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add sibling count to show ghost of siblings
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

2.36.14
  package.json
Owners: @temporalio/frontend-engineering

2.37.0
  package.json
Owners: @temporalio/frontend-engineering

add first shot at test
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  tests/integration/schedules-search-attributes.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

add test id's
  pnpm-lock.yaml
  src/lib/components/schedule/schedules-interval-view.svelte
  tests/integration/schedules-search-attributes.spec.ts
Owners: @temporalio/frontend-engineering, @rossedfort

install
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

typo
  tests/integration/schedules-search-attributes.spec.ts
Owners: @temporalio/frontend-engineering

use url string instead
  tests/integration/schedules-search-attributes.spec.ts
Owners: @temporalio/frontend-engineering

finally got tests to pass
  tests/integration/schedules-search-attributes.spec.ts
Owners: @temporalio/frontend-engineering

rename test again
  tests/integration/schedules-search-attributes.spec.ts
Owners: @temporalio/frontend-engineering

does this fix test
  tests/e2e/schedules.spec.ts
Owners: @temporalio/frontend-engineering

Add check for new nexus events and also handle unknown event types
  server/go.mod
  server/go.sum
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/models/event-history/get-event-classification.test.ts
  src/lib/models/event-history/get-event-classification.ts
  src/lib/utilities/is-event-type.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove option chain
  src/lib/models/event-history/get-event-classification.ts
Owners: @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
