Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

use existing input/result component for SAA
  src/lib/components/standalone-activities/activity-input-and-outcome.svelte
Owners: @rossedfort

add max height and accordion to last failure
  src/lib/components/standalone-activities/activity-execution-last-failure.svelte
Owners: @rossedfort

Add worker integration tests
  tests/integration/worker-instances.spec.ts
  tests/integration/workflow-workers.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/namespace.ts
  tests/test-utilities/mocks/task-queues.ts
  tests/test-utilities/mocks/workers.ts
Owners: @temporalio/frontend-engineering

Add tooltip copy for slot supplier kind and autoscaling badges
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/i18n/locales/en/workers.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Use CountSchedules API for schedule count
  src/lib/services/workflow-counts.ts
  tests/integration/schedule-edit.spec.ts
  tests/integration/schedules-list.spec.ts
  tests/test-utilities/mock-apis.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Remove duplicate Create Schedule button in schedules table empty state
  src/lib/pages/schedules.svelte
  tests/e2e/schedules.spec.ts
  tests/integration/disable-write-actions.spec.ts
  tests/integration/schedule-edit.spec.ts
  tests/integration/schedules-list.spec.ts
Owners: @temporalio/frontend-engineering

Update schedules-list integration test
  tests/integration/schedules-list.spec.ts
Owners: @temporalio/frontend-engineering

Add samples-ruby to workflows table empty state
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Add samples-ruby to workflows table empty state (#3259)
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

add attempts to closed activity and add state transitions/billable actions
  src/lib/components/standalone-activities/activity-header.svelte
  src/lib/pages/standalone-activity-details.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove heuristic LLM detection, require _llm convention only
  src/lib/models/event-history/get-event-llm-metadata.test.ts
  src/lib/models/event-history/get-event-llm-metadata.ts
Owners: @stevekinney, @Alex-Tideman

Persist workflow tab and sort preferences across navigation
  src/lib/components/event/event-details-link.svelte
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/live-child-workflows-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-nexus-links.svelte
  src/lib/stores/event-view.ts
  src/lib/utilities/event-link-href.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add schedule spec to human-readable label utility
  src/lib/utilities/schedule-spec-label.test.ts
  src/lib/utilities/schedule-spec-label.ts
Owners: @stevekinney, @Alex-Tideman

Integrate schedule-spec-label utility into schedule components
  src/lib/components/schedule/schedule-form/schedules-calendar-view.svelte
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Use formatDuration for interval labels and add comprehensive tests
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/utilities/schedule-spec-label.test.ts
  src/lib/utilities/schedule-spec-label.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Display human-readable schedule spec labels (#3261)
  src/lib/components/schedule/schedule-form/schedules-calendar-view.svelte
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/pages/schedule-view.svelte
  src/lib/utilities/schedule-spec-label.test.ts
  src/lib/utilities/schedule-spec-label.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add invite icon to Holocene design system (#DT-3727)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/invite.svelte
Owners: @rossedfort

Remove g transform wrapper from invite icon, shift path Y-coords natively
  src/lib/holocene/icon/svg/invite.svelte
Owners: @rossedfort

Add image preview toggle for workflow results containing base64 images
  src/lib/components/event/event-card.svelte
  src/lib/components/event/image-preview.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/utilities/extract-image-data-uris.test.ts
  src/lib/utilities/extract-image-data-uris.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add invite icon to Holocene design system (#3262)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/invite.svelte
Owners: @rossedfort

Add divider color and remove margin
  src/lib/components/side-nav.svelte
Owners: @rossedfort

refactor(bottom-nav-links): use navigation-utils type guards
  src/lib/components/bottom-nav-links.svelte
Owners: @rossedfort

refactor(side-nav): use navigation-utils type guards
  src/lib/components/side-nav.svelte
Owners: @rossedfort

Ensure sidenav doesn't change size when subtitle is href or not. smoooth transition addition.
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Fix timezone font size and weight to match.
  src/lib/components/timezone-select.svelte
Owners: @rossedfort

Fix hardcoded color value and settings icon.
  src/lib/holocene/icon/svg/settings.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

refactor(navigation-item): migrate to Svelte 5 runes
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

feat(navigation): add NavGroup Holocene component
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-group.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix: type errors
  src/lib/holocene/navigation/nav-group.svelte
Owners: @rossedfort

feat(navigation): extend NavGroup to OSS and split nav groups
  src/lib/components/side-nav.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

refactor(navigation): tighten NavGroup to NavLinkItem[]
  src/lib/holocene/navigation/nav-group.svelte
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

refactor(navigation): split getLinkList into explicit nav groups
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-group.svelte
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add common-error component with 35 workflow configuration warnings (#3262)
  src/lib/components/common-errors/common-error-list.svelte
  src/lib/components/common-errors/common-error.svelte
  src/lib/components/common-errors/common-errors-data.test.ts
  src/lib/components/common-errors/common-errors-data.ts
  src/lib/types/common-errors.ts
  src/routes/(app)/common-errors/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Integrate common-error detection into workflow detail header
  src/lib/components/common-errors/common-errors-data.ts
  src/lib/components/workflow/workflow-common-errors.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/utilities/common-error-detection.test.ts
  src/lib/utilities/common-error-detection.ts
  src/routes/(app)/common-errors/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

refactor(navigation): rename NavGroup to NavSection, sections API
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-section.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

feat(navigation): add secondaryLinkList prop to BottomNavigation and BottomNavLinks
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

fix(navigation): pass secondary nav links to BottomNavigation for mobile visibility
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering

Fix detection accuracy for common errors
  src/lib/utilities/common-error-detection.test.ts
  src/lib/utilities/common-error-detection.ts
Owners: @stevekinney, @Alex-Tideman

feat: three-call orchestration with validation and rollback in create worker form
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/pages/serverless-worker-create.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

feat: serverless workers CRUD
  .claude/skills/local-temporal/SKILL.md
  server/go.mod
  server/go.sum
  src/lib/components/capability-guard.svelte
  src/lib/components/deployments/deployments-empty-state.svelte
  src/lib/components/workers/delete-worker-modal.svelte
  src/lib/components/workers/serverless-worker-detail-skeleton.svelte
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-edit-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-setup-guide.svelte
  src/lib/components/workers/serverless-worker-form/setup-guide-toggle.svelte
  src/lib/components/workers/serverless-worker-form/shared.ts
  src/lib/components/workers/serverless-worker-status.svelte
  src/lib/components/workers/serverless-worker-table-row.svelte
  src/lib/holocene/radio-input/index.ts
  src/lib/holocene/radio-input/radio-card.svelte
  src/lib/holocene/timeline/index.ts
  src/lib/holocene/timeline/timeline-step.svelte
  src/lib/holocene/timeline/timeline.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/pages/serverless-worker-create.svelte
  src/lib/pages/serverless-worker-detail.svelte
  src/lib/pages/serverless-worker-edit.svelte
  src/lib/services/deployments-service.ts
  src/lib/services/serverless-worker-service.ts
  src/lib/types/deployments.ts
  src/lib/types/index.ts
  src/lib/types/serverless-workers.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.ts
  src/routes/(app)/namespaces/[namespace]/workers/deployments/serverless/[id]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workers/deployments/serverless/[id]/edit/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workers/deployments/serverless/create/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
