Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Account for border in input height
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Remove unnecessary Icon class
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Add data-1p-ignore to inputs
  src/lib/components/search.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
Owners: @rossedfort

Refactor out payload inputs to its own component and add encoding field to set encoding
  src/lib/components/payload-input.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/schedule.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/encode-payload.ts
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Pass encoding to workflow start
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Combobox component updates (#2369)
  src/lib/components/search.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
Owners: @rossedfort

Don't omit header attribute on event details
  src/lib/utilities/format-event-attributes.test.ts
  src/lib/utilities/format-event-attributes.ts
Owners: @stevekinney, @Alex-Tideman

Use RadioGroup for encoding type
  src/lib/components/payload-input.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/utilities/decode-payload.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add upload file button to payload-input, base64 decode all payloads
  src/lib/components/payload-input.svelte
  src/lib/holocene/file-input.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/decode-payload.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update e2e test with new id
  tests/e2e/schedules.spec.ts
Owners: @temporalio/frontend-engineering

Fix merge conflicts and remove hash on close of expanded row. Need to fix scrollTo for desc sort
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Make offset variable in timelineTextPosition
  src/lib/components/lines-and-dots/constants.ts
Owners: @rossedfort

Add pending activity attempt count to timeline row
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Owners: @rossedfort

Only show attemps if greater than 1
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Owners: @rossedfort

Refactor out user menu to it's own component with menu slot
  src/lib/components/top-nav.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/user-menu.svelte
Owners: @rossedfort

use description instead of tooltip on reset menu item
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

Add constants and util func for offsets
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Owners: @rossedfort

Refactor out payload inputs to its own component and add encoding field (#2370)
  src/lib/components/payload-input.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/holocene/file-input.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/schedule.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/encode-payload.ts
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
  tests/e2e/schedules.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix menu width on workflow actions
  src/lib/components/workflow-actions.svelte
  src/lib/holocene/split-button.svelte
Owners: @rossedfort

Update src/lib/holocene/api-pagination.svelte
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

Update src/lib/holocene/api-pagination.svelte
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

Add grow back to input
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

Updated user menu
  pnpm-lock.yaml
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/holocene/user-menu-mobile.svelte
  src/lib/holocene/user-menu.svelte
  src/lib/i18n/locales/en/common.ts
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Smaller gaps
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/user-menu-mobile.svelte
Owners: @rossedfort

Remove py-2 to keep icons nice and square
  src/lib/holocene/navigation/navigation-button.svelte
Owners: @rossedfort

Consistent disabled class
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

DT-1495 - use description instead of tooltip on reset menu item (#2373)
  src/lib/components/workflow-actions.svelte
  src/lib/holocene/split-button.svelte
Owners: @rossedfort

Update retry badge color
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add retry label
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Move next retry time next to retry attempts
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
Owners: @rossedfort

Add tooltip to Namespace switcher. Make bottom namespace nav items better
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/i18n/locales/en/namespaces.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add markdown route to ui-server
  server/server/route/api.go
  server/server/server.go
Owners: @temporalio/frontend-engineering

Use node adapter instead of static
  package.json
  pnpm-lock.yaml
  svelte.config.js
Owners: @temporalio/frontend-engineering

Add empty service-worker file
  src/service-worker.js
Owners: @temporalio/frontend-engineering

Remove tooltip from mobile nav
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

Move back navigation item css
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

UserMenu refactoring (#2374)
  pnpm-lock.yaml
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/holocene/user-menu-mobile.svelte
  src/lib/holocene/user-menu.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/namespaces.ts
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add pending activity attempt count to timeline (#2372)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

2.31.3
  package.json
Owners: @temporalio/frontend-engineering

Add logout icon
  src/lib/holocene/user-menu-mobile.svelte
  src/lib/holocene/user-menu.svelte
Owners: @rossedfort

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
