Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

2.27.7
  package.json
Owners: @temporalio/frontend-engineering

2.27.7 (#2134)
  package.json
Owners: @temporalio/frontend-engineering

DT-2134 Fix a11y issues with accordion.svelte
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Remove on:keydown on CodeBlock
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Update filter-or-copy-buttons.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
Owners: @rossedfort

clean up workflow actions
  src/lib/components/workflow-actions.svelte
  src/lib/utilities/workflow-cancel-enabled.ts
  src/lib/utilities/workflow-reset-enabled.ts
  src/lib/utilities/workflow-signal-enabled.ts
  src/lib/utilities/workflow-terminate-enabled.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

better i18n string name
  src/lib/components/workflow-actions.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Audit a11y issues (#2135)
  src/lib/holocene/accordion.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
Owners: @rossedfort

fix batch action checks
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
Owners: @rossedfort

fix tests
  src/lib/utilities/workflow-cancel-enabled.test.ts
  src/lib/utilities/workflow-reset-enabled.test.ts
  src/lib/utilities/workflow-signal-enabled.test.ts
  src/lib/utilities/workflow-terminate-enabled.test.ts
Owners: @stevekinney, @Alex-Tideman

add integration tests
  tests/integration/workflow-actions.spec.ts
  tests/integration/workflow-reset.spec.ts
Owners: @temporalio/frontend-engineering

clean up workflow actions (#2136)
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/workflow-cancel-enabled.test.ts
  src/lib/utilities/workflow-cancel-enabled.ts
  src/lib/utilities/workflow-reset-enabled.test.ts
  src/lib/utilities/workflow-reset-enabled.ts
  src/lib/utilities/workflow-signal-enabled.test.ts
  src/lib/utilities/workflow-signal-enabled.ts
  src/lib/utilities/workflow-terminate-enabled.test.ts
  src/lib/utilities/workflow-terminate-enabled.ts
  tests/integration/workflow-actions.spec.ts
  tests/integration/workflow-reset.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

2.27.8
  package.json
Owners: @temporalio/frontend-engineering

2.27.8 (#2137)
  package.json
Owners: @temporalio/frontend-engineering

Update workflow status colors (#2132)
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/workflow-status.svelte
Owners: @rossedfort

Use globalThis.accessToken() for codec server calls
  src/lib/services/data-encoder.ts
Owners: @Alex-Tideman, @GiantRobots

Use globalThis.accessToken() for codec server calls (#2138)
  src/lib/services/data-encoder.ts
Owners: @Alex-Tideman, @GiantRobots

fix alignment of api pagination slots
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

fix
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

fix slot check
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

add debounce as a prop
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

spelling
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

fix debounce
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

remove loading slot prop
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

WIP: Set initial search attributes
  server/config/development.yaml
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/components/workflow/start-workflow-search-attributes.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/settings-service.ts
  src/lib/services/workflow-service.ts
  src/lib/types/index.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Fix api pagination alignment, add debounce as a prop (#2139)
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

2.27.9
  package.json
Owners: @temporalio/frontend-engineering

2.27.9 (#2140)
  package.json
Owners: @temporalio/frontend-engineering

Don't clear value, use string input
  src/lib/components/workflow/start-workflow-search-attribute-input.svelte
  src/lib/components/workflow/start-workflow-search-attributes.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/stores/search-attributes.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add flag check in workflowCreateDisabled
  src/lib/utilities/workflow-create-disabled.ts
Owners: @stevekinney, @Alex-Tideman

2.27.4 (#2111)
  package.json
Owners: @temporalio/frontend-engineering

remove import from protos, use custom enum (#2112)
  src/lib/services/batch-service.ts
Owners: @stevekinney, @Alex-Tideman

DT-2159 - fix "Reapply Signals" checkbox on reset workflow confirmation form (#2117)
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  tests/integration/workflow-reset.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/workflow.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix issue where close button cannot be seen on dark drawers (#2115)
  src/lib/holocene/drawer.stories.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/icon-button.svelte
Owners: @rossedfort

2.27.5 (#2113)
  package.json
Owners: @temporalio/frontend-engineering

send resetType in request body for batch reset (#2110)
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/services/batch-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove copyable tooltip (#2114)
  src/lib/holocene/tooltip.stories.svelte
  src/lib/holocene/tooltip.svelte
Owners: @rossedfort

2.27.6 (#2122)
  package.json
Owners: @temporalio/frontend-engineering

Add local-temporal command (#2120)
  .env.local-temporal
  README.md
  package.json
  plugins/vite-plugin-ui-server.ts
Owners: @temporalio/frontend-engineering

Add timezoneName to schedule spec with default of UTC (#2127)
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/stores/schedules.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
