Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Create workflowTaskGroups
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/get-group-id.ts
  src/lib/models/event-groups/index.ts
  src/lib/models/event-history/get-event-categorization.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add support for STARTS_WITH for prefix searching
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/is.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/version-check.test.ts
  src/lib/utilities/version-check.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Set correct version
  src/lib/components/workflow/filter-search/text-filter.svelte
Owners: @rossedfort

If no current version, return true
  src/lib/utilities/version-check.test.ts
  src/lib/utilities/version-check.ts
Owners: @stevekinney, @Alex-Tideman

Add prefixSearch as a capability, unit test query
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/capability-enablement.ts
  src/lib/stores/group-by-enabled.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/version-check.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add isStartsWith fn
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/stores/capability-enablement.ts
  src/lib/utilities/is.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Use 1.23.0 for minimum version
  src/lib/stores/capability-enablement.ts
Owners: @stevekinney, @Alex-Tideman

Use isStartsWith
  src/lib/utilities/query/filter-workflow-query.ts
Owners: @stevekinney, @Alex-Tideman

Update version-check and test
  src/lib/utilities/version-check.test.ts
  src/lib/utilities/version-check.ts
  vitest.config.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Style workflow details tags, start workflowTaskSubGroups
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Make summary area
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix table hover row
  src/lib/holocene/table/paginated-table.svelte
Owners: @rossedfort

Color changes, add disabled class to toggle button
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Support timezones in timeline (#1933)
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/stores/time-format.test.ts
  src/lib/stores/time-format.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

start adding darkmode colors
  src/lib/holocene/input/number-input.svelte
Owners: @rossedfort

Fix fetchAllEvents to work everywhere, fix text positioning
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/services/events-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

remove redundent plugin use correct surface in icon button
  src/lib/holocene/icon-button.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Make timeline thinner
  src/lib/components/lines-and-dots/constants.ts
Owners: @rossedfort

update styles
  src/lib/holocene/tab/tab-panel.svelte
  src/lib/holocene/tab/tab.svelte
Owners: @rossedfort

Add workflow line if no event groups in compact view
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Use 24 hr time for schedule date/time picker
  src/lib/components/schedule/schedules-time-view.svelte
  src/lib/holocene/time-picker.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update schedule time formatting to use 24 hr time
  src/lib/i18n/locales/en/schedules.ts
  src/lib/utilities/schedule-comment-formatting.test.ts
  src/lib/utilities/schedule-comment-formatting.ts
  src/lib/utilities/schedule-frequency-formatting.test.ts
  src/lib/utilities/schedule-frequency-formatting.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update schedules e2e test
  tests/e2e/schedules.spec.ts
Owners: @temporalio/frontend-engineering

fix lint error
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
Owners: @rossedfort

Only open one compact drawer at a time
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

border
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

refactor based on Ross' comments
  src/lib/holocene/tab/tab-panel.svelte
  src/lib/holocene/tab/tab.svelte
Owners: @rossedfort

Audit icon button (#1935)
  src/lib/holocene/icon-button.svelte
Owners: @rossedfort

Updates from Laura comments. Lowercase starts with
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/utilities/is.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Remove white text var for light and dark
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Update table text to use text-inverse instead of white
  src/lib/holocene/table/table.svelte
Owners: @rossedfort

Add text inverse to replace text white
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Add support for STARTS_WITH for prefix searching (#1936)
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/capability-enablement.ts
  src/lib/stores/group-by-enabled.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/is.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/version-check.test.ts
  src/lib/utilities/version-check.ts
  vitest.config.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update Chip & Chip Input component for dark mode support (#1932)
  src/lib/holocene/chip.svelte
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

Make filter value in component reactive to filter changes
  src/lib/components/workflow/filter-search/duration-filter.svelte
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
Owners: @rossedfort

Run prettier
  vitest.config.ts
Owners: @temporalio/frontend-engineering

Move svelte kit back to correct exclude arr
  vitest.config.ts
Owners: @temporalio/frontend-engineering

Get values with spaces in toListWorkflowFilters
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Owners: @stevekinney, @Alex-Tideman

Check for matching closing quote
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Owners: @stevekinney, @Alex-Tideman

Handle query args
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-query.svelte
  src/lib/services/query-service.ts
  src/lib/types/api.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
