Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Update snaps
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Owners: @rossedfort

Update remaining API routes
  src/lib/services/batch-service.test.ts
  src/lib/services/batch-service.ts
  src/lib/services/events-service.ts
  src/lib/services/workflow-activities-service.ts
  src/lib/services/workflow-service.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
  tests/accessibility/network-requests/empty-states.har
  tests/accessibility/network-requests/with-schedules.har
  tests/accessibility/network-requests/with-workflows.har
  tests/test-utilities/mocks/batch-operations.ts
  tests/test-utilities/mocks/workflow.ts
  tests/test-utilities/mocks/workflows-count.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

The query API now needs its own parameter type
  src/lib/services/query-service.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Bump go version to support new atomics
  server/go.mod
Owners: @temporalio/frontend-engineering

Use expotential backoff
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/utilities/refresh-rate.test.ts
  src/lib/utilities/refresh-rate.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Spell things
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/utilities/refresh-rate.test.ts
  src/lib/utilities/refresh-rate.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Fix integration tests for counts and simplify Workflow header logic with visibilty
  src/lib/components/workflow/workflow-count-all.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-counts.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/refresh-rate.test.ts
  src/lib/utilities/refresh-rate.ts
  tests/integration/workflow-bulk-actions.spec.ts
  tests/integration/workflows-count.spec.ts
  tests/integration/workflows-list-with-advanced-visibility.spec.ts
  tests/integration/workflows-list.spec.ts
  tests/test-utilities/mock-apis.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Better test name
  src/lib/utilities/refresh-rate.test.ts
Owners: @stevekinney, @Alex-Tideman

Cleanup
  tests/integration/workflows-list.spec.ts
  tests/test-utilities/mock-apis.ts
Owners: @temporalio/frontend-engineering

Fix padding on new count of workflow status
  src/lib/components/workflow-status.svelte
Owners: @rossedfort

Use getStatusAndCountOfGroup, stay DRY
  src/lib/components/workflow/workflow-counts.svelte
Owners: @rossedfort

Use maxAttempts
  src/lib/components/workflow/workflow-counts.svelte
Owners: @rossedfort

Refresh Workflow Counts (#1699)
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/workflow-count-all.svelte
  src/lib/components/workflow/workflow-count-refresh.svelte
  src/lib/components/workflow/workflow-count-status.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-counts.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/refresh-rate.test.ts
  src/lib/utilities/refresh-rate.ts
  tests/integration/workflow-bulk-actions.spec.ts
  tests/integration/workflows-count.spec.ts
  tests/integration/workflows-list-with-advanced-visibility.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Bump api-go version and use official API repos
  .gitmodules
  go.work.sum
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Add fromEventToRawEvent to strip extra UI fields for download and JSON view.
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-history/index.ts
  src/lib/models/event-history/to-event-history.test.ts
  src/lib/utilities/export-history.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove decodeEventHistoryDownload env var, add toggle in download prompt to decode
  server/config/development.yaml
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/events.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/services/settings-service.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/export-history.ts
  src/lib/utilities/get-codec.test.ts
  tests/test-utilities/mocks/settings.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Better label for decoding
  src/lib/i18n/locales/en/events.ts
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Set inital decodedValue to value instead of empty string to prevent flashes of height change
  src/lib/components/event/payload-decoder.svelte
Owners: @rossedfort

Always return array in input-and-results
  src/lib/components/workflow/input-and-results.svelte
Owners: @rossedfort

Consistent labels
  src/lib/pages/workflow-history-json.svelte
Owners: @temporalio/frontend-engineering

Make decodeEventHistory a persistStore, fix JSON view timeline history order
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/top-nav.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/workflow-history-json.svelte
  src/lib/stores/events.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/json/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Allow decoding Event History Download through the UI (#1704)
  server/config/development.yaml
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/top-nav.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/events.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-history/index.ts
  src/lib/models/event-history/to-event-history.test.ts
  src/lib/pages/workflow-history-json.svelte
  src/lib/services/settings-service.ts
  src/lib/stores/events.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/export-history.ts
  src/lib/utilities/get-codec.test.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/json/+page.svelte
  tests/test-utilities/mocks/settings.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Remove redundant batch-operations API
  src/lib/services/batch-service.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Check that query result is string
  src/lib/pages/workflow-query.svelte
Owners: @temporalio/frontend-engineering

Add workflow counts to schedule view page, add link to view all runs, fix scheduleId in schedule table
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/workflow/workflow-count-refresh.svelte
  src/lib/components/workflow/workflow-count-status.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/utilities/get-workflow-relationships.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Check that query result is string (#1705)
  src/lib/pages/workflow-query.svelte
Owners: @temporalio/frontend-engineering

Bump SvelteKit to v1.27.0
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Use workflow scheduledId insted of event history since it's already decoded. Add test
  src/fixtures/workflow.scheduled.json
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/get-workflow-relationships.test.ts
  src/lib/utilities/get-workflow-relationships.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Refresh the schedule to update recent/upcoming runs as well
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/workflow/workflow-count-refresh.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/get-workflow-relationships.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix puralize of workflow/s, make gap consistent in schedule headers
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Use workflow scheduledId insted of event history since it's already decoded. Add test (#1708)
  src/fixtures/workflow.scheduled.json
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/get-workflow-relationships.test.ts
  src/lib/utilities/get-workflow-relationships.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Better translations
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Bump SvelteKit to v1.27.0 (#1706)
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Schedule Workflows Count and View All link (#1709)
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/workflow/workflow-count-status.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add returnDataOnly prop to allow returning full payload instead of just data
  src/lib/components/event/payload-decoder.svelte
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/export-history.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Set default in cloneAllPotentialPayloadsWithCodec
  src/lib/components/event/payload-decoder.svelte
  src/lib/utilities/decode-payload.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Allow decodePayload to return full payload with data instead of only data (#1710)
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/export-history.ts
Owners: @stevekinney, @Alex-Tideman

2.20.0
  package.json
Owners: @temporalio/frontend-engineering

Make batch operations table page responsive and use relative time
  src/lib/components/batch-operations/table.svelte
Owners: @rossedfort

2.20.0 (#1711)
  package.json
Owners: @temporalio/frontend-engineering
