Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Make PayloadDecoder reactive from value
  src/lib/components/event/payload-decoder.svelte
Owners: @rossedfort

Add text-inverse for surface-inverse
  src/theme/index.ts
Owners: @temporalio/frontend-engineering

Make PayloadDecoder reactive from value (#1861)
  src/lib/components/event/payload-decoder.svelte
Owners: @rossedfort

add error state to combobox (#1855)
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/theme/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add text-inverse for surface-inverse (#1862)
  src/theme/index.ts
Owners: @temporalio/frontend-engineering

Put the drawer on the right and skinnier
  src/lib/components/lines-and-dots/details-drawer.svelte
Owners: @rossedfort

Add classification and category class to full g
  src/lib/components/lines-and-dots/history-line-dot.svelte
Owners: @rossedfort

Move to a theme
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/preset.ts
  tailwind.config.ts
Owners: @temporalio/frontend-engineering

Move theme to lib
  package.json
  pnpm-lock.yaml
  src/lib/theme/colors.ts
  src/lib/theme/index.ts
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
  tailwind.config.ts
Owners: @temporalio/frontend-engineering

Change top-nav border to subtle
  src/lib/components/top-nav.svelte
Owners: @rossedfort

Move package version back
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Allow passing in a `external` prop, support animated batch icon
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Update icon.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Owners: @rossedfort

Remove cloud colors
  src/lib/theme/colors.ts
Owners: @temporalio/frontend-engineering

Move tailwind theme to lib to import in theme (#1863)
  src/lib/components/top-nav.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/preset.ts
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
  tailwind.config.ts
Owners: @rossedfort, @temporalio/frontend-engineering

2.23.3
  package.json
Owners: @temporalio/frontend-engineering

Remove extra spaces
  src/lib/holocene/alert.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/radio-input/radio-group.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/tab/tab-list.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/holocene/tooltip.svelte
Owners: @rossedfort

Expose slot bindings to named slots
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/pages/schedules.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

2.23.3 (#1864)
  package.json
Owners: @temporalio/frontend-engineering

Update src/lib/holocene/alert.svelte
  src/lib/holocene/alert.svelte
Owners: @rossedfort

Update src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

Update src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu-item.svelte
Owners: @rossedfort

Update src/lib/holocene/menu/menu.svelte
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Update src/lib/holocene/table/table.svelte
  src/lib/holocene/table/table.svelte
Owners: @rossedfort

Update src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu-item.svelte
Owners: @rossedfort

Use twMerge in Skeleton component
  src/lib/holocene/skeleton/index.svelte
Owners: @rossedfort

Use twMerge in Skeleton component (#1865)
  src/lib/holocene/skeleton/index.svelte
Owners: @rossedfort

WIP: encode payloads from schedules
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/services/data-encoder.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/schedule.ts
  src/lib/utilities/decode-payload.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @Alex-Tideman, @GiantRobots, @stevekinney

support label slot in checkbox add close event to combobox only dispatch close even from menucontainer if menu is open
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-container.svelte
Owners: @rossedfort

support label slot in checkbox (#1866)
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-container.svelte
Owners: @rossedfort

2.23.4
  package.json
Owners: @temporalio/frontend-engineering

2.23.4 (#1867)
  package.json
Owners: @temporalio/frontend-engineering

Decode payloads, show Input. Need to get confirmation on whether input needs Payload format or just raw JSON
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update snaps and tests
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/utilities/get-started-completed-and-task-failed-events.test.ts
  src/lib/utilities/query/is-search-attribute.test.ts
  src/lib/utilities/route-for.test.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Pass settings
  src/lib/utilities/decode-payload.ts
Owners: @stevekinney, @Alex-Tideman

Fix type imports
  plugins/vite-plugin-ui-server.ts
  src/lib/stores/persisted-search-parameter.ts
  temporal/client.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove console.log
  src/lib/components/schedule/schedule-input.svelte
Owners: @rossedfort

Add input to edit
  src/lib/pages/schedule-edit.svelte
Owners: @temporalio/frontend-engineering

Fix outside-click
  src/lib/components/data-encoder-settings.svelte
  src/lib/holocene/date-picker.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/outside-click.ts
Owners: @rossedfort

fix some type stuff
  src/lib/components/top-nav.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort
