Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

replace v5 with crypto.randomuuid (#2927)
  package.json
  pnpm-lock.yaml
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/payload-input.svelte
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/schedule-service.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/toaster.ts
  vitest-setup.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

move editdisabled into util
  src/lib/pages/schedule-view.svelte
  src/lib/utilities/schedule-edit-disabled.test.ts
  src/lib/utilities/schedule-edit-disabled.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

make it work in nexus
  src/lib/pages/schedule-view.svelte
  src/lib/utilities/edit-disabled.test.ts
  src/lib/utilities/edit-disabled.ts
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

rm unneeded changes
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
Owners: @temporalio/frontend-engineering

Migrate layout files to Svelte 5
  src/lib/components/nexus-guard.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/import/+layout.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/task-queues/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+layout.svelte
  src/routes/(app)/nexus/+layout.svelte
  src/routes/(app)/nexus/[id]/+layout.svelte
  src/routes/(login)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update FeedbackButton
  src/lib/components/feedback-button.svelte
Owners: @rossedfort

Migrate to Svelte 5
  src/lib/components/batch-operations/results.svelte
Owners: @rossedfort

Update modal title
  tests/integration/saved-query-views.spec.ts
Owners: @temporalio/frontend-engineering

Update text color
  src/lib/components/batch-operations/results.svelte
Owners: @rossedfort

Account for NaN
  src/lib/components/batch-operations/results.svelte
  src/lib/types/batch.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix NaN in Batch Operations results (#2938)
  src/lib/components/batch-operations/results.svelte
  src/lib/types/batch.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Migrate layout files to Svelte 5 (#2937)
  src/lib/components/feedback-button.svelte
  src/lib/components/nexus-guard.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/import/+layout.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/task-queues/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+layout.svelte
  src/routes/(app)/nexus/+layout.svelte
  src/routes/(app)/nexus/[id]/+layout.svelte
  src/routes/(login)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

feat: add workflow execution timeout support
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/workflow-execution.ts
  src/lib/types/workflows.ts
  temporal/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

chore: remove test wf
  temporal/workflows.ts
Owners: @temporalio/frontend-engineering

Fix default conditional for bool
  src/lib/components/workflow/filter-bar/search-attribute-menu.svelte
Owners: @rossedfort

Migrate layout files to Svelte 5 (#2937)
  src/lib/components/feedback-button.svelte
  src/lib/components/nexus-guard.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/import/+layout.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/task-queues/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+layout.svelte
  src/routes/(app)/nexus/+layout.svelte
  src/routes/(app)/nexus/[id]/+layout.svelte
  src/routes/(login)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix NaN in Batch Operations results (#2938)
  src/lib/components/batch-operations/results.svelte
  src/lib/types/batch.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update go.mod
  server/go.mod
Owners: @temporalio/frontend-engineering

Add step='any' for number input to allow decimals for search attributes
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

chore: bump version to 2.41.0
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add task failure query
  src/lib/pages/saved-query-views.svelte
  src/lib/stores/saved-queries.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Testing out api
  server/go.mod
  server/go.sum
  src/lib/pages/task-queue.svelte
  src/lib/services/worker-service.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

working code
  server/server/auth/auth.go
  server/server/auth/oidc.go
  src/lib/stores/auth-user.ts
  src/lib/types/global.ts
  src/lib/utilities/auth-user-cookie.ts
  src/lib/utilities/namespace-filter.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/+page.svelte
  src/routes/(app)/select-namespace/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add taskFailuresCount to saved view
  src/lib/pages/saved-query-views.svelte
  src/lib/services/workflow-counts.ts
  src/lib/stores/saved-queries.ts
  src/lib/stores/workflows.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Move to DOMPurify
  package.json
  pnpm-lock.yaml
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/utilities/render-markdown.ts
  src/routes/(app)/render/+server.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

fix(batch): uri encode batch job ids
  src/lib/utilities/route-for.ts
Owners: @stevekinney, @Alex-Tideman

Show workflow error alert for workflow task timed out events
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/i18n/locales/en/typed-errors.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/types/workflows.ts
  src/lib/utilities/get-workflow-task-failed-event.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add reset workflow button to activities
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
Owners: @rossedfort

Add comparison layout
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/workflow-comparison-panel.svelte
  src/lib/components/workflow/workflow-comparison-view.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-comparison-layout.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/stores/workflow-comparison.ts
  src/lib/utilities/get-started-completed-and-task-failed-events.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

More middleware and such
  src/lib/holocene/card.svelte
  src/lib/utilities/fetch-middleware/__tests__/fetch-middleware.composition.test.ts
  src/lib/utilities/fetch-middleware/__tests__/fetch-middleware.edge-cases.test.ts
  src/lib/utilities/fetch-middleware/__tests__/fetch-middleware.fetch-api.test.ts
  src/lib/utilities/fetch-middleware/__tests__/fetch-middleware.headers.test.ts
  src/lib/utilities/fetch-middleware/__tests__/fetch-middleware.integration.test.ts
  src/lib/utilities/fetch-middleware/__tests__/fetch-middleware.request.test.ts
  src/lib/utilities/fetch-middleware/__tests__/fetch-middleware.response-modification.test.ts
  src/lib/utilities/fetch-middleware/__tests__/fetch-middleware.response.test.ts
  src/lib/utilities/fetch-middleware/composer.ts
  src/lib/utilities/fetch-middleware/demo-interceptors.ts
  src/lib/utilities/fetch-middleware/fetch-middleware.ts
  src/lib/utilities/fetch-middleware/index.ts
  src/lib/utilities/fetch-middleware/proxies.ts
  src/lib/utilities/fetch-middleware/types.ts
  src/routes/(app)/fetch-middleware-demo/+page.svelte
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

add new logos
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/folders.svelte
  src/lib/holocene/icon/svg/identities.svelte
  src/lib/holocene/icon/svg/overview.svelte
Owners: @rossedfort

More stuff
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/input-and-results.svelte
Owners: @rossedfort

Remove type=number to allow strings for case of duration
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

Remove type=number to allow strings for case of duration (#2951)
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

fix: remove unused temporal_auth imports and clean up Dockerfile
  CLEAN_IMPLEMENTATION_SUMMARY.md
  Dockerfile
  server/server/api/handler.go
Owners: @temporalio/frontend-engineering

Add randomUUID polyfill
  src/hooks.client.ts
Owners: @temporalio/frontend-engineering

Fix and always show expand icon
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
Owners: @rossedfort

Add durationplaceholder
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

Dont need string template
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

Duration placeholder text (#2954)
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering
