Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Make sure to set showFullTree true
  src/lib/components/workflow/workflow-relationships.svelte
Owners: @rossedfort

Make sure to set showFullTree true (#2690)
  src/lib/components/workflow/workflow-relationships.svelte
Owners: @rossedfort

Default Codec Error Message and Link (#2684)
  pnpm-lock.yaml
  server/config/development.yaml
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/components/codec-server-error-banner.svelte
  src/lib/components/data-encoder-settings.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/holocene/alert.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/settings-service.ts
  src/lib/stores/data-encoder.test.ts
  src/lib/stores/data-encoder.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Add optional scrollTo action to ChipInput
  src/lib/holocene/input/chip-input.stories.svelte
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

Set position on toaster
  src/lib/holocene/toaster.svelte
  src/lib/stores/toaster.ts
  src/lib/types/holocene.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Center items in center position
  src/lib/holocene/toaster.svelte
Owners: @rossedfort

Update position in story
  src/lib/holocene/toaster.stories.svelte
Owners: @rossedfort

Set position of Toast Notification container (#2692)
  src/lib/holocene/toaster.stories.svelte
  src/lib/holocene/toaster.svelte
  src/lib/stores/toaster.ts
  src/lib/types/holocene.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add optional scrollTo action to ChipInput (#2691)
  src/lib/holocene/input/chip-input.stories.svelte
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

add prefix to input
  src/lib/holocene/input/input.stories.svelte
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

add loading state to select
  src/lib/holocene/select/select.stories.svelte
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

fix text color
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

move spinner
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

Copy Celine's commit
  server/server/rpc/tls.go
Owners: @temporalio/frontend-engineering

oidc config
  server/config/development.yaml
  temporal/oidc-server.ts
Owners: @temporalio/frontend-engineering

feat(tls): add test for certLoader key pair reloading
  server/server/rpc/tls_cert_loader_test.go
Owners: @temporalio/frontend-engineering

slightly newer versio
  .github/workflows/playwright.yml
Owners: @stevekinney

upgrade action version
  .github/workflows/playwright.yml
Owners: @stevekinney

upgrade action version
  .github/workflows/playwright.yml
Owners: @stevekinney

upgrade binary version
  .github/workflows/playwright.yml
Owners: @stevekinney

Support reloading TLS keypair from disk (#2694)
  .github/workflows/playwright.yml
  server/server/rpc/tls.go
  server/server/rpc/tls_cert_loader_test.go
Owners: @stevekinney, @temporalio/frontend-engineering

Add clarification on where to commit UI server changes
  server/README.md
Owners: @temporalio/frontend-engineering

Add clarification on where to commit UI server changes (#2695)
  server/README.md
Owners: @temporalio/frontend-engineering

Update version.go to v2.37.2
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.37.2 (#2696)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

DT-2884 - updates to Select and Input for quickstart guide (#2693)
  src/lib/holocene/input/input.stories.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/select/select.stories.svelte
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

feat(oidc-server): integrate standalone OIDC server plugin
  package.json
  plugins/vite-plugin-oidc-server.ts
  plugins/vite-plugin-temporal-server.ts
  plugins/vite-plugin-ui-server.ts
  pnpm-lock.yaml
  scripts/start-oidc-server.ts
  server/config/development.yaml
  temporal/oidc-server.test.ts
  temporal/oidc-server.ts
  utilities/oidc-server/README.md
  utilities/oidc-server/config.ts
  utilities/oidc-server/index.ts
  utilities/oidc-server/routes/express.ts
  utilities/oidc-server/server.test.ts
  utilities/oidc-server/server.ts
  utilities/oidc-server/support/account.ts
  utilities/oidc-server/support/configuration.ts
  utilities/oidc-server/test-server.ts
  utilities/oidc-server/tsconfig.json
  utilities/oidc-server/views/_layout.ejs
  utilities/oidc-server/views/interaction.ejs
  utilities/oidc-server/views/login.ejs
  utilities/ui-server.ts
  vite.config.ts
  vitest.config.ts
Owners: @temporalio/frontend-engineering

Prototype of saved queries
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/components/workflow/workflow-saved-queries.svelte
Owners: @rossedfort

feat(auth): enhance OIDC server configuration and UI server setup
  .env.with-auth
  package.json
  plugins/vite-plugin-oidc-server.ts
  plugins/vite-plugin-ui-server.ts
  pnpm-lock.yaml
  scripts/start-oidc-server.ts
  server/config/with-auth.yaml
  server/server/route/auth.go
  utilities/oidc-server/config.ts
  utilities/oidc-server/index.ts
  utilities/oidc-server/server.ts
  utilities/oidc-server/support/account.ts
  utilities/oidc-server/support/configuration.ts
  utilities/oidc-server/test-server.ts
  utilities/oidc-server/tsconfig.json
  utilities/ui-server.ts
Owners: @temporalio/frontend-engineering

feat: improve OIDC and UI server styling and logging
  package.json
  plugins/vite-plugin-oidc-server.ts
  plugins/vite-plugin-temporal-server.ts
  plugins/vite-plugin-ui-server.ts
  utilities/oidc-server/server.ts
  utilities/oidc-server/views/_layout.ejs
  utilities/oidc-server/views/interaction.ejs
  utilities/oidc-server/views/login.ejs
  utilities/ui-server.ts
Owners: @temporalio/frontend-engineering

feat(devctl): add CLI tool for managing development services
  utilities/devctl/.gitignore
  utilities/devctl/app/app.go
  utilities/devctl/app/colors/colors.go
  utilities/devctl/app/config/config.go
  utilities/devctl/app/config/config_test.go
  utilities/devctl/app/contexts/contexts.go
  utilities/devctl/app/health/health.go
  utilities/devctl/app/health/health_test.go
  utilities/devctl/app/runner/runner.go
  utilities/devctl/app/service/service.go
  utilities/devctl/app/service/service_test.go
  utilities/devctl/app/tui/model.go
  utilities/devctl/app/tui/run.go
  utilities/devctl/cmd/cli.go
  utilities/devctl/configs/.env.dev
  utilities/devctl/configs/Procfile.dev
  utilities/devctl/configs/healthcheck.dev.yaml
  utilities/devctl/go.mod
  utilities/devctl/go.sum
  utilities/devctl/main.go
Owners: @temporalio/frontend-engineering

feat(tests): add comprehensive unit tests for utilities
  utilities/devctl/app/app_test.go
  utilities/devctl/app/colors/colors_test.go
  utilities/devctl/app/config/config_test.go
  utilities/devctl/app/contexts/contexts_test.go
  utilities/devctl/app/runner/runner_test.go
  utilities/devctl/app/service/handler_test.go
  utilities/devctl/app/service/service_test.go
  utilities/devctl/app/tui/model_test.go
  utilities/devctl/cmd/cli_test.go
Owners: @temporalio/frontend-engineering

feat(app): add focus and mute filters to TUI model
  utilities/devctl/app/app.go
  utilities/devctl/app/tui/model.go
  utilities/devctl/app/tui/model_test.go
  utilities/devctl/cmd/cli.go
  utilities/devctl/configs/.env.dev
  utilities/devctl/configs/Procfile.dev
  utilities/devctl/configs/healthcheck.dev.yaml
Owners: @temporalio/frontend-engineering

feat(dev): add development environment configurations
  configs/.env.dev
  configs/Procfile.dev
  configs/healthcheck.dev.yaml
  utilities/devctl/app/tui/keys.go
  utilities/devctl/app/tui/model.go
  utilities/devctl/app/tui/run.go
  utilities/devctl/go.mod
  utilities/devctl/go.sum
Owners: @temporalio/frontend-engineering

feat(tui): add horizontal scrolling support
  utilities/devctl/app/tui/keys.go
  utilities/devctl/app/tui/model.go
Owners: @temporalio/frontend-engineering

feat(configs): update healthcheck URL for temporal service
  configs/healthcheck.dev.yaml
  utilities/devctl/.gitignore
Owners: @temporalio/frontend-engineering

feat: add devctl script and update dev workflow
  .gitignore
  bin/devctl.sh
  configs/Procfile.dev
  package.json
Owners: @temporalio/frontend-engineering

feat(devctl): pass additional arguments to devctl script
  bin/devctl.sh
Owners: @temporalio/frontend-engineering

Update +page.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
Owners: @temporalio/frontend-engineering

add feedback from Steve
  pnpm-lock.yaml
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering, @rossedfort
