Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

actually remove label assignment in onMount
  src/lib/holocene/select/option.svelte
Owners: @rossedfort

Remove storybook action
  .github/workflows/storybook-tests.yml
Owners: @stevekinney

Fix select option reactive loop (#2858)
  src/lib/holocene/select/option.svelte
Owners: @rossedfort

Revert "Fix select option reactive loop (#2858)"
  src/lib/holocene/select/option.svelte
Owners: @rossedfort

Revert "Fix select option reactive loop (#2858)" (#2860)
  src/lib/holocene/select/option.svelte
Owners: @rossedfort

Remove storybook action (#2859)
  .github/workflows/storybook-tests.yml
Owners: @stevekinney

Reduce z index on relationships to get action menu to not be blocked
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
Owners: @rossedfort

Reduce z index on relationships to get action menu to not be blocked (#2861)
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
Owners: @rossedfort

Remove ternaries
  src/lib/services/schedule-service.ts
  src/lib/services/workflow-service.ts
Owners: @stevekinney, @Alex-Tideman

Use i18n plurals
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/workflow-actions.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Clean up css, add input/result
  src/lib/holocene/icon/svg/box-animation-container.svelte
  src/lib/holocene/icon/svg/box-animation.svelte
Owners: @rossedfort

Add hackathon instructions
  HACKATHON-2025.md
Owners: @temporalio/frontend-engineering

Update Temporal loading logo
  src/lib/vendor/Temporal_Logo_Animation.gif
  src/lib/vendor/Temporal_Logo_Animation.mp4
  src/lib/vendor/Temporal_Logo_Animation.webm
Owners: @temporalio/frontend-engineering

Update HACKATHON-2025.md
  HACKATHON-2025.md
Owners: @temporalio/frontend-engineering

Update HACKATHON-2025.md
  HACKATHON-2025.md
Owners: @temporalio/frontend-engineering

Add Loading component story
  src/lib/holocene/loading.stories.svelte
Owners: @rossedfort

Make title h4
  src/lib/holocene/loading.svelte
Owners: @rossedfort

Add core context with getUserIdentifier (#2850)
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/schedule-service.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/schedule.ts
  src/lib/utilities/core-context.ts
  src/lib/utilities/workflow-actions.test.ts
  src/lib/utilities/workflow-actions.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Stack the events
  src/lib/holocene/icon/svg/box-animation.svelte
  src/lib/layouts/workflow-header-hack.svelte
  src/lib/layouts/workflow-history-layout-hack.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Use latest files
  src/lib/vendor/Temporal_Logo_Animation.mp4
  src/lib/vendor/Temporal_Logo_Animation.webm
Owners: @temporalio/frontend-engineering

checkpoint
  src/lib/holocene/icon/svg/box-animation.svelte
Owners: @rossedfort

Add more style things
  .serena/project.yml
  src/lib/holocene/icon/svg/agent-animation.svelte
  src/lib/holocene/icon/svg/box-animation-container.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Bold labels
  src/lib/holocene/icon/svg/box-animation-container.svelte
Owners: @rossedfort

Fix some things, add a fetch
  src/lib/holocene/icon/svg/agent-animation.svelte
  src/lib/holocene/icon/svg/box-animation-container-fetch.svelte
  src/lib/holocene/icon/svg/box-animation-container.svelte
Owners: @rossedfort

Try some other stuff
  src/lib/holocene/icon/svg/agent-animation.svelte
  src/lib/holocene/icon/svg/box-animation-container.svelte
Owners: @rossedfort

[WFENG-263] Adds SSO login
  .gitignore
  package.json
  pnpm-lock.yaml
  server/config/development.yaml
  server/docker/README.md
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/auth.go
  server/server/config/config.go
  server/server/route/auth.go
  src/lib/holocene/user-menu.svelte
  src/lib/services/settings-service.ts
  src/lib/stores/auth-user.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/is-authorized.test.ts
  src/lib/utilities/is-authorized.ts
  src/lib/utilities/request-from-api.test.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.ts
  src/routes/+layout.ts
  vite.config.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Update Temporal loading logo (#2862)
  src/lib/holocene/loading.stories.svelte
  src/lib/holocene/loading.svelte
  src/lib/vendor/Temporal_Logo_Animation.gif
  src/lib/vendor/Temporal_Logo_Animation.mp4
  src/lib/vendor/Temporal_Logo_Animation.webm
Owners: @rossedfort, @temporalio/frontend-engineering

Key on attempt to update last heartbeat details
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

Key on attempt to update last heartbeat details (#2866)
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

Remove identity from reset api
  src/lib/services/workflow-service.ts
Owners: @stevekinney, @Alex-Tideman

Remove identity from reset api (#2867)
  src/lib/services/workflow-service.ts
Owners: @stevekinney, @Alex-Tideman

style things
  src/lib/components/command-palette.svelte
  src/lib/holocene/modal.svelte
Owners: @rossedfort

Command palette mvp
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  .serena/project.yml
  src/lib/components/command-palette.svelte
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Try happy
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  src/lib/components/command-palette/actions/start-workflow/form.svelte
  src/lib/components/command-palette/index.svelte
  src/lib/components/command-palette/modal.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Make wider, make grid
  src/lib/components/command-palette/actions/start-workflow/form.svelte
  src/lib/components/command-palette/modal.svelte
Owners: @rossedfort

Add start workflow form
  src/lib/components/command-palette/actions/start-workflow/adapter.svelte.ts
  src/lib/components/command-palette/actions/start-workflow/config.svelte.ts
  src/lib/components/command-palette/actions/start-workflow/form.svelte
  src/lib/components/command-palette/actions/start-workflow/types.ts
  src/lib/components/command-palette/index.svelte
  src/lib/components/command-palette/modal.svelte
  src/lib/holocene/loading.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

add more language support to codeblock
  package.json
  pnpm-lock.yaml
  src/lib/holocene/code-block.stories.svelte
  src/lib/vendor/codemirror/custom-extensions.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Always decode last failure
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

Remove form, add top nav shortcut
  src/lib/components/command-palette/actions/start-workflow/adapter.svelte.ts
  src/lib/components/command-palette/actions/start-workflow/config.svelte.ts
  src/lib/components/command-palette/actions/start-workflow/form.svelte
  src/lib/components/command-palette/actions/start-workflow/types.ts
  src/lib/components/command-palette/index.svelte
  src/lib/components/top-nav.svelte
Owners: @rossedfort

add tabs and story
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/custom-extensions.ts
Owners: @rossedfort, @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
