Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

style: run go fmt on server code
  server/server/auth/auth_test.go
  server/server/cors/cors.go
  server/server/cors/cors_test.go
  server/server/route/ui.go
  server/server/rpc/tls_cert_loader_test.go
Owners: @temporalio/frontend-engineering

remove tgz
  temporalio-ui-2.37.0.tgz
Owners: @temporalio/frontend-engineering

revert script
  package.json
Owners: @temporalio/frontend-engineering

Multi-compare workflows
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/workflow-comparison-panel.svelte
  src/lib/components/workflow/workflow-comparison-view.svelte
  src/lib/layouts/group-card.svelte
  src/lib/layouts/workflow-history-comparison-layout.svelte
  src/lib/layouts/workflow-simple-history.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/services/events-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

replace identitiy icon
  src/lib/holocene/icon/svg/icon.svelte
Owners: @rossedfort

fix: tests
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Owners: @rossedfort, @stevekinney, @Alex-Tideman

rm un-needed file
  src/lib/holocene/icon/svg/icon.svelte
Owners: @rossedfort

Refactor, simply
  src/lib/components/workflow/workflow-comparison-panel.svelte
  src/lib/components/workflow/workflow-comparison-view.svelte
  src/lib/layouts/group-card.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-simple-history.svelte
  src/lib/stores/workflow-comparison.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Bump go and rpc versions
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Bump go and rpc versions (#2970)
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

fix(batch): uri encode batch job ids (#2946)
  src/lib/utilities/route-for.ts
Owners: @stevekinney, @Alex-Tideman

feat: add workflow execution timeout (#2939)
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/workflow-execution.ts
  src/lib/types/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

chore: bump version to 2.42.0
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update server/Dockerfile with new base image versions
  server/Dockerfile
Owners: @temporalio/frontend-engineering

Update server/Dockerfile with new base image versions (#2973)
  server/Dockerfile
Owners: @temporalio/frontend-engineering

chore: bump version to 2.42.1
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

add new logos (#2950)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/folders.svelte
  src/lib/holocene/icon/svg/identities.svelte
  src/lib/holocene/icon/svg/overview.svelte
Owners: @rossedfort

Fix reset logic
  src/lib/layouts/workflow-simple-history.svelte
Owners: @temporalio/frontend-engineering

move scroll up/down buttons to left of main content
  src/lib/holocene/scroll-to-container.svelte
Owners: @rossedfort

compatible zod version
  package.json
  pnpm-lock.yaml
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/utilities/form/superforms-example.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

fix: Fixed UI redirects if `TEMPORAL_UI_PUBLIC_PATH` is provided fore home button and `/render` . (#2846)
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Better comparison flow. Share worthy
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-comparison-view.svelte
  src/lib/layouts/group-card.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/layouts/workflow-simple-history.svelte
  src/lib/stores/workflow-comparison.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

get rid of scroll to top/bottom container
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/scroll-to-bottom.svelte
  src/lib/holocene/scroll-to-container.svelte
  src/lib/holocene/scroll-to-top.svelte
Owners: @rossedfort

Add TLS support for ui-server (#2745)
  server/config/development.yaml
  server/config/docker.yaml
  server/server/config/config.go
  server/server/server.go
Owners: @temporalio/frontend-engineering

remove scroll up/down buttons in main content (#2975)
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/scroll-to-bottom.svelte
  src/lib/holocene/scroll-to-container.svelte
  src/lib/holocene/scroll-to-top.svelte
Owners: @rossedfort

Add gradient to retried
  src/lib/components/lines-and-dots/svg/line.svelte
Owners: @rossedfort

Set day as max unit for relative time by default
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Update all the green/reds of svgs
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
Owners: @rossedfort

Change sticky header to surface-background and include border
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

reflect updated version in package.json
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Change sticky header to surface-background and include border (#2979)
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Allow custom keyword SAs to be quick filterable
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
Owners: @rossedfort

move data encoder settings for into a modal
  src/lib/components/data-encoder-settings.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/call-stack/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/memo/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/metadata/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/nexus-links/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/pending-activities/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/query/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add isCustomKeywordOrTextAttribute check
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
Owners: @rossedfort

Add gradient for completed Activities with retries (#2977)
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
Owners: @rossedfort

Add optional type prop to FilterableTableCell
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
Owners: @rossedfort

Make auto-upgrade default reset
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
Owners: @rossedfort

Use max unit of days in getDuration by default
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/format-time.ts
Owners: @stevekinney, @Alex-Tideman

WIP purple button timeline
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Wording changes
  src/lib/components/workflow-actions.svelte
  src/lib/layouts/workflow-simple-history.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
