Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Don't redraw on category change
  src/lib/components/event/event-history-timeline.svelte
Owners: @rossedfort

Don't redraw on category change (#1812)
  src/lib/components/event/event-history-timeline.svelte
Owners: @rossedfort

2.22.3
  package.json
Owners: @temporalio/frontend-engineering

2.22.3 (#1813)
  package.json
Owners: @temporalio/frontend-engineering

Translate labels in svelte file so it's not undefined on page load in cloud
  src/lib/components/event/event-category-multiselect-filter.svelte
  src/lib/models/event-history/get-event-categorization.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Update snaps
  src/lib/models/event-history/get-event-categorization.test.ts
Owners: @stevekinney, @Alex-Tideman

Translate labels in svelte file (#1814)
  src/lib/components/event/event-category-multiselect-filter.svelte
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

2.22.4
  package.json
Owners: @temporalio/frontend-engineering

2.22.4 (#1815)
  package.json
Owners: @temporalio/frontend-engineering

WIP: remove await
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @stevekinney, @Alex-Tideman

Fix width of schedule time and abbr
  src/lib/components/schedule/schedules-time-view.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix width of schedule time and abbr (#1816)
  src/lib/components/schedule/schedules-time-view.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

2.22.5
  package.json
Owners: @temporalio/frontend-engineering

2.22.5 (#1817)
  package.json
Owners: @temporalio/frontend-engineering

Add all sdk fixtures and unit tests, fix local activity filter
  src/fixtures/local-activities/dotnet_local_activity.json
  src/fixtures/local-activities/go_local_activity.json
  src/fixtures/local-activities/java_local_activity.json
  src/fixtures/local-activities/python_local_activity.json
  src/fixtures/local-activities/ts_local_activity.json
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/is-event-type.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Fix local activity filter check
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary.svelte
Owners: @rossedfort

Remove .only
  src/lib/utilities/get-single-attribute-for-event.test.ts
Owners: @stevekinney, @Alex-Tideman

Remove goto's in schedules, make hrefs
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/pages/schedules.svelte
  src/routes/(app)/namespaces/[namespace]/schedules/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add zeta tag
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Move selectAll logic to onChange and out of multi-select to make it less feature specific
  src/lib/components/event/event-category-multiselect-filter.svelte
  src/lib/holocene/select/multi-select.svelte
Owners: @rossedfort

Show Activity Type for local activities in all SDKs (#1795)
  src/fixtures/local-activities/dotnet_local_activity.json
  src/fixtures/local-activities/go_local_activity.json
  src/fixtures/local-activities/java_local_activity.json
  src/fixtures/local-activities/python_local_activity.json
  src/fixtures/local-activities/ts_local_activity.json
  src/lib/components/event/event-category-multiselect-filter.svelte
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/models/event-groups/get-group-name.ts
  src/lib/models/event-history/index.ts
  src/lib/models/pending-activities/index.ts
  src/lib/services/query-service.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/is-event-type.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Use goto in Link and convert all Links to use href
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/error.svelte
  src/lib/holocene/link.svelte
  src/lib/pages/import-events.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/pages/workflows.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove zeta tag
  package.json
Owners: @temporalio/frontend-engineering

Update snaps
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
Owners: @rossedfort

Remove old workflows-list tests
  tests/integration/workflows-list-time-frames.spec.ts
  tests/integration/workflows-list.spec.ts
Owners: @temporalio/frontend-engineering

Update mocks to more recent versions, remove more old workflow list tests
  tests/integration/import-event-history.spec.ts
  tests/integration/storageState.json
  tests/integration/workflow-bulk-actions.spec.ts
  tests/test-utilities/mocks/cluster.ts
  tests/test-utilities/mocks/settings.ts
Owners: @temporalio/frontend-engineering

Add workflow-counts api
  tests/integration/import-event-history.spec.ts
Owners: @temporalio/frontend-engineering

Add comma to expected test result
  tests/integration/import-event-history.spec.ts
Owners: @temporalio/frontend-engineering

Use goto in Link (#1819)
  pnpm-lock.yaml
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/button.svelte
  src/lib/holocene/error.svelte
  src/lib/holocene/link.svelte
  src/lib/pages/import-events.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/pages/workflows.svelte
  src/routes/(app)/namespaces/[namespace]/schedules/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/+page.svelte
  tests/integration/import-event-history.spec.ts
  tests/integration/storageState.json
  tests/integration/workflow-bulk-actions.spec.ts
  tests/integration/workflows-list-time-frames.spec.ts
  tests/integration/workflows-list.spec.ts
  tests/test-utilities/mocks/cluster.ts
  tests/test-utilities/mocks/settings.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Remove runId from queryType
  src/lib/services/query-service.ts
Owners: @stevekinney, @Alex-Tideman

Add hideCount prop for Input
  src/lib/holocene/input/input.svelte
  src/lib/holocene/time-picker.svelte
Owners: @rossedfort

Add hideCount prop for Input (#1820)
  src/lib/holocene/input/input.svelte
  src/lib/holocene/time-picker.svelte
Owners: @rossedfort

Add onError handling of workflow request error for better 404 page for workflow executions
  src/lib/components/workflow/workflow-error.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/workflow-service.ts
  tests/integration/workflows-list-time-frames.spec.ts
  tests/integration/workflows-list.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove deleted tests:
  tests/integration/workflows-list-time-frames.spec.ts
  tests/integration/workflows-list.spec.ts
Owners: @temporalio/frontend-engineering

Fix typo
  src/lib/i18n/locales/en/workflows.ts
Owners: @temporalio/frontend-engineering

clean up checkbox styles, fix some input combobox styles
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/holocene/checkbox.stories.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

clean up checkbox styles, fix some input combobox styles (#1822)
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/holocene/checkbox.stories.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Better design
  src/lib/components/workflow/workflow-error.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Workflow Error Page (#1821)
  src/lib/components/workflow/workflow-error.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove newTab on child workflow link
  src/lib/pages/workflow-history-event-group.svelte
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
