Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Update version.go to v2.26.2 (#2029)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add alias for Holocene
  vite.config.ts
Owners: @temporalio/frontend-engineering

Refactor story for Accordion
  src/lib/holocene/accordion.stories.svelte
Owners: @rossedfort

Add dark mode stories
  src/lib/holocene/accordion.stories.svelte
Owners: @rossedfort

Add aliased success icon
  src/lib/holocene/icon/paths.ts
Owners: @rossedfort

Refactor types for alert
  src/lib/holocene/alert.svelte
Owners: @rossedfort

Refactor alert stories
  src/lib/holocene/alert.stories.svelte
Owners: @rossedfort

Update Badge stories
  src/lib/holocene/badge.stories.svelte
Owners: @rossedfort

Add MenuButtonVariant prop to Select
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

Refactor button stories
  src/lib/holocene/button.stories.svelte
Owners: @rossedfort

Refactor card stories
  src/lib/holocene/card.stories.svelte
Owners: @rossedfort

Remove all references to old history store
  src/lib/components/event/event-summary.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/stores/events.ts
  src/lib/utilities/cancel-in-progress.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix spacing of actions on Accordion
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Fix in progress unit tests
  src/lib/utilities/cancel-in-progress.test.ts
Owners: @stevekinney, @Alex-Tideman

Remove hoverable from checkbox in table header
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
Owners: @rossedfort

Update stories for the checkbox
  src/lib/holocene/checkbox.stories.svelte
Owners: @rossedfort

Remove all references to old history store (#2034)
  src/lib/components/event/event-summary.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/stores/events.ts
  src/lib/utilities/cancel-in-progress.test.ts
  src/lib/utilities/cancel-in-progress.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add MenuButtonVariant prop to Select (#2033)
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

2.26.2
  package.json
Owners: @temporalio/frontend-engineering

Add improved stories for Chip component
  src/lib/holocene/chip.stories.svelte
Owners: @rossedfort

Add improved stories for Code Block
  src/lib/holocene/code-block.stories.svelte
Owners: @rossedfort

2.26.2 (#2035)
  package.json
Owners: @temporalio/frontend-engineering

Add margin to filter and copy icons
  src/lib/holocene/filter-or-copy-buttons.svelte
Owners: @rossedfort

Update prop types on select component
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

Update date picker stories
  src/lib/holocene/date-picker.stories.svelte
Owners: @rossedfort

Update drawer stories
  src/lib/holocene/drawer.stories.svelte
Owners: @rossedfort

Add margin to FilterOrCopyButtons component (#2036)
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

Update accordion.stories.svelte
  src/lib/holocene/accordion.stories.svelte
Owners: @rossedfort

Implement improved stories for empty state
  src/lib/holocene/empty-state.stories.svelte
Owners: @rossedfort

Update icon-button.stories.svelte
  src/lib/holocene/icon-button.stories.svelte
Owners: @rossedfort

Update link.stories.svelte
  src/lib/holocene/link.stories.svelte
Owners: @rossedfort

Update modal.stories.svelte
  src/lib/holocene/modal.stories.svelte
Owners: @rossedfort

Update modal.svelte
  src/lib/holocene/modal.svelte
Owners: @rossedfort

Update split-button.stories.svelte
  src/lib/holocene/split-button.stories.svelte
Owners: @rossedfort

Update textarea.stories.svelte
  src/lib/holocene/textarea.stories.svelte
Owners: @rossedfort

Update toggle-switch.stories.svelte
  src/lib/holocene/toggle-switch.stories.svelte
Owners: @rossedfort

Update toaster.stories.svelte
  src/lib/holocene/toaster.stories.svelte
Owners: @rossedfort

fix(query): add delimiter to the query keyword
  src/lib/utilities/query/filter-workflow-query.ts
Owners: @stevekinney, @Alex-Tideman

Update stories for Tooltip
  src/lib/holocene/tooltip.stories.svelte
  src/lib/holocene/tooltip.svelte
Owners: @rossedfort

Add in @storybook/test
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering
