Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Add a slot to the bottom nav for user profile picture in cloud (#3004)
  src/lib/components/bottom-nav.svelte
  src/lib/components/top-nav.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

lock file updates
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Lets see if pnpm 10.10 works
  package.json
Owners: @temporalio/frontend-engineering

Fix some errors, merge some things try to bump node to 22
  .github/actions/setup-node/action.yml
  ESLINT-MIGRATION-FIXES.md
  TYPESCRIPT-STRICT-MODE-MIGRATION.md
  src/app.d.ts
  src/lib/components/schedule/schedules-count.svelte
  src/lib/components/search-attribute-filter/conditional-menu.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/workflow-loading-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/select/select.svelte
  src/lib/stores/api-pagination.test.ts
  src/lib/stores/api-pagination.ts
  temporal/workers.ts
  tests/integration/archival-namespace.spec.ts
  tests/integration/workflow-bulk-actions.spec.ts
Owners: @stevekinney, @temporalio/frontend-engineering, @rossedfort, @Alex-Tideman

Update mock apis
  tests/integration/start-a-workflow.spec.ts
  tests/test-utilities/mock-apis.ts
Owners: @temporalio/frontend-engineering

Use page.data.namespace to access namespaceInfo (#3002)
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/workflow-relationships-old.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/services/namespaces-service.ts
  src/lib/utilities/get-workflow-relationships.test.ts
  src/lib/utilities/get-workflow-relationships.ts
  src/routes/(app)/namespaces/[namespace]/+layout.ts
  src/routes/(app)/namespaces/[namespace]/+page.ts
  tests/integration/start-a-workflow.spec.ts
  tests/test-utilities/mock-apis.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use page.data.namespace
  src/lib/pages/saved-query-views.svelte
  src/lib/utilities/get-namespace-capabilities.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix eslint weirdness
  eslint.config.js
  src/lib/stores/configurable-table-columns.ts
  src/lib/utilities/omit.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update badge spacing and empty state copy
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/saved-query-views.svelte
Owners: @temporalio/frontend-engineering

clean up
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Owners: @rossedfort

Task Failure System View (#2991)
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/empty-states/no-workflow-task-failures.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/empty-states/no-workflows.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/exclamation-octagon.svelte
  src/lib/holocene/icon/svg/happy-lappy.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/saved-query-views.svelte
  src/lib/services/workflow-counts.ts
  src/lib/stores/saved-queries.ts
  src/lib/types/index.ts
  src/lib/utilities/get-namespace.test.ts
  src/lib/utilities/get-namespace.ts
  src/lib/utilities/workflow-task-failures.test.ts
  src/lib/utilities/workflow-task-failures.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

update tracking
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Owners: @rossedfort

chore: bump version to 2.43.0
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

use better pattern
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Owners: @rossedfort

chore(docker): inline docker-builds base image dependencies (#2996)
  server/Dockerfile
Owners: @temporalio/frontend-engineering

oops, tried to oversimplify. fixed for values that aren't runId's
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Owners: @rossedfort

Move group title into event-details-full
  src/lib/components/event/event-details-full.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
Owners: @rossedfort

add feedback
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Owners: @rossedfort

feat: add contains filter
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/text-filter.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/is.ts
  src/lib/utilities/query/filter-workflow-query.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

chore: bump version to 2.43.2
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update badge padding
  src/lib/pages/saved-query-views.svelte
Owners: @temporalio/frontend-engineering

Set explicit permissions for GitHub Actions workflows (#2989)
  .github/workflows/chromatic.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/playwright.yml
  .github/workflows/test.yml
  .github/workflows/trigger-downstream-updates.yml
Owners: @stevekinney

Update query badge colors
  src/lib/components/workflow-status.svelte
  src/lib/pages/saved-query-views.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Styling things
  src/lib/components/activity/activity-commands.svelte
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/layouts/workflow-header.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix category check
  src/lib/components/event/event-details-full.svelte
Owners: @rossedfort

More refactoring, fix task failure card
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/types.d.ts
  src/lib/theme/variables.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Go back to cards
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

Task Failures style updates (#3010)
  src/lib/components/workflow-status.svelte
  src/lib/pages/saved-query-views.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

More leading-3
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Owners: @rossedfort

rm useless classes
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Owners: @rossedfort

Better colors
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
Owners: @rossedfort

Truncate runid (#3006)
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Owners: @rossedfort

Move things around again
  src/lib/components/activity/activity-commands.svelte
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Show error with filtering workflows
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Show error with filtering workflows (#3011)
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add claude github workflow
  .github/workflows/claude.yml
Owners: @stevekinney

Add claude github workflow (#3013)
  .github/workflows/claude.yml
Owners: @stevekinney

Move timeline to it's own tab, refactor to svelte5, rearrange
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/workflow-timeline.svelte
  src/lib/runes/workflow-history-information.svelte.ts
  src/lib/stores/event-view.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/timeline/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

chore(server): optimize Docker builds with .dockerignore and improved Dockerfile
  server/.dockerignore
  server/Dockerfile
Owners: @temporalio/frontend-engineering

Bump api to v1.57.0
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
