Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

fix types
  src/lib/utilities/decode-payload.ts
Owners: @stevekinney, @Alex-Tideman

DT-2686 - show last failure stack trace separately in pending activities (#2521)
  src/lib/pages/workflow-pending-activities.svelte
  src/lib/utilities/decode-payload.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Only show NamespacePicker on certain pages
  src/lib/components/bottom-nav.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update integration tests
  tests/integration/workflow-navigation.desktop.spec.ts
  tests/integration/workflow-navigation.mobile.spec.ts
Owners: @temporalio/frontend-engineering

Only show NamespacePicker on certain pages (#2522)
  src/lib/components/bottom-nav.svelte
  src/routes/(app)/+layout.svelte
  tests/integration/workflow-navigation.desktop.spec.ts
  tests/integration/workflow-navigation.mobile.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

2.34.4
  package.json
Owners: @temporalio/frontend-engineering

Fix paginated tables and combobox
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/workflow/workflow-count-refresh.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
Owners: @rossedfort

Fix all the table snippets
  src/lib/components/batch-operations/table.svelte
  src/lib/components/worker-compatibility.svelte
  src/lib/components/worker-rules.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/live-child-workflows-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflows-summary-table.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/routes/(app)/namespaces/+page.svelte
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Cloud check to hide update
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

Use store
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

Cloud check to hide Update action (#2525)
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

2.34.5
  package.json
Owners: @temporalio/frontend-engineering

Remove old fork, respond with application/json from APIHandler
  server/go.mod
  server/server/api/handler.go
Owners: @temporalio/frontend-engineering

Fix icon in Combobox with action
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Fix margin for chips in multiselect
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

fix button types and storybook, also fix incorrect usages of button
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/schedules.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add story with action
  src/lib/holocene/combobox/combobox.stories.svelte
Owners: @rossedfort

undo "incorrect" button fixes
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/schedules.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove old fork, respond with application/json from APIHandler (#2527)
  server/go.mod
  server/server/api/handler.go
Owners: @temporalio/frontend-engineering

Use secondary badge, replace primary attribute if it exists
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/badge.svelte
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

More type stuff
  src/lib/components/event/metadata-decoder.svelte
  src/lib/models/event-groups/create-event-group.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Bump text size, use fallback if decoding fails
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/pages/workflow-update.svelte
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix double decoding pending activities
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/pending-activities/index.ts
  src/lib/pages/workflow-pending-activities.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add metadata to expanded row, better layout of expanded timeline view. Need to figure out dynamic height of rest of timeline when expanded
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-metadata-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Finish full refactor of expanded group details
  src/lib/components/event/event-details-link.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
Owners: @rossedfort

change styles and add interactivity to story
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Set height after decoding
  src/lib/components/event/metadata-decoder.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/event-status-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/pending-detail-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/stores/active-events.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Don't do array check
  src/lib/components/event/payload-decoder.svelte
Owners: @rossedfort

Await tick to set height
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
Owners: @rossedfort

fix double decoding pending activities (#2530)
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/pending-activities/index.ts
  src/lib/pages/workflow-pending-activities.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix combobox types
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

fix toggle button types
  src/lib/holocene/toggle-button/toggle-button.stories.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
Owners: @rossedfort

Use WorkflowStatus badge and add 'Pending' | 'Retry' to status
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/workflow-status.svelte
  src/lib/i18n/locales/en/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix height for Child Workflows timeline and hide expand button
  src/lib/components/lines-and-dots/svg/graph-widget.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Put onLoad in the correct place
  src/lib/components/lines-and-dots/svg/graph-widget.svelte
Owners: @rossedfort

Nvm it was in the right spot
  src/lib/components/lines-and-dots/svg/graph-widget.svelte
Owners: @rossedfort

refactor toaster/toast and fix stories
  src/lib/components/import/event-history-file-import.svelte
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/holocene/file-input.svelte
  src/lib/holocene/toast.svelte
  src/lib/holocene/toaster.svelte
  src/lib/holocene/toaster/toaster.stories.svelte
  src/lib/holocene/toaster/toaster.svelte
  src/lib/holocene/toaster/toaster.test.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/namespaces-service.test.ts
  src/lib/services/namespaces-service.ts
  src/lib/stores/toaster.ts
  src/lib/types/holocene.ts
  src/lib/utilities/handle-error.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/select-namespace/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use await block in metadata decoder, add Decoding failed fallback
  src/lib/components/event/event-metadata-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/metadata-decoder.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/i18n/locales/en/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Use persistStores to make DateTime filters sticky for future use
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/stores/time-format.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Bind to stores, add hour/min/second stores
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/stores/time-format.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman
