Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

add pageSizeOptions prop and add max-h-none to table wrapper (#2280)
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

2.29.4
  package.json
Owners: @temporalio/frontend-engineering

Only show pending activity/nexus for group filter
  src/lib/utilities/get-failed-or-pending.ts
Owners: @stevekinney, @Alex-Tideman

Dont use CodeBlock for row snippet, remove thin class and codemirror classes
  src/lib/components/event/event-details-row.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update version.go to v2.30.0
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.30.0 (#2282)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Remove nexus filter for now, format for time for pending events
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Remove nexus filter for now, format for time for pending events (#2283)
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add next retry time and refresh workflow every 10 seconds
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/events-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add next retry time and refresh workflow every 10 seconds (#2284)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/events-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

2.30.0
  package.json
Owners: @temporalio/frontend-engineering

Add label to next retry, put on right end of row to keep time elements consistent
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/utilities/to-time-difference.test.ts
  src/lib/utilities/to-time-difference.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Always show label
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
Owners: @rossedfort

Fix padding, show nextScheduledAttemptTime for pending nexus operation
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
Owners: @rossedfort

Add label for Next Retry on Pending Activities (#2287)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/utilities/to-time-difference.test.ts
  src/lib/utilities/to-time-difference.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

2.30.1
  package.json
Owners: @temporalio/frontend-engineering

Add check for primary key
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Add check for primary key (#2289)
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

2.30.2
  package.json
Owners: @temporalio/frontend-engineering

Add extra checks
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Extra checks for attributes (#2291)
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Add select-all to code-block
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add select-all to code-block (#2292)
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

2.30.3
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to v2.30.1
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.30.1 (#2294)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Make split card have a nicer fit and support hrefs.
  src/lib/holocene/button.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/split-button.stories.svelte
  src/lib/holocene/split-button.svelte
Owners: @rossedfort

changes for billing center
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/credit-card.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

Add IS NULL and IS NOT NULL filter search options
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/duration-filter.svelte
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/is.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix icon
  src/lib/holocene/icon/svg/credit-card.svelte
Owners: @rossedfort

Add tests
  src/lib/utilities/is.test.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
Owners: @stevekinney, @Alex-Tideman

Add NULL options to boolean filter
  src/lib/components/workflow/filter-search/boolean-filter.svelte
Owners: @rossedfort

Fix styling and make sure filter conditional is updated correctly when list item is selected
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
Owners: @rossedfort

Wire up event history links and show link on event summary row
  go.work.sum
  server/go.mod
  server/go.sum
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/models/event-history/index.ts
  src/lib/types/events.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Update nexus regex and make links optional
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/types/events.ts
Owners: @temporalio/frontend-engineering

Fix go.mod?
  server/go.mod
Owners: @temporalio/frontend-engineering

Add nexus enabled check and update nexus text
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/types/index.ts
  src/lib/utilities/nexus-enabled.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

DT-2422 - changes for billing center v2 (#2296)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/credit-card.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

Make split card have a nicer fit and support hrefs. (#2295)
  src/lib/holocene/button.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/split-button.stories.svelte
  src/lib/holocene/split-button.svelte
Owners: @rossedfort

update paginated table to support custom page size options
  src/lib/holocene/table/paginated-table/paginated.svelte
Owners: @rossedfort
