Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

fix navigation badge styles
  src/lib/holocene/navigation/navigation-badge.svelte
Owners: @rossedfort

Remove dark stories
  src/lib/components/workflow-status.stories.svelte
  src/lib/holocene/accordion.stories.svelte
  src/lib/holocene/alert.stories.svelte
  src/lib/holocene/badge.stories.svelte
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/card.stories.svelte
  src/lib/holocene/checkbox.stories.svelte
  src/lib/holocene/chip.stories.svelte
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/compatibility-badge.stories.svelte
  src/lib/holocene/date-picker.stories.svelte
  src/lib/holocene/drawer.stories.svelte
  src/lib/holocene/empty-state.stories.svelte
  src/lib/holocene/icon-button.stories.svelte
  src/lib/holocene/icon/icon.stories.svelte
  src/lib/holocene/input/chip-input.stories.svelte
  src/lib/holocene/input/input.stories.svelte
  src/lib/holocene/input/number-input.stories.svelte
  src/lib/holocene/input/range-input.stories.svelte
  src/lib/holocene/label.stories.svelte
  src/lib/holocene/link.stories.svelte
  src/lib/holocene/menu/menu.stories.svelte
  src/lib/holocene/modal.stories.svelte
  src/lib/holocene/orderable-list/orderable-list.stories.svelte
  src/lib/holocene/pill-container/pill-container.stories.svelte
  src/lib/holocene/radio-input/radio-input.stories.svelte
  src/lib/holocene/scroll-to-top.stories.svelte
  src/lib/holocene/select/select.stories.svelte
  src/lib/holocene/skeleton/skeleton-table.stories.svelte
  src/lib/holocene/skeleton/skeleton.stories.svelte
  src/lib/holocene/split-button.stories.svelte
  src/lib/holocene/tab/tab.stories.svelte
  src/lib/holocene/table/table.stories.svelte
  src/lib/holocene/textarea.stories.svelte
  src/lib/holocene/toaster.stories.svelte
  src/lib/holocene/toggle-button/toggle-button.stories.svelte
  src/lib/holocene/toggle-switch.stories.svelte
  src/lib/holocene/tooltip.stories.svelte
Owners: @rossedfort

fix navigation badge styles (#2220)
  src/lib/holocene/navigation/navigation-badge.svelte
Owners: @rossedfort

2.28.6
  package.json
Owners: @temporalio/frontend-engineering

Additional story clean-up
  src/lib/holocene/accordion.stories.svelte
  src/lib/holocene/date-picker.stories.svelte
  src/lib/holocene/link.stories.svelte
  src/lib/holocene/scroll-to-top.stories.svelte
  src/lib/holocene/split-button.stories.svelte
  src/lib/holocene/textarea.stories.svelte
Owners: @rossedfort

Update spacing and font weight
  src/lib/holocene/alert.svelte
Owners: @rossedfort

Return 404 page for endpoint not found. Use endpoint name on delete confirmation and remove the need to type DELETE.
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/services/nexus-service.ts
  src/routes/(app)/nexus/[id]/+layout.svelte
  src/routes/(app)/nexus/[id]/+layout.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Return 404 page for endpoint not found. Use endpoint name on delete confirmation and remove the need to type DELETE. (#2224)
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/services/nexus-service.ts
  src/routes/(app)/nexus/[id]/+layout.svelte
  src/routes/(app)/nexus/[id]/+layout.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

added Authorization-Extras header for codec server
  src/lib/services/data-encoder.ts
Owners: @Alex-Tideman, @GiantRobots

Update spacing and font weight (#2222)
  src/lib/holocene/alert.svelte
Owners: @rossedfort

Make sure handleCancel is only called once by only triggering dialog close once
  src/lib/holocene/modal.svelte
Owners: @rossedfort

Destroy codeblock editor view on unmount
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Small CodeBlock in Modal fixes (#2225)
  src/lib/holocene/code-block.svelte
  src/lib/holocene/modal.svelte
Owners: @rossedfort

Update base images
  server/Dockerfile
Owners: @temporalio/frontend-engineering

WIP: Pause event history UI updates on polling
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/pause.svelte
  src/lib/holocene/icon/svg/play.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/stores/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add handleChange to bottom nav controls
  src/lib/holocene/pagination.svelte
Owners: @rossedfort

Add handleChange to bottom nav controls (#2229)
  src/lib/holocene/pagination.svelte
Owners: @rossedfort

Remove LabsMode and add all tabs for new WorkflowExecution page. Support desc/asc order
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/end-time-interval.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/table.svelte
  src/lib/holocene/pagination.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-history-compact.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/pages/workflow-history-feed.svelte
  src/lib/types/events.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

WIP: Vertical compact graph
  src/lib/components/lines-and-dots/svg/compact-graph-vertical.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add vertical compact graph code
  src/lib/components/lines-and-dots/svg/compact-graph-vertical-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical.svelte
Owners: @rossedfort

WIP: Vertical compact updates
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical.svelte
Owners: @rossedfort

Better boxes
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical.svelte
Owners: @rossedfort

Add responsive font sizing for h1
  src/app.css
  src/lib/components/batch-operations/header.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/holocene/drawer-content.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/batch-operations.svelte
  src/lib/pages/import-events.svelte
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/routes/(app)/namespaces/+page.svelte
  src/routes/(app)/namespaces/[namespace]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
  src/routes/(app)/namespaces/[namespace]/task-queues/+layout.svelte
  src/routes/(app)/select-namespace/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Update font family
  src/app.css
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/drawer-content.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/label.svelte
  src/lib/holocene/markdown.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/radio-input/radio-group.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/textarea.svelte
  src/lib/holocene/toast.svelte
  tailwind.config.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Add responsive font sizing and update h2 elements
  src/app.css
  src/lib/components/batch-operations/header.svelte
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-notes.svelte
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/worker-compatibility.svelte
  src/lib/components/worker-rules.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/loading.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/import-events.svelte
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/task-queue.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-workers.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

If no cause, use Unspecified
  src/lib/components/workflow/workflow-typed-error.svelte
Owners: @rossedfort

Add responsive font sizing and update other heading elements
  src/app.css
  src/lib/components/data-encoder-settings.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/schedule/schedule-day-of-month-view.svelte
  src/lib/components/schedule/schedule-day-of-week-view.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/schedule/schedules-time-view.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/pages/import-events-view.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/workflow-metadata.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Handle no cause in Lines and Dots, update UI for WorkflowErro
  server/go.mod
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/holocene/alert.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Don't update go.mod
  server/go.mod
Owners: @temporalio/frontend-engineering

Dont need to stringify
  src/lib/components/lines-and-dots/workflow-error.svelte
Owners: @rossedfort

Use text
  src/lib/components/lines-and-dots/workflow-error.svelte
Owners: @rossedfort

Handle undefined cause in single function and add test
  server/go.sum
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/utilities/screaming-enums.test.ts
  src/lib/utilities/screaming-enums.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Fix WorkflowTaskFailed Alert when Cause is not provided (#2230)
  server/go.sum
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/holocene/alert.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/screaming-enums.test.ts
  src/lib/utilities/screaming-enums.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

2.28.7
  package.json
Owners: @temporalio/frontend-engineering

Fix alert
  src/lib/holocene/alert.svelte
Owners: @rossedfort

Fix alert (#2233)
  src/lib/holocene/alert.svelte
Owners: @rossedfort

2.28.8
  package.json
Owners: @temporalio/frontend-engineering

Add default font size and weight for body
  src/app.css
Owners: @temporalio/frontend-engineering

Remove set icon size in Link component
  src/lib/holocene/link.svelte
Owners: @rossedfort

Refactor encoding and decoding to use same token logic and add unit tests
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
Owners: @stevekinney, @Alex-Tideman, @GiantRobots
