Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Add check for event
  src/lib/utilities/is-event-type.ts
Owners: @stevekinney, @Alex-Tideman

Add gap
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Use undefined check
  src/lib/utilities/is-event-type.ts
Owners: @stevekinney, @Alex-Tideman

Don't return WorkflowTaskFailed if a WorkflowTaskCompleted event occurs after it
  src/lib/utilities/get-workflow-task-failed-event.test.ts
  src/lib/utilities/get-workflow-task-failed-event.ts
Owners: @stevekinney, @Alex-Tideman

Use findIndex
  src/lib/utilities/get-workflow-task-failed-event.ts
Owners: @stevekinney, @Alex-Tideman

Add check for event in hasAttributes (#2053)
  src/lib/components/event/event-summary-row.svelte
  src/lib/utilities/is-event-type.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Use gzip in ui-server
  server/server/server.go
Owners: @temporalio/frontend-engineering

Move up failedWorkflowTask check
  src/lib/utilities/get-workflow-task-failed-event.ts
Owners: @stevekinney, @Alex-Tideman

Remove unnecessary <= 0 check
  src/lib/utilities/get-workflow-task-failed-event.ts
Owners: @stevekinney, @Alex-Tideman

Update log level from fatal to error to fix cli download and start
  utilities/temporal-server.ts
Owners: @temporalio/frontend-engineering

Update log level from fatal to error to fix cli download and start (#2057)
  utilities/temporal-server.ts
Owners: @temporalio/frontend-engineering

Don't return WorkflowTaskFailed error if a WorkflowTaskCompleted event occurs after it (#2055)
  src/lib/utilities/get-workflow-task-failed-event.test.ts
  src/lib/utilities/get-workflow-task-failed-event.ts
Owners: @stevekinney, @Alex-Tideman

WIP: Expand codeblocks onhover
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
Owners: @rossedfort

Expand codeblock on hover for group events
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
Owners: @rossedfort

Default active to fals
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
Owners: @rossedfort

2.26.6
  package.json
Owners: @temporalio/frontend-engineering

2.26.6 (#2059)
  package.json
Owners: @temporalio/frontend-engineering

Remove unused search param
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
Owners: @stevekinney, @Alex-Tideman

Small padding fixes
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/radio-input/radio-group.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/split-button.svelte
Owners: @rossedfort

Styling to unround search attributes
  src/lib/components/workflow/filter-search/boolean-filter.svelte
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/holocene/select/select.stories.svelte
Owners: @rossedfort

Add padding-top to loading on labs mode to better center the logo
  src/lib/layouts/workflow-run-layout.svelte
Owners: @temporalio/frontend-engineering

Fix datetime rounded, fix max height on menu, add gap
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Remove unused search param (#2060)
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
Owners: @stevekinney, @Alex-Tideman

Unround boolean filter
  src/lib/components/workflow/filter-search/index.svelte
Owners: @rossedfort

Padding, border-radius fixes (#2062)
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/workflow/filter-search/boolean-filter.svelte
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/radio-input/radio-group.svelte
  src/lib/holocene/select/select.stories.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/split-button.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

2.26.7
  package.json
Owners: @temporalio/frontend-engineering

2.26.7 (#2063)
  package.json
Owners: @temporalio/frontend-engineering

Add background to ToggleButton
  src/lib/holocene/toggle-button/toggle-button.svelte
Owners: @rossedfort

Add a filterable link to WorkflowType filter
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Add background to ToggleButton (#2064)
  src/lib/holocene/toggle-button/toggle-button.svelte
Owners: @rossedfort

Fix indeterminate state on checkbox
  src/lib/holocene/checkbox.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update checkbox.svelte
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Remove unused class
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Fix indeterminate state on checkbox (#2066)
  src/lib/holocene/checkbox.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add a filterable link to WorkflowType filter (#2065)
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Use gzip in ui-server (#2056)
  server/server/server.go
Owners: @temporalio/frontend-engineering

Adjust code selection color for better Safari support
  src/lib/vendor/codemirror/theme.ts
Owners: @temporalio/frontend-engineering

Update theme.ts
  src/lib/vendor/codemirror/theme.ts
Owners: @temporalio/frontend-engineering

Adjust code selection color for better Safari support (#2067)
  src/lib/vendor/codemirror/theme.ts
Owners: @temporalio/frontend-engineering

fix auth for settings requests (#1973)
  src/lib/utilities/request-from-api.ts
  src/routes/(app)/+layout.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
