Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Add check for quotes after midConditional (#2803)
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Owners: @stevekinney, @Alex-Tideman

Check certFile modification time
  server/server/rpc/tls.go
  server/server/rpc/tls_cert_loader_test.go
Owners: @temporalio/frontend-engineering

Don't update keyFile if key is the same
  server/server/rpc/tls_cert_loader_test.go
Owners: @temporalio/frontend-engineering

refactor: make adapter callbacks async
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/codec-server-form/types.ts
  src/lib/components/search-attributes-form/config.svelte.ts
Owners: @rossedfort

refactor: simplify form config interfaces and call adapter callbacks directly
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/codec-server-form.mdx
  src/lib/components/codec-server-form/codec-server-form.stories.svelte
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/default-adapter.svelte.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.mdx
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/types.ts
Owners: @rossedfort

Replace virtual list with NamespacePicker on /select-namespace page
  package.json
  pnpm-lock.yaml
  src/global.d.ts
  src/lib/components/namespace-picker.svelte
  src/routes/(app)/select-namespace/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Show custom noResultsText
  src/lib/components/namespace-picker.svelte
  src/routes/(app)/select-namespace/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix flaky test
  tests/integration/schedules-list.spec.ts
Owners: @temporalio/frontend-engineering

Replace virtual list with NamespacePicker on /select-namespace page (#2806)
  package.json
  pnpm-lock.yaml
  src/global.d.ts
  src/lib/components/namespace-picker.svelte
  src/routes/(app)/select-namespace/+page.svelte
  tests/integration/schedules-list.spec.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Update to use spinner-solid in Button
  src/lib/holocene/button.svelte
Owners: @rossedfort

Move loading icon after text
  src/lib/holocene/button.svelte
Owners: @rossedfort

Update stroke on spinner solid icon
  src/lib/holocene/icon/svg/spinner-solid.svelte
Owners: @rossedfort

address comments
  src/lib/components/api-error.svelte
  src/lib/components/codec-server-form/codec-server-form.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/i18n/locales/en/codec-server.ts
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Remove double border on skeleton table in paginated table component
  src/lib/holocene/skeleton/table.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

Add image back and fix darkmode lightmode images
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Wrapping TEMPORAL_CORS_ORIGIN value in quotes
  server/config/docker.yaml
Owners: @temporalio/frontend-engineering

fix scrollbar in cloud on certain sizes of image
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Fix integration test CORS issue by disabling default UI server
  .env
  .env.test
  .env.test.e2e
  server/config/e2e.yaml
  tests/global-setup.ts
  utilities/temporal-server.ts
Owners: @temporalio/frontend-engineering

Fix unit test environment to use correct port
  .env.test
Owners: @temporalio/frontend-engineering

Fix integration test CORS issue by using custom UI server (#2812)
  .env
  .env.test.e2e
  server/config/e2e.yaml
  tests/global-setup.ts
  utilities/temporal-server.ts
Owners: @temporalio/frontend-engineering

Add transparent rect for pending lines to be clickable for Firefox/Safari
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add completion links
  src/lib/models/event-history/index.ts
Owners: @stevekinney, @Alex-Tideman

Add comment
  src/lib/models/event-history/index.ts
Owners: @stevekinney, @Alex-Tideman

Update to use solid spinner in Button component (#2808)
  src/lib/holocene/button.svelte
  src/lib/holocene/icon/svg/spinner-solid.svelte
Owners: @rossedfort

Remove double border on skeleton table in paginated table component (#2809)
  src/lib/holocene/skeleton/table.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

Add transparent rect for pending lines to be clickable for Firefox/Safari (#2813)
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Use completionCallback links (#2814)
  src/lib/models/event-history/index.ts
Owners: @stevekinney, @Alex-Tideman

Remove some code and fix flex weirdness
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Remove some code and fix flex weirdness
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Add if block to empty image, remove borders
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

fix scrollbar in cloud on certain sizes of image
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Add image back and fix darkmode lightmode images
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Remove empty table image
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

add banner
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/holocene/monaco/markdown.svelte
  src/lib/theme/plugin.ts
  src/markdown.reset.css
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove custom Nexus types for TS SDK proper types
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-link.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/models/event-history/index.ts
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/types/nexus.ts
  src/lib/utilities/event-link-href.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Remove custom Nexus types for TS SDK proper types (#2815)
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-link.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/models/event-history/index.ts
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/types/nexus.ts
  src/lib/utilities/event-link-href.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Fix type imports, update tables
  src/lib/i18n/locales/en/nexus.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/pages/workflow-nexus-links.svelte
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/get-workflow-relationships.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Better paused check
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Better paused check (#2816)
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Update src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
