Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

standardize the time stamp with other time formats
  src/lib/components/workflow/metadata/workflow-current-details.svelte
Owners: @rossedfort

Add core context with getUserIdentifier
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/services/schedule-service.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/schedule.ts
  src/lib/utilities/core-context.ts
  src/lib/utilities/workflow-actions.test.ts
  src/lib/utilities/workflow-actions.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

move decode logic and add local activity to timeline
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/utilities/decode-local-activity.test.ts
  src/lib/utilities/decode-local-activity.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

rm broken file
  src/lib/utilities/decode-local-activity.test.ts
Owners: @stevekinney, @Alex-Tideman

clean up
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Owners: @rossedfort

rm dumb space
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Move actions out of SplitButton
  src/lib/components/workflow-actions.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Adjust responsiveness of actions
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

Update to svelte 5
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

User metadata (#2796)
  server/server/route/ui.go
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/workflow/metadata/metadata-events.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-memo.svelte
  src/lib/components/workflow/metadata/workflow-search-attributes.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/components/workflow/metadata/workflow-user-metadata.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/monaco/markdown.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/theme/plugin.ts
  src/lib/utilities/route-for.ts
  src/markdown.reset.css
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/memo/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
  src/routes/(app)/render/+server.ts
  tests/integration/disable-write-actions.spec.ts
  tests/integration/workflow-metadata.spec.ts
  tests/test-utilities/mocks/workflow.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Fix tests
  tests/integration/disable-write-actions.spec.ts
  tests/integration/workflow-actions.spec.ts
Owners: @temporalio/frontend-engineering

Fix tests
  src/lib/utilities/workflow-actions.test.ts
Owners: @stevekinney, @Alex-Tideman

fix paths
  src/lib/pages/workflow-memo.svelte
  src/lib/pages/workflow-search-attributes.svelte
  src/lib/pages/workflow-user-metadata.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/memo/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Owners: @temporalio/frontend-engineering

fix paths (#2851)
  src/lib/pages/workflow-memo.svelte
  src/lib/pages/workflow-search-attributes.svelte
  src/lib/pages/workflow-user-metadata.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/memo/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Owners: @temporalio/frontend-engineering

Make identity optional
  src/lib/services/schedule-service.ts
  src/lib/services/workflow-service.ts
  src/lib/types/schedule.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add identity to startWorkflow
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Make workflow actions more discoverable (#2849)
  src/lib/components/workflow-actions.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  tests/integration/disable-write-actions.spec.ts
  tests/integration/workflow-actions.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Wip pagination
  .eslintrc.cjs
  src/lib/components/pagination/api-pagination-class.svelte.ts
  src/lib/components/pagination/api-pagination-class.test.ts
  src/lib/components/pagination/api-pagination.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add animation page for fun
  .gitignore
  .serena/project.yml
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/animation.svelte
  src/routes/(app)/animation/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Beautiful gradient
  src/lib/holocene/icon/svg/animation.svelte
Owners: @rossedfort

more steps
  src/lib/holocene/icon/svg/animation.svelte
  src/routes/(app)/animation/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add animate and delay props
  src/lib/holocene/icon/svg/animation.svelte
  src/routes/(app)/animation/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Don't use count
  src/lib/holocene/icon/svg/animation.svelte
  src/routes/(app)/animation/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Wider line, MVP
  src/lib/holocene/icon/svg/animation.svelte
Owners: @rossedfort

Fix the svg path to full svg
  src/lib/holocene/icon/svg/animation.svelte
  src/routes/(app)/animation/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Different steps
  src/routes/(app)/animation/+page.svelte
Owners: @temporalio/frontend-engineering

in a decent fun spot
  .serena/project.yml
  src/lib/holocene/icon/svg/box-animation.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/routes/(app)/animation/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add icons
  src/lib/holocene/icon/svg/box-animation.svelte
Owners: @rossedfort

fix start workflow page with null in search attribute
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

Remove the paths, just add above timeline
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/animation.svelte
  src/lib/holocene/icon/svg/box-animation-container.svelte
  src/lib/holocene/icon/svg/box-animation.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/routes/(app)/animation/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add copy for GrpcMessageTooLarge error
  src/lib/i18n/locales/en/typed-errors.ts
Owners: @temporalio/frontend-engineering

fix start workflow page with null in search attribute (#2853)
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

Add copy for GrpcMessageTooLarge error (#2854)
  src/lib/i18n/locales/en/typed-errors.ts
Owners: @temporalio/frontend-engineering

Add menu position
  .gitignore
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/development_environment.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_workflow.md
  .serena/project.yml
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/menu/menu.stories.svelte
  src/lib/holocene/menu/menu.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

remove serena?
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/development_environment.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_workflow.md
  .serena/project.yml
Owners: @temporalio/frontend-engineering

Use the figma matchs value for table row hover
  src/lib/theme/variables.ts
Owners: @temporalio/frontend-engineering

Use the figma matchs value for table row hover (#2856)
  src/lib/theme/variables.ts
Owners: @temporalio/frontend-engineering

Add a test to verify that the types flow correctly to the transformFunction
  src/lib/components/pagination/api-pagination-class.test.ts
Owners: @rossedfort

only assign label in the reactive statement, don't assign in onMount
  src/lib/holocene/select/option.svelte
Owners: @rossedfort

remove console.log
  src/lib/holocene/select/option.svelte
Owners: @rossedfort
