Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

update pill files (#2734)
  src/lib/holocene/pill-container/pill-container.stories.svelte
  src/lib/holocene/pill-container/pill-container.svelte
  src/lib/holocene/pill-container/pill.svelte
Owners: @rossedfort

DT-2854-5-dark-mode-menu (#2754)
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/dark-mode-icon-button.svelte
  src/lib/components/dark-mode-menu.svelte
  src/lib/components/dark-mode-navigation-button.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
  tests/integration/dark-mode.desktop.spec.ts
  tests/integration/dark-mode.mobile.spec.ts
  tests/test-utilities/custom-matchers.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

quick save
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

maybe working?
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

rm try catch
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Add env var to use ID Token as Bearer token
  server/config/docker.yaml
  server/server/auth/auth.go
  server/server/auth/auth_test.go
  server/server/config/config.go
Owners: @temporalio/frontend-engineering

Update release README section
  README.md
Owners: @temporalio/frontend-engineering

Add dollar-invoice icon
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/dollar-invoice.svelte
Owners: @rossedfort

Show row details on Timeline to make them consistent
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
Owners: @rossedfort

Update release README section (#2757)
  README.md
Owners: @temporalio/frontend-engineering

Change grid if no payloads
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Fix timestamp and copyable button
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/copyable/button.svelte
Owners: @rossedfort

Fix type, comment out visibility store
  src/lib/stores/advanced-visibility.ts
  src/lib/utilities/is-event-type.ts
Owners: @stevekinney, @Alex-Tideman

Use h-9 for the table header cell height to prevent shift on bulk actions
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

Make title text bigger
  src/lib/components/event/event-details-full.svelte
Owners: @rossedfort

rm unused imports
  src/lib/components/event/event-summary-row.svelte
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

update props
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

update props a little more
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

rm console logs
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

remove unused export
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @stevekinney, @Alex-Tideman

put back export
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @stevekinney, @Alex-Tideman

fix import and dumb synta mistakes
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

change event to currentEvent
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

fix types
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

add stopPropagation
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

try to fix types
  src/lib/components/event/event-summary-table.svelte
Owners: @rossedfort

Update Card styles, add event links
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Include workflow rejected action
  src/lib/models/event-history/get-event-billable-actions.ts
Owners: @stevekinney, @Alex-Tideman

Flip visibility to test
  src/lib/stores/advanced-visibility.ts
Owners: @stevekinney, @Alex-Tideman

Clean up cards
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Hide redudent fields
  src/lib/components/event/event-card.svelte
Owners: @rossedfort

Pending Activities fixes
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/pages/workflow-pending-activities.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

improve icon alignment
  src/lib/components/detail-list/detail-list-text-value.svelte
Owners: @rossedfort

add truncation to sdk logo text
  src/lib/components/lines-and-dots/sdk-logo.svelte
Owners: @rossedfort

fix sdk logo alignment in workflow details
  src/lib/components/lines-and-dots/sdk-logo.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

fix export bug in index
  src/lib/components/detail-list/index.ts
Owners: @rossedfort

add DetailList component and subcomponents
  src/lib/components/detail-list/detail-list-column.svelte
  src/lib/components/detail-list/detail-list-label.svelte
  src/lib/components/detail-list/detail-list-link-value.svelte
  src/lib/components/detail-list/detail-list-text-value.svelte
  src/lib/components/detail-list/detail-list-value.svelte
  src/lib/components/detail-list/detail-list.svelte
  src/lib/components/detail-list/index.ts
Owners: @rossedfort

improve flexible usage and accessibility of copy button
  src/lib/holocene/copyable/copy-button.svelte
  src/lib/holocene/copyable/copy-icon.svelte
Owners: @rossedfort

use DetailList component in WorkflowDetails component
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

use holocene copy button
  src/lib/components/detail-list/detail-list-value.svelte
  src/lib/holocene/copyable/copy-button.svelte
  src/lib/holocene/copyable/copy-icon.svelte
Owners: @rossedfort

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
