Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

remove unused prop
  src/lib/pages/nexus-edit-endpoint.svelte
Owners: @temporalio/frontend-engineering

Rename from self-hosted to web ui
  src/lib/holocene/navigation/oss-nav-bar.svelte
Owners: @rossedfort

Added description for Encoded
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/i18n/locales/en/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

UI Copy Updates (#3165)
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
  src/lib/i18n/locales/en/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update nexus endpoint details page
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-endpoint.svelte
Owners: @temporalio/frontend-engineering

Fix empty description string
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

Refactor Nexus form data transformation for Superforms migration
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
  src/lib/utilities/to-nexus-endpoint.ts
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix async callback types for Nexus form submissions
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

Add loading spinner to Nexus form submit button
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

Disable Nexus form submit button when unchanged
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

add snippet for pre-release badge on standalone activities page
  src/lib/pages/standalone-activities.svelte
Owners: @temporalio/frontend-engineering

strict mode fix
  src/lib/pages/standalone-activities.svelte
Owners: @temporalio/frontend-engineering

add snippet for pre-release badge on standalone activities page (#3166)
  src/lib/pages/standalone-activities.svelte
Owners: @temporalio/frontend-engineering

Add allowCustomValue to combobox for nexus allowed caller namespaces
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-form.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix Nexus form error handling and submission flow with SuperForms
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
  src/lib/utilities/to-nexus-endpoint.ts
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

rename toNexusEndpoint to getNexusEndpoint
  src/lib/utilities/get-nexus-endpoint.ts
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

fix standalone activity routes and prep for release
  server/go.mod
  server/go.sum
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-body-cell.svelte
  src/lib/components/standalone-activities/activity-input-and-outcome.svelte
  src/lib/components/standalone-activities/standalone-activities-disabled.svelte
  src/lib/components/standalone-activities/start-standalone-activity-form/form.svelte
  src/lib/layouts/standalone-activity-layout.svelte
  src/lib/services/standalone-activities.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/standalone-activity-poller.svelte.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/+layout.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/+page.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/details/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/metadata/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/workers/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

add version check to guard
  src/lib/components/standalone-activities/standalone-activities-guard.svelte
Owners: @rossedfort

fix import
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/+layout.svelte
Owners: @temporalio/frontend-engineering

fix import
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/+page.ts
Owners: @temporalio/frontend-engineering

Update h2
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
Owners: @rossedfort

Align page heading with button action
  src/lib/pages/start-workflow.svelte
  tests/integration/start-a-workflow.spec.ts
Owners: @temporalio/frontend-engineering

fix standalone activity routes and prep for release (#3168)
  server/go.mod
  server/go.sum
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-body-cell.svelte
  src/lib/components/standalone-activities/activity-input-and-outcome.svelte
  src/lib/components/standalone-activities/standalone-activities-disabled.svelte
  src/lib/components/standalone-activities/standalone-activities-guard.svelte
  src/lib/components/standalone-activities/start-standalone-activity-form/form.svelte
  src/lib/layouts/standalone-activity-layout.svelte
  src/lib/services/standalone-activities.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/standalone-activity-poller.svelte.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/+layout.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/+page.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/details/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/metadata/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/workers/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Event history legend (#3160)
  src/lib/components/event/event-styles.ts
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/event-history-legend.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Environment variable audit (#3163)
  server/config/development.yaml
  server/config/docker.yaml
  server/config/with-auth.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/services/settings-service.ts
  src/lib/svelte-mocks/app/stores.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/get-codec.test.ts
  tests/accessibility/network-requests/empty-states.har
  tests/accessibility/network-requests/with-schedules.har
  tests/accessibility/network-requests/with-workflows.har
  tests/test-utilities/mocks/settings.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix schedule edit form infinite effect loop
  src/lib/components/schedule/schedule-form/form.svelte
  src/lib/components/schedule/schedule-form/schedules-calendar-view.svelte
Owners: @rossedfort

Card typography fixes (#3169)
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/pages/start-workflow.svelte
  tests/integration/start-a-workflow.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

fix schedule edit form infinite effect loop (#3172)
  src/lib/components/schedule/schedule-form/form.svelte
  src/lib/components/schedule/schedule-form/schedules-calendar-view.svelte
Owners: @rossedfort

Try code-block fix
  .omc/sessions/5afd0057-5dc7-49fa-aec1-dedff51eb4bd.json
  .serena/project.yml
  src/lib/holocene/code-block.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

fix infinite effect bug when editing schedule with large input payload
  src/lib/components/payload-input.svelte
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

fix infinite effect bug when editing schedule with large input payload (#3174)
  src/lib/components/payload-input.svelte
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

fix an error
  src/lib/utilities/get-nexus-endpoint.ts
Owners: @stevekinney, @Alex-Tideman

Clean up types and remove Shutdown status
  .gitignore
  package.json
  pnpm-lock.yaml
  src/lib/components/task-queue/worker-info.svelte
  src/lib/components/task-queue/worker-table-cell.svelte
  src/lib/components/task-queue/worker-table-row.svelte
  src/lib/components/task-queue/worker-totals.svelte
  src/lib/components/workers/worker-search-table.svelte
  src/lib/components/workers/worker-status.svelte
  src/lib/services/worker-service.ts
  src/lib/types/api.ts
  src/lib/types/index.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/screaming-enums.ts
  src/lib/utilities/update-query-parameters.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workers/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Remove nameHintText from nexus edit form
  src/lib/pages/nexus-edit-endpoint.svelte
Owners: @temporalio/frontend-engineering

tweak validation
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

actually removre nameHintText from ui on edit page
  src/lib/pages/nexus-edit-endpoint.svelte
Owners: @temporalio/frontend-engineering

chore: bump version to 2.45.4
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add note about BUILD_PATH env var
  README.md
Owners: @temporalio/frontend-engineering

remove console log
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

Bump dependencies
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering
