Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Svelte 5 Migrate skill (#3079)
  .claude/skills/svelte-migrate/SKILL.md
  .gitignore
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/holocene/badge.stories.svelte
  src/lib/holocene/badge.svelte
  src/lib/holocene/chip.stories.svelte
  src/lib/holocene/chip.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/chip-input.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Remove header slot in api-paginated component
  src/lib/components/schedule/schedules-count.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/pages/schedules.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Migrate to Svelte 5
  .claude/skills/svelte-migrate/SKILL.md
  src/lib/components/schedule/schedules-count.svelte
  src/lib/pages/schedules.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Account for potential not in conditional in custom query
  src/lib/utilities/is.ts
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Owners: @stevekinney, @Alex-Tideman

Set custom subscribe method with validation
  src/lib/stores/time-format.ts
Owners: @stevekinney, @Alex-Tideman

Fix strict errors and remove remaining header slot
  src/lib/pages/deployments.svelte
  src/lib/pages/schedules.svelte
  src/lib/services/schedule-service.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix visibleItems error on Schedules page (#3080)
  .claude/skills/svelte-migrate/SKILL.md
  src/lib/components/schedule/schedules-count.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/pages/deployments.svelte
  src/lib/pages/schedules.svelte
  src/lib/services/schedule-service.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Generate TimezoneSelect options (#3033)
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/stores/time-format.test.ts
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Fix timeFormat type
  src/lib/stores/time-format.ts
Owners: @stevekinney, @Alex-Tideman

Make initialValue required in persistStore
  src/lib/stores/data-encoder-config.ts
  src/lib/stores/new-feature-tags.ts
  src/lib/stores/persist-store.ts
Owners: @stevekinney, @Alex-Tideman

Fix timeFormat type (#3083)
  src/lib/stores/data-encoder-config.ts
  src/lib/stores/new-feature-tags.ts
  src/lib/stores/persist-store.ts
  src/lib/stores/time-format.ts
Owners: @stevekinney, @Alex-Tideman

Add icons and subtitle to nav, switch out chevron for future nav
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/folders.svelte
  src/lib/holocene/icon/svg/identities-icon.svelte
  src/lib/holocene/icon/svg/key.svelte
  src/lib/holocene/icon/svg/push.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Check if last heartbeat occurs after retry attempt to turn line to purple again
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Owners: @rossedfort

Better spacing on relationship tree
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
Owners: @rossedfort

Fix render route in UI server (#3076)
  server/server/route/ui.go
  server/server/server.go
  src/lib/components/workflow/metadata/workflow-current-details.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

chore: bump version to 2.44.1
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Refactor workers page to designs
  src/lib/components/task-queue/worker-info.svelte
  src/lib/components/task-queue/worker-table-row.svelte
  src/lib/components/workers/worker-status.svelte
  src/lib/holocene/badge.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/screaming-enums.ts
  src/routes/(app)/namespaces/[namespace]/workers/[instance]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add icons and nav updates with guards
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Account for potential not in conditional in custom query (#3081)
  src/lib/utilities/is.ts
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Owners: @stevekinney, @Alex-Tideman

Fix truncate in detail-list-text-value
  src/lib/components/detail-list/detail-list-text-value.svelte
Owners: @rossedfort

domino effect sv5 updates
  src/lib/components/event/event-styles.ts
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/schedule/schedules-count.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/holocene/badge.stories.svelte
  src/lib/holocene/badge.svelte
  src/lib/holocene/chip.stories.svelte
  src/lib/holocene/chip.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/deployments.svelte
  src/lib/pages/schedules.svelte
  src/lib/services/schedule-service.ts
  src/lib/stores/data-encoder-config.ts
  src/lib/stores/new-feature-tags.ts
  src/lib/stores/persist-store.ts
  src/lib/stores/time-format.test.ts
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/pending-activities.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Better naming
  src/lib/utilities/request-from-api.ts
Owners: @stevekinney, @Alex-Tideman

Try some refresh logic
  server/server/auth/auth.go
  server/server/route/auth.go
  src/lib/utilities/auth-refresh.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

feat(oidc-server): implement OIDC provider server with CLI script
  .claude/skills/auth-testing/SKILL.md
  .env.with-auth
  package.json
  plugins/vite-plugin-oidc-server.ts
  plugins/vite-plugin-temporal-server.ts
  plugins/vite-plugin-ui-server.ts
  pnpm-lock.yaml
  scripts/start-oidc-server.ts
  server/config/with-auth.yaml
  server/server/route/auth.go
  temporalio-ui-2.37.0.tgz
  utilities/oidc-server/README.md
  utilities/oidc-server/config.ts
  utilities/oidc-server/index.ts
  utilities/oidc-server/routes/express.ts
  utilities/oidc-server/server.test.ts
  utilities/oidc-server/server.ts
  utilities/oidc-server/support/account.ts
  utilities/oidc-server/support/configuration.ts
  utilities/oidc-server/test-server.ts
  utilities/oidc-server/views/_layout.ejs
  utilities/oidc-server/views/interaction.ejs
  utilities/oidc-server/views/login.ejs
  utilities/ui-server.ts
  vite.config.ts
  vitest.config.ts
Owners: @temporalio/frontend-engineering

feat(auth): implement OAuth2 token refresh with JWT validation
  .editorconfig
  TESTING_TOKEN_REFRESH.md
  server/config/with-auth.yaml
  server/go.mod
  server/go.sum
  server/server/auth/auth.go
  server/server/route/auth.go
  src/lib/utilities/auth-refresh.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for.ts
  utilities/oidc-server/routes/express.ts
  utilities/oidc-server/server.test.ts
  utilities/oidc-server/support/configuration.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

style: run go fmt on server code
  server/server/auth/auth_test.go
  server/server/cors/cors.go
  server/server/cors/cors_test.go
  server/server/route/ui.go
  server/server/rpc/tls_cert_loader_test.go
Owners: @temporalio/frontend-engineering

revert script
  package.json
Owners: @temporalio/frontend-engineering

fix(auth): validate returnUrl against CORS allowed origins
  server/server/route/auth.go
Owners: @temporalio/frontend-engineering

remove tgz
  temporalio-ui-2.37.0.tgz
Owners: @temporalio/frontend-engineering

fix(auth): address PR review feedback for token refresh
  src/lib/utilities/auth-refresh.ts
  src/lib/utilities/request-from-api.ts
  utilities/oidc-server/support/configuration.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

feat(oidc-server): require email for login and use as username
  utilities/oidc-server/support/account.ts
  utilities/oidc-server/views/login.ejs
Owners: @temporalio/frontend-engineering

fix(server): pass publicPath to SetRenderRoute
  server/server/server.go
Owners: @temporalio/frontend-engineering

feat(auth): add configurable max session duration
  server/config/with-auth.yaml
  server/server/auth/auth.go
  server/server/config/config.go
  server/server/route/auth.go
  utilities/oidc-server/support/configuration.ts
Owners: @temporalio/frontend-engineering

chore: add .claude settings and skills to version control
  .claude/settings.local.json
  .gitignore
Owners: @temporalio/frontend-engineering

docs(skill): expand max session duration documentation
  .claude/skills/auth-testing/SKILL.md
Owners: @temporalio/frontend-engineering

Fix truncate in detail-list-text-value (#3089)
  src/lib/components/detail-list/detail-list-text-value.svelte
Owners: @rossedfort

fix(auth): validate JWT signatures using OIDC provider
  server/go.mod
  server/go.sum
  server/server/auth/auth.go
  server/server/route/auth.go
Owners: @temporalio/frontend-engineering

fix(types): resolve strict TypeScript errors in request-from-api
  src/lib/utilities/request-from-api.ts
Owners: @stevekinney, @Alex-Tideman

test(auth): update handle-error tests for SSO redirect
  src/lib/utilities/handle-error.test.ts
Owners: @stevekinney, @Alex-Tideman

fix(types): handle optional accessToken and idToken with nullish coalescing
  src/lib/utilities/request-from-api.ts
Owners: @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
