Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

remove overflow behaviour property from .cm-scroller in code block styling
  src/lib/vendor/codemirror/custom-extensions.ts
Owners: @temporalio/frontend-engineering

touch up story
  src/lib/holocene/code-block.stories.svelte
Owners: @rossedfort

better way to do search attributes
  src/lib/components/standalone-activities/saved-views.svelte
  src/lib/pages/standalone-activities.svelte
  src/lib/stores/search-attributes.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix screaming enums
  src/lib/components/standalone-activities/start-standalone-activity-form/form.svelte
Owners: @rossedfort

fix integ tests
  tests/integration/schedule-edit.spec.ts
  tests/integration/schedules-list.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/schedules-count.ts
Owners: @temporalio/frontend-engineering

bump api version to v1.62.0
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

fix some strict mode
  src/lib/components/standalone-activities/activities-summary-configurable-table.svelte
  src/lib/components/standalone-activities/activities-summary-filter-bar/filter.svelte
  src/lib/components/standalone-activities/activities-summary-filter-bar/manual-query.svelte
  src/lib/components/standalone-activities/activities-summary-filter-bar/search-attribute-menu.svelte
  src/lib/components/standalone-activities/saved-views.svelte
  src/lib/components/standalone-activities/start-standalone-activity-form/form.svelte
  src/lib/components/standalone-activities/start-standalone-activity-form/types.ts
Owners: @rossedfort

fix some more strict
  src/lib/components/standalone-activities/start-standalone-activity-form/form.svelte
  src/lib/pages/standalone-activity-details.svelte
  src/lib/pages/standalone-activity-metadata.svelte
  src/lib/pages/standalone-activity-search-attributes.svelte
  src/lib/pages/standalone-activity-workers.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

DT-3507-fix-code-block-scrolling (#3129)
  src/lib/holocene/code-block.stories.svelte
  src/lib/vendor/codemirror/custom-extensions.ts
Owners: @rossedfort, @temporalio/frontend-engineering

use timestamp store
  src/lib/pages/standalone-activities.svelte
Owners: @temporalio/frontend-engineering

update overview and collapse icons
  src/lib/holocene/icon/svg/collapse.svelte
  src/lib/holocene/icon/svg/overview.svelte
Owners: @rossedfort

Make table maxHeight optional and remove default constraints
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

Remove maxHeight from full-page table usages
  src/lib/components/standalone-activities/activities-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Owners: @rossedfort

Add check for disableWriteActions
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/client-actions/pause-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/unpause-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/utilities/workflow-pause-enabled.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add integration test
  tests/integration/workflow-pause.spec.ts
  tests/pages/workflow-pause.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/namespace.ts
  tests/test-utilities/mocks/workflow.ts
Owners: @temporalio/frontend-engineering

Update snapshots
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Owners: @stevekinney, @Alex-Tideman

fix: prevent "No Workers Running" flash during workflow load
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/stores/workflow-run.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix actionsDisabled logic
  src/lib/components/workflow-actions.svelte
  tests/integration/workflow-actions.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Set API to v1.60.0
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Set API to v1.60.0 (#3132)
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

chore: bump version to 2.45.0
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Set API to v1.60.1
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Add comment r.e. standalone activities support
  src/routes/(app)/namespaces/[namespace]/activities/+layout.ts
Owners: @temporalio/frontend-engineering

Set API to v1.60.1 (#3134)
  server/go.mod
  server/go.sum
  src/routes/(app)/namespaces/[namespace]/activities/+layout.ts
Owners: @temporalio/frontend-engineering

chore: bump version to 2.45.0
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Nav icons fix/kt (#3127)
  src/lib/holocene/icon/svg/collapse.svelte
  src/lib/holocene/icon/svg/folders.svelte
  src/lib/holocene/icon/svg/identities.svelte
  src/lib/holocene/icon/svg/key.svelte
  src/lib/holocene/icon/svg/overview.svelte
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Use capture to catch scroll events
  src/lib/holocene/portal/portal.svelte
Owners: @rossedfort

fix: address TypeScript errors from PR review
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/stores/workflow-run.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix(auth): align refresh token lifecycle with IdP and add logout
  ARCHITECTURE_REFACTOR_TODO.md
  TESTING_TOKEN_REFRESH.md
  server/server/auth/auth.go
  server/server/route/auth.go
  src/lib/stores/auth-user.ts
  src/lib/utilities/auth-refresh.ts
  utilities/oidc-server/support/configuration.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix(types): resolve strict TypeScript errors in utilities and OIDC server
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for.ts
  utilities/oidc-server/routes/express.ts
  utilities/oidc-server/server.ts
  utilities/oidc-server/support/account.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add env variable to disable workflow pause
  server/config/development.yaml
  server/config/docker.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/services/settings-service.ts
  src/lib/svelte-mocks/app/stores.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/get-codec.test.ts
  src/lib/utilities/workflow-pause-enabled.ts
  src/routes/(app)/namespaces/[namespace]/+page.svelte
  tests/test-utilities/mocks/settings.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

feat(auth): add configurable max session duration
  server/config/with-auth.yaml
  server/server/auth/auth.go
  server/server/config/config.go
  server/server/route/auth.go
  utilities/oidc-server/support/configuration.ts
Owners: @temporalio/frontend-engineering

docs(skill): expand max session duration documentation
  .claude/skills/auth-testing/SKILL.md
Owners: @temporalio/frontend-engineering

chore: add .claude settings and skills to version control
  .claude/settings.local.json
  .gitignore
Owners: @temporalio/frontend-engineering

feat(auth): add configurable max session duration (#3091)
  .claude/settings.local.json
  .claude/skills/auth-testing/SKILL.md
  .gitignore
  server/config/with-auth.yaml
  server/server/auth/auth.go
  server/server/config/config.go
  server/server/route/auth.go
  utilities/oidc-server/support/configuration.ts
Owners: @temporalio/frontend-engineering

fix(auth): validateJWT should fail when verifier not configured
  server/server/auth/auth.go
  server/server/auth/auth_test.go
Owners: @temporalio/frontend-engineering

docs(auth): add comprehensive authentication documentation
  AUTHENTICATION.md
  README.md
  TESTING_TOKEN_REFRESH.md
Owners: @temporalio/frontend-engineering

docs(security): create team-ready security refactor plan
  ARCHITECTURE_REFACTOR_TODO.md
  SECURITY_REFACTOR_PLAN.md
Owners: @temporalio/frontend-engineering

New worker nav items
  .gitignore
  .serena/project.yml
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/deployments.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.server.ts
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workers/+page.svelte
Owners: @temporalio/frontend-engineering

Dont use url params
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.server.ts
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workers/+page.svelte
Owners: @temporalio/frontend-engineering
