Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

add hourCycle
  src/lib/utilities/format-date.ts
Owners: @stevekinney, @Alex-Tideman

fix hourCycle
  src/lib/utilities/format-date.ts
Owners: @stevekinney, @Alex-Tideman

fix hourCycle
  src/lib/utilities/format-date.ts
Owners: @stevekinney, @Alex-Tideman

Bump sveltejs/kit and sveltejs/vite-plugin-svelte
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

fix test
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
Owners: @stevekinney, @Alex-Tideman

Add deprecate to pluralize. (#3026)
  src/lib/utilities/pluralize.ts
Owners: @stevekinney, @Alex-Tideman

fix format and tests
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
Owners: @stevekinney, @Alex-Tideman

fix pw tests, add comments
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Generate grouped timezones
  src/lib/components/timezone-select.svelte
  src/lib/stores/time-format.test.ts
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Default to local if timeFormat isn't found
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Clear timeouts
  src/lib/pages/schedule-view.svelte
  src/lib/stores/schedules.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Style updates
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/layouts/workflow-header.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove timestamp from timeline axis
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Remove timestamp from timeline axis (#3031)
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Bump svelte and svelte/kit versions
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Update tests
  src/lib/stores/time-format.test.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Use one codeblock for schedule spec
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/timestamp.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Make max height 600
  src/lib/components/schedule/schedule-frequency.svelte
Owners: @rossedfort

Clear Schedule timeouts (#3030)
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/timestamp.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/stores/schedules.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Lock svelte to v5.37.1
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Only add link if deployment is defined
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
Owners: @rossedfort

Only add link if deployment is defined (#3035)
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
Owners: @rossedfort

Adjust some colors
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
Owners: @rossedfort

WIP toggle timeline and history buttons
  src/lib/components/lines-and-dots/timeline-and-history-toggle.svelte
  src/lib/layouts/workflow-header.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/timeline/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

feat(search-attributes): disable delete button for existing attributes
  src/lib/components/search-attributes-form/search-attribute-row.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/components/search-attributes-form/types.ts
Owners: @rossedfort

refactor(search-attributes): remove isExisting from Zod schema
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
Owners: @rossedfort

fix(search-attributes): add isExisting to Zod schema to prevent SuperForms from stripping it
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/routes/test-search-attributes/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

refactor(search-attributes): rename isExisting to isDeletable
  src/lib/components/search-attributes-form/search-attribute-row.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/types.ts
Owners: @rossedfort

refactor(search-attributes): simplify isDeletable with component defaults
  src/lib/components/search-attributes-form/search-attribute-row.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
Owners: @rossedfort

Testing dangerfile is functional
  .github/workflows/danger.yml
  dangerfile.ts
  package.json
  pnpm-lock.yaml
Owners: @stevekinney, @temporalio/frontend-engineering

Verify a message works
  dangerfile.ts
Owners: @temporalio/frontend-engineering

cleanup
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/routes/test-search-attributes/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Lets try out our strict errors comment
  dangerfile.ts
  scripts/count-strict-errors.ts
  tsconfig.strict.json
Owners: @temporalio/frontend-engineering

Drop our regular message
  dangerfile.ts
Owners: @temporalio/frontend-engineering

Lets see if an async iife will let us do what we want
  dangerfile.ts
Owners: @temporalio/frontend-engineering

Danger test
  src/routes/(app)/select-namespace/+page.svelte
Owners: @temporalio/frontend-engineering

Try more danger
  dangerfile.ts
Owners: @temporalio/frontend-engineering

Lets do some debugging
  dangerfile.ts
Owners: @temporalio/frontend-engineering

some error handling
  dangerfile.ts
  scripts/count-strict-errors.ts
Owners: @temporalio/frontend-engineering

more fixes
  dangerfile.ts
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
