Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Add side panel descriptions
  src/lib/components/workflow/workflow-family-node-description.svelte
  src/lib/components/workflow/workflow-family-node.svelte
  src/lib/components/workflow/workflow-family-tree.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Better styles and status color
  src/lib/components/workflow/workflow-family-node-description.svelte
  src/lib/components/workflow/workflow-family-node.svelte
  src/lib/components/workflow/workflow-family-tree.svelte
Owners: @rossedfort

Update Nexus empty state text with links and allow slot
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoints.svelte
Owners: @temporalio/frontend-engineering

Update Nexus empty state text with links and allow slot (#2478)
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoints.svelte
Owners: @temporalio/frontend-engineering

2.33.8
  package.json
Owners: @temporalio/frontend-engineering

2.33.9
  package.json
Owners: @temporalio/frontend-engineering

Better side nav buttons. Better lines to dots. Need to fix the tree node expanding
  src/lib/components/workflow/workflow-family-node-description-tree.svelte
  src/lib/components/workflow/workflow-family-node-description.svelte
  src/lib/components/workflow/workflow-family-node.svelte
  src/lib/components/workflow/workflow-family-tree.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/relationships/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add link, needs a better place
  src/lib/components/workflow/workflow-family-node-description.svelte
  src/lib/components/workflow/workflow-family-tree.svelte
Owners: @rossedfort

Better styles on description, add links, fix opening nodes
  src/lib/components/workflow/relationships/workflow-family-node-description-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
  src/lib/components/workflow/workflow-relationships.svelte
Owners: @rossedfort

Update version.go to v2.33.0
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.33.0 (#2481)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update padding on Table component to be consistent with PaginatedTable
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/table.svelte
Owners: @rossedfort

Update padding in event table
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Fix headers in Namespace detail tables
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Owners: @temporalio/frontend-engineering

Add table of info and link vis/sidenav with open/close
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/decode-payload.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add table
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
Owners: @rossedfort

Better description
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/workflow-relationships.svelte
Owners: @rossedfort

fix lines
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
Owners: @rossedfort

Better isActive, isCurrent checks
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
Owners: @rossedfort

isCurrent check
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
Owners: @rossedfort

Table component padding updates (#2482)
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/table.svelte
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Make split 50/50
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
Owners: @rossedfort

Remove unnecessary WorkflowCountStatus component
  src/lib/components/workflow/workflow-count-status.svelte
  src/lib/components/workflow/workflow-counts.svelte
Owners: @rossedfort

Improve responsiveness of WorkflowHeader
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

Improve responsiveness of Schedule details header
  src/lib/pages/schedule-view.svelte
Owners: @temporalio/frontend-engineering

Update tests
  tests/integration/disable-write-actions.spec.ts
  tests/integration/workflow-actions.spec.ts
Owners: @temporalio/frontend-engineering

Fix types
  src/lib/components/workflow/relationships/workflow-family-node-description-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
Owners: @rossedfort

Better styles for active, better borders.
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
Owners: @rossedfort

Fix Combobox height to match Select
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Add support for config templating.
  server/Dockerfile
  server/config/docker.yaml
  server/docker/README.md
  server/docker/config-template.yaml
  server/docker/start-ui-server.sh
  server/go.mod
  server/go.sum
  server/plugins/fs_config_provider/loader.go
Owners: @temporalio/frontend-engineering

Note needing to port custom config files.
  server/docker/README.md
Owners: @temporalio/frontend-engineering

Refactor to include root, clean up styles, better basis widths
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
  src/lib/holocene/zoom-svg.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Detail view responsive improvements (#2483)
  src/lib/components/workflow/workflow-count-status.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/schedule-view.svelte
  tests/integration/disable-write-actions.spec.ts
  tests/integration/workflow-actions.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add root child count on node tree
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
Owners: @rossedfort

Make tree sticky on lg screens
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
Owners: @rossedfort

Add CaN tree
  src/lib/components/workflow/relationships/continue-as-new-node.svelte
  src/lib/components/workflow/relationships/continue-as-new-tree.svelte
  src/lib/components/workflow/relationships/schedule-tree.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/holocene/zoom-svg.svelte
Owners: @rossedfort

Add schedule tree
  src/lib/components/workflow/relationships/continue-as-new-node.svelte
  src/lib/components/workflow/relationships/continue-as-new-tree.svelte
  src/lib/components/workflow/relationships/schedule-tree.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/holocene/zoom-svg.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Pass id to PaginatedTable
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
Owners: @rossedfort

Add icons
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/circle-check-filled.svelte
  src/lib/holocene/icon/svg/inverted-checkmark.svelte
  src/lib/holocene/icon/svg/xmark-filled.svelte
Owners: @rossedfort

Use tailwind classes for border to fix dark mode on arrows
  src/lib/components/workflow/workflow-json-navigator.svelte
Owners: @rossedfort
