Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Add support for WorkflowExecutionUpdateRequested event (#1884)
  go.work.sum
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  src/fixtures/all-event-types.json
  src/lib/models/event-groups/get-group-id.test.ts
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/types/events.ts
  src/lib/utilities/is-event-type.ts
  src/lib/utilities/screaming-enums.test.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Refactor out encoding payloads to its own function, set error if encoding error
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/i18n/locales/en/data-encoder.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/services/data-encoder.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/encode-payload.test.ts
  src/lib/utilities/encode-payload.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @Alex-Tideman, @GiantRobots, @stevekinney

Add error text color for schedule payload error, fix InputAndResults completion message with running prop
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Include Input for Schedules on Create/Edit and show Input on View (#1869)
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/components/schedule/schedule-notes.svelte
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/schedule/schedules-table.svelte
  src/lib/components/schedule/schedules-time-view.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/holocene/input/input.svelte
  src/lib/i18n/locales/en/data-encoder.ts
  src/lib/i18n/locales/en/schedules.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/services/data-encoder.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/theme/plugin.ts
  src/lib/types/schedule.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/encode-payload.test.ts
  src/lib/utilities/encode-payload.ts
  temporal/codec-server.ts
  tests/e2e/schedules.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @Alex-Tideman, @GiantRobots, @stevekinney

Switch close button in drawer
  src/lib/components/lines-and-dots/details-drawer.svelte
Owners: @rossedfort

Add namespace check on child workflow fetch
  src/lib/components/lines-and-dots/details-drawer.svelte
Owners: @rossedfort

Format using milliseconds instead
  src/lib/utilities/format-time.ts
  src/lib/utilities/to-duration.test.ts
  src/lib/utilities/to-duration.ts
Owners: @stevekinney, @Alex-Tideman

Only update history store on first batch, last batch and new events
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/events-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

add hover colors
  src/lib/holocene/radio-input/radio-input.stories.svelte
  src/lib/holocene/radio-input/radio-input.svelte
Owners: @rossedfort

Radio input audit (#1912)
  src/lib/holocene/radio-input/radio-input.stories.svelte
  src/lib/holocene/radio-input/radio-input.svelte
Owners: @rossedfort

Show timer duration if under a second (#1911)
  src/lib/utilities/format-time.ts
  src/lib/utilities/to-duration.test.ts
  src/lib/utilities/to-duration.ts
Owners: @stevekinney, @Alex-Tideman

Add activity icon, add update color
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/activity.svelte
Owners: @rossedfort

Fix polling logic if events is undefined
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/event-classification-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/services/events-service.ts
  src/lib/stores/events.ts
  src/lib/stores/filters.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix dark mode range input
  src/lib/holocene/input/range-input.svelte
Owners: @rossedfort

Add initial compact view
  src/lib/components/lines-and-dots/canvas/history-canvas.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Make height taller. Will be dynamic based on number of max concurrent groups
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
Owners: @rossedfort

Make text box solid
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Simplfy, move drawer to bottom.
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix setActives
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

New top drawer
  src/lib/components/lines-and-dots/details-top-drawer.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

WIP: inline group details
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/details-top-drawer.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Change toast component background for darkmode
  src/lib/holocene/toast.svelte
Owners: @rossedfort

Dark mode
  src/lib/holocene/toast.svelte
Owners: @rossedfort

Add new darkmode color to toast
  src/lib/holocene/toast.svelte
Owners: @rossedfort

fix dark mode range input (#1914)
  src/lib/holocene/input/range-input.svelte
Owners: @rossedfort

Get nested compact view expand/collapse working
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/drawer-wrapper.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add skeleton variant to table
  src/lib/holocene/skeleton/table.svelte
Owners: @rossedfort

Add skeleton table variant
  src/lib/holocene/table/table.svelte
Owners: @rossedfort

Allow multiple active groups/events
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove canvas folder
  src/lib/components/lines-and-dots/canvas/canvas.svelte
  src/lib/components/lines-and-dots/canvas/dot.svelte
  src/lib/components/lines-and-dots/canvas/history-canvas.svelte
  src/lib/components/lines-and-dots/canvas/layer.svelte
  src/lib/components/lines-and-dots/canvas/line.svelte
  src/lib/components/lines-and-dots/canvas/manager.ts
  src/lib/components/lines-and-dots/canvas/rectangle.svelte
  src/lib/components/lines-and-dots/canvas/text.svelte
  src/lib/components/lines-and-dots/canvas/types.ts
Owners: @rossedfort

standardize capitalization of URL suffix
  server/server/config/config.go
  server/server/route/auth.go
Owners: @temporalio/frontend-engineering

unmute ui server
  utilities/ui-server.ts
Owners: @temporalio/frontend-engineering

add jwt-decode
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

stop for help
  src/lib/holocene/textarea.svelte
Owners: @rossedfort

link audit
  src/lib/holocene/link.svelte
Owners: @rossedfort

update snapshots
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
Owners: @rossedfort

update styles
  src/lib/holocene/textarea.svelte
Owners: @rossedfort

Text audit (#1917)
  src/lib/holocene/textarea.svelte
Owners: @rossedfort

link audit (#1916)
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/holocene/link.svelte
Owners: @rossedfort

Update toast design padding and corners
  src/lib/holocene/toast.svelte
Owners: @rossedfort
