Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Add back conditional
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Update src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

fix(workflow-history): remove trailing space from event-summary-table testid
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Fix subtitle size and padding on proj nav (#3148)
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Update to use deprecated activity endpoints
  src/lib/utilities/route-for-api.ts
Owners: @stevekinney, @Alex-Tideman

Remove unused activity endpoints
  src/lib/services/workflow-activities-service.ts
  src/lib/types/api.ts
  src/lib/types/events.ts
  src/lib/utilities/route-for-api.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Bump API to v1.60.2
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Update activity operator command API routes (#3151)
  server/go.mod
  server/go.sum
  src/lib/services/workflow-activities-service.ts
  src/lib/types/api.ts
  src/lib/types/events.ts
  src/lib/utilities/route-for-api.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

migrate schedules form to superforms/zod
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-form/form.svelte
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  src/lib/components/schedule/schedule-form/schedules-calendar-view.svelte
  src/lib/components/schedule/schedule-form/schedules-search-attributes-inputs.svelte
  src/lib/components/schedule/schedule-form/schema.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

chore: bump version to 2.45.3
  package.json
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add back banner
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering

Refactor Banner to svelte 5
  src/lib/holocene/banner/banner.svelte
Owners: @rossedfort

Add fallback for /activities-deprecated routes
  src/lib/services/workflow-activities-service.ts
  src/lib/utilities/handle-error.ts
Owners: @stevekinney, @Alex-Tideman

Fall back to legacy schedule count on 404
  src/lib/services/workflow-counts.ts
  src/lib/utilities/handle-error.ts
Owners: @stevekinney, @Alex-Tideman

Corrected location of output directory
  README.md
Owners: @temporalio/frontend-engineering

Use CountSchedules for counting schedules (#3100)
  src/lib/services/workflow-counts.ts
  src/lib/types/api.ts
  src/lib/types/workflows.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/route-for-api.ts
  tests/integration/schedule-edit.spec.ts
  tests/integration/schedules-list.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/schedules-count.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add minimum version check
  src/lib/services/workflow-activities-service.ts
Owners: @stevekinney, @Alex-Tideman

Add fallbacks for activities routes (#3154)
  src/lib/services/workflow-activities-service.ts
Owners: @stevekinney, @Alex-Tideman

docs: Add AUTHENTICATION.md referenced by README
  AUTHENTICATION.md
Owners: @temporalio/frontend-engineering

refactor: migrate Nexus form to Superforms with validation
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering

add search attributes schema and svelte5
  src/lib/components/schedule/schedule-form/form.svelte
  src/lib/components/schedule/schedule-form/schedules-search-attributes-inputs.svelte
  src/lib/components/schedule/schedule-form/schema.ts
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/stores/search-attributes.ts
  src/lib/types/schedule.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

rm console.log
  src/lib/components/schedule/schedule-form/form.svelte
Owners: @rossedfort

fix types
  src/lib/components/schedule/schedule-form/form.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

fix test
  tests/e2e/schedules.spec.ts
Owners: @temporalio/frontend-engineering

Use util functions to get line stroke color
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
Owners: @rossedfort

Add event history legend
  src/lib/components/event/event-styles.ts
  src/lib/components/lines-and-dots/event-history-legend.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

DT-3564 - migrate schedules form to superforms (#3159)
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-form/form.svelte
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  src/lib/components/schedule/schedule-form/schedules-calendar-view.svelte
  src/lib/components/schedule/schedule-form/schedules-search-attributes-inputs.svelte
  src/lib/components/schedule/schedule-form/schema.ts
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/search-attributes.ts
  src/lib/types/schedule.ts
  tests/e2e/schedules.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

prep for standalone activities demo
  server/go.mod
  server/go.sum
  src/lib/components/standalone-activities/standalone-activities-guard.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/+layout.ts
Owners: @temporalio/frontend-engineering, @rossedfort

refactor: migrate Nexus form to Superforms with validation
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering

fix: explicitly type formComponent as potentially undefined
  src/lib/pages/nexus-create-endpoint.svelte
Owners: @temporalio/frontend-engineering

fix: resolve TypeScript strict mode errors in nexus form
  src/lib/pages/nexus-create-endpoint.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
Owners: @temporalio/frontend-engineering

make it work
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering

use snippets insetad of slot on nexus form
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

Add completed with retries, pending and retry status keys
  src/lib/components/lines-and-dots/event-history-legend.svelte
Owners: @rossedfort

fix footer
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

Remove BannerText
  server/config/development.yaml
  server/config/docker.yaml
  server/config/with-auth.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/services/settings-service.ts
  src/lib/svelte-mocks/app/stores.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/get-codec.test.ts
  tests/test-utilities/mocks/settings.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

small css changes to nav components for better responsiveness
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Remove NotifyOnNewVersion
  server/config/development.yaml
  server/config/docker.yaml
  server/config/with-auth.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/services/settings-service.ts
  src/lib/svelte-mocks/app/stores.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/get-codec.test.ts
  tests/accessibility/network-requests/empty-states.har
  tests/accessibility/network-requests/with-schedules.har
  tests/accessibility/network-requests/with-workflows.har
  tests/test-utilities/mocks/settings.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

small css changes to nav components for better responsiveness (#3162)
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

make edit form hide name hint text since name field is disabled
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
