Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Make DateTime Workflow filters persist for ease of use (#2533)
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/stores/time-format.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Use correct Button props for MenuButton component
  src/lib/holocene/button.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

Revert story to be just action without multiselect
  src/lib/holocene/combobox/combobox.stories.svelte
Owners: @rossedfort

Fix icon in Combobox with action (#2528)
  src/lib/holocene/button.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

User Metadata for Activity and Timers (#2529)
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-link.svelte
  src/lib/components/event/event-metadata-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/metadata-decoder.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/event-status-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/graph-widget.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/pending-detail-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/workflow-status.svelte
  src/lib/holocene/badge.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/stores/active-events.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

2.34.6
  package.json
Owners: @temporalio/frontend-engineering

Set decodedValue to prevent overfetching payload on rerenders
  src/lib/components/event/metadata-decoder.svelte
Owners: @rossedfort

Set decodedValue to prevent overfetching payload on rerenders (#2536)
  src/lib/components/event/metadata-decoder.svelte
Owners: @rossedfort

2.34.7
  package.json
Owners: @temporalio/frontend-engineering

Set fallback as decoded value
  src/lib/components/event/metadata-decoder.svelte
Owners: @rossedfort

Set fallback as decoded value (#2538)
  src/lib/components/event/metadata-decoder.svelte
Owners: @rossedfort

Add back secondary as default variant for MenuButton
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

Add back secondary as default variant for MenuButton (#2539)
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

2.34.8
  package.json
Owners: @temporalio/frontend-engineering

Add scroll to event id logic. Need to figure out how to wait on page change before scrolling if event id is not on the current page
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/stores/pagination.test.ts
  src/lib/stores/pagination.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/to-url.test.ts
  src/lib/utilities/to-url.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add groups for show related events in the specific event route
  src/lib/pages/workflow-history-event.svelte
Owners: @temporalio/frontend-engineering

Fix unit tests
  src/lib/utilities/to-url.ts
Owners: @stevekinney, @Alex-Tideman

Add prefix for metadata to show ActivityType in Timeline
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/metadata-decoder.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Owners: @rossedfort

Get rid of value var
  src/lib/components/event/metadata-decoder.svelte
Owners: @rossedfort

Add prefix for Metadata to show Activity Type in Timeline (#2542)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/metadata-decoder.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Owners: @rossedfort

2.34.9
  package.json
Owners: @temporalio/frontend-engineering

Only truncate if theres a prefix
  src/lib/components/event/metadata-decoder.svelte
Owners: @rossedfort

Only truncate if theres a prefix (#2544)
  src/lib/components/event/metadata-decoder.svelte
Owners: @rossedfort

2.34.10
  package.json
Owners: @temporalio/frontend-engineering

Jump to hash page and scroll. Need to figure out if we want to remove hash or not
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/stores/pagination.test.ts
  src/lib/stores/pagination.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Move filter options to Table Footer and into Search Attribute filter
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/index.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/orderable-list.svelte
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/namespace-url-pattern.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Responsive table footer
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

Add id to menu button, fix e2e/integration tests
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  tests/e2e/workflows-summary-table-configuration.spec.ts
  tests/integration/workflow-bulk-actions.spec.ts
  tests/integration/workflows-count.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Bump api version, add new page for deployments. WIP
  server/go.mod
  server/go.sum
  src/lib/pages/deployments.svelte
  src/lib/types/deployments.ts
  src/routes/(app)/deployments/+page.svelte
Owners: @temporalio/frontend-engineering

Add connection icon
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/connection.svelte
Owners: @rossedfort

Make CodeBlock background secondary in light mode
  src/lib/vendor/codemirror/theme.ts
Owners: @temporalio/frontend-engineering

Update spacing and descriptive text color for Schedule Spec
  src/lib/components/schedule/schedule-day-of-month-view.svelte
  src/lib/components/schedule/schedule-day-of-week-view.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/schedule/schedules-time-view.svelte
Owners: @rossedfort

Add cron string example description
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/i18n/locales/en/schedules.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add connection icon (#2547)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/connection.svelte
Owners: @rossedfort

More setup, add individual deployment page. WIP
  src/lib/components/deployments/deployment-details.svelte
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/services/deployments-service.ts
  src/lib/types/api.ts
  src/lib/types/deployments.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove command comment
  src/lib/components/schedule/schedules-calendar-view.svelte
Owners: @rossedfort

Hide paginated numbers on sm screens and show arrows
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
Owners: @rossedfort

fix combobox option props mismatch and textarea prop spreading
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/textarea.svelte
Owners: @rossedfort

fix combobox option props mismatch and textarea prop spreading (#2550)
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/textarea.svelte
Owners: @rossedfort

2.34.11
  package.json
Owners: @temporalio/frontend-engineering
