Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Toggle hide child workflows as filter
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Unsvelte5 payloads, add check for payload size === 1 to render the whole payload
  src/lib/components/workflow/input-and-results-payload.svelte
Owners: @rossedfort

Unsvelte5 payloads, add check for payload size === 1 to render the whole payload (#2706)
  src/lib/components/workflow/input-and-results-payload.svelte
Owners: @rossedfort

Add QuickFilters for workflows
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/quick-filters.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Check if hide children filter is applied in table row
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/stores/filters.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Remove pre-namespace specific logic
  src/lib/stores/configurable-table-columns.ts
Owners: @stevekinney, @Alex-Tideman

Try some things, make it skinner bars
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
Owners: @rossedfort

Add visual cue for retried activities
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Owners: @rossedfort

Better stripes
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Add api pagination to workflows
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Use localeString()
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Owners: @rossedfort

Key on refresh
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Owners: @rossedfort

Update integration tests
  tests/integration/workflow-bulk-actions.spec.ts
  tests/test-utilities/mocks/workflows.ts
Owners: @temporalio/frontend-engineering

Fix error handling
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/workflows.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Remove all the old stores
  src/lib/components/workflow/workflow-count-refresh.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/stores/workflows.ts
  src/lib/utilities/stores/with-loading.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Key on namespace
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Owners: @rossedfort

Add page to json download file name, fix tests
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/utilities/export-workflows.ts
  tests/test-utilities/mocks/system-info.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Get rid of async
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Owners: @rossedfort

Add debounce to api pagination
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Dispatch dateclear on input clear button press
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Add loading sate for skeleton table
  src/lib/holocene/table/paginated-table/api-paginated.svelte
Owners: @rossedfort

Remove count fetch, already handled in WorkflowCounts
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Owners: @rossedfort

toLocaleString the total and current indexes
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
Owners: @rossedfort

Remove capability check and test
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/capability-enablement.ts
  tests/integration/workflows-count.spec.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update labstack/echo to v4.13.3 to remove dependency on vulnerable golang-jwt/jwt v3.2.2
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Update progress-bar to gray, remove unused width prop
  src/lib/holocene/holocene-components.json
  src/lib/holocene/progress-bar.svelte
Owners: @rossedfort

Fix story args
  src/lib/holocene/progress-bar.stories.svelte
Owners: @rossedfort

Replace loading spinner with skeleton workflow
  src/lib/holocene/skeleton/workflow.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Small responsive improvement for input/result
  src/lib/holocene/skeleton/workflow.svelte
Owners: @rossedfort

Remove bottom-0
  src/lib/holocene/progress-bar.svelte
Owners: @rossedfort

Replace loading spinner with Skeleton Workflow on Workflow Page (#2710)
  src/lib/holocene/skeleton/workflow.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add function to determine billableAction count
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/models/event-history/get-event-billable-actions.ts
  src/lib/models/event-history/index.ts
  src/lib/types/events.ts
  src/lib/utilities/is-event-type.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Make the event history table better
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/holocene/copyable/button.svelte
Owners: @rossedfort

Add date to pending activity
  src/lib/components/event/pending-activity-summary-row.svelte
Owners: @rossedfort

Refetch workflow counts on perPage change, adjustTotal if needed
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
Owners: @rossedfort

fix batch operation reason
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
Owners: @rossedfort

Add line-dot visualization back
  src/lib/components/event/event-summary-table.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

fix batch operation reason (#2714)
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
Owners: @rossedfort

Update label to Versioning Behavior
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/deployments.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update label to Versioning Behavior (#2715)
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/deployments.ts
Owners: @rossedfort, @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
