Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Add Start Activity Like this One
  src/lib/components/activity/activities-summary-configurable-table.svelte
  src/lib/components/activity/activities-summary-configurable-table/table-row.svelte
  src/lib/components/activity/start-activity-button.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/pages/start-activity-execution.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Test section
  .sisyphus/plans/list-activities-ui.md
  README.md
Owners: @temporalio/frontend-engineering

Remove sisyphus and add to .gitignore
  .gitignore
  .sisyphus/plans/list-activities-ui.md
  README.md
Owners: @temporalio/frontend-engineering

Remove sisyphus and add to .gitignore (#3104)
  .gitignore
  .sisyphus/plans/list-activities-ui.md
  README.md
Owners: @temporalio/frontend-engineering

Add new Nexus timeout fields and translations
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/types/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Set navigation to default open
  src/lib/stores/nav-open.ts
Owners: @stevekinney, @Alex-Tideman

Fix type errors
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/side-nav.svelte
  src/lib/types/global.ts
Owners: @rossedfort, @temporalio/frontend-engineering

fix type errors seriously and with intent
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/side-nav.svelte
  src/lib/holocene/menu/menu-container.svelte
Owners: @rossedfort

Nav update icons clean (#3095)
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/buildings.svelte
  src/lib/holocene/icon/svg/collapse.svelte
  src/lib/holocene/icon/svg/key.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
  src/lib/stores/nav-open.ts
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

make routes conditional on prop
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoint.svelte
Owners: @temporalio/frontend-engineering

make routes conditional on prop (#3106)
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoint.svelte
Owners: @temporalio/frontend-engineering

Add Portal component to Holocene
  src/lib/holocene/portal/portal-action.ts
  src/lib/holocene/portal/portal.stories.svelte
  src/lib/holocene/portal/portal.svelte
  src/lib/holocene/portal/portal.test.ts
  src/lib/holocene/portal/position-calculator.ts
  src/lib/holocene/portal/types.ts
Owners: @rossedfort

Add usePortal support to Menu component
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

Fix transition in Portal
  src/lib/holocene/portal/portal.svelte
Owners: @rossedfort

Update Portal prop to hideWhenAnchorHidden
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/portal/portal.stories.svelte
  src/lib/holocene/portal/portal.svelte
  src/lib/holocene/portal/types.ts
Owners: @rossedfort

Fix updatePosition triggering re-runs
  src/lib/holocene/portal/portal.svelte
Owners: @rossedfort

Add new Nexus timeout fields and translations (#3105)
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/types/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix strict errors
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Try to fix types on nav items
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Check all scrollable ancestors
  src/lib/holocene/portal/portal.svelte
Owners: @rossedfort

update types, add util, try to fix oss
  src/lib/holocene/navigation/navigation-utils.ts
  src/lib/holocene/navigation/oss-nav-bar.svelte
Owners: @rossedfort

Fix string issue
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
Owners: @rossedfort

Nav release fix/kt (#3110)
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-utils.ts
  src/lib/holocene/navigation/oss-nav-bar.svelte
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

CR feedback
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

quick nav fix add logo and route to title
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Fix collapse icon on nav close
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Add padding to match other icons so collapse is centered
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

quick nav fix add logo and route to title (#3112)
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Add isFutureDate utility and update timestamp rune
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/timestamp.svelte
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
  src/lib/utilities/format-time.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix filter chip formatting
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

Move timestamp from runes/ to stores/ directory
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/timestamp.test.ts
  src/lib/stores/timestamp.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix tests
  src/lib/components/timestamp.test.ts
Owners: @rossedfort

Make timestamp fully reactive to user preferences
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Refactor timezone utilities to separate file and resolve circular imports
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/timezone.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add 'relative' override to timestamp rune
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
Owners: @temporalio/frontend-engineering

Update more components to use timestamp rune
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/pages/workflow-call-stack.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add $timestamp rune for reactive date formatting
  src/lib/runes/timestamp.svelte.ts
Owners: @temporalio/frontend-engineering

Add 'absolute' override and update workflow-details & dropdown-filter-chip to use rune
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Revert 'absolute' override from timestamp rune
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Change timestamp API to use options object
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
Owners: @rossedfort, @temporalio/frontend-engineering
