Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Move things around more
  src/lib/components/lines-and-dots/history-view-toggle.svelte
  src/lib/components/lines-and-dots/timeline-and-history-toggle.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/types/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Make overlay resizeable
  src/lib/components/event/event-details-full.svelte
  src/lib/components/lines-and-dots/svg/event-details-overlay.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/stores/active-events.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add schedule link
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add schedule link (#3061)
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Change from 2 to 1
  src/lib/models/event-history/get-event-billable-actions.ts
Owners: @stevekinney, @Alex-Tideman

Change from 2 to 1 (#3062)
  src/lib/models/event-history/get-event-billable-actions.ts
Owners: @stevekinney, @Alex-Tideman

use table for nexus registry
  src/lib/pages/nexus-endpoints.svelte
Owners: @temporalio/frontend-engineering

update to runes and add snippet
  src/lib/pages/nexus-endpoints.svelte
Owners: @temporalio/frontend-engineering

Time range bug fix (#3050)
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

tweak props
  src/lib/pages/nexus-endpoints.svelte
Owners: @temporalio/frontend-engineering

empty state updates
  src/lib/pages/nexus-empty-state.svelte
Owners: @temporalio/frontend-engineering

update prop chain
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoints.svelte
Owners: @temporalio/frontend-engineering

Update ns picker value based on page params
  src/lib/components/namespace-picker.svelte
Owners: @rossedfort

WIP - start standalone activity
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/standalone-activity-form/form.svelte
  src/lib/components/standalone-activity-form/types.ts
  src/lib/holocene/icon/svg/activity.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/tab-buttons/tab-button.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/models/payload-encoding.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/standalone-activities.ts
  src/lib/services/workflow-service.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/standalone-activities/+page.svelte
  src/routes/(app)/namespaces/[namespace]/standalone-activities/start/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add filter icon to view all runs link
  src/lib/components/schedule/schedule-recent-runs.svelte
Owners: @rossedfort

Make Scheduled By ID table cell filterable
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
Owners: @rossedfort

move breadcrumbs out
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering

fix linting
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoint.svelte
Owners: @temporalio/frontend-engineering

Add handling for forwarding the Host header
  server/server/headers/headers.go
  server/server/headers/headers_test.go
Owners: @temporalio/frontend-engineering

fix grammar in comment
  server/server/headers/headers.go
Owners: @temporalio/frontend-engineering

fix(select): make Option children a required prop
  src/lib/holocene/select/option.svelte
Owners: @rossedfort

fix(select): make Option children a required prop (#3068)
  src/lib/holocene/select/option.svelte
Owners: @rossedfort

Scheduled by filter updates (#3063)
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
Owners: @rossedfort

Tidemans feedback
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/routes/(app)/nexus/+page.svelte
Owners: @temporalio/frontend-engineering

implement more feedback
  src/lib/pages/nexus-endpoints.svelte
  src/routes/(app)/nexus/+page.svelte
Owners: @temporalio/frontend-engineering

Update ns picker value based on page params (#3065)
  src/lib/components/namespace-picker.svelte
Owners: @rossedfort

endpoint always has an id
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
Owners: @temporalio/frontend-engineering

fix: upgrade to Node 22 and resolve security vulnerabilities
  .tool-versions
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

chore: update GitHub Actions to Node 22
  .github/actions/setup-node/action.yml
Owners: @stevekinney

fix: resolve type errors from pnpm lockfile migration
  package.json
  pnpm-lock.yaml
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/utilities/event-link-href.ts
  src/lib/utilities/pending-activities.ts
  temporal/codec-server.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

add projectID to nexus create component
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/services/nexus-service.ts
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix: upgrade zx to 8.8.5 and fix ProcessPromise type compatibility
  package.json
  pnpm-lock.yaml
  utilities/ui-server.ts
Owners: @temporalio/frontend-engineering

fix: override esbuild to ^0.25.0 to resolve security vulnerability
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Make custom signal first
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
Owners: @rossedfort

Make custom signal first (#3069)
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
Owners: @rossedfort

fix: pin Playwright to ~1.49.1 and add esbuild as direct dependency
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

change nexus page to runes mode
  src/routes/(app)/nexus/+page.svelte
Owners: @temporalio/frontend-engineering

add server icon
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/server.svelte
Owners: @rossedfort

fix: upgrade Playwright to ^1.55.1 to fix HIGH severity vulnerability
  package.json
  pnpm-lock.yaml
  tests/integration/workflow-actions.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/test-utilities/mocks/batch-operations.ts
  tests/test-utilities/mocks/cluster.ts
  tests/test-utilities/mocks/event-history.ts
  tests/test-utilities/mocks/namespace.ts
  tests/test-utilities/mocks/namespaces.ts
  tests/test-utilities/mocks/query.ts
  tests/test-utilities/mocks/schedules.ts
  tests/test-utilities/mocks/search-attributes.ts
  tests/test-utilities/mocks/system-info.ts
  tests/test-utilities/mocks/task-queues.ts
  tests/test-utilities/mocks/workflow.ts
  tests/test-utilities/mocks/workflows-count.ts
  tests/test-utilities/mocks/workflows.ts
Owners: @temporalio/frontend-engineering

change routes, add duration input, fix imports
  package.json
  pnpm-lock.yaml
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/standalone-activity-form/form.svelte
  src/lib/components/standalone-activity-form/types.ts
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/holocene/card.svelte
  src/lib/holocene/duration-input/duration-input.mdx
  src/lib/holocene/duration-input/duration-input.stories.svelte
  src/lib/holocene/duration-input/duration-input.svelte
  src/lib/services/standalone-activities.ts
  src/lib/types/api.ts
  src/lib/types/index.ts
  src/lib/types/schedule.ts
  src/lib/utilities/encode-payload.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/activities/+page.svelte
  src/routes/(app)/namespaces/[namespace]/activities/start/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
