Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Add bg and hover for night mode in Cloud
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Make border go to edge of nav
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Refactor Versioning apis and UIs (#2097)
  src/lib/components/worker-table.svelte
  src/lib/components/workers-list.svelte
  src/lib/components/workflow-versioning-header.svelte
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/components/workflow/workflow-compatibility-error.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/task-queue-workers.svelte
  src/lib/pages/task-queue.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/services/pollers-service.ts
  src/lib/stores/workflow-run.ts
  src/routes/(app)/namespaces/[namespace]/task-queues/[queue]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update border in TableEmtpyState
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Update plugin.ts
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Add key to force update on labelCtx change (#2099)
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

Update plugin.ts
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Tone down border-primary in dark mode (#2102)
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Bump to alpine 3.19.1 for base docker images (#2094)
  server/Dockerfile
Owners: @temporalio/frontend-engineering

SideNavigation UI updates (#2101)
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Remove csp meta tag if publicPath exists and log warning
  server/server/route/ui.go
Owners: @temporalio/frontend-engineering

Update Github Action Dependencies (#2086)
  .github/actions/checkout-and-setup/action.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-package.yml
  .github/workflows/test.yml
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

Remove csp meta tag if publicPath exists and log warning (#2103)
  server/server/route/ui.go
Owners: @temporalio/frontend-engineering

Update version.go
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go (#2104)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

2.27.2
  package.json
Owners: @temporalio/frontend-engineering

2.27.2 (#2105)
  package.json
Owners: @temporalio/frontend-engineering

Simplify CSS variables for light and dark mode
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
  src/lib/theme/variables.ts
Owners: @temporalio/frontend-engineering

Simplify code
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
  src/lib/theme/variables.ts
Owners: @temporalio/frontend-engineering

Use strings for colors
  src/lib/theme/colors.ts
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
  src/lib/theme/variables.ts
Owners: @temporalio/frontend-engineering

Remove extra type
  src/lib/theme/colors.ts
Owners: @temporalio/frontend-engineering

Update colors.ts
  src/lib/theme/colors.ts
Owners: @temporalio/frontend-engineering

Update utilities.ts
  src/lib/theme/utilities.ts
Owners: @temporalio/frontend-engineering

Revert "Remove double encoding (#2096)"
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
Owners: @stevekinney, @Alex-Tideman

Revert "Remove double encoding (#2096)" (#2107)
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
Owners: @stevekinney, @Alex-Tideman

2.27.3
  package.json
Owners: @temporalio/frontend-engineering

2.27.3 (#2108)
  package.json
Owners: @temporalio/frontend-engineering

Add HTTP client
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/generate-http-client.js
  scripts/generate-schema.js
  src/api/client.ts
  src/api/index.ts
  src/api/schema.d.ts
  vite.config.ts
Owners: @temporalio/frontend-engineering

Add HTTP client (#2109)
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/generate-http-client.js
  scripts/generate-schema.js
  src/api/client.ts
  src/api/index.ts
  src/api/schema.d.ts
  vite.config.ts
Owners: @temporalio/frontend-engineering

Update src/lib/theme/utilities.ts
  src/lib/theme/utilities.ts
Owners: @temporalio/frontend-engineering

Update src/lib/theme/variables.ts
  src/lib/theme/variables.ts
Owners: @temporalio/frontend-engineering

Format changes
  src/lib/theme/utilities.ts
Owners: @temporalio/frontend-engineering

Update labs.svelte
  src/lib/holocene/icon/svg/labs.svelte
Owners: @rossedfort

Simplify CSS variables for light and dark mode (#2106)
  src/lib/holocene/icon/svg/labs.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
  src/lib/theme/variables.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Initial setup of Start Workflow page. Includes error messages, task queue status check, generate workflow id, and quick jump to start workflow with search params
  src/lib/components/workflow/start-workflow-button.svelte
  src/lib/holocene/alert.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/start-workflow/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fetch previous input and upload json
  src/lib/components/workflow/start-workflow-button.svelte
  src/lib/components/workflow/start-workflow-input-upload.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/events-service.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/route-for-api.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

send resetType in req body for batch reset
  src/lib/services/batch-service.ts
Owners: @stevekinney, @Alex-Tideman

default reset type to first, clear up reason hint text
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

send resetType in request body for batch reset (#2110)
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/services/batch-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

2.27.4
  package.json
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
