Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

add DarkModeButton to bottom nav
  src/lib/components/bottom-nav-settings.svelte
Owners: @rossedfort

add dark mode button to top nav
  src/lib/components/top-nav.svelte
Owners: @rossedfort

add dark mode button component
  src/lib/components/dark-mode-button.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

update workflow callbacks
  src/lib/components/workflow/workflow-callbacks.svelte
Owners: @rossedfort

remove dark mode button from side nav
  src/lib/components/side-nav.svelte
Owners: @rossedfort

enhance dark mode utilities with preference type and next preference function
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
Owners: @stevekinney, @Alex-Tideman

separate icon button and nav button for bottom nav
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/dark-mode-icon-button.svelte
  src/lib/components/dark-mode-navigation-button.svelte
  src/lib/components/top-nav.svelte
Owners: @rossedfort

Add check for firstExecutionRun, pass to terminate, update SplitButton
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/get-workflow-relationships.test.ts
  src/lib/utilities/get-workflow-relationships.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

add some tests for the dark-mode file
  src/lib/utilities/dark-mode/dark-mode.test.ts
Owners: @stevekinney, @Alex-Tideman

Revert to old first logic
  src/lib/services/workflow-service.ts
  src/lib/utilities/get-workflow-relationships.ts
Owners: @stevekinney, @Alex-Tideman

use original default value from .env
  src/lib/utilities/dark-mode/dark-mode.ts
Owners: @stevekinney, @Alex-Tideman

Revert test
  src/lib/utilities/get-workflow-relationships.test.ts
Owners: @stevekinney, @Alex-Tideman

OAUTH Additional claims
  go.work
  go.work.sum
  server/config/development.yaml
  server/server/auth/oidc.go
  server/server/auth/oidc_test.go
  server/server/config/config.go
  server/server/route/auth.go
Owners: @temporalio/frontend-engineering

OAUTH Additional claims
  go.work
  go.work.sum
Owners: @temporalio/frontend-engineering

OAUTH Additional claims
  server/docker/README.md
Owners: @temporalio/frontend-engineering

OAUTH Additional claims
  server/server/auth/oidc.go
Owners: @temporalio/frontend-engineering

OAUTH Additional claims
  server/server/auth/oidc.go
Owners: @temporalio/frontend-engineering

OAUTH Additional claims
  server/config/docker.yaml
Owners: @temporalio/frontend-engineering

use svelte5, tidy up
  src/lib/components/dark-mode-icon-button.svelte
  src/lib/components/dark-mode-navigation-button.svelte
Owners: @rossedfort

Refactor configurable table columns store (#2723)
  src/lib/components/workflow/configurable-table-headers-drawer/orderable-list.svelte
  src/lib/holocene/holocene-components.json
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.stories.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/stores/configurable-table-columns.test.ts
  src/lib/stores/configurable-table-columns.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fetch latest run id if there's a next execution
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add next check for termination
  src/lib/components/workflow-actions.svelte
  src/lib/layouts/workflow-header.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update integration tests with terminate button
  tests/integration/workflow-actions.spec.ts
  tests/test-utilities/mocks/event-history.ts
  tests/test-utilities/mocks/workflow.ts
Owners: @temporalio/frontend-engineering

Reset selection of workflows list on namespace/query/perPage/refresh
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

Reset selection of workflows list on namespace/query/perPage/refresh (#2726)
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

switch components back to legacy mode
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/components/workflow/workflow-callbacks.svelte
  src/lib/holocene/accordion/accordion-light.svelte
Owners: @rossedfort

Add docker config template to the image.
  server/Dockerfile
Owners: @temporalio/frontend-engineering

Show summary on pending activities
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Owners: @rossedfort

Add docker config template to the image. (#2727)
  server/Dockerfile
Owners: @temporalio/frontend-engineering

Fix sticky div blocking click, fix showing expanded row on readOnly, fix border
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Show Summary on Pending Activities (#2729)
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Add types to Card
  src/lib/holocene/card.svelte
Owners: @rossedfort

Add types to Card (#2730)
  src/lib/holocene/card.svelte
Owners: @rossedfort

How this fixes anything I do not know
  package.json
Owners: @temporalio/frontend-engineering

How this fixes anything I do not know (#2731)
  package.json
Owners: @temporalio/frontend-engineering

Fix labs icon
  src/lib/holocene/icon/svg/labs.svelte
Owners: @rossedfort

Fix type collision
  src/lib/holocene/toaster.svelte
  src/lib/pages/nexus-endpoint.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix type collision (#2733)
  src/lib/holocene/toaster.svelte
  src/lib/pages/nexus-endpoint.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

update pill files
  src/lib/holocene/pill-container/pill-container.svelte
  src/lib/holocene/pill-container/pill.svelte
Owners: @rossedfort

update children type to snippet
  src/lib/holocene/accordion/accordion-group.svelte
Owners: @rossedfort
