Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Update snapshot
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
Owners: @rossedfort

Add more checks for tests, add default array for pollers if none
  src/lib/services/namespaces-service.ts
  src/lib/services/pollers-service.ts
  src/lib/utilities/screaming-enums.ts
  src/lib/utilities/task-queue-compatibility.ts
Owners: @stevekinney, @Alex-Tideman

WIP - dark mode
  .storybook/preview.ts
  .storybook/slot.svelte
  src/lib/components/side-nav.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/moon.svelte
  src/lib/holocene/icon/svg/sun.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/holocene/table/table.svelte
  src/lib/stores/theme.ts
  tailwind.config.cjs
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Add fallback for edge case of unicode in string
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/utilities/atob.test.ts
  src/lib/utilities/atob.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove console.log
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Await parent before fetching
  src/routes/(app)/namespaces/[namespace]/+layout.ts
  src/routes/(app)/namespaces/[namespace]/+page.ts
Owners: @temporalio/frontend-engineering

Adjust text of workflow count changes in dark mode
  src/lib/components/workflow-status.svelte
Owners: @rossedfort

remove unneeded classes & theme store
  src/app.css
  src/lib/components/side-nav.svelte
  src/lib/components/top-nav.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/stores/theme.ts
  tailwind.config.cjs
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Decode string fallback for weird unicode edge cases (#1793)
  src/lib/utilities/atob.test.ts
  src/lib/utilities/atob.ts
Owners: @stevekinney, @Alex-Tideman

Await parent before fetching (#1794)
  src/routes/(app)/namespaces/[namespace]/+layout.ts
  src/routes/(app)/namespaces/[namespace]/+page.ts
Owners: @temporalio/frontend-engineering

Remove theme store from Storybook
  .storybook/preview.ts
Owners: @temporalio/frontend-engineering

Remove decorator
  .storybook/preview.ts
Owners: @temporalio/frontend-engineering

Await getSingleAttributeForEvent to show localActivity activityType
  src/lib/components/event/event-summary-row.svelte
  src/lib/models/event-groups/get-group-name.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Support local codec server config settings
  src/lib/models/event-history/index.ts
  src/lib/models/pending-activities/index.ts
  src/lib/services/query-service.ts
  src/lib/utilities/decode-payload.ts
Owners: @stevekinney, @Alex-Tideman

Remove await
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @stevekinney, @Alex-Tideman

Add padding for checkbox in workflow table
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
Owners: @rossedfort

Add padding for checkbox in workflow table (#1796)
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
Owners: @rossedfort

dark mode input and combobox
  .storybook/preview.ts
  colors.cjs
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/input/input.stories.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add unit tests for all enum functions
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/utilities/screaming-enums.test.ts
  src/lib/utilities/screaming-enums.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

2.22.0
  package.json
Owners: @temporalio/frontend-engineering

2.22.0 (#1798)
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to v2.22.0
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.22.0 (#1799)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add DisableWriteMiddleware middleware for ui-server
  server/server/route/api.go
Owners: @temporalio/frontend-engineering

Add background to copy icon
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Add disableReadActions on schedule buttons
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/schedules.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add shell language option to CodeBlock
  package.json
  pnpm-lock.yaml
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Try some trace stuff
  .github/workflows/playwright.yml
  tests/e2e/storageState.json
Owners: @stevekinney, @temporalio/frontend-engineering

Try more things
  .github/workflows/playwright.yml
  package.json
Owners: @stevekinney, @temporalio/frontend-engineering

Vite build
  .github/workflows/playwright.yml
  package.json
Owners: @stevekinney, @temporalio/frontend-engineering

Remove quotes in expected string
  tests/e2e/workflows.spec.ts
Owners: @temporalio/frontend-engineering

Try better expected text
  tests/e2e/workflows.spec.ts
Owners: @temporalio/frontend-engineering

Better expected text
  tests/e2e/workflows.spec.ts
Owners: @temporalio/frontend-engineering

Add disable write action integration tests
  package.json
  tests/integration/disable-write-actions.spec.ts
Owners: @temporalio/frontend-engineering

Update CodeBlock to support shell language (#1801)
  package.json
  pnpm-lock.yaml
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Add disable write action and schedules tests
  tests/integration/disable-write-actions.spec.ts
  tests/integration/schedules-list.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/schedules.ts
Owners: @temporalio/frontend-engineering

fix copyable/disabled styles
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Change package.json commands to be consistent
  .env.test.e2e
  .github/workflows/playwright.yml
  package.json
  tests/e2e/storageState.json
Owners: @temporalio/frontend-engineering, @stevekinney

debug
  utilities/temporal-server.ts
Owners: @temporalio/frontend-engineering

more debugging
  utilities/temporal-server.ts
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
