Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

More retry replacements
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
Owners: @rossedfort

Use attempt versus retry (#2408)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Owners: @rossedfort

CR feedback
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/payload-input.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
Owners: @rossedfort

Trigger resetView in Codeblock if content is different than value in view state
  src/lib/components/payload-input.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Fix tests
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/pages/workflow-query.svelte
  tests/e2e/schedules.spec.ts
  tests/e2e/workflows.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Make Query Arg label singular
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-query.svelte
Owners: @temporalio/frontend-engineering

Design feedback improvements
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-query.svelte
  tests/e2e/workflows.spec.ts
Owners: @temporalio/frontend-engineering

Get rid of empty class, not needed
  src/routes/(app)/nexus/+page.svelte
Owners: @temporalio/frontend-engineering

Add nexus flag for dynamic config
  utilities/temporal-server.ts
Owners: @temporalio/frontend-engineering

Get rid of empty class, not needed (#2410)
  src/routes/(app)/nexus/+page.svelte
  utilities/temporal-server.ts
Owners: @temporalio/frontend-engineering

Add query argument support (#2407)
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/payload-input.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/top-nav.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/select/filter-select.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/nexus-form.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/query-service.ts
  src/lib/utilities/encode-payload.ts
  src/routes/(app)/namespaces/[namespace]/archival/_workflow-filters.svelte
  tests/e2e/schedules.spec.ts
  tests/e2e/workflows.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use __user_metadata query if it exists
  src/lib/pages/workflow-query.svelte
  src/lib/services/query-service.ts
  src/lib/utilities/get-query-types-from-error.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update unit tests
  src/lib/utilities/get-query-types-from-error.test.ts
Owners: @stevekinney, @Alex-Tideman

Update unit tests
  src/lib/utilities/get-query-types-from-error.test.ts
Owners: @stevekinney, @Alex-Tideman

Fix tests to not mock response
  src/lib/services/query-service.ts
  temporal/codec-server.ts
  tests/e2e/storageState.json
  tests/e2e/workflows.spec.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Use __user_metadata query if it exists (#2411)
  src/lib/pages/workflow-query.svelte
  src/lib/services/query-service.ts
  src/lib/utilities/get-query-types-from-error.test.ts
  src/lib/utilities/get-query-types-from-error.ts
  temporal/codec-server.ts
  tests/e2e/storageState.json
  tests/e2e/workflows.spec.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add mobile vs. desktop playwright projects
  playwright.config.ts
Owners: @temporalio/frontend-engineering

Use __user_metadata query if it exists (#2411)
  src/lib/services/query-service.ts
  temporal/codec-server.ts
  tests/e2e/storageState.json
  tests/e2e/workflows.spec.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add types, update start workflow to pass a summary and details, update Workflow Header to show summary and details and workflow stats above tabs
  package.json
  pnpm-lock.yaml
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/holocene/monaco/markdown.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/workflow-execution.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/types/workflows.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Add dynamic page param replacement in markdown, allow pop-up scripts
  src/lib/holocene/monaco/markdown.svelte
  src/routes/(app)/render/+server.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add label for Details on start workflow
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Add details to new accordion light
  package.json
  pnpm-lock.yaml
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/monaco/markdown.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/models/workflow-execution.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Refactor metadata call to workflow-run level, add current details to history view
  package.json
  pnpm-lock.yaml
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/query-service.ts
  src/lib/stores/workflow-run.ts
  src/lib/types/workflows.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Add mobile and desktop specific tests for data encoder
  playwright.config.ts
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/data-encoder-settings.svelte
  src/routes/(app)/+layout.svelte
  tests/integration/data-encoder.desktop.spec.ts
  tests/integration/data-encoder.mobile.spec.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Fix tests that use nav items
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  tests/integration/import-event-history.spec.ts
  tests/integration/workflow-navigation.desktop.spec.ts
  tests/integration/workflow-navigation.mobile.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix e2e tests for mobile
  tests/e2e/schedules.spec.ts
  tests/e2e/workflows-summary-table-configuration.spec.ts
  tests/e2e/workflows.spec.ts
Owners: @temporalio/frontend-engineering

Add Authorization-Extras if authUser idToken exists (#2250)
  src/lib/services/data-encoder.ts
Owners: @Alex-Tideman, @GiantRobots

Add flag pole, use border not bg
  src/lib/holocene/icon/svg/flag.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Use two different themes for light/dark mode for Codemirror, unround some boxes
  src/lib/components/event/event-details-row.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update colors to pass accessibility, remove unused inline prop
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Light/Dark mode themes for Codemirror Editor (#2414)
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Don't update browser history on query param changes in start workflow. preserve order of query params on goto
  src/lib/pages/start-workflow.svelte
  src/lib/utilities/update-query-parameters.test.ts
  src/lib/utilities/update-query-parameters.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Don't update browser history on query param changes in start workflow. preserve order of query params on goto (#2415)
  src/lib/pages/start-workflow.svelte
  src/lib/utilities/update-query-parameters.test.ts
  src/lib/utilities/update-query-parameters.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

fix: keep extra row cell when write actions are disabled
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
Owners: @rossedfort

Only encode Schedule Input when added or edited (#2384)
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/payload-input.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/holocene/file-input.stories.svelte
  src/lib/stores/schedules.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Put according/details in header
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add mobile option for playwright tests (#2412)
  playwright.config.ts
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/data-encoder-settings.svelte
  src/routes/(app)/+layout.svelte
  tests/e2e/schedules.spec.ts
  tests/e2e/workflows-summary-table-configuration.spec.ts
  tests/e2e/workflows.spec.ts
  tests/integration/data-encoder.desktop.spec.ts
  tests/integration/data-encoder.mobile.spec.ts
  tests/integration/import-event-history.spec.ts
  tests/integration/workflow-navigation.desktop.spec.ts
  tests/integration/workflow-navigation.mobile.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Owners: @temporalio/frontend-engineering, @rossedfort

2.32.4
  package.json
Owners: @temporalio/frontend-engineering

Update daylight savings test
  src/lib/stores/time-format.test.ts
Owners: @stevekinney, @Alex-Tideman

Update daylight savings test (#2418)
  src/lib/stores/time-format.test.ts
Owners: @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
