Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Change link url
  src/lib/pages/deployments.svelte
Owners: @temporalio/frontend-engineering

Remove description text
  src/lib/pages/deployments.svelte
Owners: @temporalio/frontend-engineering

2.36.0
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to v2.36.0
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Change text
  src/lib/pages/deployments.svelte
Owners: @temporalio/frontend-engineering

Worker Versioning (#2576)
  src/lib/components/deployments/deployment-status.svelte
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-details.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/drained.svelte
  src/lib/holocene/icon/svg/heartbeat.svelte
  src/lib/holocene/icon/svg/inactive.svelte
  src/lib/holocene/icon/svg/trending-down.svelte
  src/lib/holocene/icon/svg/trending-up.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/workflow-execution.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/services/deployments-service.ts
  src/lib/stores/configurable-table-columns.ts
  src/lib/types/api.ts
  src/lib/types/deployments.ts
  src/lib/types/workflows.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update version.go to v2.36.0 (#2580)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

WIP: add messageType metadata field for json/protobuf payloads. Need to add messageType to schedules/signals
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/utilities/encode-payload.ts
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Set existing messageType and encoding on start workflow if it exists, add to signal
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/schedule.ts
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add gap
  src/lib/components/payload-input-with-encoding.svelte
Owners: @rossedfort

Remove nexus public preview tag and fix padding on deployments
  src/lib/pages/deployments.svelte
  src/lib/pages/nexus-empty-state.svelte
Owners: @temporalio/frontend-engineering

Remove nexus public preview tag and fix padding on deployments (#2582)
  src/lib/pages/deployments.svelte
  src/lib/pages/nexus-empty-state.svelte
Owners: @temporalio/frontend-engineering

2.36.1
  package.json
Owners: @temporalio/frontend-engineering

Support messageType metadata on protobuf encoded Payloads (#2581)
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/schedule.ts
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/encode-payload.ts
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Url encode deployment name
  src/lib/utilities/route-for.ts
Owners: @stevekinney, @Alex-Tideman

Url encode deployment name (#2585)
  src/lib/utilities/route-for.ts
Owners: @stevekinney, @Alex-Tideman

Don't query metadata if no pollers available
  src/lib/layouts/workflow-run-layout.svelte
Owners: @temporalio/frontend-engineering

Don't query metadata if no pollers available (#2586)
  src/lib/layouts/workflow-run-layout.svelte
Owners: @temporalio/frontend-engineering

Add local activity failure to filter
  src/lib/utilities/get-failed-or-pending.ts
Owners: @stevekinney, @Alex-Tideman

Add unit tests, refactor logic, standarized and clean up pending rows
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/utilities/get-failed-or-pending.test.ts
  src/lib/utilities/get-failed-or-pending.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Include Local Activity failure in filter for Pending and Failed Events (#2588)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/utilities/get-failed-or-pending.test.ts
  src/lib/utilities/get-failed-or-pending.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Move buttons for desc/expand/filter/pause/download to above Timeline
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/event-status-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Code-freeze 02.26.25 (#2590)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/schedule.ts
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/encode-payload.ts
  src/lib/utilities/get-failed-or-pending.test.ts
  src/lib/utilities/get-failed-or-pending.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

2.36.2
  package.json
Owners: @temporalio/frontend-engineering

Make toggle buttons sticky, make expand/collapse option sticky
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/stores/event-view.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use ed
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Upgrade svelte and dependencies
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Fix prop type errors
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/collapsible-divider/collapsible-divider.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/label.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/pill-container/pill-container.svelte
  src/lib/holocene/radio-input/radio-group.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/table/table-row.svelte
  src/lib/holocene/textarea.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
Owners: @rossedfort

Fix storybook
  .storybook/main.ts
  src/lib/holocene/toggle-switch.stories.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Format code
  .vscode/temporal-ui.code-snippets
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/models/event-groups/get-group-name.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/task-queue-compatibility.ts
Owners: @stevekinney, @rossedfort, @Alex-Tideman

Fix self-closing html tags
  src/lib/components/batch-operations/results.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/worker-rules.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/live-child-workflows-table.svelte
  src/lib/components/workflow/relationships/schedule-tree.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/components/workflow/workflow-loading-row.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/collapsible-divider/collapsible-divider.svelte
  src/lib/holocene/feature-tag.svelte
  src/lib/holocene/label.svelte
  src/lib/holocene/monaco/markdown.svelte
  src/lib/holocene/pagination.svelte
  src/lib/holocene/progress-bar.svelte
  src/lib/holocene/skeleton/index.svelte
  src/lib/holocene/skeleton/table.svelte
  src/lib/holocene/textarea.svelte
  src/lib/holocene/toggle-switch.svelte
  src/lib/holocene/user-menu-mobile.svelte
Owners: @rossedfort

Fix search attribute filter
  src/lib/components/search-attribute-filter/conditional-menu.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Update and fix ErrorBoundary
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/global.d.ts
  src/lib/holocene/error-boundary-fallback.svelte
  src/lib/holocene/error-boundary.svelte
  src/lib/holocene/error-boundary.ts
  src/lib/holocene/error.svelte
  src/routes/(app)/+layout.svelte
  src/routes/+error.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Remove unnecessary bottom-0 for right position
  src/lib/holocene/drawer.svelte
Owners: @rossedfort

Remove unnecessary bottom-0 for right position (#2592)
  src/lib/holocene/drawer.svelte
Owners: @rossedfort

add max int to number input
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/holocene/input/number-input.svelte
Owners: @rossedfort

add max int to number input (#2594)
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/holocene/input/number-input.svelte
Owners: @rossedfort

Don't decode the full startWorkflow to allow passing startWorkflow search attributes correctly on edit
  src/lib/components/schedule/schedule-form-view.svelte
Owners: @rossedfort

Don't decode the full startWorkflow to allow passing startWorkflow search attributes correctly on edit (#2595)
  src/lib/components/schedule/schedule-form-view.svelte
Owners: @rossedfort

Add expand button for CodeBlock to view full height. Update icons
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/expandable/button.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/compact.svelte
  src/lib/holocene/icon/svg/expand.svelte
  src/lib/holocene/icon/svg/feed.svelte
  src/lib/holocene/icon/svg/json.svelte
  src/lib/holocene/icon/svg/minimize.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering
