Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Remove namespace on schedules page
  src/lib/pages/schedules.svelte
Owners: @temporalio/frontend-engineering

Remove preview badge for Schedules (#1763)
  src/lib/pages/schedules.svelte
Owners: @temporalio/frontend-engineering

2.21.8
  package.json
Owners: @temporalio/frontend-engineering

2.21.8 (#1764)
  package.json
Owners: @temporalio/frontend-engineering

Add back broadcast to event view
  src/lib/stores/event-view.ts
Owners: @stevekinney, @Alex-Tideman

Add back broadcast to event view (#1765)
  src/lib/stores/event-view.ts
Owners: @stevekinney, @Alex-Tideman

2.21.9
  package.json
Owners: @temporalio/frontend-engineering

2.21.9 (#1766)
  package.json
Owners: @temporalio/frontend-engineering

Add new north star designs
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-summary.svelte
  src/lib/components/north-star/north-star-group-details.svelte
  src/lib/components/north-star/north-star-group-row.svelte
  src/lib/components/north-star/north-star-layout.svelte
  src/lib/components/north-star/north-star-time-row.svelte
  src/lib/components/side-nav.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add input and results, make it LabGuard only compact view
  src/lib/components/event/event-summary.svelte
  src/lib/components/north-star/north-star-group-details.svelte
  src/lib/components/north-star/north-star-group-row.svelte
  src/lib/components/north-star/north-star-input-and-result.svelte
  src/lib/components/north-star/north-star-layout.svelte
  src/lib/components/north-star/north-star-time-row.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/models/event-groups/get-event-in-group.ts
  src/lib/pages/workflow-history-compact.svelte
  src/lib/utilities/pluralize.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add duration
  src/lib/components/north-star/north-star-group-row.svelte
Owners: @rossedfort

Move relationships to its own tab, add filters
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/north-star/north-star-filters.svelte
  src/lib/components/north-star/north-star-group-details.svelte
  src/lib/components/north-star/north-star-group-row.svelte
  src/lib/components/north-star/north-star-input-and-result.svelte
  src/lib/components/north-star/north-star-layout.svelte
  src/lib/components/north-star/north-star-time-row.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/holocene/badge.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-history/get-event-classification.ts
  src/lib/pages/workflow-relationships.svelte
  src/lib/stores/filters.ts
  src/lib/utilities/get-workflow-relationships.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/relationships/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove pending
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/north-star/north-star-filters.svelte
  src/lib/components/north-star/north-star-group-row.svelte
  src/lib/components/north-star/north-star-layout.svelte
  src/lib/components/north-star/north-star-time-row.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-view-toggle.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add north-star-tag
  package.json
Owners: @temporalio/frontend-engineering

Split pane
  package.json
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/north-star/north-star-input-and-result.svelte
  src/lib/components/north-star/north-star-layout.svelte
  src/lib/components/north-star/north-star-summary.svelte
  src/lib/components/north-star/north-star-time-row.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Dont split
  src/lib/components/north-star/north-star-summary.svelte
  src/lib/layouts/workflow-history-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove persistedTimeFilter
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add type to WorkflowFilter and fix boolean filter
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/models/workflow-filters.ts
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Fix types
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Owners: @rossedfort

Add tests and remove unused code
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/list-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
Owners: @stevekinney, @Alex-Tideman

Refactor type check utils to use type
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/utilities/query/filter-search.test.ts
  src/lib/utilities/query/filter-search.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add conditional check for attribute
  src/lib/components/workflow/filter-search/index.svelte
Owners: @rossedfort

Fix Boolean filter search (#1769)
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/models/workflow-filters.ts
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/utilities/query/filter-search.test.ts
  src/lib/utilities/query/filter-search.ts
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/list-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add Run ID label in Workflow Summary
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update copy to say call stack instead of stack trace
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-stack-trace.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/stack-trace/+page.svelte
  tests/e2e/stack-trace.spec.ts
  tests/e2e/workflows.spec.ts
  tests/integration/workflow-event-history.spec.ts
Owners: @temporalio/frontend-engineering

Change Stack trace to Call Stack in event details row
  src/lib/components/event/event-details-row-expanded.svelte
Owners: @rossedfort

Update /stack-trace route to /call-stack
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/call-stack/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/stack-trace/+page.ts
  tests/accessibility/with-workflows.accessibility.spec.ts
  tests/e2e/call-stack.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add Alert above call stack
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-call-stack.svelte
Owners: @temporalio/frontend-engineering

Add history byte size, better labels
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Rename Stack Trace to Call Stack (#1770)
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/call-stack/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/stack-trace/+page.ts
  tests/accessibility/with-workflows.accessibility.spec.ts
  tests/e2e/call-stack.spec.ts
  tests/e2e/stack-trace.spec.ts
  tests/e2e/workflows.spec.ts
  tests/integration/workflow-event-history.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Render button if button with href is disabled
  src/lib/holocene/button.svelte
Owners: @rossedfort

Render button if button with href is disabled (#1771)
  src/lib/holocene/button.svelte
Owners: @rossedfort

2.21.10
  package.json
Owners: @temporalio/frontend-engineering

2.21.10 (#1772)
  package.json
Owners: @temporalio/frontend-engineering

Update ui-server to use the new protos
  go.work.sum
  server/go.mod
  server/go.sum
  server/server/api/handler.go
  server/server/api/marshaler.go
  server/server/api/middleware.go
  server/server/headers/headers.go
  server/server/version/with_version_header.go
Owners: @temporalio/frontend-engineering

Include milliseconds on duration
  src/lib/components/workflow/workflow-summary.svelte
Owners: @rossedfort

Include milliseconds on duration (#1776)
  src/lib/components/workflow/workflow-summary.svelte
Owners: @rossedfort

migration to Svelte 4
  package.json
  src/lib/components/event/event-summary-row.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

migration to SvelteKit 2
  package.json
  pnpm-lock.yaml
  src/routes/(app)/+layout.ts
  src/routes/(app)/+page.ts
  src/routes/(app)/import/+page.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/+page.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/+page.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+page.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/compact/+page.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/feed/+page.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/json/+page.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/stack-trace/+page.ts
  src/routes/(login)/+layout.ts
  tsconfig.json
Owners: @temporalio/frontend-engineering

WIP: Add api pagination for schedules
  src/lib/pages/schedules.svelte
  src/lib/services/schedule-service.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
