Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

make timestamp signature more like formatDate signature
  src/lib/components/timestamp.svelte
  src/lib/components/timestamp.test.ts
Owners: @rossedfort

Move isFutureDate to format-date.ts and rename to isFuture
  src/lib/stores/timestamp.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/format-time.ts
Owners: @stevekinney, @Alex-Tideman

Update event summary rows and version details to use timestamp rune
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
Owners: @rossedfort

Update components to use timestamp rune
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add comprehensive tests for timestamp rune
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
Owners: @temporalio/frontend-engineering

touch up timestamp store, no need for isFuture there
  src/lib/stores/time-format.test.ts
  src/lib/stores/timestamp.ts
Owners: @stevekinney, @Alex-Tideman

move timestamp from stores folder to be an export of the timestamp component
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/timestamp.test.ts
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/timestamp.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Bump versions
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Add pause/unpause buttons
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/pause-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/unpause-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/workflow-actions.ts
  src/lib/services/workflow-service.ts
  src/lib/types/api.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/workflow-actions.test.ts
  src/lib/utilities/workflow-actions.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Show alert when workflow is paused
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/types/index.ts
  src/lib/types/workflows.ts
Owners: @temporalio/frontend-engineering

[DT-3501] reactive timestamp (#3108)
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/timestamp.test.ts
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/time-format.test.ts
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/timezone.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

adjust layout and reposition timestamp format display
  src/lib/components/timezone-select.svelte
Owners: @rossedfort

add iso option to timezone popover
  src/lib/components/timezone-select.svelte
  src/lib/utilities/format-date.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

add hour format to the timezone popover
  src/lib/components/timezone-select.svelte
Owners: @rossedfort

add 12/24 hour option
  src/lib/components/timestamp.svelte
  src/lib/components/timestamp.test.ts
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

add terminate and cancel to activity details page
  src/lib/components/activity-execution/activity-execution-actions.svelte
  src/lib/components/activity-execution/activity-execution-header.svelte
  src/lib/components/activity-execution/cancel-confirmation-modal.svelte
  src/lib/components/activity-execution/terminate-confirmation-modal.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/layouts/activity-execution-layout.svelte
  src/lib/pages/activity-executions.svelte
  src/lib/services/standalone-activities.ts
  src/lib/types/api.ts
  src/lib/utilities/activity-execution-poller.svelte.ts
  src/lib/utilities/route-for-api.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

feat(deployments): add tooltips for version status badges
  src/lib/components/deployments/deployment-status.svelte
  src/lib/i18n/locales/en/deployments.ts
Owners: @rossedfort, @temporalio/frontend-engineering

feat(workflows): show Versioning Behavior column when filtering by deployment version
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Owners: @rossedfort

update api
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

feat(deployments): make build ID and deployment name copyable and filterable
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

DT-3532 - activity execution actions (#3115)
  server/go.mod
  server/go.sum
  src/lib/components/activity-execution/activity-execution-actions.svelte
  src/lib/components/activity-execution/activity-execution-header.svelte
  src/lib/components/activity-execution/cancel-confirmation-modal.svelte
  src/lib/components/activity-execution/terminate-confirmation-modal.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/layouts/activity-execution-layout.svelte
  src/lib/pages/activity-executions.svelte
  src/lib/services/standalone-activities.ts
  src/lib/types/api.ts
  src/lib/utilities/activity-execution-poller.svelte.ts
  src/lib/utilities/route-for-api.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

[DT-3501][DT-3505] 12/24 hour and ISO formats added to timezone popover (#3113)
  src/lib/components/timestamp.svelte
  src/lib/components/timestamp.test.ts
  src/lib/components/timezone-select.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

ux improvements
  src/lib/components/timezone-select.svelte
  src/lib/utilities/format-date.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

improve layout of workflows header section to make refresh button stay put
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

fix tests
  src/lib/utilities/format-date.test.ts
Owners: @stevekinney, @Alex-Tideman

update collapse classes
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

oops, comment back in
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Fix strict errors
  src/lib/components/activity/activity-pause-confirmation-modal.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/unpause-confirmation-modal.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/workflow-actions.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add back request cancellation button if pause is not enabled
  src/lib/components/workflow-actions.svelte
Owners: @rossedfort

Fix nav collapse icon (#3117)
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

refactor(workflow-history): replace type assertion with type guard
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

feat(workflow): add InputAndResults back to Timeline and Event History tabs
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  tests/integration/workflow-event-history.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

feat(workflow): update navigation links to land on Timeline tab
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/live-child-workflows-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-nexus-links.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

refactor(routing): add archival support to routeForTimeline
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/utilities/route-for.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

test: update workflow-event-history tests for split tabs
  tests/integration/workflow-event-history.spec.ts
Owners: @temporalio/frontend-engineering

feat(workflow): split Event History into Timeline and Event History tabs
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/utilities/event-filter-params.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/timeline/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

add disabled state for standalone activities
  src/lib/components/activity-execution/standalone-activities-disabled.svelte
  src/lib/components/activity-execution/standalone-activities-guard.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/types/index.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/activities/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

make disabled state into derived
  src/lib/components/timezone-select.svelte
Owners: @rossedfort

change system icon to word "System"
  src/lib/components/timezone-select.svelte
Owners: @rossedfort

feat(workflows): show Versioning Behavior column when filtering by deployment version (#3120)
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Owners: @rossedfort

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
