Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Fix the wrong nano conversion in timestampToDate
  src/lib/utilities/format-time.ts
Owners: @stevekinney, @Alex-Tideman

Remove encodingDecoded field
  src/fixtures/local-activities/dotnet_local_activity.json
  src/fixtures/local-activities/go_local_activity.json
  src/fixtures/local-activities/java_local_activity.json
  src/fixtures/local-activities/python_local_activity.json
  src/fixtures/local-activities/ts_local_activity.json
  src/lib/utilities/decode-payload.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix the wrong nano conversion in timestampToDate (#2273)
  src/lib/utilities/format-time.ts
Owners: @stevekinney, @Alex-Tideman

Small tweaks
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/table/paginated-table.svelte
Owners: @rossedfort

Use new paginated table, add maxHeight and split variant
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
Owners: @rossedfort

Remove schedule name search input
  src/lib/pages/schedules.svelte
Owners: @temporalio/frontend-engineering

Add expandable prop to search attribute Accordion
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Add search attribute type map
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/search-attribute-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/start-workflow-search-attribute-input.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/models/search-attribute-filters.ts
  src/lib/stores/search-attributes.ts
  src/lib/types/workflows.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/search-attribute-filter.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/lib/utilities/screaming-enums.ts
  tests/test-utilities/mocks/search-attributes.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add ScheduleId filter option and rename table header
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/pages/schedules.svelte
  src/lib/stores/configurable-table-columns.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use Input required prop on schedule form
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/i18n/locales/en/schedules.ts
  tests/e2e/schedules.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add back lines and dots
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/utilities/format-event-attributes.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Schedule search attributes (#2241)
  src/lib/components/schedule/schedule-advanced-settings.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/datetime-input.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/components/workflow/search-attribute-input/number-input.svelte
  src/lib/components/workflow/search-attribute-input/text-input.svelte
  src/lib/components/workflow/start-workflow-search-attribute-input.svelte
  src/lib/components/workflow/start-workflow-search-attributes.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/orderable-list.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/time-picker.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/events.ts
  src/lib/i18n/locales/en/schedules.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-metadata.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/stores/search-attributes.ts
  src/lib/types/index.ts
  src/lib/types/schedule.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add isCloud check for ScheduleId
  src/lib/pages/schedules.svelte
Owners: @temporalio/frontend-engineering

Add on:click to ToggleSwitch
  src/lib/holocene/toggle-switch.svelte
Owners: @rossedfort

Fix expandable false UI in Accordion
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Add status to compact view
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/constants.test.ts
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/utilities/format-camel-case.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove encodingDecoded field (#2274)
  src/fixtures/local-activities/dotnet_local_activity.json
  src/fixtures/local-activities/go_local_activity.json
  src/fixtures/local-activities/java_local_activity.json
  src/fixtures/local-activities/python_local_activity.json
  src/fixtures/local-activities/ts_local_activity.json
  src/lib/utilities/decode-payload.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Get everything cleaned up, figure out compact view on open, show all group events in full mode as well
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-empty-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/utilities/format-event-attributes.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add pending nexus operations and pending activities to the top of all view
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/workflow-callback.svelte
  src/lib/models/workflow-execution.ts
  src/lib/types/events.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/is-pending-activity.ts
  src/lib/utilities/pending-activities.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Fix types
  src/lib/components/event/event-summary-table.svelte
  src/lib/utilities/pending-activities.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Make the attributes in a better order, lets call it done
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/models/event-groups/get-group-name.ts
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Fix tests, delete unused files.
  src/lib/components/event/event-detail-pills.svelte
  src/lib/components/event/event-empty-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-row-payload-detail.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/event-groups/group-events.test.ts
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  tests/integration/workflow-event-history.spec.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Remove old timeline helpers
  src/lib/components/event/event-history-timeline-helpers.ts
Owners: @rossedfort

Fix Local Activity label
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/models/event-groups/get-group-name.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Small color fixes
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
Owners: @rossedfort

Add retry badge, and Failed/Pending only filter
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/event-status-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/stores/filters.ts
  src/lib/theme/plugin.ts
  src/lib/utilities/get-failed-or-pending.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Better attributes, show duration always
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add event ids on groups
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Add tooltips
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/types/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

More cleanup
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/lines-and-dots/event-status-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/utilities/get-failed-or-pending.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Dynamic width of history graph up to 300, other style fixes
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
Owners: @rossedfort

2.29.3
  package.json
Owners: @temporalio/frontend-engineering

Fix tests
  package.json
  server/go.mod
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/vendor/codemirror/theme.ts
  tests/e2e/workflows.spec.ts
  tests/integration/storageState.json
  tests/integration/workflow-event-history.spec.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Tweak dot strokeWidths, remove zoom, update snaps
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/models/event-history/get-event-categorization.test.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Check for pending nexus attempt
  package.json
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

add pageSizeOptions prop and add max-h-none to table wrapper
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Owners: @rossedfort

Use operation and endpoint for checking isNexusPending
  src/lib/utilities/is-pending-activity.ts
Owners: @stevekinney, @Alex-Tideman

Bump to test
  package.json
Owners: @temporalio/frontend-engineering

Debug Nexus stuff
  package.json
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/is-pending-activity.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Finalize
  package.json
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/utilities/is-pending-activity.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
