Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

try to fix storybook
  src/lib/holocene/pill-container/pill-container.stories.svelte
Owners: @rossedfort

update storybook
  src/lib/holocene/pill-container/pill-container.stories.svelte
Owners: @rossedfort

try to fix test
  src/lib/holocene/pill-container/pill-container.stories.svelte
  src/lib/holocene/pill-container/pill-container.svelte
Owners: @rossedfort

rm arg
  src/lib/holocene/pill-container/pill-container.stories.svelte
Owners: @rossedfort

make work as expected
  src/lib/holocene/pill-container/pill-container.stories.svelte
  src/lib/holocene/pill-container/pill-container.svelte
  src/lib/holocene/pill-container/pill.svelte
Owners: @rossedfort

Initial build of operator commands
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  src/lib/components/activity/activity-commands.svelte
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/components/activity/activity-pause-confirmation-modal.svelte
  src/lib/components/activity/activity-reset-confirmation-modal.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/workflow/pending-activity/workflow-pending-activity.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/pencil.svelte
  src/lib/holocene/input/input.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/services/workflow-activities-service.ts
  src/lib/types/api.ts
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/utilities/route-for-api.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Add unpause modal
  src/lib/components/activity/activity-commands.svelte
  src/lib/components/activity/activity-unpause-confirmation-modal.svelte
  src/lib/i18n/locales/en/activities.ts
Owners: @rossedfort, @temporalio/frontend-engineering

feat(modal): update slot name to `modal-title`
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/holocene/modal.stories.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

fix(modal): resolve slot name conflict with HTMLAttributes title prop
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/holocene/modal.stories.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

feat: add typeahead workflow search
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/components/workflow/typeahead-input.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/components/workflow/workflow-typeahead-search.svelte
Owners: @rossedfort

Use queryWithParentWorkflowId to correctly query hide child workflows with paginated workflows
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Use queryWithParentWorkflowId
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

Fix Child Workflow Hidden query with paginated workflows (#2737)
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update oauth2 to fix CVE-2025-22868
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Add pause icon in Timeline, correctly set updateMask to all fields, update portal
  src/lib/components/activity/activity-commands.svelte
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/workflow/pending-activity/workflow-pending-activity.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/services/workflow-activities-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add toasts on update, use Input, add TODO for reset
  src/lib/components/activity/activity-options-update-drawer.svelte
Owners: @rossedfort

fix(modal): resolve slot name conflict with HTMLAttributes title prop
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/holocene/modal.stories.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

feat(modal): update slot name to `modal-title`
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/holocene/modal.stories.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update packages and EventLink type. Add support for links in callback
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-callbacks.svelte
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/types/nexus.ts
Owners: @temporalio/frontend-engineering, @rossedfort

improve flexible usage and accessibility of copy button
  src/lib/holocene/copyable/copy-button.svelte
  src/lib/holocene/copyable/copy-icon.svelte
Owners: @rossedfort

add DetailList component and subcomponents
  src/lib/components/detail-list/detail-list-column.svelte
  src/lib/components/detail-list/detail-list-label.svelte
  src/lib/components/detail-list/detail-list-link-value.svelte
  src/lib/components/detail-list/detail-list-text-value.svelte
  src/lib/components/detail-list/detail-list-value.svelte
  src/lib/components/detail-list/detail-list.svelte
  src/lib/components/detail-list/index.ts
Owners: @rossedfort

use DetailList component in WorkflowDetails component
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

add more gap in WorkflowHeader
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

Add support for requestId to find the event by requestId
  src/lib/components/event/event-link.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/types/events.ts
  src/lib/utilities/event-link-href.test.ts
  src/lib/utilities/event-link-href.ts
  src/lib/utilities/route-for.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

add system-window icon
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/system-window.svelte
Owners: @rossedfort

use system-window icon for dark mode buttons
  src/lib/components/dark-mode-icon-button.svelte
  src/lib/components/dark-mode-navigation-button.svelte
Owners: @rossedfort

Better link logic, fix visibleItems
  src/lib/components/event/event-link.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/utilities/event-link-href.test.ts
  src/lib/utilities/event-link-href.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

tweak side nav slot "bottom" to be more like original
  src/lib/components/side-nav.svelte
Owners: @rossedfort

Make optional
  src/lib/types/nexus.ts
Owners: @temporalio/frontend-engineering

Update oauth2 to fix CVE-2025-22868 (#2738)
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

change let to const in dark-mode buttons
  src/lib/components/dark-mode-icon-button.svelte
  src/lib/components/dark-mode-navigation-button.svelte
Owners: @rossedfort

[DT-2854] move dark mode button from side nav to top nav (#2720)
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/dark-mode-icon-button.svelte
  src/lib/components/dark-mode-navigation-button.svelte
  src/lib/components/side-nav.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/system-window.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/dark-mode/dark-mode.test.ts
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use links attached to callbacks and support requestId links (#2742)
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  src/lib/components/event/event-link.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-callbacks.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/types/nexus.ts
  src/lib/utilities/event-link-href.test.ts
  src/lib/utilities/event-link-href.ts
  src/lib/utilities/route-for.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Fix expanded row key
  src/lib/components/event/event-summary-table.svelte
Owners: @rossedfort

Remove key
  src/lib/components/event/event-summary-table.svelte
Owners: @rossedfort

Bump tar-fs
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Bump tar-fs (#2744)
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Add TLS support for ui-server
  server/config/development.yaml
  server/config/docker.yaml
  server/server/config/config.go
  server/server/server.go
Owners: @temporalio/frontend-engineering

Fix duplicate keys
  src/lib/components/event/event-summary-table.svelte
Owners: @rossedfort

Fix expanded row key (#2743)
  src/lib/components/event/event-summary-table.svelte
Owners: @rossedfort
