Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Account for KeywordList in query and filter formatting utils and add tests
  src/lib/utilities/is.ts
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Owners: @stevekinney, @Alex-Tideman

Add unround and external content options to ChipInput
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/holocene/input/chip-input.stories.svelte
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

Add KeywordList option to SearchAttributeInput
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/datetime-input.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/components/workflow/search-attribute-input/list-input.svelte
  src/lib/components/workflow/search-attribute-input/number-input.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/search-attributes.ts
  src/lib/utilities/encode-payload.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add ListFilter to filter search
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/search-attribute-filter/status-filter.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Remove dark theme on CopyButton in CodeBlock
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Remove dark theme on CopyButton in CodeBlock (#2421)
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Permanently fix formatted utc offset test
  src/lib/stores/time-format.test.ts
Owners: @stevekinney, @Alex-Tideman

fix: keep extra row cell when write actions are disabled (#2416)
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
Owners: @rossedfort

Add summary and details to workflow start
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/markdown.reset.css
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix order on sm
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Update snapshots
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Owners: @stevekinney, @Alex-Tideman

Use signal definitions as dropdown select for sending signal
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
Owners: @rossedfort

Add check for current details
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

Update go-oidc to v3.11
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Remove py-4 on input-and-results
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
Owners: @rossedfort

Make ids in event history mono for better spacing
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Update go-oidc to v3.11 (#2424)
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Make ids in event history mono for better spacing (#2425)
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Permanently fix formatted utc offset test (#2422)
  src/lib/stores/time-format.test.ts
Owners: @stevekinney, @Alex-Tideman

Inline li in markdown, better summary check
  src/lib/layouts/workflow-header.svelte
  src/markdown.reset.css
Owners: @temporalio/frontend-engineering

Don't use inherit for font
  src/markdown.reset.css
Owners: @temporalio/frontend-engineering

Use reactive route for namespace
  src/lib/components/top-nav.svelte
Owners: @rossedfort

Use reactive route for namespace (#2426)
  src/lib/components/top-nav.svelte
Owners: @rossedfort

Use editor for Summary, add titles for Summary and Details in Accordion, don't refetch workflow-metadata for now. Don't show currentDetails
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/monaco/editor.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-query.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Better loading state
  src/lib/pages/workflow-query.svelte
Owners: @temporalio/frontend-engineering

Add custom input selection if signal definitions exist to allow for manual input
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-metadata.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove state transitions
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

2.32.5
  package.json
Owners: @temporalio/frontend-engineering

Add href prop to Combobox to get reactive hrefs working correctly
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Use correct hrefDisabled prop
  src/lib/components/top-nav.svelte
Owners: @rossedfort

Add href prop to Combobox to get reactive hrefs working correctly (#2428)
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

2.32.6
  package.json
Owners: @temporalio/frontend-engineering

Add render route in ui-server
  server/server/route/ui.go
  server/server/server.go
Owners: @temporalio/frontend-engineering

Render markdown in ui-server for OSS
  server/go.mod
  server/go.sum
  server/server/route/ui.go
Owners: @temporalio/frontend-engineering

WIP: Encode and decode user metadata on the workflow
  src/lib/components/event/payload-decoder.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/models/workflow-execution.ts
  src/lib/services/workflow-service.ts
  src/lib/types/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Drop controls we're not actually allowing
  src/lib/holocene/combobox/combobox.stories.svelte
Owners: @rossedfort

Add a play test, fix filterOptions opening the menu.
  src/lib/holocene/combobox/async-test.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Add additional steps for async stuff. Fix some bad names
  src/lib/holocene/combobox/async-test.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
Owners: @rossedfort

Fix unhappy types
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Comment out tests that make accessibility tests break
  src/lib/holocene/combobox/combobox.stories.svelte
Owners: @rossedfort

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
