Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Add on:click to chevron button
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Fix overlapping workflow details text (#2162)
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/components/workflow/workflow-summary.svelte
Owners: @rossedfort

Add on:click to chevron button (#2163)
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Add missing label to range input
  src/lib/holocene/input/range-input.svelte
Owners: @rossedfort

Fix aria describedby and labelledby on RadioInput and Modal
  src/lib/holocene/modal.svelte
  src/lib/holocene/radio-input/radio-input.svelte
Owners: @rossedfort

Fix border and focus styles on Textarea
  src/lib/holocene/textarea.svelte
Owners: @rossedfort

Update focus styles and remove nested button in Accordion
  src/lib/holocene/accordion.svelte
Owners: @rossedfort

Fix contrast violations due to opacity
  src/lib/holocene/calendar.svelte
  src/lib/holocene/input/chip-input.svelte
Owners: @rossedfort

Remove hr from OrderableListItem and add labels to stories
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.stories.svelte
Owners: @rossedfort

Remove checkbox role on div in Checkbox component
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Fix aria-labels in CodeBlock component
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Add tabindex of 0 on scrollable region in CodeBlock
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Update text-danger color to pass contrast test
  src/lib/theme/variables.ts
Owners: @temporalio/frontend-engineering

drop grpc gateway fork
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Fix checkbox selector in test
  tests/integration/workflow-actions.spec.ts
Owners: @temporalio/frontend-engineering

Update storybook
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Install chromatic addon
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Refactor to DownloadEventHistoryModal, new setting for choosing between encoded/decoded/readable
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/stores/events.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/export-history.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use description for RadioInput
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/i18n/locales/en/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Encoded/Decoded/Readable setting for Download History (#2167)
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/stores/events.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/export-history.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Feed back based on Laura's PR review
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/start-workflow-button.svelte
  src/lib/components/workflow/start-workflow-search-attribute-input.svelte
  src/lib/holocene/file-input.svelte
  src/lib/pages/start-workflow.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add reusable PillContainer component to Holocene
  src/lib/components/event/event-detail-pills.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/pill.svelte
  src/lib/holocene/pill-container/pill-container.stories.svelte
  src/lib/holocene/pill-container/pill-container.svelte
  src/lib/holocene/pill-container/pill.svelte
Owners: @rossedfort

Add count to Pill
  src/lib/holocene/pill-container/pill.svelte
Owners: @rossedfort

Add focus styles
  src/lib/holocene/pill-container/pill.svelte
Owners: @rossedfort

Use ghost button
  src/lib/components/workflow/start-workflow-search-attribute-input.svelte
Owners: @rossedfort

Start a Workflow Execution from the UI (#2116)
  server/config/development.yaml
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/start-workflow-button.svelte
  src/lib/components/workflow/start-workflow-search-attribute-input.svelte
  src/lib/components/workflow/start-workflow-search-attributes.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/file-input.svelte
  src/lib/holocene/select/option.svelte
  src/lib/holocene/select/select.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/events-service.ts
  src/lib/services/settings-service.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/search-attributes.ts
  src/lib/types/index.ts
  src/lib/utilities/encode-payload.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/workflow-create-disabled.ts
  src/routes/(app)/namespaces/[namespace]/workflows/start-workflow/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/start-workflow/+page.ts
  tests/integration/start-a-workflow.spec.ts
  tests/test-utilities/mocks/settings.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Automate with CI
  .github/workflows/chromatic.yml
  chromatic.config.json
Owners: @stevekinney, @temporalio/frontend-engineering

Add accessibility tests (#2165)
  .storybook/test-runner.ts
  package.json
  pnpm-lock.yaml
  src/lib/holocene/accordion.svelte
  src/lib/holocene/calendar.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/input/range-input.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.stories.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/holocene/scroll-to-bottom.svelte
  src/lib/holocene/scroll-to-container.svelte
  src/lib/holocene/scroll-to-top.stories.svelte
  src/lib/holocene/scroll-to-top.svelte
  src/lib/holocene/textarea.svelte
  src/lib/theme/variables.ts
  tests/integration/workflow-actions.spec.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Add table event history view to labs mode
  src/lib/components/event/event-summary.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/types/events.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add EventHistoryViewTypeToggle and nest in Pagination when in table view
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/event-history-view-type-toggle.svelte
  src/lib/holocene/pagination.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Edit / import pages
  src/fixtures/nexus-services.json
  src/lib/i18n/locales/en/namespaces.ts
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-admin-view.svelte
  src/lib/pages/nexus-view.svelte
  src/lib/types/nexus.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
  src/routes/(app)/nexus/[id]/import/+page.svelte
  src/routes/(app)/nexus/services.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

WIP: nexus initial page UI
  src/lib/components/side-nav.svelte
  src/lib/holocene/ghost-card.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/nexus.svelte
  src/lib/i18n/locales/en/index.ts
  src/lib/i18n/locales/en/nexus.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
  src/routes/(app)/nexus/services.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

More routes for Nexus
  src/lib/components/side-nav.svelte
  src/lib/holocene/ghost-card.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/nexus.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
  src/routes/(app)/nexus/services.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add form to import and create service
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/nexus.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/nexus/[id]/import/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
  src/routes/(app)/nexus/import/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

WIP: chip combobox for namespaces
  src/lib/holocene/combobox/chip-combobox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/textarea.svelte
  src/lib/i18n/locales/en/common.ts
  src/routes/(app)/nexus/import/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Change alias to name and flip with service picker
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/import/+page.svelte
Owners: @temporalio/frontend-engineering

Add types for Nexus, add group for Nexus
  src/lib/components/lines-and-dots/constants.ts
  src/lib/holocene/icon/svg/nexus.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/get-group-id.ts
  src/lib/models/event-groups/get-group-name.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/models/event-history/index.ts
  src/lib/types/events.ts
  src/lib/utilities/is-event-type.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update api version to 1.33 and start workflow on nexus event types
  go.work.sum
  server/go.mod
  server/go.sum
  src/lib/models/event-history/get-event-categorization.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update labels, update Create form and add Markdown component
  package.json
  pnpm-lock.yaml
  src/lib/holocene/markdown.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
  src/routes/(app)/nexus/import/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Fix more translations
  package.json
  pnpm-lock.yaml
  src/lib/pages/nexus-admin-view.svelte
  src/lib/pages/nexus-view.svelte
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
