Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Remove mono-font from workflow status
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Owners: @rossedfort

Make batch operations detail page responsive
  src/lib/components/batch-operations/details.svelte
  src/lib/components/batch-operations/header.svelte
Owners: @rossedfort

Make Batch Operations list and details page responsive (#1713)
  src/lib/components/batch-operations/details.svelte
  src/lib/components/batch-operations/header.svelte
  src/lib/components/batch-operations/table.svelte
Owners: @rossedfort

Show negative count on refresh workflows button
  src/lib/components/workflow/workflow-count-refresh.svelte
Owners: @rossedfort

Don't stringify on copy of code-block
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Fix duplicate key error since runId can be the same for multiple children
  src/lib/components/workflow/child-workflows-table.svelte
Owners: @rossedfort

Add getChildren method to check for abandoned start events
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/utilities/get-workflow-relationships.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add tests
  src/fixtures/events.children.json
  src/fixtures/events.more-children.json
  src/lib/utilities/get-workflow-relationships.test.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Account for event sort order
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/utilities/get-workflow-relationships.test.ts
  src/lib/utilities/get-workflow-relationships.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove all labs mode guards and remove labs mode icon in side-nav
  src/lib/components/side-nav.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-cell.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update snaps
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Owners: @rossedfort

Remove advanced vis tests that are no longer applicable due to new search
  tests/integration/workflows-list-with-advanced-visibility.spec.ts
Owners: @temporalio/frontend-engineering

Fix testid prop on toggle, fix playwright tests
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/holocene/toggle-switch.svelte
  tests/integration/workflow-event-history.spec.ts
  tests/integration/workflows-count.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Remove commented out line
  tests/integration/workflow-event-history.spec.ts
Owners: @temporalio/frontend-engineering

Fixes for v2.20 (#1712)
  src/lib/components/side-nav.svelte
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/workflow-count-refresh.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/code-block.svelte
  src/lib/holocene/toggle-switch.svelte
  src/lib/pages/workflows-with-new-search.svelte
  tests/integration/workflow-event-history.spec.ts
  tests/integration/workflows-count.spec.ts
  tests/integration/workflows-list-with-advanced-visibility.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

2.20.1
  package.json
Owners: @temporalio/frontend-engineering

Add Accordion to Pending Activities section
  src/lib/components/workflow/pending-activities.svelte
Owners: @rossedfort

Add count Badge and scroll on CodeBlock only
  src/lib/components/workflow/pending-activities.svelte
Owners: @rossedfort

Make Pending Activities section collapsable (#1719)
  src/lib/components/workflow/pending-activities.svelte
Owners: @rossedfort

2.20.1 (#1718)
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to 2.20.0
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to 2.20.0 (#1720)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

set default button props back to null
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
Owners: @rossedfort

Add nullish coalescing to focusable elements in setFocus since they can be undefined
  src/lib/utilities/focus-trap.ts
Owners: @stevekinney, @Alex-Tideman

Sort counts by workflow status
  src/lib/components/workflow/workflow-counts.svelte
Owners: @rossedfort

Dont use itemsPerPage on child workflow table, remove runId key
  src/lib/components/workflow/child-workflows-table.svelte
Owners: @rossedfort

Sort counts by workflow status (#1723)
  src/lib/components/workflow/workflow-counts.svelte
Owners: @rossedfort

Add nullish coalescing to focusable elements in setFocus since they can be undefined (#1722)
  src/lib/utilities/focus-trap.ts
Owners: @stevekinney, @Alex-Tideman

Dont use itemsPerPage on child workflow table, remove runId key (#1724)
  src/lib/components/workflow/child-workflows-table.svelte
Owners: @rossedfort

2.20.2
  package.json
Owners: @temporalio/frontend-engineering

2.20.2 (#1725)
  package.json
Owners: @temporalio/frontend-engineering

Better layout
  src/lib/components/workflow/workflow-summary.svelte
Owners: @rossedfort

Update UI to use our official HTTP API (#1700)
  go.work.sum
  server/Makefile
  server/go.mod
  server/go.sum
  server/proto/api/temporal/api/operatorservice/v1/service.proto
  server/proto/api/temporal/api/workflowservice/v1/service.proto
  server/server/api/handler.go
  src/lib/services/batch-service.test.ts
  src/lib/services/batch-service.ts
  src/lib/services/events-service.ts
  src/lib/services/query-service.ts
  src/lib/services/workflow-activities-service.ts
  src/lib/services/workflow-service.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
  tests/accessibility/network-requests/empty-states.har
  tests/accessibility/network-requests/with-schedules.har
  tests/accessibility/network-requests/with-workflows.har
  tests/test-utilities/mocks/batch-operations.ts
  tests/test-utilities/mocks/cluster.ts
  tests/test-utilities/mocks/event-history.ts
  tests/test-utilities/mocks/workflow.ts
  tests/test-utilities/mocks/workflows-count.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove unnecessary references to labsMode
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/status-filter.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/utilities/query/to-list-workflow-filters.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Keep backwards compatibility for dropdown filters
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/utilities/query/to-list-workflow-filters.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

In case we need to roll back Tim's PR for cloud stuff
  src/lib/services/batch-service.test.ts
  src/lib/services/batch-service.ts
  src/lib/services/events-service.ts
  src/lib/services/query-service.ts
  src/lib/services/workflow-activities-service.ts
  src/lib/services/workflow-service.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
  tests/test-utilities/mocks/batch-operations.ts
  tests/test-utilities/mocks/cluster.ts
  tests/test-utilities/mocks/event-history.ts
  tests/test-utilities/mocks/workflow.ts
  tests/test-utilities/mocks/workflows-count.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Add overflow-hidden to grow divs
  src/lib/components/workflow/workflow-summary.svelte
Owners: @rossedfort

Fix for issues with parenthesis in filter search (#1727)
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/status-filter.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/utilities/query/to-list-workflow-filters.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add link to top nav for the user email to get to the profile page
  src/lib/components/top-nav.svelte
Owners: @rossedfort

Fix logout translate issue.
  src/lib/components/top-nav.svelte
Owners: @rossedfort

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
