Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Add border to drawer
  src/lib/holocene/drawer.svelte
Owners: @rossedfort

Use backticks in query syntax and update tests (#2154)
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
Owners: @stevekinney, @Alex-Tideman

Add count for schedules list page
  src/lib/components/schedule/schedules-count.svelte
  src/lib/pages/schedules.svelte
  src/lib/services/workflow-counts.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add total count of schedules
  src/lib/components/schedule/schedules-count.svelte
  src/lib/pages/schedules.svelte
  src/lib/stores/schedules.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix loading var
  src/lib/components/schedule/schedules-count.svelte
Owners: @rossedfort

Always render Schedules title, only load skeleton for count
  src/lib/components/schedule/schedules-count.svelte
Owners: @rossedfort

Keep text and background color in dark mode for timeline
  src/lib/components/event/event-history-timeline.svelte
Owners: @rossedfort

Changes things
  src/lib/components/lines-and-dots/deployments/deployment-graph.svelte
  src/lib/components/lines-and-dots/deployments/deployments.ts
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
Owners: @rossedfort

Update hover prop to hoverable in MenuTime
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/holocene/menu/menu-item.svelte
Owners: @rossedfort

Add light prop to Link component to set text to off white
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/holocene/link.stories.svelte
  src/lib/holocene/link.svelte
Owners: @rossedfort

Add plural translation and remove loading
  src/lib/components/schedule/schedules-count.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update tests
  tests/integration/disable-write-actions.spec.ts
  tests/integration/schedules-list.spec.ts
Owners: @temporalio/frontend-engineering

Schedules Count (#2155)
  src/lib/components/schedule/schedules-count.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/schedules.svelte
  src/lib/services/workflow-counts.ts
  src/lib/stores/schedules.ts
  tests/integration/disable-write-actions.spec.ts
  tests/integration/schedules-list.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add util to updateMultipleQueryParameters
  src/lib/utilities/update-query-parameters.test.ts
  src/lib/utilities/update-query-parameters.ts
Owners: @stevekinney, @Alex-Tideman

Add tests for multiple parameters
  src/lib/utilities/update-query-parameters.test.ts
Owners: @stevekinney, @Alex-Tideman

Filter search a11y updates (#2144)
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/holocene/menu/menu-item.svelte
Owners: @rossedfort

Add e2e tests
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/start-workflow-button.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/utilities/workflow-create-disabled.ts
  src/routes/(app)/namespaces/[namespace]/workflows/start-workflow/+page.ts
  tests/integration/start-a-workflow.spec.ts
  tests/test-utilities/mocks/settings.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add updateMultipleQueryParameters (#2156)
  src/lib/utilities/update-query-parameters.test.ts
  src/lib/utilities/update-query-parameters.ts
Owners: @stevekinney, @Alex-Tideman

Refactor to Holocene FileInput
  src/lib/holocene/file-input.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/start-workflow.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove shadow and fix border width on TopNav
  src/lib/components/top-nav.svelte
Owners: @rossedfort

Better timeline with zoom and center on NOW for deployments
  src/lib/components/lines-and-dots/deployments/deployment-axis.svelte
  src/lib/components/lines-and-dots/deployments/deployment-graph-row.svelte
  src/lib/components/lines-and-dots/deployments/deployment-graph.svelte
  src/lib/components/lines-and-dots/deployments/deployment-interval.svelte
  src/lib/components/lines-and-dots/deployments/deployments.ts
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/routes/(app)/deployments/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix various border colors and radius
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/components/workflow/workflow-compatibility-error.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/alert.stories.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/card.svelte
  src/lib/holocene/drawer-content.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/layouts/workflow-header.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix interactive ghost hover color
  src/lib/theme/variables.ts
Owners: @temporalio/frontend-engineering

Dark mode audit style updates (#2152)
  src/lib/components/batch-operations/header.svelte
  src/lib/components/batch-operations/table.svelte
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/top-nav.svelte
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/components/workflow/workflow-compatibility-error.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/alert.stories.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/badge.stories.svelte
  src/lib/holocene/badge.svelte
  src/lib/holocene/card.svelte
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/drawer-content.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/link.stories.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/modal.stories.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

2.27.10
  package.json
Owners: @temporalio/frontend-engineering

Update version.go
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

2.27.10 (#2157)
  package.json
Owners: @temporalio/frontend-engineering

Update version.go (#2158)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add storybook test-runner
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Update storybook dependencies
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Make test-runner work with Svelte CSF
  package.json
Owners: @temporalio/frontend-engineering

Set up CI to run storybook tests
  .github/workflows/storybook-tests.yml
Owners: @stevekinney

Buf stuff 💪🌮💪
  package.json
  pnpm-lock.yaml
  src/routes/(app)/namespaces/[namespace]/schedules/[schedule]/+page.svelte
Owners: @temporalio/frontend-engineering

Fix play functions
  src/lib/holocene/checkbox.stories.svelte
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Fix test:coverage
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Add Github action for running Storybook tests (#2160)
  .github/workflows/storybook-tests.yml
  package.json
  pnpm-lock.yaml
  src/lib/holocene/checkbox.stories.svelte
  src/lib/holocene/input/input.svelte
Owners: @stevekinney, @temporalio/frontend-engineering, @rossedfort

Add Storybook accessibility tests
  .storybook/test-runner.ts
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Add aria labels to scroll to buttons
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/scroll-to-bottom.svelte
  src/lib/holocene/scroll-to-container.svelte
  src/lib/holocene/scroll-to-top.stories.svelte
  src/lib/holocene/scroll-to-top.svelte
Owners: @rossedfort

Fix WorkflowDetail and Summary section styling
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/components/workflow/workflow-summary.svelte
Owners: @rossedfort

Fix WorkflowDetail styling in labs mode
  src/lib/components/lines-and-dots/workflow-detail.svelte
Owners: @rossedfort
