Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Use blue-300 for all status colors
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/workflow-status.svelte
  src/lib/holocene/badge.svelte
Owners: @rossedfort

Use blue-300 for running (#2179)
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/workflow-status.svelte
  src/lib/holocene/badge.svelte
Owners: @rossedfort

Remove LabsModeGuard for dark mode
  src/lib/components/side-nav.svelte
Owners: @rossedfort

Remove LabsModeGuard for dark mode (#2180)
  src/lib/components/side-nav.svelte
Owners: @rossedfort

PageTile fixes, better titles, start work on description to string
  server/server/route/api.go
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/services/nexus-service.ts
  src/lib/utilities/route-for-api.ts
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/[id]/+layout.ts
  src/routes/(app)/nexus/[id]/+page.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Disable button in Combobox
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Disable button in Combobox (#2181)
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

2.27.13
  package.json
Owners: @temporalio/frontend-engineering

2.27.13 (#2182)
  package.json
Owners: @temporalio/frontend-engineering

Add status column for versioning rules, remove link. Add buildId to worker table
  src/lib/components/worker-rules.svelte
  src/lib/components/worker-table.svelte
  src/lib/services/pollers-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add active/inactive translation, remove console.log
  src/lib/components/worker-rules.svelte
  src/lib/components/worker-table.svelte
  src/lib/i18n/locales/en/common.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Account for parenthesis as potential start of attribute
  src/lib/utilities/query/tokenize.ts
Owners: @stevekinney, @Alex-Tideman

Update queries in tests to have backticks
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/tokenize.test.ts
Owners: @stevekinney, @Alex-Tideman

Add back row link, update link text
  src/lib/components/worker-rules.svelte
  src/lib/i18n/locales/en/workers.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix ExecutionStatus filters not showing up on page refresh (#2184)
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Owners: @stevekinney, @Alex-Tideman

Versioning Updates: Update rules logics and add BuildId to Worker table (#2183)
  src/lib/components/worker-rules.svelte
  src/lib/components/worker-table.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workers.ts
  src/lib/services/pollers-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

2.27.14
  package.json
Owners: @temporalio/frontend-engineering

2.27.14 (#2185)
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to v2.28.0 (#2178)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update github actions to use github app token. Attemp 1 (#2121)
  .github/workflows/bump-package-version.yml
  .github/workflows/publish-package.yml
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

Lets give er a go
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

I dunno move checkout around?
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

Try this?
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

Does this fix it?
  .github/actions/checkout-and-setup/action.yml
Owners: @stevekinney

Drop pnpm version?
  .github/actions/checkout-and-setup/action.yml
Owners: @stevekinney

This looks better?
  .github/workflows/bump-package-version.yml
  .github/workflows/publish-package.yml
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

Lets give er a go (#2187)
  .github/actions/checkout-and-setup/action.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish-package.yml
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

2.27.15
  package.json
Owners: @temporalio/frontend-engineering

Remove double encoding
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
Owners: @stevekinney, @Alex-Tideman

Add version check for double encoding
  package.json
  src/lib/utilities/route-for-api.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove console log and version tag
  package.json
  src/lib/utilities/route-for-api.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Update data store version
  src/lib/svelte-mocks/app/stores.ts
Owners: @temporalio/frontend-engineering

Remove double encoding for API URL parameters (#2189)
  src/lib/svelte-mocks/app/stores.ts
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

2.28.0
  package.json
Owners: @temporalio/frontend-engineering

Pass required to Select
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

Use required styling in Label component for Combobox
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Pass class prop to Option
  src/lib/holocene/select/option.svelte
Owners: @rossedfort

Add leading slot to Select
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

Dont use mock page, use real page
  src/lib/components/workflow/download-event-history-modal.svelte
Owners: @rossedfort

Dont use mock page, use real page (#2193)
  src/lib/components/workflow/download-event-history-modal.svelte
Owners: @rossedfort

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
