Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

2.26.5 (#2043)
  package.json
Owners: @temporalio/frontend-engineering

Fix button properties in stories
  src/lib/holocene/button.stories.svelte
Owners: @rossedfort

Add surface-input to inputs
  src/lib/holocene/button.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/holocene/textarea.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add test for making sure backgrounds are not transparent
  src/lib/holocene/checkbox.stories.svelte
  src/lib/holocene/radio-input/radio-input.stories.svelte
  src/lib/holocene/test-utilities.ts
  src/lib/holocene/textarea.stories.svelte
Owners: @rossedfort

Fix errors
  src/lib/components/batch-operations/header.svelte
  src/lib/components/batch-operations/table.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/holocene/badge.stories.svelte
  src/lib/holocene/badge.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-pending-activities.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add support for invalid states
  src/lib/holocene/checkbox.stories.svelte
Owners: @rossedfort

Update checkbox.svelte
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Make sure menu buttons are also not transparent
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu.stories.svelte
Owners: @rossedfort

Remove colors properties from badges; use semantic colors (#2042)
  src/lib/components/batch-operations/header.svelte
  src/lib/components/batch-operations/table.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/holocene/badge.stories.svelte
  src/lib/holocene/badge.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Center the flex rows
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Center all the things
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

s/flex flex-row/flex
  src/lib/components/batch-operations/header.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/tab/tab-list.svelte
  src/lib/pages/batch-operation.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/schedules.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
Owners: @rossedfort

Add backgrounds to buttons and text areas (#2044)
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/checkbox.stories.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu.stories.svelte
  src/lib/holocene/radio-input/radio-input.stories.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/holocene/test-utilities.ts
  src/lib/holocene/textarea.stories.svelte
  src/lib/holocene/textarea.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update checkbox.svelte
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Fix alignment on checkbox; address accessibility concerns (#2045)
  src/lib/holocene/checkbox.stories.svelte
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Update button wrapping
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/split-button.stories.svelte
Owners: @rossedfort

Fix crop on logo
  src/lib/holocene/logo.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Add autoplay check to loading component
  src/lib/holocene/loading.svelte
Owners: @rossedfort

Update button wrapping (#2047)
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/split-button.stories.svelte
Owners: @rossedfort

Update loading component to mp4 (#2021)
  src/lib/holocene/loading.svelte
  src/lib/holocene/logo.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/vendor/Temporal_Logo_Animation.mp4
  src/lib/vendor/Temporal_Logo_Animation.webm
Owners: @rossedfort, @temporalio/frontend-engineering

Allow Storybook components to be anywhere
  .storybook/main.ts
Owners: @temporalio/frontend-engineering

Update button.stories.svelte
  src/lib/holocene/button.stories.svelte
Owners: @rossedfort

Add classes for properly rounding borders
  src/lib/holocene/button.svelte
Owners: @rossedfort

Fix issue with clicking on checkboxes not working
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Fix issue with clicking on checkboxes not working (#2048)
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

Update split button
  src/lib/holocene/split-button.stories.svelte
  src/lib/holocene/split-button.svelte
Owners: @rossedfort

Update menu-button.svelte
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

Remove border modifier
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
Owners: @rossedfort

Add ring colors
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Spike out search input
  src/lib/holocene/button.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/search.stories.svelte
  src/lib/holocene/search.svelte
Owners: @rossedfort

Fix rules type
  src/lib/services/pollers-service.ts
Owners: @stevekinney, @Alex-Tideman

Refactor to use PollerIcon
  src/lib/components/poller-icon.svelte
  src/lib/components/worker-compatibility.svelte
  src/lib/components/worker-rules.svelte
  src/lib/components/workers-list.svelte
Owners: @rossedfort

Bump to latest api version
  go.work.sum
  server/go.mod
  server/go.sum
Owners: @temporalio/frontend-engineering

Remove unused property
  src/lib/holocene/button.svelte
Owners: @rossedfort

Run formatter
  src/lib/holocene/button.stories.svelte
Owners: @rossedfort

Get rid of split button variants, support passing classes to buttons, use a Button in Split Buttons (#2049)
  .storybook/main.ts
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/split-button.stories.svelte
  src/lib/holocene/split-button.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Update README for running Temporal server locally
  README.md
Owners: @temporalio/frontend-engineering

Add ring colors (#2051)
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Remove test api, set notifyOnError to false
  src/lib/services/pollers-service.ts
Owners: @stevekinney, @Alex-Tideman
