Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

more attempts
  dangerfile.ts
  scripts/count-strict-errors.ts
Owners: @temporalio/frontend-engineering

Lets give er a go
  dangerfile.ts
Owners: @temporalio/frontend-engineering

Lets try adding annotations
  dangerfile.ts
Owners: @temporalio/frontend-engineering

See if this gives us annotations
  src/routes/(app)/select-namespace/+page.svelte
Owners: @temporalio/frontend-engineering

Lets go inline annotations
  dangerfile.ts
Owners: @temporalio/frontend-engineering

Lets try again
  .github/workflows/danger.yml
  dangerfile.ts
Owners: @stevekinney, @temporalio/frontend-engineering

one more pass
  .github/workflows/danger.yml
  dangerfile.ts
Owners: @stevekinney, @temporalio/frontend-engineering

One more time
  .github/workflows/danger.yml
  dangerfile.ts
Owners: @stevekinney, @temporalio/frontend-engineering

lets try the fix
  .github/workflows/danger.yml
  dangerfile.ts
Owners: @stevekinney, @temporalio/frontend-engineering

Log changedfiles and such
  dangerfile.ts
Owners: @temporalio/frontend-engineering

lets try checking line numbers again
  dangerfile.ts
Owners: @temporalio/frontend-engineering

HIGH VOLTAGE
  dangerfile.ts
Owners: @temporalio/frontend-engineering

lets goooooo
  dangerfile.ts
Owners: @temporalio/frontend-engineering

Let er rip
  dangerfile.ts
Owners: @temporalio/frontend-engineering

Add support for CA certificate for auth provider
  server/config/development.yaml
  server/config/docker.yaml
  server/server/config/config.go
  server/server/route/auth.go
  server/server/route/auth_test.go
  server/server/rpc/tls.go
  server/server/rpc/tls_cert_loader_test.go
Owners: @temporalio/frontend-engineering

If greater than 1 attempt, set actions to 0
  src/lib/models/event-history/get-event-billable-actions.ts
Owners: @stevekinney, @Alex-Tideman

Fix pending activities to show input. Fix pending nexus operations
  src/lib/components/event/event-card.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/pages/workflow-pending-activities.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

If greater than 1 attempt, set actions to 0 (#3045)
  src/lib/models/event-history/get-event-billable-actions.ts
Owners: @stevekinney, @Alex-Tideman

Make danger a lil nicer
  dangerfile.ts
Owners: @temporalio/frontend-engineering

Warn to fail
  dangerfile.ts
Owners: @temporalio/frontend-engineering

Just some comment fixes
  dangerfile.ts
Owners: @temporalio/frontend-engineering

fix(vertical-nav): remove rounded corners from nav items
  src/lib/holocene/vertical-nav/vertical-nav-item.svelte
  src/lib/holocene/vertical-nav/vertical-nav.svelte
Owners: @rossedfort

update Menu and related components to runes mode
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/lines-and-dots/event-sort-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/namespace-picker.svelte
  src/lib/components/search-attribute-filter/boolean-filter.svelte
  src/lib/components/search-attribute-filter/conditional-menu.svelte
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/search-attribute-filter/status-filter.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/filter-bar/search-attribute-menu.svelte
  src/lib/components/workflow/filter-bar/status-dropdown-filter-chip.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/holocene/combobox/async-test.svelte
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.stories.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/select/filter-select.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/holocene/select/option-group.svelte
  src/lib/holocene/select/option.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/select/simple-option.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/user-menu.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

fix onclick in MenuButton
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

Style changes
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/i18n/locales/en/codec-server.ts
  src/lib/i18n/locales/en/search-attributes.ts
Owners: @rossedfort, @temporalio/frontend-engineering

feat(search-attributes): add isDeletable (#3041)
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/search-attributes-form/search-attribute-row.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/components/search-attributes-form/types.ts
  src/lib/holocene/vertical-nav/vertical-nav-item.svelte
  src/lib/holocene/vertical-nav/vertical-nav.svelte
  src/lib/i18n/locales/en/codec-server.ts
  src/lib/i18n/locales/en/search-attributes.ts
Owners: @rossedfort, @temporalio/frontend-engineering

fix optional callback prop calls
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/select/option.svelte
Owners: @rossedfort

fix combobox effects
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

fail -> warn
  dangerfile.ts
Owners: @temporalio/frontend-engineering

optional children for empty states
  src/lib/holocene/select/select.svelte
Owners: @rossedfort

remove onfilter from combobox
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Audit identity field in APIs (#3018)
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/components/activity/activity-pause-confirmation-modal.svelte
  src/lib/components/activity/activity-reset-confirmation-modal.svelte
  src/lib/components/activity/activity-unpause-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/services/workflow-activities-service.ts
  src/lib/services/workflow-service.ts
  src/lib/types/index.ts
  src/lib/utilities/core-context.ts
  src/lib/utilities/workflow-actions.test.ts
  src/lib/utilities/workflow-actions.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove mb
  src/lib/components/workflow/workflow-call-stack-error.svelte
Owners: @rossedfort

Remove inspect
  src/lib/components/event/event-card.svelte
Owners: @rossedfort

fix a bunch of slots/snippets
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/search-attribute-filter/status-filter.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/filter-bar/status-dropdown-filter-chip.svelte
  src/lib/holocene/menu/menu.stories.svelte
  src/lib/holocene/select/multi-select.svelte
Owners: @rossedfort

fix some trailing slots
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/select/multi-select.svelte
Owners: @rossedfort

Update src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-full.svelte
Owners: @rossedfort

add local vars
  src/lib/components/search-attribute-filter/datetime-filter.svelte
Owners: @rossedfort

Fix shared global vars
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

Add worker-info to Workers tab
  src/lib/components/task-queue/worker-info.svelte
  src/lib/pages/task-queue.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/services/worker-service.ts
  src/routes/(app)/namespaces/[namespace]/task-queues/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
