Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Resolve a11y issue with no labels on checkboxes for multiselect
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
Owners: @rossedfort

Pull out ns picker to it's own component so we can swap it out if necessary
  src/lib/components/namespace-picker.svelte
  src/lib/components/top-nav.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Decode/encode details/summary
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/workflow-run.ts
  src/lib/types/schedule.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/encode-payload.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

pnpm i
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Better gap-y
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Remove badges
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Update combobox to support integration with async code (#2431)
  src/lib/components/namespace-picker.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/async-test.svelte
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/routes/(app)/+layout.svelte
  tests/integration/workflow-navigation.desktop.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add payloadToString util
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/utilities/payload-to-string.test.ts
  src/lib/utilities/payload-to-string.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Derive customSearchAttributeOptions
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/stores/search-attributes.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

make group count enable/disable configurable
  server/config/development.yaml
  server/docker/config-template.yaml
  server/server/config/config.go
  src/lib/services/settings-service.ts
  src/lib/types/index.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add check for decodedPayload strings to set metadata, add abort signal on workflow metadata query, use italics in details
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/query-service.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/decode-payload.ts
  src/routes/(app)/nexus/[id]/+layout.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix li css in markdown
  src/lib/services/workflow-service.ts
  src/markdown.reset.css
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Use input name for Update attribute in event summary row
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @stevekinney, @Alex-Tideman

Lowercase name
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @stevekinney, @Alex-Tideman

Use input name for Update attribute in event summary row (#2434)
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @stevekinney, @Alex-Tideman

Capitalize Signal
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
Owners: @rossedfort

Remove onMount in ListFilter
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/holocene/input/chip-input.stories.svelte
Owners: @rossedfort

Add render route in ui-server (#2430)
  server/go.mod
  server/go.sum
  server/server/route/ui.go
  server/server/server.go
Owners: @temporalio/frontend-engineering

User Metadata (#2423)
  package.json
  pnpm-lock.yaml
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/icon/svg/flag.svelte
  src/lib/holocene/monaco/editor.svelte
  src/lib/holocene/monaco/markdown.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/workflow-execution.ts
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-metadata.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/query-service.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/workflow-run.ts
  src/lib/types/schedule.ts
  src/lib/types/workflows.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/encode-payload.ts
  src/markdown.reset.css
  src/routes/(app)/nexus/[id]/+layout.ts
  src/routes/(app)/render/+server.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

KeywordList search attribute support (#2420)
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/search-attribute-filter/status-filter.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/datetime-input.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/components/workflow/search-attribute-input/list-input.svelte
  src/lib/components/workflow/search-attribute-input/number-input.svelte
  src/lib/holocene/input/chip-input.stories.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/search-attributes.ts
  src/lib/utilities/encode-payload.ts
  src/lib/utilities/is.ts
  src/lib/utilities/payload-to-string.test.ts
  src/lib/utilities/payload-to-string.ts
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Update version.go to v2.32.0
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.32.0 (#2435)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

2.33.0
  package.json
Owners: @temporalio/frontend-engineering

Fix issue with not reseting userMetdata correctly
  src/lib/layouts/workflow-run-layout.svelte
Owners: @temporalio/frontend-engineering

Fix issue with not reseting userMetdata correctly (#2437)
  src/lib/layouts/workflow-run-layout.svelte
Owners: @temporalio/frontend-engineering

2.33.1
  package.json
Owners: @temporalio/frontend-engineering

Refactor SearchAttributeInput to include type
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/datetime-input.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/components/workflow/search-attribute-input/list-input.svelte
  src/lib/components/workflow/search-attribute-input/number-input.svelte
  src/lib/components/workflow/search-attribute-input/text-input.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/search-attributes.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix initial search attributes on Start Workflow
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/models/workflow-execution.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/types/workflows.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Use an event and dispatch it instead of adding event handlers the other way.
  src/lib/holocene/combobox/async-test.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Use an event and dispatch it instead of adding event handlers the other way. (#2440)
  src/lib/holocene/combobox/async-test.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

WIP. need to fix erroboundary and allllllll the type checks.
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/calendar.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/pill-container/pill.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/lib/services/workflow-counts.ts
  src/routes/(app)/+layout.svelte
  vitest-setup.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

More checks for update attribute
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @stevekinney, @Alex-Tideman

More checks for update attribute (#2442)
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @stevekinney, @Alex-Tideman

readme: fixed command typo
  README.md
Owners: @temporalio/frontend-engineering

Change ring from 4px to 2px
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/input/range-input.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/pill-container/pill.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/holocene/textarea.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/holocene/toggle-switch.svelte
Owners: @rossedfort

Fix inline Codeblock and use css color variables
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Set minHeight for markdown iframe
  src/lib/holocene/monaco/markdown.svelte
Owners: @rossedfort

Fix min color contrast ratio
  src/lib/theme/variables.ts
Owners: @temporalio/frontend-engineering

Move alerts above tabs
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

Set minHeight for markdown iframe (#2445)
  src/lib/holocene/monaco/markdown.svelte
Owners: @rossedfort
