Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

refactor(navigation): rename NavGroup to NavSection, sections API
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-section.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

feat(navigation): add secondaryLinkList prop to BottomNavigation and BottomNavLinks
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

fix(navigation): pass secondary nav links to BottomNavigation for mobile visibility
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering

refactor(navigation): migrate bottom-nav to sections API and Svelte 5
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Refactor: remove unused nav utils file.
  src/lib/holocene/navigation/navigation-utils.ts
Owners: @rossedfort

Fix: type errors
  src/lib/holocene/navigation/nav-group.svelte
Owners: @rossedfort

feat(navigation): add NavSection Holocene component (#3263)
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-section.svelte
  src/lib/holocene/navigation/navigation-utils.ts
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Adds requested design changes to breadcrumb items (#3267)
  src/lib/components/timezone-select.svelte
  src/lib/holocene/icon-button.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add principal name and type to event card attributes
  src/lib/components/event/event-card.svelte
  src/lib/utilities/format-event-attributes.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Bump API version and include principal type and name if they exist
  .serena/memories/schedule-api-comprehensive-analysis.md
  .serena/project.yml
  server/go.mod
  server/go.sum
  src/lib/models/event-history/index.ts
  src/lib/types/events.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove hardcoded test value
  src/lib/models/event-history/index.ts
Owners: @stevekinney, @Alex-Tideman

remove serena changes
  .serena/memories/schedule-api-comprehensive-analysis.md
  .serena/project.yml
Owners: @temporalio/frontend-engineering

Make type and name optional
  src/lib/types/events.ts
Owners: @temporalio/frontend-engineering

Remove serena
  .gitignore
  .serena/.gitignore
  .serena/project.yml
Owners: @temporalio/frontend-engineering

Keep in .gitignore
  .gitignore
Owners: @temporalio/frontend-engineering

Remove serena
  .gitignore
  .serena/.gitignore
  .serena/project.yml
Owners: @temporalio/frontend-engineering

Remove serena (#3273)
  .gitignore
  .serena/.gitignore
  .serena/project.yml
Owners: @temporalio/frontend-engineering

Display Principal fields in Event History (#3272)
  server/go.mod
  server/go.sum
  src/lib/components/event/event-card.svelte
  src/lib/models/event-history/index.ts
  src/lib/types/events.ts
  src/lib/utilities/format-event-attributes.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman
