Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Create and edit responsive improvements (#2457)
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/holocene/button.svelte
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/start-workflow.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Get rid of pane
  src/lib/components/workflow/workflow-family-tree.svelte
Owners: @rossedfort

Don't keep open always
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Don't keep open always (#2461)
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

2.33.4
  package.json
Owners: @temporalio/frontend-engineering

Add $ to read store
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

Add $ to read store (#2463)
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

2.33.5
  package.json
Owners: @temporalio/frontend-engineering

Move Start a Workflow form to Card
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Move schedule form to Card
  src/lib/components/schedule/schedule-form-view.svelte
Owners: @rossedfort

Update custom search attribute form for responsiveness
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
Owners: @rossedfort

Update schedule spec form responsiveness
  src/lib/components/schedule/schedule-day-of-month-view.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/day-of-week-picker.svelte
Owners: @rossedfort

Add Current Details
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-query.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Get rid of unnecessary var check
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

Include WorkflowUpdateAdmitted in filter
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/utilities/is-event-type.ts
Owners: @stevekinney, @Alex-Tideman

Update test with new event
  src/lib/models/event-history/get-event-categorization.test.ts
Owners: @stevekinney, @Alex-Tideman

Add to update const
  src/lib/models/event-history/get-event-categorization.test.ts
Owners: @stevekinney, @Alex-Tideman

Include WorkflowUpdateAdmitted in Event Type filter (#2467)
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/utilities/is-event-type.ts
Owners: @stevekinney, @Alex-Tideman

Remove unnecessary divs
  src/lib/components/schedule/schedule-form-view.svelte
Owners: @rossedfort

Fix input error and disabled classes
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Form responsive improvements (#2465)
  src/lib/components/schedule/schedule-day-of-month-view.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/day-of-week-picker.svelte
  src/lib/holocene/input/input.svelte
  src/lib/pages/start-workflow.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove unneeded classes
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

Current Details (#2466)
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-query.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove more rounded borders
  src/lib/components/search-attribute-filter/conditional-menu.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/worker-compatibility.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/dropdown-filter/conditional.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/chip.svelte
  src/lib/holocene/compatibility-badge.svelte
  src/lib/holocene/monaco/markdown.svelte
  src/lib/holocene/navigation/navigation-badge.svelte
  src/lib/holocene/tooltip.svelte
Owners: @rossedfort

Expose additional controls for the api for the bottom nav as well as allow the escape button to close the nav.
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

Add margin if copyable button is visible
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix text color in current details
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

Fix overlap of copy button on CodeBlock component (#2470)
  src/lib/holocene/code-block.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Use svelte:window to deal with the eventhandling instead
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

Bottom Nav fixes for external control (#2469)
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

2.33.6
  package.json
Owners: @temporalio/frontend-engineering

Add disabled prop
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoints.svelte
Owners: @temporalio/frontend-engineering

Add disabled prop (#2472)
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoints.svelte
Owners: @temporalio/frontend-engineering

2.33.7
  package.json
Owners: @temporalio/frontend-engineering

Add blocked reason and links
  server/go.mod
  server/go.sum
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/components/lines-and-dots/workflow-callback.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/lib/models/workflow-execution.ts
  src/lib/types/nexus.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Add blocked reason to callback, add link namespace with a link to namespace
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/workflow-callback.svelte
Owners: @rossedfort

Remove unused classes, consistent padding
  src/lib/components/event/event-links-expanded.svelte
Owners: @rossedfort

Add Blocked Reason, Link and Link Namespace to Callback UI (#2476)
  server/go.mod
  server/go.sum
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/workflow-callback.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/lib/models/workflow-execution.ts
  src/lib/types/nexus.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Remove unnecessary table data cells
  src/lib/components/batch-operations/table.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/worker-compatibility.svelte
  src/lib/components/worker-rules.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/table/table-header-row.svelte
  src/lib/holocene/table/table-row.svelte
  src/lib/holocene/table/table.svelte
Owners: @rossedfort

Remove rounding on signin and login pages
  src/lib/components/feedback-button.svelte
  src/lib/components/login-button.svelte
  src/lib/layouts/workflow-header.svelte
  src/routes/(login)/login/+page.svelte
  src/routes/(login)/signin/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering
