Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Update SideNavigation component (#2124)
  src/lib/components/heart-beat-indicator.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Link to namespace in Namespace sticky nav (#2123)
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/external-link.svelte
Owners: @rossedfort

2.27.8 (#2137)
  package.json
Owners: @temporalio/frontend-engineering

clean up workflow actions (#2136)
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/workflow-cancel-enabled.test.ts
  src/lib/utilities/workflow-cancel-enabled.ts
  src/lib/utilities/workflow-reset-enabled.test.ts
  src/lib/utilities/workflow-reset-enabled.ts
  src/lib/utilities/workflow-signal-enabled.test.ts
  src/lib/utilities/workflow-signal-enabled.ts
  src/lib/utilities/workflow-terminate-enabled.test.ts
  src/lib/utilities/workflow-terminate-enabled.ts
  tests/integration/workflow-actions.spec.ts
  tests/integration/workflow-reset.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix api pagination alignment, add debounce as a prop (#2139)
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

Use globalThis.accessToken() for codec server calls (#2138)
  src/lib/services/data-encoder.ts
Owners: @Alex-Tideman, @GiantRobots

add docs to side nav (#2131)
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/i18n/locales/en/common.ts
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Audit a11y issues (#2135)
  src/lib/holocene/accordion.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
Owners: @rossedfort

add filtering to api pagination (#2130)
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

2.27.7 (#2134)
  package.json
Owners: @temporalio/frontend-engineering

2.27.9 (#2140)
  package.json
Owners: @temporalio/frontend-engineering

Update workflow status colors (#2132)
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/workflow-status.svelte
Owners: @rossedfort

DT-2179 - fix wf reset button & other fixes (#2133)
  src/lib/components/side-nav.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

Update version.go to v2.27.2 (#2126)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Fix header colors
  package.json
  src/lib/pages/task-queue.svelte
Owners: @temporalio/frontend-engineering

Update snaps?
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Owners: @stevekinney, @Alex-Tideman

Remove commented out mock, better check for rules
  src/lib/pages/task-queue-versioning.svelte
  src/lib/services/pollers-service.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove dup .env
  .env.local-temporal-server
Owners: @temporalio/frontend-engineering

Update colors to match workflow status colors
  src/lib/components/event/event-history-timeline.svelte
Owners: @rossedfort

Ignore theme function in stylelintrc
  .stylelintrc
Owners: @temporalio/frontend-engineering

New Versioning UI (#2142)
  src/fixtures/task-queue-rules.json
  src/lib/components/worker-rules.svelte
  src/lib/components/worker-table.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/workflow-execution.ts
  src/lib/pages/task-queue-versioning.svelte
  src/lib/pages/task-queue-workers.svelte
  src/lib/pages/task-queue.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/services/pollers-service.ts
  src/lib/types/workflows.ts
  src/lib/utilities/task-queue-compatibility.ts
  src/routes/(app)/namespaces/[namespace]/task-queues/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Update timeline workflow status colors (#2143)
  .stylelintrc
  src/lib/components/event/event-history-timeline.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Use Example Input for label, change input to grab first payload
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix a11y warning on div
  src/lib/components/workflow/filter-search/index.svelte
Owners: @rossedfort

Add optional hover prop to MenuItem
  src/lib/holocene/menu/menu-item.svelte
Owners: @rossedfort

Improve search input in filter menu
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
Owners: @rossedfort

Fix reset workflow modal bugs
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/holocene/radio-input/radio-group.svelte
Owners: @rossedfort

Fix: batch-actions check terminable workflows length
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
Owners: @rossedfort

Remove surface-secondary
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

UI server: single gRPC client connection for the lifetime of the application
  server/server/api/handler.go
  server/server/route/api.go
Owners: @temporalio/frontend-engineering

Update Menu component border
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Add border and make cancel a ghost button by default in Modal component
  src/lib/holocene/modal.stories.svelte
  src/lib/holocene/modal.svelte
Owners: @rossedfort

Update border in DayOfMonthPicker component
  src/lib/holocene/day-of-month-picker.svelte
Owners: @rossedfort

Audit and update Badge types and colors
  src/lib/components/batch-operations/header.svelte
  src/lib/components/batch-operations/table.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/badge.stories.svelte
  src/lib/holocene/badge.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add interactive-table-hover background color and update table row hover styles
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Revert green status color
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/workflow-status.svelte
  src/lib/holocene/badge.svelte
Owners: @rossedfort

Use backticks in query syntax and update tests
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
Owners: @stevekinney, @Alex-Tideman

WIP: DEPLOYMENT
  src/lib/components/lines-and-dots/deployments/deployment-graph.svelte
  src/lib/components/lines-and-dots/deployments/deployments.ts
  src/routes/(app)/deployments/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add HideLogs environment variable (#2119)
  server/docker/config-template.yaml
  server/server/config/config.go
Owners: @temporalio/frontend-engineering

WIP: POC for deployments
  src/lib/components/lines-and-dots/deployments/deployment-graph-row.svelte
  src/lib/components/lines-and-dots/deployments/deployment-graph.svelte
  src/lib/components/lines-and-dots/deployments/deployment-interval.svelte
  src/lib/components/lines-and-dots/deployments/deployments.ts
  src/lib/components/lines-and-dots/end-time-interval.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/routes/(app)/deployments/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
