Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Remove .only
  src/lib/stores/pagination.test.ts
Owners: @stevekinney, @Alex-Tideman

Add eventId to history route to jump to event
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/utilities/route-for.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Update go version to 1.23 in update ui-server
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

Use v4
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

Update go version to 1.23 in update ui-server (#2351)
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

support multiselect in combobox
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

fix styles
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Use combobox with multiselect
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

Update label
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

fix tests
  tests/integration/workflow-actions.spec.ts
Owners: @temporalio/frontend-engineering

clean up styles
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

fix styles and use badge for multiselect text when no chips
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

DT-2347 - support multiselect in combobox (#2352)
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Add link to callback, use eventId=1 if workflow_execution_started event ref
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/workflow-callback.svelte
Owners: @rossedfort

Use UTC dates for intervalToDuration in fromSeconds
  src/lib/utilities/to-duration.ts
Owners: @stevekinney, @Alex-Tideman

Use UTC dates for intervalToDuration in fromSecondsToMinutesAndSeconds
  src/lib/utilities/format-time.ts
Owners: @stevekinney, @Alex-Tideman

Add empty state for Upcoming Runs on schedule detail page
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/i18n/locales/en/schedules.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add empty state for Upcoming Runs on schedule detail page (#2354)
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/i18n/locales/en/schedules.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Fix differences in duration (#2353)
  src/lib/utilities/format-time.ts
  src/lib/utilities/to-duration.ts
Owners: @stevekinney, @Alex-Tideman

fix tests
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/types/index.ts
  tests/integration/workflow-actions.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

add tests for server version 1.24.0, fix version checks
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/services/workflow-service.ts
  tests/integration/workflow-actions.spec.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

handle unspecified
  src/lib/services/workflow-service.ts
  tests/integration/workflow-actions.spec.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

rm console.log
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
Owners: @rossedfort

Move stopPropagation to on:click for links
  src/lib/holocene/button.svelte
  src/lib/holocene/link.svelte
Owners: @rossedfort

Move stopPropagation to on:click for links (#2356)
  src/lib/holocene/button.svelte
  src/lib/holocene/link.svelte
Owners: @rossedfort

add isCloud checks
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Nexus form with searchable combobox (#2355)
  src/lib/pages/nexus-form.svelte
Owners: @temporalio/frontend-engineering

send resetReapplyType = 3 (all elligible)
  src/lib/services/workflow-service.ts
  tests/integration/workflow-actions.spec.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

DT-1740 - update workflow reset UI for new reapply types in 1.24 (#2014)
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/select/select.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/workflow-actions.ts
  src/lib/services/workflow-service.ts
  src/lib/types/index.ts
  tests/integration/workflow-actions.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

2.31.2
  package.json
Owners: @temporalio/frontend-engineering

update UI server version to v2.31.1
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

update UI server version to v2.31.1 (#2358)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

don't show workflow error for ResetWorkflow type errors
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/i18n/locales/en/typed-errors.ts
  src/lib/utilities/is-event-type.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use go 1.23.0 (#2348)
  server/Dockerfile
  server/go.mod
Owners: @temporalio/frontend-engineering

Use 1.23 (#2349)
  server/go.mod
Owners: @temporalio/frontend-engineering

Update go version to 1.23 in update ui-server (#2351)
  .github/workflows/update-ui-server.yml
Owners: @stevekinney

Add back child table
  src/lib/components/workflow/workflow-atom.svelte
  src/lib/components/workflow/workflow-electron.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Small UI fixes (#2345)
  .storybook/test-runner.ts
  src/lib/holocene/accordion/accordion.stories.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/routes/(app)/+layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add hover/click state with opacity
  src/lib/components/workflow/workflow-atom.svelte
  src/lib/components/workflow/workflow-electron.svelte
  src/lib/components/workflow/workflow-relationships.svelte
Owners: @rossedfort

Add breadcrumbs for nodes
  src/lib/components/workflow/workflow-atom.svelte
  src/lib/components/workflow/workflow-electron.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/holocene/breadcrumbs.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
