Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Update child-workflow colors, make line default ultraviolet, move icon back before text
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/pending-detail-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/icon/svg/terminal.svelte
Owners: @rossedfort

Update test
  src/lib/components/lines-and-dots/constants.test.ts
Owners: @rossedfort

Add icon opacity
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
Owners: @rossedfort

Fix type error
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
Owners: @rossedfort

Make active event header color ultraviolet
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
Owners: @rossedfort

Add hover state styles for darkmode copy or filter buttons
  src/lib/holocene/filter-or-copy-buttons.svelte
Owners: @rossedfort

use batch reset even for batch of 1 (#2009)
  src/lib/pages/workflows-with-new-search.svelte
Owners: @temporalio/frontend-engineering

Color updates (#2010)
  src/lib/components/lines-and-dots/constants.test.ts
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/pending-detail-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/icon/svg/terminal.svelte
Owners: @rossedfort

empty credentials for gitpod testing build
  src/lib/services/data-encoder.ts
Owners: @Alex-Tideman, @GiantRobots

Text audit (#2008)
  package.json
  pnpm-lock.yaml
  src/app.css
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  tailwind.config.ts
Owners: @temporalio/frontend-engineering, @rossedfort

Add hover state styles for darkmode copy or filter buttons (#2011)
  src/lib/holocene/filter-or-copy-buttons.svelte
Owners: @rossedfort

Add edge case for empty object in formatting
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @stevekinney, @Alex-Tideman

Check for non-string in capitalize
  src/lib/utilities/format-camel-case.ts
Owners: @stevekinney, @Alex-Tideman

Add edge case for empty object in formatting (#2012)
  src/lib/utilities/format-camel-case.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @stevekinney, @Alex-Tideman

Fetch child workflows with ParentWorkflowId if 1.23+ and use new table
  src/lib/components/workflow/live-child-workflows-table.svelte
  src/lib/components/workflow/workflow-relationships.svelte
Owners: @rossedfort

Refactor to fetchAllChildWorkflows
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Merge in main and fix conflicts
  src/lib/components/workflow-versioning-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/pollers-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

update wf reset for new reapply types in 1.24
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/select/select.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/workflow-actions.ts
  src/lib/services/workflow-service.ts
  src/lib/types/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add toggle to hide/show child workflows with parentWorkflowId query
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/stores/filters.ts
  src/lib/stores/workflows.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Update secondary variant of MenuButton to match Button
  src/lib/holocene/menu/menu-button.svelte
Owners: @rossedfort

Audit NumberInput
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/holocene/input/number-input.svelte
Owners: @rossedfort

Remove unecessary text color on input
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Add config button
  src/lib/components/workflow/filter-search/index.svelte
Owners: @rossedfort

remove blue underline
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
Owners: @rossedfort

Fix typed error table
  src/lib/components/workflow/workflow-typed-error.svelte
Owners: @rossedfort

Remove reference to theme and dark in input stories
  src/lib/holocene/input/input.stories.svelte
Owners: @rossedfort

Remove dark class on simple select
  src/lib/holocene/select/simple-select.svelte
Owners: @rossedfort

Add menu for table configuration, add ability to see children and timeline inline in table
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/button.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

consistent capitalization/wording on reset strings
  src/lib/i18n/locales/en/workflows.ts
Owners: @temporalio/frontend-engineering

Fetch child workflows with ParentWorkflowId if Temporal server v1.23+ (#2013)
  src/lib/components/workflow/live-child-workflows-table.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

remove blue underline (#2017)
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
Owners: @rossedfort

fix import from commonJS @temporalio/proto package
  src/lib/types/index.ts
Owners: @temporalio/frontend-engineering

Clear page parameter when workflow list query updates
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/stores/workflows.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/lib/utilities/update-query-parameters.test.ts
  src/lib/utilities/update-query-parameters.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Remove empty line
  src/lib/stores/workflows.ts
Owners: @stevekinney, @Alex-Tideman

Set text-primary for ...
  src/lib/holocene/table/paginated-table.svelte
Owners: @rossedfort

Clear page parameter when workflow list query updates (#2019)
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/lib/utilities/update-query-parameters.test.ts
  src/lib/utilities/update-query-parameters.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Remove unnecessary dark classes (#2018)
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/holocene/input/input.stories.svelte
  src/lib/holocene/select/simple-select.svelte
Owners: @rossedfort

Add temporal server version guard, remove timeline for now
  src/lib/components/is-temporal-server-version-guard.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/workflows.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Fix translation
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/i18n/locales/en/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update tests, fix child workflow row bg, clear childrenIds when query/refresh happens
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  tests/e2e/workflows-summary-table-configuration.spec.ts
  tests/integration/filter-search.spec.ts
  tests/integration/workflow-bulk-actions.spec.ts
  tests/integration/workflows-count.spec.ts
Owners: @rossedfort, @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
