Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Add worker-table if new api fails
  src/lib/components/task-queue/worker-info.svelte
  src/lib/pages/task-queue.svelte
  src/lib/pages/workflow-workers.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add workers list page
  src/lib/components/task-queue/worker-info.svelte
  src/lib/components/task-queue/worker-insights.svelte
  src/lib/components/task-queue/worker-table-cell.svelte
  src/lib/components/task-queue/worker-table-row.svelte
  src/lib/components/task-queue/worker-table.svelte
  src/lib/components/task-queue/worker-totals.svelte
  src/lib/components/workers/worker-search-table.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/task-queue.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/services/worker-service.ts
  src/lib/types/index.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/screaming-enums.ts
  src/lib/utilities/update-query-parameters.ts
  src/routes/(app)/namespaces/[namespace]/workers/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workers/[instance]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Make filterable a prop
  src/lib/components/task-queue/worker-table-cell.svelte
  src/lib/components/task-queue/worker-table-row.svelte
  src/lib/components/task-queue/worker-table.svelte
  src/lib/components/workers/worker-search-table.svelte
  src/lib/i18n/locales/en/workers.ts
Owners: @rossedfort, @temporalio/frontend-engineering

prevent datetime filter state interference between instances
  src/lib/components/search-attribute-filter/datetime-filter.svelte
Owners: @rossedfort

prevent datetime filter chip state interference between instances
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

update Menu and related components to runes mode (#3048)
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/lines-and-dots/event-sort-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/namespace-picker.svelte
  src/lib/components/search-attribute-filter/boolean-filter.svelte
  src/lib/components/search-attribute-filter/conditional-menu.svelte
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/search-attribute-filter/status-filter.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/filter-bar/search-attribute-menu.svelte
  src/lib/components/workflow/filter-bar/status-dropdown-filter-chip.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/holocene/combobox/async-test.svelte
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.stories.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/select/filter-select.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/holocene/select/option-group.svelte
  src/lib/holocene/select/option.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/select/simple-option.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/user-menu.svelte
  src/lib/pages/schedule-view.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Swap the empty state png out for an svg and make it reactive to light/dark mode changes. Drop preload so we ain't always getting an error about using it when we shouldn't
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/vendor/empty-state-dark_2x.png
  src/lib/vendor/empty-state-dark_4x.png
  src/lib/vendor/empty-state-light_2x.png
  src/lib/vendor/empty-state-light_4x.png
  src/lib/vendor/empty-state.svg
Owners: @rossedfort, @temporalio/frontend-engineering

Drop preload
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Drop unnecessary classes
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Owners: @rossedfort

Fix empty state png (#3053)
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/vendor/empty-state-dark_2x.png
  src/lib/vendor/empty-state-dark_4x.png
  src/lib/vendor/empty-state-light_2x.png
  src/lib/vendor/empty-state-light_4x.png
  src/lib/vendor/empty-state.svg
Owners: @rossedfort, @temporalio/frontend-engineering

Dangerfile (#3043)
  .github/workflows/danger.yml
  dangerfile.ts
  package.json
  pnpm-lock.yaml
  scripts/count-strict-errors.ts
  src/routes/(app)/select-namespace/+page.svelte
  tsconfig.strict.json
Owners: @stevekinney, @temporalio/frontend-engineering

Switch to get() pattern from weirdness
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

encode nexus id param to avoid error
  src/lib/utilities/route-for.ts
Owners: @stevekinney, @Alex-Tideman

Attempt to fix type errors
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

fix event-details-link href creation
  src/lib/components/event/event-details-link.svelte
Owners: @rossedfort

fix types
  src/lib/components/event/event-details-link.svelte
Owners: @rossedfort

fix event-details-link href creation (#3055)
  src/lib/components/event/event-details-link.svelte
Owners: @rossedfort

Support forwarding binary headers (#3000)
  server/server/headers/headers.go
  server/server/headers/headers_test.go
Owners: @temporalio/frontend-engineering

New solution to bug, switched out stores and fixed automatic defaults overwriting values
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Owners: @rossedfort

Svelte5 updates
  src/lib/components/search-attribute-filter/datetime-filter.svelte
Owners: @rossedfort

Fix time type error and fix var used before declaration
  src/lib/components/search-attribute-filter/datetime-filter.svelte
Owners: @rossedfort

fix: address security vulnerabilities in dependencies
  package.json
  pnpm-lock.yaml
  utilities/ui-server.ts
Owners: @temporalio/frontend-engineering

chore: pin Node.js version to 18.15.0 in .tool-versions
  .tool-versions
Owners: @temporalio/frontend-engineering

fix: use ^2.0.2 for brace-expansion to maintain CommonJS compatibility
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

fix: pin path-to-regexp to 0.1.12 for Express 4.x compatibility
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

fix: revert unnecessary major version upgrades for jsdom and lint-staged
  package.json
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

fix: add explicit return type to portForEnv function
  utilities/ui-server.ts
Owners: @temporalio/frontend-engineering

Fix poller reduce for different identities
  src/lib/utilities/reduce-poller-types.test.ts
  src/lib/utilities/reduce-poller-types.ts
Owners: @stevekinney, @Alex-Tideman

fix(codec-server): add spacing between action buttons
  src/lib/components/codec-server-form/codec-server-form-content.svelte
Owners: @rossedfort

Check if identity exists
  src/lib/utilities/reduce-poller-types.ts
Owners: @stevekinney, @Alex-Tideman

fix(codec-server): resolve unknown error type
  src/lib/components/codec-server-form/codec-server-form-content.svelte
Owners: @rossedfort

fix(codec-server): add spacing between action buttons (#3058)
  src/lib/components/codec-server-form/codec-server-form-content.svelte
Owners: @rossedfort

Fix poller reduce logic for pollers with different identities (#3057)
  src/lib/utilities/reduce-poller-types.test.ts
  src/lib/utilities/reduce-poller-types.ts
Owners: @stevekinney, @Alex-Tideman

fix: correct typo Environemt -> Environment
  utilities/ui-server.ts
Owners: @temporalio/frontend-engineering

fix: update Go to 1.24.11 to fix stdlib security vulnerabilities
  .tool-versions
  scripts/check-go-vulnerabilities.sh
  server/Dockerfile
  server/go.mod
Owners: @temporalio/frontend-engineering

fix: update Go to 1.24.11 to fix stdlib security vulnerabilities (#3059)
  .tool-versions
  scripts/check-go-vulnerabilities.sh
  server/Dockerfile
  server/go.mod
Owners: @temporalio/frontend-engineering

fix batch operation close time
  src/lib/components/batch-operations/details.svelte
Owners: @rossedfort

fix batch operation close time (#3060)
  src/lib/components/batch-operations/details.svelte
Owners: @rossedfort

Change dot to rect
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/dot.svelte
Owners: @rossedfort

Move things around
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/timeline-and-history-toggle.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/workflow-user-metadata.svelte
  src/lib/stores/event-view.ts
  src/lib/types/events.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/timeline/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
