Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

2.24.1 (#1888)
  package.json
Owners: @temporalio/frontend-engineering

change Link to a tag
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/button.svelte
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Owners: @rossedfort

add tooltip to menu items
  src/lib/holocene/menu/menu-item.svelte
Owners: @rossedfort

change tooltip position
  src/lib/holocene/menu/menu-item.svelte
Owners: @rossedfort

change position again
  src/lib/holocene/menu/menu-item.svelte
Owners: @rossedfort

add active color to plug in and update styling to match designs
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

add onLinkClick
  src/lib/holocene/button.svelte
Owners: @rossedfort

add active color to plug in and update styling to match designs (#1890)
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update styles, refactor all the lines and dots for svg
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/drawer-wrapper.svelte
  src/lib/components/lines-and-dots/event-details.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/compact-line-dot.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/draggable-x-line.svelte
  src/lib/components/lines-and-dots/svg/draggable-y-line.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/history-line-dot.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow-status.svelte
  src/lib/holocene/copyable/index.svelte
  src/lib/layouts/workflow-header-v2.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

remove enabled from buttons (#1887)
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/button.svelte
Owners: @rossedfort

2.24.2
  package.json
Owners: @temporalio/frontend-engineering

2.24.2 (#1892)
  package.json
Owners: @temporalio/frontend-engineering

Move reachability out of workflow run and to workflow workers page
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/stores/workflow-run.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Mock versioning rules
  src/fixtures/task-queue-rules.json
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/pollers-service.ts
  src/lib/stores/workflow-run.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

MVP of assignment rules table and header. just need to test when ready
  src/fixtures/task-queue-rules.json
  src/lib/components/worker-compatibility.svelte
  src/lib/components/worker-rules.svelte
  src/lib/components/workers-list.svelte
  src/lib/components/workflow-versioning-header.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-workers.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add skeleton table
  src/lib/pages/task-queue-workers.svelte
  src/lib/pages/workflow-workers.svelte
Owners: @temporalio/frontend-engineering

Change ScrollToTop button to primary instead of secondary
  src/lib/holocene/scroll-to-top.svelte
Owners: @rossedfort

Change ScrollToTop button to primary instead of secondary (#1895)
  src/lib/holocene/scroll-to-top.svelte
Owners: @rossedfort

Move reachability out of workflow run and to workflow workers page (#1893)
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/task-queue-workers.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/stores/workflow-run.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix toggle button bg
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @temporalio/frontend-engineering

Fix the signal params
  src/lib/services/workflow-service.ts
Owners: @stevekinney, @Alex-Tideman

Add version check for backwards compatibility
  src/lib/services/workflow-service.ts
Owners: @stevekinney, @Alex-Tideman

Fix the signal params (#1897)
  src/lib/services/workflow-service.ts
Owners: @stevekinney, @Alex-Tideman

Update version.go to v2.24.0
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.24.0 (#1898)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Set value before dispatching change event
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

Better text positioning, refactoring
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/scroll-to-bottom.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix compact width on active, responsive things
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/drawer-wrapper.svelte
Owners: @rossedfort

Add abort signal functionality to abort polling events
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/events-service.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/paginated.ts
  src/lib/utilities/request-from-api.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Support future rendering on scrollY. Need to debounce history pushes as they come in
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/drawer-wrapper.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
Owners: @rossedfort

Add metadata tab, more refactoring
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/drawer-wrapper.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/workflow-status.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header-v2.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/workflow-execution.ts
  src/lib/pages/workflow-metadata.svelte
  src/lib/services/events-service.ts
  src/lib/types/workflows.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/metadata/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use overflow-x-hidden
  src/lib/components/lines-and-dots/drawer-wrapper.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Owners: @rossedfort

Set value before dispatching change event (#1899)
  src/lib/holocene/combobox/combobox.svelte
Owners: @rossedfort

use context for batch ops
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/pages/workflows-with-new-search.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

refactor client actions into their own components
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add loading slot to ApiPagination component
  src/lib/holocene/api-pagination.svelte
Owners: @rossedfort

Add stopPropagation to on:click in IconButton component
  src/lib/holocene/icon-button.svelte
Owners: @rossedfort

Add text-nowrap to Badge component
  src/lib/holocene/badge.svelte
Owners: @rossedfort

use DOM.purify for signal names in case of xss
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-history-timeline.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add more DOM.purify checks on all group names'
  src/lib/components/event/event-history-timeline.svelte
Owners: @rossedfort
