Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Add fly in for drawer
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Add badge color, add support for dark mode (#1848)
  src/lib/components/event/event-detail-pills.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/pill.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/badge.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/theme/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Animate batch operations with CSS (#1850)
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/batch-operation.svelte
  src/lib/holocene/icon/svg/layers-1.svelte
  src/lib/holocene/icon/svg/layers-2.svelte
  src/lib/holocene/icon/svg/layers-3.svelte
Owners: @rossedfort

Make permissions reactive
  src/lib/pages/schedule-view.svelte
Owners: @temporalio/frontend-engineering

Update types.ts
  src/lib/holocene/icon/types.ts
Owners: @rossedfort

Make permissions reactive (#1852)
  src/lib/pages/schedule-view.svelte
Owners: @temporalio/frontend-engineering

Bump to 2.23.2
  package.json
Owners: @temporalio/frontend-engineering

Fix import from rebase
  src/lib/holocene/icon/svg/batch-operation.svelte
Owners: @rossedfort

Minifiy logo, inherit color
  src/lib/holocene/logo.svelte
Owners: @rossedfort

Add currentColor as a supported color
  src/theme/colors.ts
Owners: @temporalio/frontend-engineering

Bump to 2.23.2 (#1853)
  package.json
Owners: @temporalio/frontend-engineering

Include schedules-hot-fix
  package.json
  src/lib/pages/schedule-view.svelte
Owners: @temporalio/frontend-engineering

Simplify nav-container and nav-row
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/nav-row.svelte
Owners: @rossedfort

Add additional transition properties, inverse surface
  src/theme/index.ts
Owners: @temporalio/frontend-engineering

Use CSS grid for navigation
  src/lib/holocene/logo.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/nav-row.svelte
  src/lib/holocene/navigation/nav-tooltip.svelte
  src/lib/holocene/tooltip.svelte
Owners: @rossedfort

Rename files
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Simplify side-nav
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-row.svelte
Owners: @rossedfort

Remove externalLink prop
  src/lib/holocene/navigation/nav-row.svelte
Owners: @rossedfort

Adjust borders for side and top navigation
  src/lib/components/top-nav.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/theme/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Correctly Type click-outside sending a custom event, fix onClick type for drawer to help differentiate the events that are actually passed
  src/global.d.ts
  src/lib/holocene/drawer.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Add close-button slot for the drawer
  src/lib/holocene/drawer.svelte
Owners: @rossedfort

Ooops that's how slots work
  src/lib/holocene/drawer.svelte
Owners: @rossedfort

add error state to combobox
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/theme/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Put pending activities at the bottom, not inline. Need to figure out the offset
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/data.ts
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/event-details-header.svelte
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/input-and-result-row.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
  src/lib/components/lines-and-dots/pending-activity-row.svelte
  src/lib/components/lines-and-dots/pending-details.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/theme/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Compact view for graph
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/group-row.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/input-and-result-row.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/components/lines-and-dots/pending-activity-row.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/utilities/format-time.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add new timline view for compact
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/draggable-x-line.svelte
  src/lib/components/lines-and-dots/draggable-y-line.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add draggable Y line to increase/decrease height with double click too
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/draggable-x-line.svelte
  src/lib/components/lines-and-dots/draggable-y-line.svelte
  src/lib/components/lines-and-dots/event-details-header.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/group-row.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/input-and-result-row.svelte
  src/lib/components/lines-and-dots/pending-activity-row.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Simplify everything, make svg text with drawer. Need to figure out the right drawerY
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-history/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add input and results
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add filters, timestamps. Need to work on sort flip logic and pending activities
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/event-details.svelte
  src/lib/components/lines-and-dots/event-sort-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/stores/events.ts
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add colors
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
Owners: @rossedfort

Add relationships tab and page, fix pending activities
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/utilities/get-workflow-relationships.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/relationships/+page.svelte
  src/theme/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Make workflow details into panes
  src/lib/components/lines-and-dots/event-sort-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/holocene/badge.svelte
  src/lib/holocene/icon/svg/labs.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix the canvasWidth
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
Owners: @rossedfort

Stop UI server from using stdout/stderr inadvertently
  server/server/config/config.go
  server/server/server.go
Owners: @temporalio/frontend-engineering

Make generic "HideLogs"
  server/server/config/config.go
  server/server/server.go
Owners: @temporalio/frontend-engineering

Stop UI server from using stdout/stderr inadvertently (#1858)
  server/server/config/config.go
  server/server/server.go
Owners: @temporalio/frontend-engineering

Get both sort orders working for full and compact view
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Update drawer types and x color props (#1854)
  src/global.d.ts
  src/lib/holocene/drawer.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

WIP: pending activities in compact. Need to figure out the right nextX
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-groups/index.ts
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/services/events-service.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman
