Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

resize
  src/lib/holocene/icon/svg/tag.svelte
Owners: @rossedfort

Center worker handler icon
  src/lib/components/worker-table.svelte
Owners: @rossedfort

fix some table styles (#2835)
  src/lib/components/batch-operations/table.svelte
  src/lib/components/poller-icon.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table.svelte
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/components/workflow/workflows-summary-table.svelte
  src/lib/holocene/table/table.svelte
  src/lib/pages/workflow-nexus-links.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

DT-3163: Add tag icon to Holocene icon set (#2836)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/tag.svelte
Owners: @rossedfort

Refactor task-queue-status to it's own component and use as a snippet
  src/lib/components/task-queue-status.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Refactor task-queue-status to it's own component and use as a snippet (#2838)
  src/lib/components/task-queue-status.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

DT-3163: Update tag icon with proper sizing
  src/lib/holocene/icon/svg/tag.svelte
Owners: @rossedfort

Align bottom nav buttons
  src/lib/components/bottom-nav-settings.svelte
  src/lib/holocene/navigation/navigation-button.svelte
Owners: @rossedfort

DT-3163: Update tag icon with proper sizing (#2839)
  src/lib/holocene/icon/svg/tag.svelte
Owners: @rossedfort

add summary back in and remove event id
  src/lib/components/workflow/metadata/metadata-events.svelte
Owners: @rossedfort

Update branding, hover states, and padding of side nav (#2833)
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/data-encoder-settings.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Do some refactoring, move events into the left side
  src/lib/components/workflow/metadata/metadata-events.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix clear button if maxlength is present by moving out of input
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Set max query length on request
  src/lib/utilities/request-from-api.ts
Owners: @stevekinney, @Alex-Tideman

Disable filtering if query over max length
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
Owners: @rossedfort

Fix text color on maxLength for Input
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

move memo into component
  src/lib/components/workflow/metadata/workflow-memo.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/memo/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

mv search attr into component
  src/lib/components/workflow/metadata/workflow-search-attributes.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/search-attributes/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Use solid spinner as default spinner icon
  src/lib/holocene/button.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/spinner-solid.svelte
  src/lib/holocene/icon/svg/spinner.svelte
Owners: @rossedfort

Set bg for failure/canceled/terminated
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Update src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

twMerge fixes
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Use hover:cursor-pointer
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Set background color for failure/canceled/terminated rows (#2844)
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort

Add custom response if query is too long
  src/lib/utilities/request-from-api.ts
Owners: @stevekinney, @Alex-Tideman

updates from feedback
  src/lib/components/workflow/metadata/metadata-events.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/holocene/monaco/markdown.svelte
Owners: @rossedfort

Show count if over max query length
  src/lib/components/workflow/workflow-advanced-search.svelte
Owners: @rossedfort

Add workflowDetailsAddition snippet support to workflow header
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+layout.svelte
Owners: @temporalio/frontend-engineering

Rename workflowDetailsAddition to additionalDetails
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+layout.svelte
Owners: @temporalio/frontend-engineering

Complete namespace and tag display feature
  src/lib/layouts/workflow-header.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+layout.svelte
Owners: @temporalio/frontend-engineering

Remove debug logging and add component documentation
  .gitignore
  src/lib/layouts/workflow-header.mdx
  src/lib/layouts/workflow-header.stories.svelte
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

put usermetadata into single component
  src/lib/components/workflow/metadata/workflow-user-metadata.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

CR feedback
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

clean up metadata events
  src/lib/components/workflow/metadata/metadata-events.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/components/workflow/metadata/workflow-user-metadata.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

rm ('Metadata groups:', metadataGroups);
  src/lib/components/workflow/metadata/metadata-events.svelte
Owners: @rossedfort

Use values method for search params
  src/lib/utilities/request-from-api.ts
Owners: @stevekinney, @Alex-Tideman

Update font size on count
  src/lib/holocene/input/input.svelte
  src/lib/holocene/textarea.svelte
Owners: @rossedfort

Limit workflow execution query length to 15k characters (#2840)
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/spinner-solid.svelte
  src/lib/holocene/icon/svg/spinner.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/textarea.svelte
  src/lib/utilities/request-from-api.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Style updates
  src/lib/components/workflow/metadata/metadata-events.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/components/workflow/metadata/workflow-user-metadata.svelte
Owners: @rossedfort

Move tab
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
