Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Override HTTP error handler
  server/server/api/handler.go
Owners: @temporalio/frontend-engineering

Timeline UI improvements (#1790)
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-empty-row.svelte
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/holocene/link.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/utilities/get-workflow-relationships.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/event-groups/[id]/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

2.22.6
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to v2.22.3
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

2.22.6 (#1823)
  package.json
Owners: @temporalio/frontend-engineering

Update version.go to v2.22.3 (#1824)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add Drawer content, and refactor drawer so we can put content all the way to the sides of it
  src/lib/holocene/drawer-content.svelte
  src/lib/holocene/drawer.stories.svelte
  src/lib/holocene/drawer.svelte
Owners: @rossedfort

WIP: add payloads to schedule
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/schedule/schedules-time-view.svelte
Owners: @rossedfort

Make href required, use default behavior if metakey is pressed
  src/lib/holocene/link.svelte
Owners: @rossedfort

Fix old workflow filter advanced/basic toggle link for archival
  src/routes/(app)/namespaces/[namespace]/archival/_workflow-filters.svelte
Owners: @temporalio/frontend-engineering

Better timeline labels for localActivity
  src/lib/components/event/event-history-timeline.svelte
Owners: @rossedfort

Better timeline labels for localActivity (#1827)
  src/lib/components/event/event-history-timeline.svelte
Owners: @rossedfort

Make href required, use default behavior if metakey is pressed in Link (#1826)
  src/lib/holocene/link.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_workflow-filters.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

2.22.7
  package.json
Owners: @temporalio/frontend-engineering

2.22.7 (#1828)
  package.json
Owners: @temporalio/frontend-engineering

Adjust width to account for disabled state
  src/lib/components/workflow/filter-search/datetime-filter.svelte
Owners: @rossedfort

Add nowrap for MenuButton
  src/lib/components/workflow/filter-search/datetime-filter.svelte
Owners: @rossedfort

Small UI fixes for DatetimeFilter (#1829)
  src/lib/components/workflow/filter-search/datetime-filter.svelte
Owners: @rossedfort

Update groupEvents to iterate based on sort order
  src/lib/components/event/event-history-timeline.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/group-events.test.ts
  src/lib/models/event-groups/index.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix child workflow links when sort is descending
  src/lib/pages/workflow-history-event-group.svelte
Owners: @temporalio/frontend-engineering

Update initial events to be based on sort
  src/lib/components/event/event-summary.svelte
  src/lib/pages/workflow-history-event.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Make all potential enums strings for better type safety, added unit tests to cover object/array inputs, and show empty string for ParentNamespaceID in workflow cell.
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/utilities/screaming-enums.test.ts
  src/lib/utilities/screaming-enums.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Remove unneeded ?
  src/lib/services/namespaces-service.ts
Owners: @stevekinney, @Alex-Tideman

Update ui-server to use the new protos (#1775)
  go.work.sum
  server/go.mod
  server/go.sum
  server/server/api/handler.go
  server/server/api/marshaler.go
  server/server/api/middleware.go
  server/server/headers/headers.go
  server/server/version/with_version_header.go
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/models/event-history/index.ts
  src/lib/models/workflow-execution.ts
  src/lib/services/batch-service.ts
  src/lib/services/namespaces-service.ts
  src/lib/services/pollers-service.ts
  src/lib/services/query-service.ts
  src/lib/services/search-attributes-service.ts
  src/lib/services/workflow-counts.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/screaming-enums.test.ts
  src/lib/utilities/screaming-enums.ts
  src/lib/utilities/task-queue-compatibility.ts
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Update version.go to v2.23.0
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Update version.go to v2.23.0 (#1831)
  server/server/version/version.go
Owners: @temporalio/frontend-engineering

Add hidden/optional dark mode
  src/env.d.ts
  src/lib/utilities/dark-mode/dark-mode.svelte
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
  src/routes/(app)/+layout.svelte
  tailwind.config.cjs
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Remove `console.log`
  src/lib/utilities/dark-mode/dark-mode.ts
Owners: @stevekinney, @Alex-Tideman

Add hidden/optional dark mode (#1832)
  src/env.d.ts
  src/lib/utilities/dark-mode/dark-mode.svelte
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
  src/routes/(app)/+layout.svelte
  tailwind.config.cjs
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Use DrawerContent and fix existing drawers
  src/lib/components/event/event-shortcut-keys.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/drawer.svelte
Owners: @rossedfort

Add dark mode support for Storybook
  .storybook/dark-mode.css
  .storybook/preview.ts
  src/lib/utilities/dark-mode/dark-mode.svelte
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Fix the width issue
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
Owners: @rossedfort

ToggleButtons, get distance between events with line
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix event groups sort order (#1830)
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/group-events.test.ts
  src/lib/models/event-groups/index.ts
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Drawer fix (#1833)
  src/lib/components/event/event-shortcut-keys.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/drawer-content.svelte
  src/lib/holocene/drawer.stories.svelte
  src/lib/holocene/drawer.svelte
Owners: @rossedfort

2.22.8
  package.json
Owners: @temporalio/frontend-engineering

2.23.0
  package.json
Owners: @temporalio/frontend-engineering

2.23.0 (#1836)
  package.json
Owners: @temporalio/frontend-engineering

Add icons
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/astronaut.svelte
  src/lib/holocene/icon/svg/calendar.svelte
  src/lib/holocene/icon/svg/robot.svelte
Owners: @rossedfort

Add dark mode support for Storybook (#1834)
  .storybook/dark-mode.css
  .storybook/preview.ts
  src/lib/utilities/dark-mode/dark-mode.svelte
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman
