Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Workflow error
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add failed and canceled child workflow logic to groups
  src/lib/models/event-groups/get-group-id.ts
Owners: @stevekinney, @Alex-Tideman

Set minimum width of compact view length and allow scrolling horizontally
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix compact view
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
Owners: @rossedfort

Show all event info on history view in details draw with active box on active event
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Audit number input (#1941)
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.stories.svelte
  src/lib/holocene/input/number-input.svelte
Owners: @rossedfort

add icons
  src/lib/holocene/icon/svg/moon.svelte
  src/lib/holocene/icon/svg/sun.svelte
Owners: @rossedfort

update tab underline color
  src/lib/holocene/tab/tab.svelte
Owners: @rossedfort

Don't expand visual height, make multiple open panes for History Graph
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
Owners: @rossedfort

Fix axis top label height
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
Owners: @rossedfort

make border standard
  src/lib/holocene/checkbox.svelte
Owners: @rossedfort

update filter select
  src/lib/holocene/select/filter-select.svelte
  src/lib/holocene/select/simple-select.svelte
Owners: @rossedfort

update pagination text color
  src/lib/holocene/pagination.svelte
Owners: @rossedfort

Adding pending details to details row in History view
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/pending-detail-row.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/models/event-groups/get-group-id.ts
  src/lib/stores/active-events.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add page title to relationships page
  src/lib/layouts/workflow-history-layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/relationships/+page.svelte
Owners: @temporalio/frontend-engineering

working on pagination
  src/lib/holocene/select/filter-select.svelte
Owners: @rossedfort

add tests for icons
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Owners: @rossedfort

Initial pill styles for dm
  src/lib/components/pill.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

remove bg color
  src/lib/holocene/select/filter-select.svelte
Owners: @rossedfort

update input border
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Filter out keys for group details and pending activities
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/models/event-groups/index.ts
  src/lib/utilities/format-event-attributes.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

update copyable button
  src/lib/holocene/copyable/button.svelte
Owners: @rossedfort

Make spacing better on group details
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/holocene/link.svelte
  src/lib/utilities/get-single-attribute-for-event.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Simply onUpdate logic
  src/lib/services/events-service.ts
Owners: @stevekinney, @Alex-Tideman

Simplify side navigation; add dark mode support (#1846)
  src/lib/components/side-nav.svelte
  src/lib/holocene/logo.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/nav-row.svelte
  src/lib/holocene/navigation/nav-tooltip.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/theme/plugin.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Update new icon instructions in icon story
  src/lib/holocene/icon/icon.story.md
Owners: @rossedfort

Make History tab active when you were on Timeline on labs mode and switch back
  src/lib/layouts/workflow-history-layout.svelte
Owners: @temporalio/frontend-engineering

Add data-testid to labs mode button
  src/lib/components/side-nav.svelte
Owners: @rossedfort

Fix icon div height and width
  src/lib/holocene/icon/icon.svelte
Owners: @rossedfort

Fix nested attributes check, but Labs Mode in feedback slot
  src/lib/components/side-nav.svelte
  src/lib/utilities/format-event-attributes.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Update focus styles on date picker input in darkmode
  src/lib/holocene/input/input.svelte
Owners: @rossedfort

Better layout for nav
  src/lib/components/data-encoder-settings.svelte
  src/lib/components/top-nav.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add focus color
  src/lib/theme/plugin.ts
Owners: @temporalio/frontend-engineering

Fix text color in Radio Input story
  src/lib/holocene/radio-input/radio-input.stories.svelte
Owners: @rossedfort

Better layout for nav (#1965)
  src/lib/components/data-encoder-settings.svelte
  src/lib/components/top-nav.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Fix weird cell border top color
  src/lib/holocene/table/table.svelte
Owners: @rossedfort

Add text style for dark mode
  src/lib/holocene/table/paginated-table.svelte
Owners: @rossedfort

Update style on hover and focus-visible
  src/lib/holocene/radio-input/radio-input.svelte
Owners: @rossedfort

Add style for disabled state
  src/lib/holocene/radio-input/radio-input.stories.svelte
  src/lib/holocene/radio-input/radio-input.svelte
Owners: @rossedfort

Add text color for dm to row on hover
  src/lib/components/event/event-summary-row.svelte
Owners: @rossedfort
