Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney

Add oAuth integration tests to verify this auth method (#3244)
  tests/integration/oauth-flow.spec.ts
Owners: @temporalio/frontend-engineering

Fix divider spill
  src/lib/components/side-nav.svelte
Owners: @rossedfort

Give retryContext better types other than Record<string,string>
  src/lib/utilities/request-from-api.ts
Owners: @stevekinney, @Alex-Tideman

Remove hardcoded val.
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Revert ai changes.
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Fix nav divider/kt (#3245)
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Owners: @rossedfort

Fix hardcoded val.
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

Fix hardcoded val. (#3246)
  src/lib/holocene/navigation/navigation-container.svelte
Owners: @rossedfort

add z-index to portal
  src/lib/holocene/portal/portal.svelte
Owners: @rossedfort

Fix hardcoded color value and settings icon.
  src/lib/holocene/icon/svg/settings.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

add z-index to portal (#3247)
  src/lib/holocene/portal/portal.svelte
Owners: @rossedfort

move to initCore stuff and namespaceSearch and dataEncoderEndpoint options as well as a few others
  src/hooks.client.ts
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
  src/lib/svelte-mocks/app/state.ts
  src/lib/utilities/core-provider.test.ts
  src/lib/utilities/core-provider.ts
  src/lib/utilities/oss-provider.svelte.ts
  src/lib/utilities/oss-provider.test.ts
  src/lib/utilities/request-from-api.401-retry.test.ts
  src/lib/utilities/request-from-api.integration.test.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/token-provider.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman, @GiantRobots

feat: align serverless deployment edit form with create form and add capability guards
  src/lib/components/workers/serverless-worker-form/serverless-worker-edit-form.svelte
  src/lib/components/workers/serverless-worker-form/shared.ts
  src/lib/components/workers/serverless-worker-table-row.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/serverless-worker-create.svelte
  src/lib/pages/serverless-worker-detail.svelte
  src/lib/pages/serverless-worker-edit.svelte
  src/lib/services/serverless-worker-service.ts
  src/lib/types/deployments.ts
  src/lib/types/index.ts
  src/lib/types/serverless-workers.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

chore: add local-temporal skill
  .claude/skills/local-temporal/SKILL.md
Owners: @temporalio/frontend-engineering

Redirect to login when token refresh fails on 401
  src/lib/utilities/oss-provider.svelte.ts
  src/lib/utilities/oss-provider.test.ts
  src/lib/utilities/request-from-api.integration.test.ts
  tests/integration/oauth-flow.spec.ts
Owners: @stevekinney, @Alex-Tideman, @temporalio/frontend-engineering

Fix base64 padding truncation when parsing user cookies
  src/lib/utilities/auth-user-cookie.test.ts
  src/lib/utilities/auth-user-cookie.ts
Owners: @stevekinney, @Alex-Tideman

Re-wire auth to use a provider pattern. Lots of tests remove cloud references (#3230)
  src/hooks.client.ts
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-history/get-event-attributes.test.ts
  src/lib/models/event-history/index.ts
  src/lib/models/event-history/to-event-history.test.ts
  src/lib/models/pending-activities/index.ts
  src/lib/models/pending-activities/to-decoded-pending-activities.test.ts
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
  src/lib/services/namespaces-service.test.ts
  src/lib/services/query-service.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/data-encoder.test.ts
  src/lib/stores/data-encoder.ts
  src/lib/svelte-mocks/app/state.ts
  src/lib/types/events.ts
  src/lib/utilities/auth-refresh.test.ts
  src/lib/utilities/auth-refresh.ts
  src/lib/utilities/auth-user-cookie.ts
  src/lib/utilities/core-provider.test.ts
  src/lib/utilities/core-provider.ts
  src/lib/utilities/decode-local-activity.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/export-history.ts
  src/lib/utilities/oss-provider.svelte.ts
  src/lib/utilities/oss-provider.test.ts
  src/lib/utilities/request-from-api.401-retry.test.ts
  src/lib/utilities/request-from-api.integration.test.ts
  src/lib/utilities/request-from-api.test.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/request-from-api.with-access-token.test.ts
  src/routes/(app)/+layout.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Use --top-nav-height CSS variable for sticky element positioning
  src/app.css
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
  src/lib/holocene/banner/banner.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Use --top-nav-height CSS variable for sticky element positioning (#3250)
  src/app.css
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
  src/lib/holocene/banner/banner.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Make Timeline/Event History and sort order preferences sticky
  src/lib/layouts/workflow-header.svelte
  src/lib/stores/event-view.ts
  src/lib/utilities/event-filter-params.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+page.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Add back animation
  src/lib/components/workflow/workflow-count-refresh.svelte
Owners: @rossedfort

improve standalone activity details page
  src/lib/components/standalone-activities/activity-execution-detail-card.svelte
  src/lib/components/standalone-activities/activity-execution-last-failure.svelte
  src/lib/components/standalone-activities/activity-execution-last-heartbeat.svelte
  src/lib/components/standalone-activities/activity-execution-last-worker.svelte
  src/lib/components/standalone-activities/activity-execution-progress-bar.svelte
  src/lib/components/standalone-activities/activity-execution-retry-schedule.svelte
  src/lib/components/standalone-activities/activity-execution-run-state-badge.svelte
  src/lib/components/standalone-activities/activity-execution-timeouts.svelte
  src/lib/components/standalone-activities/activity-execution-upcoming-attempts.svelte
  src/lib/components/standalone-activities/activity-header.svelte
  src/lib/components/standalone-activities/activity-input-and-outcome.svelte
  src/lib/components/standalone-activities/start-standalone-activity-form/types.ts
  src/lib/pages/standalone-activity-details.svelte
  src/lib/pages/standalone-activity.svelte.ts
  src/lib/services/standalone-activities.ts
  src/lib/theme/plugin.ts
  src/lib/types/activity-execution.ts
  src/lib/utilities/format-time.ts
  src/lib/utilities/to-duration.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Ensure sidenav doesn't change size when subtitle is href or not. smoooth transition addition.
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Owners: @rossedfort

Filter updates
  src/lib/components/shared-search-attribute-filter/filter-bar.svelte
  src/lib/components/shared-search-attribute-filter/manual-query.svelte
  src/lib/components/standalone-activities/activities-summary-filter-bar/filter-bar.svelte
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/components/workers/workers-table/workers-table-cell.svelte
  src/lib/components/workers/workers-table/workers-table-row.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workers.svelte
  src/lib/stores/search-attributes.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Bump saved view limits from 20 to 50
  src/lib/stores/saved-queries.ts
Owners: @stevekinney, @Alex-Tideman

Bump saved view limits from 20 to 50 (#3254)
  src/lib/stores/saved-queries.ts
Owners: @stevekinney, @Alex-Tideman

clean up
  src/lib/components/standalone-activities/activity-execution-retry-schedule.svelte
  src/lib/components/standalone-activities/activity-execution-timeouts.svelte
  src/lib/components/standalone-activities/activity-execution-upcoming-attempts.svelte
  src/lib/pages/standalone-activity-details.svelte
  src/lib/pages/standalone-activity.svelte.ts
Owners: @rossedfort, @temporalio/frontend-engineering

use full for 100% instead of 100vh
  src/lib/holocene/main-content-container.svelte
Owners: @rossedfort

add unit tests
  src/lib/pages/standalone-activity.svelte.ts
  src/lib/pages/standalone-activity.test.ts
  src/lib/types/activity-execution.ts
Owners: @temporalio/frontend-engineering

revert fromDurationToNumber changes
  src/lib/utilities/format-time.ts
Owners: @stevekinney, @Alex-Tideman

fix type errs
  src/lib/pages/standalone-activity.svelte.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/[runId]/details/+page.svelte
Owners: @temporalio/frontend-engineering

Don't include null conditions in workers filters
  src/lib/components/shared-search-attribute-filter/filter-bar.svelte
  src/lib/components/shared-search-attribute-filter/filter.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/pages/workers.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Add cron string to list view, fix title for schedule input
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
Owners: @rossedfort

Display cron string instead of calendar spec when schedule has a cron string in comment field (#3241)
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/i18n/locales/en/schedules.ts
Owners: @rossedfort, @temporalio/frontend-engineering

use full for 100% instead of 100vh (#3256)
  src/lib/holocene/main-content-container.svelte
Owners: @rossedfort

Update empty states and other fixes
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/empty-states/no-query-results.svelte
  src/lib/components/empty-states/no-workflow-task-failures.svelte
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-empty-state.svelte
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/components/workers/worker-heartbeats-disabled.svelte
  src/lib/components/workers/workers-table/worker-heartbeats-sdk-warning.svelte
  src/lib/components/workers/workers-table/workers-query-empty-state.svelte
  src/lib/components/workers/workers-table/workers-table-row.svelte
  src/lib/components/workers/workers-table/workers-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/workers.ts
  src/lib/layouts/workers-layout.svelte
  src/lib/pages/deployments.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Initial commit/attempt at refactoring to a grid layout and have better scrolling across apps
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/data-encoder-status.svelte
  src/lib/components/skip-nav.svelte
  src/lib/components/top-nav.svelte
  src/lib/components/workflow/relationships/workflow-family-tree.svelte
  src/lib/holocene/banner/banner.svelte
  src/lib/holocene/holocene-components.json
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  src/routes/(app)/+layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Prototype: LLM observability for agentic workflows
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/compare-runs-modal.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/models/event-history/get-event-llm-metadata.test.ts
  src/lib/models/event-history/get-event-llm-metadata.ts
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/utilities/compare-runs.ts
  temporal/activities/call-llm-claude.ts
  temporal/activities/call-llm-gemini.ts
  temporal/activities/call-llm.ts
  temporal/activities/index.ts
  temporal/client.ts
  temporal/run-llm-demo.ts
  temporal/workflows.ts
  tests/e2e/llm-metadata.spec.ts
  tests/integration/llm-metadata.spec.ts
  tests/test-utilities/mocks/llm-event-history.ts
Owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman

Make task queue a filter in standalone activity details
  src/lib/components/standalone-activities/activity-header.svelte
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/components/workers/workers-table/workers-table-cell.svelte
  src/lib/components/workers/workers-table/workers-table-row.svelte
  src/lib/i18n/locales/en/standalone-activities.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Refactor to use searcNamespaces and hydrate search namespaces store
  src/hooks.client.ts
  src/lib/services/namespaces-service.test.ts
  src/lib/services/namespaces-service.ts
  src/lib/state/namespaces.svelte.ts
  src/lib/utilities/oss-provider.svelte.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/+layout.ts
Owners: @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman
