Repository temporalio/ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @temporalio/frontend-engineering, @rossedfort, @stevekinney, @Alex-Tideman, @GiantRobots

Move alerts above tabs (#2446)
  src/lib/layouts/workflow-header.svelte
Owners: @temporalio/frontend-engineering

Add additional condtionals as KeywordList filter search options
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/tokenize.test.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Fix null conditionals in toListWorkflowFilters and account for is and is null values
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Owners: @stevekinney, @Alex-Tideman

Fix inline styles for CodeBlock component (#2444)
  src/lib/holocene/code-block.svelte
  src/lib/theme/variables.ts
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

readme: fixed command typo (#2443)
  README.md
Owners: @temporalio/frontend-engineering

Upgrade necessary libraries, get errors down. Still have a few to go but in a good spot
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/global.d.ts
  src/lib/components/bottom-nav.svelte
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/feedback-button.svelte
  src/lib/components/lines-and-dots/event-sort-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/error-boundary-fallback.svelte
  src/lib/holocene/error-boundary.ts
  src/lib/holocene/error.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/holocene-components.json
  src/lib/holocene/icon/icon.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Owners: @stevekinney, @temporalio/frontend-engineering, @rossedfort

Remove rounded border in layout and components
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/components/panel.svelte
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/components/workflow/client-actions/batch-operation-confirmation-form.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/routes/(app)/select-namespace/+page.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Remove rounded border for input components
  src/lib/components/search-attribute-filter/duration-filter.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/search-attribute-filter/number-filter.svelte
  src/lib/components/search-attribute-filter/text-filter.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/input/input.stories.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.stories.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/input/range-input.svelte
  src/lib/holocene/textarea.svelte
Owners: @rossedfort

Remove rounded border for button component
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
Owners: @rossedfort

Remove rounded border for other Holocene components
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/holocene/accordion/accordion-group.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/card.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/file-input.svelte
  src/lib/holocene/keyboard-shortcut/shortcut.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/holocene/user-menu.svelte
  src/lib/vendor/codemirror/theme.ts
Owners: @rossedfort, @temporalio/frontend-engineering

Try a new linter version
  pnpm-lock.yaml
Owners: @temporalio/frontend-engineering

Update vi.mock for esm-env
  vitest-setup.ts
Owners: @temporalio/frontend-engineering

Add additional conditional support to KeywordList filter (#2447)
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/lib/utilities/query/tokenize.test.ts
Owners: @rossedfort, @stevekinney, @Alex-Tideman

Add ErrorBoundary
  src/lib/holocene/error-boundary.svelte
  src/lib/holocene/error.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/error.ts
  src/lib/utilities/handle-error.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/nexus/+page.ts
  src/routes/+error.svelte
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

Make maxHeight 100%
  src/lib/components/event/event-summary-table.svelte
Owners: @rossedfort

add collapsible component and icons for billing plans page
  src/lib/holocene/collapsible/collapsible.stories.svelte
  src/lib/holocene/collapsible/collapsible.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/chart-ascending.svelte
  src/lib/holocene/icon/svg/office-buildings.svelte
  src/lib/holocene/icon/svg/toolbox.svelte
Owners: @rossedfort

rename component
  src/lib/holocene/collapsible-divider/collapsible-divider.stories.svelte
  src/lib/holocene/collapsible-divider/collapsible-divider.svelte
Owners: @rossedfort

Allow control of max size for menu's. Allow external control for combobox through open store. Update bottom nav to increase ability to dependency inject
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Better styles and flex for workflow details
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Make grow a prop for CodeBlock
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Add translation and truncate
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

oops
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

DT-2565 - add collapsible divider component and icons for billing plans page (#2452)
  src/lib/holocene/collapsible-divider/collapsible-divider.stories.svelte
  src/lib/holocene/collapsible-divider/collapsible-divider.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/chart-ascending.svelte
  src/lib/holocene/icon/svg/office-buildings.svelte
  src/lib/holocene/icon/svg/toolbox.svelte
Owners: @rossedfort

Remove prop
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Allow control of max size for menu's. Allow external control for combobox through open store. Update bottom nav to increase ability to dependency inject
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Use grow-0
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

oops
  src/lib/components/bottom-nav.svelte
Owners: @rossedfort

Allow control of max size for menu's. Allow external control for comb… (#2453)
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu.svelte
Owners: @rossedfort

Better styles and flex for Workflow Details (#2454)
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/holocene/code-block.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
Owners: @rossedfort, @temporalio/frontend-engineering

Bump svelte, make error w-full
  package.json
  pnpm-lock.yaml
  src/lib/holocene/error.svelte
Owners: @temporalio/frontend-engineering, @rossedfort

Refactor SearchAttributeInput to include type (#2439)
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/datetime-input.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/components/workflow/search-attribute-input/list-input.svelte
  src/lib/components/workflow/search-attribute-input/number-input.svelte
  src/lib/components/workflow/search-attribute-input/text-input.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/workflow-execution.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/search-attributes.ts
  src/lib/types/workflows.ts
Owners: @rossedfort, @temporalio/frontend-engineering, @stevekinney, @Alex-Tideman

2.33.2
  package.json
Owners: @temporalio/frontend-engineering

Merge className prop in href in Button component
  src/lib/holocene/button.svelte
Owners: @rossedfort

Update action buttons on schedule form
  src/lib/components/schedule/schedule-form-view.svelte
Owners: @rossedfort

Update action buttons on nexus forms
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
Owners: @temporalio/frontend-engineering

Update action buttons on start workflow form
  src/lib/pages/start-workflow.svelte
Owners: @temporalio/frontend-engineering

Go back to grow
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

Remove text-xl
  src/lib/components/lines-and-dots/workflow-details.svelte
Owners: @rossedfort

Go back to grow (#2458)
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/holocene/code-block.svelte
Owners: @rossedfort

2.33.3
  package.json
Owners: @temporalio/frontend-engineering

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/frontend-engineering will be requested for
# review when someone opens a pull request.
*                                       @temporalio/frontend-engineering
/src/routes/                            @temporalio/frontend-engineering
/src/lib/holocene/                      @rossedfort
/src/lib/components/                    @rossedfort
/src/types                              @stevekinney
/src/lib/models                         @stevekinney @Alex-Tideman
/src/lib/services                       @stevekinney @Alex-Tideman
/src/lib/utilities                      @stevekinney @Alex-Tideman
/src/lib/stores                         @stevekinney @Alex-Tideman
/src/routes/(import)                    @Alex-Tideman
/src/lib/services/data-encoder.ts       @Alex-Tideman @GiantRobots
/.husky/                                @stevekinney
/.github/                               @stevekinney
/.vscode/                               @stevekinney
